Repository CGAL/cgal, pull requests merged in 2018-02, with the labels that each got.

#2794 Documentation: Fix postprocessing
  Documentation/doc/resources/1.8.13/DoxygenLayout.xml
  Documentation/doc/resources/1.8.13/cgal_stylesheet.css
  Documentation/doc/resources/1.8.14/DoxygenLayout.xml
  Documentation/doc/resources/1.8.14/cgal_stylesheet.css
  Documentation/doc/resources/1.8.4/DoxygenLayout.xml
  Documentation/doc/scripts/html_output_post_processing.py
Labels: Tested, cleaning, doc bug, ready for master

#2798 Polyhedron Demo Surface Reco. Plugin: Fix missing conversion from degrees to radiants
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Surface_reconstruction_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug, ready for master, ready for release branch, trivial

#2817 Use std::uncaught_exceptions() when available
  STL_Extension/include/CGAL/assertions.h
Labels: Modern C++ (C++11 and later), Under Testing, ready for master, ready for release branch, warnings

#2789 win32 fix concerning bzip headers in the classification plugin CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Classification/CMakeLists.txt
Labels: CMake scripts, Ready to be tested, Under Testing, ready for master, warnings

#2800 prevent GCC flags propagating to NVCC, fixes #2775
  Installation/cmake/modules/CGAL_SetupCGALDependencies.cmake
Labels: CMake scripts, Ready to be tested, Under Testing, bug, ready for master

#2801 Property_map: Remove unused parameter (leading to a warning)
  Property_map/include/CGAL/Dynamic_property_map.h
Labels: Pkg::Property_map, Ready to be tested, Under Testing, ready for master, warnings

#2803 OT Reconstruction: Fix test_vertex_edge bug by not copying the TDS
  Optimal_transportation_reconstruction_2/include/CGAL/Optimal_transportation_reconstruction_2.h
  Optimal_transportation_reconstruction_2/test/Optimal_transportation_reconstruction_2/test_vertex_edge.cpp
Labels: Pkg::Optimal_transportation_reconstruction_2, Ready to be tested, Under Testing, bug, ready for master

#2805 Fix two warnings about unused variable/parameter
  Arrangement_on_surface_2/include/CGAL/Arr_curve_data_traits_2.h
  BGL/include/CGAL/boost/graph/convert_nef_polyhedron_to_polygon_mesh.h
Labels: Pkg::Arrangement_on_surface_2, Pkg::Nef_3, Ready to be tested, Under Testing, ready for master, warnings

#2807 Fix Fedora_32 errors in the testsuite
  Periodic_3_triangulation_3/demo/Periodic_3_triangulation_3/CMakeLists.txt
  Periodic_3_triangulation_3/demo/Periodic_Lloyd_3/CMakeLists.txt
Labels: CGAL 3D demo, CMake scripts, Pkg::Periodic_3_Triangulation_3, Ready to be tested, Under Testing, bug, ready for master

#2810 Polyhedron demo: fix color selection in the SceneView.
  Polyhedron/demo/Polyhedron/Scene.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, ready for master, tested manually on Windows, trivial

#2811 Polyhedron_demo: Fix some crashes when saving an item.
  Polyhedron/demo/Polyhedron/MainWindow.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, ready for master

#2812 Intersections_3: Replace last case with a default to avoid warning
  Intersections_3/include/CGAL/internal/Intersections_3/Triangle_3_Segment_3_intersection.h
Labels: Pkg::AABB_tree, Ready to be tested, Under Testing, ready for master, warnings

#2822 PMP: bugfix in expand_face_selection_for_removal()
  BGL/include/CGAL/boost/graph/selection.h
Labels: Pkg::BGL, Ready to be tested, Under Testing, bug, ready for master

#2831 Maintenance: upgrade Infrastructure files for Picasso and Gauguin
  Maintenance/infrastructure/gauguin.geometryfactory.com/reference_platforms/x64_Cygwin-Windows10_MSVC2013-Debug-64bits/CMakeCache.txt
  Maintenance/infrastructure/gauguin.geometryfactory.com/reference_platforms/x64_Cygwin-Windows10_MSVC2013-Release-64bits/CMakeCache.txt
  Maintenance/infrastructure/gauguin.geometryfactory.com/reference_platforms/x64_Cygwin-Windows10_MSVC2015-Debug-64bits/CMakeCache.txt
  Maintenance/infrastructure/gauguin.geometryfactory.com/reference_platforms/x64_Cygwin-Windows10_MSVC2015-Release-64bits/CMakeCache.txt
  Maintenance/infrastructure/gauguin.geometryfactory.com/reference_platforms/x64_Cygwin-Windows10_MSVC2017-Debug-64bits/CMakeCache.txt
  Maintenance/infrastructure/gauguin.geometryfactory.com/reference_platforms/x64_Cygwin-Windows10_MSVC2017-Release-64bits-extra_flags/CMakeCache.txt
  Maintenance/infrastructure/gauguin.geometryfactory.com/reference_platforms/x64_Cygwin-Windows10_MSVC2017-Release-64bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/setup_VC12-32
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/setup_common
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2012-Debug-32bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2012-Debug-32bits/setup
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2012-Debug-64bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2012-Debug-64bits/setup
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2012-Release-32bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2012-Release-32bits/setup
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2012-Release-64bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2012-Release-64bits/setup
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2013-Debug-32bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2013-Debug-32bits/setup
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2013-Debug-64bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2013-Debug-64bits/setup
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2013-Release-32bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2013-Release-32bits/setup
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2013-Release-64bits/CMakeCache.txt
  Maintenance/infrastructure/picasso.geometryfactory.com/reference_platforms/x64_Cygwin-Windows8_MSVC2013-Release-64bits/setup
Labels: infrastructure, testsuite

#2841 Correctly generate cgal_test_with_cmake
  Scripts/developer_scripts/cgal_create_release_with_cmake.cmake
Labels: CMake scripts, bug

#2824 Triangulation_2: fix a warning in test/.../_test_line_face_circulator.h
  Triangulation_2/test/Triangulation_2/include/CGAL/_test_line_face_circulator.h
Labels: Pkg::Triangulation_2, Tested, ready for master, trivial, warnings

#2833 Number_types: Call std::isfinite() if possible
  Number_types/include/CGAL/double.h
  Number_types/include/CGAL/float.h
Labels: Modern C++ (C++11 and later), Pkg::Number_types, Tested, enhancement, ready for master

#2728 Travis: fix build script for BGL examples
  .travis/build_package.sh
Labels: Tested, infrastructure, ready for master

#2837 Define CGAL_NORETURN also for VC++
  Installation/include/CGAL/config.h
  STL_Extension/include/CGAL/assertions.h
Labels: Tested, enhancement, ready for master

#2851 CMap bug fix in copy
  Combinatorial_map/include/CGAL/internal/Combinatorial_map_copy_functors.h
Labels: Pkg::Combinatorial_map, Tested, bug, ready for master

#2852 do not use uppercase name for variables
  Solver_interface/include/CGAL/Diagonalize_traits.h
Labels: Pkg::Solver_interface, Tested, cleaning, ready for master, trivial

#2857 BGL: Fix partition warnings
  BGL/examples/BGL_polyhedron_3/polyhedron_partition.cpp
  BGL/include/CGAL/boost/graph/METIS/partition_dual_graph.h
  BGL/include/CGAL/boost/graph/METIS/partition_graph.h
Labels: Pkg::BGL, Tested, ready for master, warnings

#2864 Set the default value of CGAL_DEV_MODE from the env variable
  Installation/cmake/modules/CGAL_Common.cmake
Labels: CMake scripts, Tested, enhancement, ready for master

#2842 Travis: perform the test of .travis.yml validity in first place
  .travis/build_package.sh
Labels: infrastructure
