Repository CGAL/cgal, pull requests merged in 2018-11, with the labels that each got.

#3386 AABB_tree: Add an overload to build() for shared data
  AABB_tree/include/CGAL/AABB_tree.h
Labels: Pkg::AABB_tree, Ready to be tested, Under Testing, enhancement

#3387 Polyhedron demo: re-computes normals after mesh edition in selection item
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.h
Labels: CGAL 3D demo, Tested, bug, trivial

#3434 Fix Kernel plugin warning
  Polyhedron/demo/Polyhedron/Plugins/Convex_hull/Kernel_plugin.cpp
Labels: CGAL 3D demo, Tested, warnings

#3425 Installation: Fix wrong policy setting
  Installation/cmake/modules/CGAL_TweakFindBoost.cmake
Labels: CMake scripts, Tested, trivial

#3438 Fix bug in clipping code
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/test/BGL/test_cgal_bgl_named_params.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_clip.cpp
Labels: Pkg::PMP, Ready to be tested, Under Testing, bug

#3435 BGL: Fix type missmatch in adjacent_vertices
  BGL/include/CGAL/boost/graph/iterator.h
Labels: Pkg::PMP, Under Testing, bug

#3426 BGL: Fix make_grid() documentation
  BGL/include/CGAL/boost/graph/helpers.h
  Polyhedron/demo/Polyhedron/Plugins/PCA/Basic_generator_plugin.cpp
Labels: Pkg::BGL, Under Testing, doc bug, known travis false-positive, trivial

#3448 BGL: fix doc typo
  BGL/doc/BGL/Concepts/EdgeListGraph.h
  BGL/doc/BGL/Concepts/VertexListGraph.h
Labels: Pkg::BGL, Tested, doc bug

#3445 Use correct vpm
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
Labels: Pkg::PMP, Ready to be tested, Under Testing, bug

#3172 Fix vertex istream operator
  NewKernel_d/include/CGAL/NewKernel_d/Wrapper/Point_d.h
  NewKernel_d/include/CGAL/NewKernel_d/Wrapper/Vector_d.h
  NewKernel_d/include/CGAL/NewKernel_d/Wrapper/Weighted_point_d.h
  NewKernel_d/test/NewKernel_d/Epick_d.cpp
  Triangulation/include/CGAL/IO/Triangulation_off_ostream.h
  Triangulation/include/CGAL/Triangulation.h
  Triangulation/include/CGAL/Triangulation_data_structure.h
  Triangulation/include/CGAL/Triangulation_vertex.h
  Triangulation/test/Triangulation/test_triangulation.cpp
Labels: Pkg::Triangulation_d, Under Testing, bug

#3399 Kernel_23: Add an equality test to Aff_transfo 2 and 3.
  Cartesian_kernel/include/CGAL/Cartesian/Aff_transformation_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Aff_transformation_3.h
  Homogeneous_kernel/include/CGAL/Homogeneous/Aff_transformationH2.h
  Homogeneous_kernel/include/CGAL/Homogeneous/Aff_transformationH3.h
  Kernel_23/doc/Kernel_23/CGAL/Aff_transformation_2.h
  Kernel_23/doc/Kernel_23/CGAL/Aff_transformation_3.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_cls_aff_transformation_2.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_cls_aff_transformation_3.h
Labels: Pkg::Kernel_23, Tested, enhancement

#3450 Copy relative_precision_of_to_double from Lazy_exact_nt to Lazy_alpha_nt_3
  Alpha_shapes_2/doc/Alpha_shapes_2/CGAL/Alpha_shape_2.h
  Alpha_shapes_2/include/CGAL/internal/Lazy_alpha_nt_2.h
  Alpha_shapes_3/doc/Alpha_shapes_3/CGAL/Alpha_shape_3.h
  Alpha_shapes_3/include/CGAL/internal/Lazy_alpha_nt_3.h
  Number_types/include/CGAL/Lazy_exact_nt.h
Labels: Pkg::Alpha_shapes_2, Pkg::Alpha_shapes_3, Tested, enhancement

#3451 Fix doc warning
  AABB_tree/include/CGAL/AABB_tree.h
Labels: Pkg::AABB_tree, Tested, doc, warnings

#3424 Polyhedron demo: some fixes
  GraphicsView/include/CGAL/Buffer_for_vao.h
  Polyhedron/demo/Polyhedron/Color_map.h
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/MainWindow.h
  Polyhedron/demo/Polyhedron/Plugins/IO/Selection_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/IO/VTK_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Optimization_plugin_cgal_code.cpp
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Partition_graph_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Detect_sharp_edges_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Mean_curvature_flow_skeleton_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Selection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Mesh_plane_detection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Mesh_segmentation_plugin.cpp
  Polyhedron/demo/Polyhedron/Preferences.ui
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene.h
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Polyhedron/demo/Polyhedron/Scene_points_with_normal_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.h
  Polyhedron/demo/Polyhedron/Scene_polylines_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
  Polyhedron/demo/Polyhedron/Three.cpp
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Three/include/CGAL/Three/Three.h
Labels: CGAL 3D demo, Ready to be tested, Tested, bug

#3462 Three: Fix warnings in Three documentation.
  Three/include/CGAL/Three/Scene_item_rendering_helper.h
  Three/include/CGAL/Three/Triangle_container.h
Labels: Ready to be tested, Tested, doc bug, trivial
