Repository CGAL/cgal, pull requests merged in 2018-09, with the labels that each got.

#3288 Add an example writing into OFF visible facets of an alpha-shape
  Alpha_shapes_3/examples/Alpha_shapes_3/visible_alpha_shape_facets_to_OFF.cpp
Labels: Pkg::Alpha_shapes_3, Ready to be tested, Under Testing, doc

#3298 Classification Plugin Bugfix: do not compute simple properties in parallel
  Polyhedron/demo/Polyhedron/Plugins/Classification/Cluster_classification.cpp
  Polyhedron/demo/Polyhedron/Plugins/Classification/Point_set_item_classification.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug, rm only: release blocker

#3300 Polyhedron demo: Fix statistics for facegraph items
  Polyhedron/demo/Polyhedron/Scene_polyhedron_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, trivial

#3305 Doc: Add METIS to the list of third party librairies
  BGL/doc/BGL/BGL.txt
  Documentation/doc/Documentation/Installation.txt
Labels: Ready to be tested, Under Testing, doc bug

#3336 [doc] fix nested bullet list in INSTALL.md
  Installation/INSTALL.md
Labels: doc, trivial

#3318 Polyhedron demo: Fix normal orientation of soup triangulated facet
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
Labels: CGAL 3D demo, Tested, bug, known travis false-positive, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#3310 Handle the case of degenerate volumes in the link condition
  BGL/include/CGAL/boost/graph/Euler_operations.h
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/Detail/Edge_collapse_impl.h
Labels: Pkg::BGL, Pkg::Surface_mesh_simplification, Tested, bug, rm only: ready for master

#3319 Documentation: Fix the version menu.
  Documentation/doc/resources/1.8.13/menu_version.js
  Documentation/doc/resources/1.8.14/menu_version.js
  Documentation/doc/resources/1.8.4/menu_version.js
Labels: Tested, doc, infrastructure, rm only: ready for master, web site

#3322 Add favicon
  Documentation/doc/Documentation/Doxyfile.in
  Documentation/doc/Documentation/fig/g-196x196-doc.png
  Documentation/doc/resources/1.8.13/header.html
  Documentation/doc/resources/1.8.13/header_package.html
  Documentation/doc/resources/1.8.14/header.html
  Documentation/doc/resources/1.8.14/header_package.html
  Documentation/doc/resources/1.8.4/header.html
  Documentation/doc/resources/1.8.4/header_package.html
Labels: Tested, doc, rm only: ready for master

#3324 Polyhedron demo: Fix Pixel Value in Image Reading
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Io_image_plugin.cpp
Labels: CGAL 3D demo, Tested, bug, rm only: ready for master, tested manually on Linux

#3329 QGLViewer bugfix
  GraphicsView/include/CGAL/Qt/quaternion.h
  GraphicsView/include/CGAL/Qt/quaternion_impl.h
  GraphicsView/include/CGAL/Qt/vec.h
  GraphicsView/include/CGAL/Qt/vec_impl.h
Labels: Qt5, Tested, bug, rm only: ready for master

#3331 UMFPACK is needed by Orbifold parametrization
  Surface_mesh_parameterization/examples/Surface_mesh_parameterization/CMakeLists.txt
Labels: CMake scripts, Pkg::Surface_mesh_parametrization, Tested, bug, rm only: ready for master
