Repository CGAL/cgal, pull requests merged in 2018-03, with the labels that each got.

#2843 Random_numbers: Add overload for uniform_smallint
  Random_numbers/include/CGAL/Random.h
Labels: Pkg::Random_numbers, Ready to be tested, Tested, ready for master, warnings

#2847 Polyhedron demo: Enhance selection tool
  Polyhedron/demo/Polyhedron/Plugins/PMP/Selection_plugin.cpp
Labels: CGAL 3D demo, Pkg::PMP, Ready to be tested, Tested, enhancement, ready for master

#2871 Declare several operator() used for comparisons const
  Generator/include/CGAL/Random_polygon_2_sweep.h
  Polygon/include/CGAL/Polygon_2/Polygon_2_simplicity.h
  Snap_rounding_2/include/CGAL/Snap_rounding_2.h
Labels: Tested, ready for master

#2874 Fix reading of ASCII STL
  Polyhedron_IO/include/CGAL/IO/STL_reader.h
  Polyhedron_IO/test/Polyhedron_IO/stl2off.cpp
Labels: Tested, bug, ready for master

#2876 Restore cursor in case of failure
  Polyhedron/demo/Polyhedron/Plugins/PMP/Corefinement_plugin.cpp
Labels: CGAL 3D demo, Tested, bug, ready for master, tested manually on Linux

#2878 Polyhedron demo: Restore statistics for multiple items
  Polyhedron/demo/Polyhedron/MainWindow.cpp
Labels: CGAL 3D demo, Tested, ready for master, trivial

#2873 Bugfix: pair not compatible with Circle_3 (clang)
  Cartesian_kernel/include/CGAL/Cartesian/Circle_3.h
Labels: Pkg::Kernel_23, bug, ready for master

#2887 Polyhedron demo: Fix operations for polyline
  Polyhedron/demo/Polyhedron/Scene_polylines_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polylines_item.h
Labels: CGAL 3D demo, Tested, bug, ready for master

#2889 Use the hash of the last modification per file
  Scripts/developer_scripts/cgal_create_release_with_cmake.cmake
Labels: CMake scripts, Tested, enhancement, ready for master

#2890 Documentation: Enhance the doc testsuite display
  Documentation/doc/scripts/testsuite.py
Labels: Tested, doc, infrastructure, ready for master, testsuite

#2891 Handle degenerate faces in self-intersection tests
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/self_intersection_surface_mesh_test.cpp
Labels: Pkg::PMP, Tested, bug, ready for master

#2892 Polyhedron demo: Fix Region Selection / Position Request
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_selection_plugin.cpp
Labels: CGAL 3D demo, Tested, bug, ready for master

#2894 Rename changes.md to CHANGES.md
  Installation/CHANGES.md
  Installation/CMakeLists.txt
  wininst/developer_scripts/script_cgal.nsi
Labels: CMake scripts, Tested, enhancement, infrastructure, ready for master

#2896 Polyhedron demo: fix c3t3 display with big coordinates
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
Labels: CGAL 3D demo, Pkg::Mesh_3, Tested, ready for master, tested manually on Linux

#2900 Improve removal of self-intersections for the demo plugin
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
Labels: CGAL 3D demo, Pkg::PMP, enhancement, ready for master

#2901 Add actions to use autorefinement
  Polyhedron/demo/Polyhedron/Plugins/PMP/Repair_polyhedron_plugin.cpp
Labels: CGAL 3D demo, enhancement, ready for master

#2903 Documentation: change header
  Documentation/doc/scripts/testsuite.py
Labels: Ready to be tested, Under Testing, doc, infrastructure, ready for master, ready for release branch, testsuite

#2904 Polyhedron demo: More fixes for the Viewer
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Polyhedron/demo/Polyhedron/Viewer.h
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug, ready for master

#2905 Polyhedron_demo : Add a check before trying to load a cdt_3 to avoid crashing
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_io_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug, ready for master

#2906 Scripts: Fix typo
  Scripts/developer_scripts/create_new_release
Labels: Pkg::Scripts, Ready to be tested, Under Testing, bug, infrastructure, ready for master

#2907 Surface_mesh_parameterization: Fix CMakeLists.txt for orbifold example
  Surface_mesh_parameterization/examples/Surface_mesh_parameterization/CMakeLists.txt
Labels: CMake scripts, Pkg::Surface_mesh_parametrization, Ready to be tested, Under Testing, bug, ready for master

#2908 Polyhedron demo: Fix cut plugin
  Polyhedron/demo/Polyhedron/Plugins/AABB_tree/Cut_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug, ready for master

#2911 Prefix CMake options with `CGAL_`
  Mesh_3/benchmark/Mesh_3/CMakeLists.txt
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Point_set_processing_3/examples/Point_set_processing_3/CMakeLists.txt
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Triangulation_3/demo/Triangulation_3/CMakeLists.txt
Labels: CGAL 3D demo, CMake scripts, Pkg::Mesh_3, Pkg::Point_set_processing_3, Pkg::Triangulation_3, Ready to be tested, Under Testing, ready for master

#2914 Boolean Set Operations: Fix typos
  Boolean_set_operations_2/doc/Boolean_set_operations_2/Boolean_set_operations_2.txt
Labels: Ready to be tested, Under Testing, doc bug, ready for master, trivial

#2927 Fix CMake issues
  Installation/CMakeLists.txt
  Installation/cmake/modules/CGALConfig_binary.cmake.in
  Installation/cmake/modules/CGALConfig_install.cmake.in
  Installation/cmake/modules/CGAL_Macros.cmake
  Installation/cmake/modules/CGAL_SCM.cmake
  Installation/cmake/modules/CGAL_SetupCGALDependencies.cmake
  Installation/cmake/modules/CGAL_SetupCGAL_CoreDependencies.cmake
  Installation/cmake/modules/CGAL_SetupCGAL_ImageIODependencies.cmake
  Installation/cmake/modules/CGAL_SetupCGAL_Qt5Dependencies.cmake
  Installation/cmake/modules/UseCGAL.cmake
  Installation/lib/cmake/CGAL/CGALConfig.cmake
  Installation/src/CMakeLists.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/detect_features.h
Labels: CMake scripts, Tested, bug, rm only: release blocker

#2897 Travis: Time enhancement
  .travis.yml
  .travis/build_package.sh
  .travis/generate_travis.sh
  .travis/install.sh
  .travis/template.txt
  Scripts/developer_scripts/cgal_check_dependencies.sh
Labels: infrastructure

#2923 T3: Fix missing bound check in the sequential insertion phase of parallel triangulations
  Triangulation_3/include/CGAL/Delaunay_triangulation_3.h
  Triangulation_3/include/CGAL/Regular_triangulation_3.h
Labels: Pkg::Triangulation_3, Tested, bug, rm only: ready for master, rm only: release blocker

#2931 Fix the determinism of the computation of point and base vectors
  Cartesian_kernel/include/CGAL/Cartesian/function_objects.h
  Cartesian_kernel/include/CGAL/constructions/kernel_ftC3.h
Labels: Pkg::Kernel_23, Tested, bug, rm only: ready for master

#2919 Handle isolated vertices
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
Labels: Pkg::PMP, Ready to be tested, Under Testing, bug, rm only: ready for master

#2929 Polyhedron demo: Fix the selection edge to faces
  Polyhedron/demo/Polyhedron/Plugins/PMP/Selection_plugin.cpp
Labels: Pkg::PMP, Ready to be tested, Under Testing, cleaning, rm only: ready for master

#2935 BGL: Remove PMP dependency in partition_graph.h
  BGL/include/CGAL/boost/graph/METIS/partition_graph.h
Labels: Pkg::BGL, Ready to be tested, Under Testing, cleaning, rm only: ready for master

#2941 Polyhedron demo: Fix snapshot
  Polyhedron/demo/Polyhedron/Viewer.cpp
Labels: Under Testing, rm only: ready for master

#2948 Subdivision: Use named parameters from the BGL package
  Subdivision_method_3/examples/Subdivision_method_3/CatmullClark_subdivision.cpp
  Subdivision_method_3/examples/Subdivision_method_3/Customized_subdivision.cpp
  Subdivision_method_3/examples/Subdivision_method_3/DooSabin_subdivision.cpp
  Subdivision_method_3/examples/Subdivision_method_3/Loop_subdivision.cpp
  Subdivision_method_3/examples/Subdivision_method_3/Sqrt3_subdivision.cpp
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_hosts_3.h
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_methods_3.h
  Subdivision_method_3/package_info/Subdivision_method_3/dependencies
Labels: Pkg::BGL, Pkg::Subdivision_method_3, Ready to be tested, Under Testing, cleaning, rm only: ready for master

#2952 Mesh_3, T2, T3: fix dependencies by moving files
  Installation/include/CGAL/Surface_mesh/Surface_mesh_fwd.h
  Mesh_3/include/CGAL/Triangle_accessor_3.h
  Mesh_3/package_info/Mesh_3/dependencies
  TDS_2/include/CGAL/Triangulation_utils_2.h
  TDS_2/package_info/TDS_2/dependencies
  TDS_3/include/CGAL/Triangulation_simplex_3.h
  TDS_3/include/CGAL/Triangulation_utils_3.h
  TDS_3/include/CGAL/internal/Dummy_tds_3.h
  TDS_3/include/CGAL/internal/Triangulation_ds_circulators_3.h
  TDS_3/include/CGAL/internal/Triangulation_ds_iterators_3.h
  TDS_3/package_info/TDS_3/dependencies
Labels: Pkg::Mesh_3, Pkg::Triangulation_2, Pkg::Triangulation_3, Ready to be tested, Under Testing, cleaning, rm only: ready for master

#2960 Polyhedron demo: Fix Bbox computation in facegraph_items
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Edit_polyhedron_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
Labels: CGAL 3D demo, Tested, Under Testing, bug

#2961 Remove unnecessary semicolons
  Number_types/include/CGAL/Mpzf.h
Labels: Pkg::Number_types, Tested, Under Testing, trivial, warnings

#2964 Update pmap requirements
  AABB_tree/include/CGAL/AABB_primitive.h
Labels: Pkg::AABB_tree, Tested, Under Testing, doc bug

#2965 Add a constructor from iterator on id for AABB_primitive
  AABB_tree/include/CGAL/AABB_primitive.h
Labels: Pkg::AABB_tree, Tested, Under Testing, feature request
