Repository CGAL/cgal, pull requests merged in 2018-07, with the labels that each got.

#3197 Polyhedron Demo: Fix Colors for Polygon soups
  Polyhedron/demo/Polyhedron/Viewer.cpp
Labels: CGAL 3D demo, Under Testing, rm only: ready for master, trivial

#3203 Polyhedron_demo: Fix triangulate_convex_facet in Scene_surface_mesh_item
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, bug, trivial

#3190 Fix non-documented IO functions
  Surface_mesh/include/CGAL/Surface_mesh/IO.h
Labels: Pkg::Surface_mesher, Ready to be tested, Tested, bug

#3213 Stitch bug fix
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
Labels: Pkg::PMP, Ready to be tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3214 Make sure identical vertices have identical coordinates in autorefinement
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_nodes.h
Labels: Pkg::PMP, Ready to be tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3218 Polyhedron Demo: Fix path to external plugins
  Polyhedron/demo/Polyhedron/MainWindow.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug, rm only: ready for master

#3219 Add CGALConfig.cmake to the Windows installer
  wininst/developer_scripts/script_cgal.nsi
Labels: CMake scripts, Ready to be tested, Under Testing, bug, infrastructure, rm only: ready for master, rm only: ready for release branch

#3220 Polyhedron demo: Fix normal facet computation for triangulation
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#3224 Fix GetGeomTraits
  BGL/include/CGAL/boost/graph/named_params_helper.h
Labels: Pkg::BGL, Ready to be tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3229 Set CMP0077 to OLD (new in CMake-3.13)
  Installation/cmake/modules/CGAL_TweakFindBoost.cmake
Labels: CMake scripts, Ready to be tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3217 Polyhedron demo: Fix Load Item
  Polyhedron/demo/Polyhedron/MainWindow.cpp
Labels: CGAL 3D demo, Under Testing, rm only: ready for master, tested manually on Linux, trivial

#3222 Fix join plugin
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug, rm only: ready for master, tested manually on Linux

#3226 Convex_hull_3: Make it minimal.
  Convex_hull_3/include/CGAL/convex_hull_3.h
  Convex_hull_3/test/Convex_hull_3/convex_hull_traits_3_fp_bug.cpp
  Installation/CHANGES.md
Labels: Pkg::Convex_hull_3, Ready to be tested, Under Testing, bug

#3234 Fix copy_face_graph with target mesh having garbage
  BGL/include/CGAL/boost/graph/copy_face_graph.h
Labels: Pkg::BGL, Ready to be tested, Under Testing, bug, rm only: ready for release branch

#3243 Fix CGAL::clear
  BGL/include/CGAL/boost/graph/helpers.h
Labels: Pkg::BGL, Ready to be tested, Under Testing, bug, rm only: ready for release branch, tested manually on Linux

#3241 Polyhedron Demo: Hide ids when modifying the mesh
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, trivial

#3251 Polyhedron Demo: Fix snapshot and erase all
  Polyhedron/demo/Polyhedron/Scene.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, bug

#3255 Remove unused file
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Side_of_triangle_mesh/AABB_triangle_accessor_3_primitive.h
Labels: Pkg::PMP, Under Testing, cleaning, trivial

#3259 Polyhedron Demo: Restore clipping for polylines
  Polyhedron/demo/Polyhedron/Plugins/PCA/Scene_edit_box_item.cpp
  Polyhedron/demo/Polyhedron/resources/solid_wireframe_shader.f
  Polyhedron/demo/Polyhedron/resources/solid_wireframe_shader.g
  Polyhedron/demo/Polyhedron/resources/solid_wireframe_shader.v
Labels: CGAL 3D demo, Ready to be tested, Under Testing, tested manually on Linux
