Repository CGAL/cgal, pull requests merged in 2018-04, with the labels that each got.

#2966 Travis: Fix install.sh
  .travis/install.sh
Labels: infrastructure

#2971 Fix clang 6.0 warnings
  Algebraic_foundations/include/CGAL/Test/_test_algebraic_structure.h
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/Arc_2.h
  STL_Extension/test/STL_Extension/test_namespaces.cpp
  Skin_surface_3/test/Skin_surface_3/subdivision_test.cpp
Labels: Pkg::Algebraic_foundations, Pkg::Arrangement_on_surface_2, Pkg::STL_Extension, Pkg::Skin_surface, Tested, warnings

#2984 Replace some wrong Dart_handle by Dart_const_handle.
  Combinatorial_map/include/CGAL/Combinatorial_map_basic_operations.h
Labels: Pkg::Combinatorial_map, Tested, bug, rm only: ready for master

#2986 Remove CGAL::internal::infinity
  Number_types/include/CGAL/FPU.h
  Number_types/include/CGAL/Interval_nt.h
  Number_types/test/Number_types/Interval_nt.cpp
Labels: Pkg::Number_types, Tested, cleaning, rm only: ready for master

#2987 Polyhedron demo: Fix Image Reader with Offset
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Volume_plane.h
Labels: CGAL 3D demo, Pkg::Mesh_3, Tested, bug, rm only: ready for master, tested manually on Linux

#2976 BGL: fix orientation of make_icosahedron()
  BGL/include/CGAL/boost/graph/helpers.h
Labels: Pkg::BGL, Previously tested, Tested, known travis false-positive, rm only: ready for master, tested manually on Linux, trivial

#2973 Yet more fallthrough fixes
  Homogeneous_kernel/include/CGAL/Homogeneous/Aff_transformationH2.h
  Homogeneous_kernel/include/CGAL/Homogeneous/Aff_transformationH3.h
  Visibility_2/include/CGAL/Rotational_sweep_visibility_2.h
Labels: Under Testing, warnings

#2980 Polyhedron demo: Fix NM simplices extraction
  Polyhedron/demo/Polyhedron/Plugins/PMP/Orient_soup_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.h
Labels: CGAL 3D demo, Pkg::PMP, Ready to be tested, Under Testing, bug

#2990 Polyhedron statistics (demo) - add "is pure quad"
  Polyhedron/demo/Polyhedron/Scene_polyhedron_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_item.h
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
Labels: CGAL 3D demo, Ready to be tested, Under Testing, enhancement, tested manually on Windows

#2997 Polyhedron demo: Fix MCF whithout Eigen
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
Labels: CGAL 3D demo, CMake scripts, Ready to be tested, Under Testing, bug

#3001 Classification:fix introduced release
  Classification/doc/Classification/PackageDescription.txt
Labels: Pkg::Classification, doc, trivial

#3007 CSS tweaks, for CGAL-4.12
  Documentation/doc/resources/1.8.13/cgal_stylesheet.css
  Documentation/doc/resources/1.8.14/cgal_stylesheet.css
Labels: Tested, doc, enhancement

#3010 Travis: Don't test gcc anymore.
  .travis.yml
  .travis/generate_travis.sh
  .travis/template.txt
Labels: infrastructure, rm only: ready for master

#3021 Fix CMake scripts of 4.12-beta2
  Installation/CMakeLists.txt
  Installation/cmake/modules/CGAL_SetupGMP.cmake
  Installation/cmake/modules/CGAL_parse_version_h.cmake
  Installation/cmake/modules/FindGMP.cmake
  Installation/cmake/modules/FindMPFR.cmake
  Installation/lib/cmake/CGAL/CGALConfig.cmake
  Installation/src/CMakeLists.txt
Labels: CMake scripts, Under Testing, bug, rm only: release blocker

#3013 PSP: Fix PLY reading properties other than those of vertices
  Point_set_processing_3/include/CGAL/IO/read_ply_points.h
Labels: Pkg::Point_set_processing_3, Under Testing, bug, tested manually on Linux

#3014 PSP: Fix PLY reading properties other than those of vertices (4.11)
  Point_set_processing_3/include/CGAL/IO/read_ply_points.h
Labels: Pkg::Point_set_processing_3, bug, tested manually on Linux

#3002 Polyhedron demo: Fix selection blinking display
  Polyhedron/demo/Polyhedron/Plugins/PMP/Scene_facegraph_item_k_ring_selection.h
Labels: CGAL 3D demo, Under Testing, bug, rm only: ready for master

#3008 Polyhedron demo: fix Save as
  Polyhedron/demo/Polyhedron/MainWindow.cpp
Labels: CGAL 3D demo, Under Testing, bug, rm only: ready for master

#3015 Polygon_2: Fix Section Headings
  Polygon/doc/Polygon/PackageDescription.txt
  Polygon/doc/Polygon/Polygon.txt
  Polygon/include/CGAL/General_polygon_with_holes_2.h
Labels: Pkg::Polygon, Under Testing, doc bug, rm only: ready for master

#3020 Fix compilation error with VC2017 and -permissive-
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h
Labels: Under Testing, bug, rm only: ready for master

#3032 Accelerate distance queries for offset meshing plugin
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Offset_meshing_plugin.cpp
Labels: CGAL 3D demo, Under Testing, bug, rm only: ready for master, trivial

#3034 Polyhedron demo: Fix the orientation of polygon soup to surface_mesh
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
Labels: CGAL 3D demo, Pkg::PMP, Under Testing, bug, rm only: ready for master

#3039 STL_Extension: Fix a leftover std::unary_function
  STL_Extension/include/CGAL/hash_openmesh.h
Labels: Pkg::STL_Extension, Under Testing, rm only: ready for master, trivial

#3003 Surface_mesh_parameterization: inline get_error_message()
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Error_code.h
Labels: Pkg::Surface_mesh_parametrization, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3028 Add missing const
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Circle_segment_2.h
Labels: Pkg::Arrangement_on_surface_2, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, trivial

#3046 Documentation: Fix 1.8.13 column
  Documentation/doc/scripts/testsuite.py
Labels: doc bug, infrastructure

#3045 Polyhedron demo: Fix Polyhedron Lighting
  Polyhedron/demo/Polyhedron/resources/shader_flat.g
  Polyhedron/demo/Polyhedron/resources/shader_flat.v
Labels: CGAL 3D demo, Tested, bug, rm only: ready for release branch

#3057 Fix doc warnings (and bugs)
  AABB_tree/doc/AABB_tree/Concepts/AABBTraits.h
  AABB_tree/include/CGAL/AABB_traits.h
  AABB_tree/include/CGAL/AABB_tree.h
  Circulator/doc/Circulator/Concepts/Circulator.h
  Interpolation/doc/Interpolation/CGAL/surface_neighbor_coordinates_3.h
  Jet_fitting_3/doc/Jet_fitting_3/Jet_fitting_3.txt
  Polygon/doc/Polygon/Concepts/PolygonTraits_2.h
  Polygon/include/CGAL/General_polygon_with_holes_2.h
  Polygon/include/CGAL/Polygon_2.h
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Surface_mesh_deformation/doc/Surface_mesh_deformation/Concepts/DeformationClosestRotationTraits_3.h
  Surface_mesh_deformation/doc/Surface_mesh_deformation/Concepts/RawPoint_3.h
  Surface_mesh_deformation/include/CGAL/Surface_mesh_deformation.h
  Surface_mesh_shortest_path/doc/Surface_mesh_shortest_path/Concepts/SurfaceMeshShortestPathTraits.h
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/Surface_mesh_shortest_path.h
  Surface_mesh_skeletonization/doc/Surface_mesh_skeletonization/Concepts/MeanCurvatureSkeletonizationTraits.h
  Surface_mesh_skeletonization/include/CGAL/Mean_curvature_flow_skeletonization.h
  Triangulation/doc/Triangulation/Triangulation.txt
Labels: Tested, doc bug, rm only: ready for release branch

#3059 Fix LEDA support with gcc
  Installation/cmake/modules/CGAL_SetupLEDA.cmake
Labels: CMake scripts, Pkg::Number_types, Tested, bug, rm only: ready for release branch
