Repository CGAL/cgal, pull requests merged in 2019-11, with the labels that each got.

#4333 Better IO example in Point_set_3
  Point_set_3/examples/Point_set_3/point_set_read_ply.cpp
Labels: Pkg::Point_set_3, Tested, Under Testing, enhancement, rm only: ready for master

#4311 Distance_3: Add Pl_3-Pl_3
  Distance_3/include/CGAL/squared_distance_3_2.h
  Distance_3/test/Distance_3/test_distance_3.cpp
Labels: Pkg::Distance_3, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#4326 ImageIO: fix warnings
  CGAL_ImageIO/include/CGAL/ImageIO/iris_impl.h
Labels: Pkg::CGAL_ImageIO, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings
