Repository CGAL/cgal, pull requests merged in 2019-12, with the labels that each got.

#4224 Basic Viewers: Voronoi Diagram, 2D Periodic Triangulation and Nef_3
  GraphicsView/include/CGAL/Buffer_for_vao.h
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
  Nef_3/doc/Nef_3/CGAL/draw_nef_3.h
  Nef_3/doc/Nef_3/Nef_3.txt
  Nef_3/doc/Nef_3/PackageDescription.txt
  Nef_3/doc/Nef_3/dependencies
  Nef_3/doc/Nef_3/examples.txt
  Nef_3/doc/Nef_3/fig/draw_nef_3.png
  Nef_3/examples/Nef_3/CMakeLists.txt
  Nef_3/examples/Nef_3/data/cross.off
  Nef_3/examples/Nef_3/draw_nef_3.cpp
  Nef_3/include/CGAL/draw_nef_3.h
  Nef_3/package_info/Nef_3/dependencies
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/draw_periodic_2_triangulation_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/PackageDescription.txt
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Periodic_2_triangulation_2.txt
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/dependencies
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/examples.txt
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/fig/stored-cover.png
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/fig/stored.png
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/fig/unique-cover.png
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/fig/unique.png
  Periodic_2_triangulation_2/examples/Periodic_2_triangulation_2/CMakeLists.txt
  Periodic_2_triangulation_2/examples/Periodic_2_triangulation_2/data/data1.dt.cin
  Periodic_2_triangulation_2/examples/Periodic_2_triangulation_2/draw_periodic_2_triangulation_2.cpp
  Periodic_2_triangulation_2/include/CGAL/draw_periodic_2_triangulation_2.h
  Periodic_2_triangulation_2/package_info/Periodic_2_triangulation_2/dependencies
  Voronoi_diagram_2/doc/Voronoi_diagram_2/CGAL/draw_voronoi_diagram_2.h
  Voronoi_diagram_2/doc/Voronoi_diagram_2/PackageDescription.txt
  Voronoi_diagram_2/doc/Voronoi_diagram_2/Voronoi_diagram_2.txt
  Voronoi_diagram_2/doc/Voronoi_diagram_2/dependencies
  Voronoi_diagram_2/doc/Voronoi_diagram_2/examples.txt
  Voronoi_diagram_2/doc/Voronoi_diagram_2/fig/draw_voronoi_diagram.png
  Voronoi_diagram_2/examples/Voronoi_diagram_2/CMakeLists.txt
  Voronoi_diagram_2/examples/Voronoi_diagram_2/data/data4.dt.cin
  Voronoi_diagram_2/examples/Voronoi_diagram_2/draw_voronoi_diagram_2.cpp
  Voronoi_diagram_2/include/CGAL/draw_voronoi_diagram_2.h
  Voronoi_diagram_2/package_info/Voronoi_diagram_2/dependencies
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, gsoc-2019, rm only: ready for master

#4374 Surface_sweep_2 Fix c++11 call
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Surface_sweep_2_impl.h
Labels: Tested, bug, rm only: ready for master

#4323 STL Extension: Simplify 'Hash_handles_with_or_without_timestamps'
  Mesh_3/include/CGAL/IO/Complex_3_in_triangulation_3_to_vtk.h
  Mesh_3/include/CGAL/IO/File_maya.h
  Mesh_3/include/CGAL/IO/File_tetgen.h
  Mesh_3/include/CGAL/IO/facets_in_complex_3_to_triangle_mesh.h
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Mesh_3/include/CGAL/Mesh_3/Detect_polylines_in_polyhedra.h
  Mesh_3/include/CGAL/Mesh_3/Lloyd_move.h
  Mesh_3/include/CGAL/Mesh_3/Mesh_complex_3_in_triangulation_3_base.h
  Mesh_3/include/CGAL/Mesh_3/Mesh_global_optimizer.h
  Mesh_3/include/CGAL/Mesh_3/Protect_edges_sizing_field.h
  Mesh_3/include/CGAL/Mesh_3/Refine_facets_manifold_base.h
  Mesh_3/include/CGAL/Mesh_3/Sliver_perturber.h
  Mesh_3/include/CGAL/Mesh_3/Triangulation_helpers.h
  Mesh_3/include/CGAL/Mesh_3/vertex_perturbation.h
  Mesh_3/include/CGAL/Mesh_complex_3_in_triangulation_3.h
  Periodic_3_mesh_3/include/CGAL/Periodic_3_mesh_3/Protect_edges_sizing_field.h
  Periodic_3_mesh_3/include/CGAL/refine_periodic_3_mesh_3.h
  STL_Extension/include/CGAL/Hash_handles_with_or_without_timestamps.h
  STL_Extension/include/CGAL/Time_stamper.h
Labels: Pkg::STL_Extension, Tested, cleaning, rm only: ready for master

#4245 Surface_mesh: Disable comparison of mixed index types
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Pkg::Surface_mesh, Tested, cleaning, rm only: ready for master

#4213 Polyline_constraint_hierarchy_2.h: remove the useless point_ data member
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
Labels: Pkg::Triangulation_2, Tested, cleaning, rm only: ready for master

#4347 Fix license issues
  GraphicsView/demo/icons/license.txt
  Installation/LICENSE
  Periodic_3_triangulation_3/demo/Periodic_3_triangulation_3/icons/license.txt
Labels: Tested, rm only: ready for master

#3765 Prevent infinite loop in Advancing front surface reconstruction.
  Advancing_front_surface_reconstruction/include/CGAL/Advancing_front_surface_reconstruction.h
Labels: Pkg::Advancing_front_surface_reconstruction, Tested, bug, rm only: ready for master

#4392 Fix DT3 parallel performance loss (issue #4388) for CGAL-4.14.x
  Mesh_3/include/CGAL/Mesh_3/Mesher_3.h
  STL_Extension/include/CGAL/Concurrent_compact_container.h
  Scripts/scripts/cgal_create_CMakeLists
  Triangulation_3/benchmark/Triangulation_3/CMakeLists.txt
  Triangulation_3/benchmark/Triangulation_3/DT3_benchmark_with_TBB.cpp
Labels: Parallel_tag, Pkg::STL_Extension, Pkg::Triangulation_3, bug, rm only: ready for master, rm only: ready for release branch, rm only: release blocker

#4406 Triangulation_2: Projection_traits::Construct_bbox_2 must return Bbox_2
  Kernel_23/include/CGAL/internal/Projection_traits_3.h
  Triangulation_2/doc/Triangulation_2/Concepts/ConstrainedTriangulationTraits_2.h
  Triangulation_2/test/Triangulation_2/issue_4405.cpp
Labels: Pkg::Triangulation_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, rm only: release blocker

#4425 Kernel_23: Fix "used but uninitialized" warnings
  Kernel_23/test/Kernel_23/include/CGAL/_test_cls_ray_3.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_cls_segment_3.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, warnings

#4422 Cleanup: remove unused files from Mesh_3
  Mesh_3/include/CGAL/Mesh_3/Detect_polylines_in_polyhedra.h
  Mesh_3/include/CGAL/Mesh_3/Detect_polylines_in_polyhedra_fwd.h
  Mesh_3/include/CGAL/Polyhedral_mesh_domain_with_features_3.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, cleaning, tested manually on Linux

#4402 Fix check of documented headers
  Installation/CMakeLists.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h
  Polygon_mesh_processing/include/CGAL/polygon_mesh_processing.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug

#4391 Solver Interface: Fix two solvers not showing up in documentation
  Solver_interface/include/CGAL/GLPK_mixed_integer_program_traits.h
  Solver_interface/include/CGAL/SCIP_mixed_integer_program_traits.h
Labels: Ready to be tested, Tested, Under Testing, doc, doc bug

#4375 Avoid a construction in segment traits
  Arrangement_on_surface_2/include/CGAL/Arr_segment_traits_2.h
Labels: Pkg::Arrangement_on_surface_2, Ready to be tested, Tested, Under Testing, enhancement

#4372 Doc: Remove some obsolete links
  Generator/doc/Generator/CGAL/point_generators_2.h
  Generator/doc/Generator/CGAL/point_generators_3.h
  Generator/doc/Generator/CGAL/point_generators_d.h
  STL_Extension/doc/STL_Extension/PackageDescription.txt
Labels: Ready to be tested, Tested, cleaning, doc, doc bug

#4353 Remove some unnecessary dereferencing.
  NewKernel_d/include/CGAL/NewKernel_d/function_objects_cartesian.h
Labels: Pkg::Kernel_d, Ready to be tested, Tested, Under Testing, cleaning

#4279 Surface_mesh: Fix Property_container::swap()
  Surface_mesh/include/CGAL/Surface_mesh/Properties.h
Labels: Pkg::Surface_mesh, Ready to be tested, Tested, enhancement

#2548 Spatial_searching: faster Kd_tree
  Classification/include/CGAL/Classification/Point_set_neighborhood.h
  Installation/CHANGES.md
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Search_traits_vertex_handle_3.h
  STL_Extension/include/CGAL/Compact_container.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_point_set/K_neighbor_query.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_point_set/Sphere_neighbor_query.h
  Spatial_searching/doc/Spatial_searching/CGAL/Euclidean_distance.h
  Spatial_searching/doc/Spatial_searching/CGAL/Fuzzy_iso_box.h
  Spatial_searching/doc/Spatial_searching/CGAL/Fuzzy_sphere.h
  Spatial_searching/doc/Spatial_searching/CGAL/Incremental_neighbor_search.h
  Spatial_searching/doc/Spatial_searching/CGAL/K_neighbor_search.h
  Spatial_searching/doc/Spatial_searching/CGAL/Kd_tree.h
  Spatial_searching/doc/Spatial_searching/CGAL/Orthogonal_incremental_neighbor_search.h
  Spatial_searching/doc/Spatial_searching/CGAL/Orthogonal_k_neighbor_search.h
  Spatial_searching/doc/Spatial_searching/Concepts/FuzzyQueryItem.h
  Spatial_searching/doc/Spatial_searching/Concepts/GeneralDistance.h
  Spatial_searching/doc/Spatial_searching/Spatial_searching.txt
  Spatial_searching/examples/Spatial_searching/Distance.h
  Spatial_searching/include/CGAL/Euclidean_distance.h
  Spatial_searching/include/CGAL/Fuzzy_iso_box.h
  Spatial_searching/include/CGAL/Fuzzy_sphere.h
  Spatial_searching/include/CGAL/Incremental_neighbor_search.h
  Spatial_searching/include/CGAL/K_neighbor_search.h
  Spatial_searching/include/CGAL/Kd_tree.h
  Spatial_searching/include/CGAL/Kd_tree_node.h
  Spatial_searching/include/CGAL/Orthogonal_incremental_neighbor_search.h
  Spatial_searching/include/CGAL/Orthogonal_k_neighbor_search.h
  Spatial_searching/include/CGAL/Search_traits_adapter.h
  Spatial_searching/include/CGAL/internal/Search_helpers.h
  Spatial_searching/test/Spatial_searching/Distance.h
Labels: Pkg::Spatial_searching, Ready to be tested, Tested, Under Testing, accepted small feature, small feature

#4082 Add functors for weighted alpha-complexes
  Installation/CHANGES.md
  Kernel_d/doc/Kernel_d/CGAL/Epeck_d.h
  Kernel_d/doc/Kernel_d/CGAL/Epick_d.h
  NewKernel_d/include/CGAL/NewKernel_d/Kernel_d_interface.h
  NewKernel_d/include/CGAL/NewKernel_d/Types/Weighted_point.h
  NewKernel_d/include/CGAL/NewKernel_d/functor_tags.h
  NewKernel_d/test/NewKernel_d/Epick_d.cpp
Labels: Pkg::Kernel_d, Ready to be tested, Tested, accepted small feature, small feature

#4384 Fix Aff_transformation_3 missing includes
  Kernel_23/include/CGAL/Aff_transformation_3.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, bug

#4390 Fix issue #4357
  Intersections_3/include/CGAL/Intersections_3/internal/Triangle_3_Line_3_intersection.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, bug

#4354 Fix warning
  CGAL_ImageIO/examples/CGALimageIO/extract_a_sub_image.cpp
Labels: Pkg::CGAL_ImageIO, Ready to be tested, Tested

#4396 ImageIO and Polyhedron demo - Add error message when `io_image_plugin` can't save
  CGAL_ImageIO/include/CGAL/ImageIO_impl.h
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Io_image_plugin.cpp
Labels: CGAL 3D demo, Pkg::CGAL_ImageIO, Ready to be tested, Tested, bug

#4401 Fix set_error_handler() header-only-mode issue (#4400)
  STL_Extension/include/CGAL/assertions_impl.h
Labels: Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, bug
