Repository CGAL/cgal, pull requests merged in 2019-07, with the labels that each got.

#4032 Fix copy/paste error
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
Labels: Pkg::PMP, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4037 Intersections_2: remove superfluous 'typename's
  Intersections_2/test/Intersections_2/test_intersections_2.cpp
Labels: Pkg::Kernel_23, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4035 SDG: Sanitize input of square root in evaluation of nested extensions
  Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_2/Basic_predicates_C2.h
Labels: Pkg::Segment_Delaunay_graph_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4039 update marks on removed edges
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4047 Update CHANGES.md for PSP: Spherical Neighborhood Queries
  Installation/CHANGES.md
Labels: doc, trivial

#4014 Fix the use of VTK offset in Labeled_mesh_domain_3
  CGAL_ImageIO/include/CGAL/Image_3.h
  Mesh_3/include/CGAL/Labeled_image_mesh_domain_3.h
  Mesh_3/include/CGAL/Labeled_mesh_domain_3.h
Labels: Pkg::CGAL_ImageIO, Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4043 CTest: Add a new ctest fixture, that checks the build system
  Installation/cmake/modules/CGAL_add_test.cmake
Labels: CMake scripts, Tested, Under Testing, enhancement, rm only: ready for master, rm only: ready for release branch

#4046 warning, fix issue #4044
  Polynomial/include/CGAL/Test/_test_polynomial_traits_d.h
Labels: Pkg::Polynomial, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, tested manually on Linux, warnings

#4048 Classification: Remove lambda/auto from cxx03 code
  Classification/include/CGAL/Classification/Cluster.h
Labels: Pkg::Classification, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4038 Mesh_3: older versions of gcc does not like that pair of const
  Mesh_3/include/CGAL/IO/output_to_vtu.h
Labels: Pkg::Mesh_3, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4023 Mesh_3: remove the attempt for `os << std::pair`
  Mesh_3/include/CGAL/internal/Mesh_3/Handle_IO_for_pair_of_int.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#4034 CGAL_Core: remove 'using namespace std' from namespaces
  CGAL_Core/include/CGAL/CORE/Gmp_impl.h
  CGAL_Core/include/CGAL/CORE/poly/Poly.h
  CGAL_Core/include/CGAL/CORE/poly/Poly.tcc
Labels: Pkg::CGAL_Core, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#4045 Travis: compute dependencies when file is missing
  .travis/test_package.sh
Labels: enhancement, infrastructure, rm only: ready for master

#4054 BGL: Fix output of "is_valid_polygon_mesh" function family (5.0)
  BGL/include/CGAL/boost/graph/helpers.h
Labels: Pkg::BGL, Tested, Under Testing, bug, rm only: ready for master

#4058 Factorize more code into Polyhedron_demo.cpp
  Polyhedron/demo/Polyhedron/Classification.cpp
  Polyhedron/demo/Polyhedron/Mesh_3.cpp
  Polyhedron/demo/Polyhedron/Polyhedron_3.cpp
  Polyhedron/demo/Polyhedron/Polyhedron_demo.cpp
Labels: CGAL 3D demo, Tested, Under Testing, enhancement, rm only: ready for master

#4056 Fix PR #3987 with "mesh surface only"
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin.cpp
Labels: CGAL 3D demo, Pkg::Mesh_3, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4051 Polynomial: fix a remaining warning (with LEDA), fix issue #4044
  Polynomial/include/CGAL/Test/_test_polynomial_traits_d.h
Labels: Pkg::Polynomial, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#4053 BGL: Fix output of "is_valid_polygon_mesh" function family
  BGL/include/CGAL/boost/graph/helpers.h
Labels: Pkg::BGL, Tested, bug, rm only: ready for master, rm only: ready for release branch

#3721 Fixes for clipping
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_clip.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug

#4050 [Surface Mesh / PLY] Fix uninitialized warning and error on unhandled properties
  Stream_support/include/CGAL/IO/PLY.h
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: CGAL I/O, Pkg::Surface_mesh, Tested, Under Testing, trivial, warnings

#4069 Polyhedron_IO: OBJ_reader reads relative indices
  Polyhedron_IO/include/CGAL/IO/OBJ_reader.h
Labels: CGAL I/O, Tested, Under Testing, bug

#4075 BGL: fix memory leak in test
  BGL/test/BGL/test_Face_filtered_graph.cpp
Labels: Pkg::BGL, Tested, Under Testing, bug

#4076 Polyhedron Demo: Fix View Menu
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/MainWindow.h
  Polyhedron/demo/Polyhedron/MainWindow.ui
Labels: CGAL 3D demo, Tested, Under Testing

#4078 Fix warnings
  Algebraic_kernel_d/include/CGAL/RS/functors_1.h
  Algebraic_kernel_d/include/CGAL/RS/functors_z_1.h
  Algebraic_kernel_d/include/CGAL/RS/rs23_k_isolator_1.h
  Algebraic_kernel_d/include/CGAL/RS/rs2_isolator_1.h
  Circulator/include/CGAL/Circulator/Safe_circulator_from_iterator.h
  Convex_hull_d/include/CGAL/Convex_hull_d_traits_3.h
  Nef_2/include/CGAL/Nef_polyhedron_2.h
  NewKernel_d/include/CGAL/NewKernel_d/Dimension_base.h
  NewKernel_d/include/CGAL/NewKernel_d/Vector/determinant_of_iterator_to_points_from_points.h
  NewKernel_d/include/CGAL/NewKernel_d/Vector/determinant_of_iterator_to_vectors_from_vectors.h
  STL_Extension/test/STL_Extension/test_Concurrent_compact_container.cpp
  Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_simple_site_2.h
  Segment_Delaunay_graph_Linf_2/include/CGAL/Segment_Delaunay_graph_Linf_2/Voronoi_vertex_sqrt_field_new_C2.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_vertex_base_2.h
  Stream_support/include/CGAL/IO/write_3mf.h
  Stream_support/test/Stream_support/test_3mf_to_sm.cpp
Labels: Ready to be tested, Tested, Under Testing, warnings

#4088 3D Demo: Fix c3t3_item
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Polyhedron/demo/Polyhedron/Scene_item_rendering_helper.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug

#4068 Scripts: Fix autotest_with_ctest
  Scripts/developer_scripts/autotest_cgal_with_ctest
Labels: CMake scripts, Pkg::Scripts, Tested, Under Testing, infrastructure

#3860 PMP: Add function 'non_manifold_vertices'
  Installation/CHANGES.md
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, accepted small feature, small feature

#4073 Fix Qt deprecation warnings for 4.14
  AABB_tree/demo/AABB_tree/MainWindow.cpp
  GraphicsView/demo/Circular_kernel_2/ArcsGraphicsItem.h
  GraphicsView/demo/Periodic_2_triangulation_2/include/CGAL/Qt/PeriodicTriangulationGraphicsItem.h
  GraphicsView/include/CGAL/Qt/AlphaShapeGraphicsItem.h
  GraphicsView/include/CGAL/Qt/DelaunayMeshTriangulationGraphicsItem.h
  GraphicsView/include/CGAL/Qt/DemosMainWindow_impl.h
  GraphicsView/include/CGAL/Qt/PointsGraphicsItem.h
  GraphicsView/include/CGAL/Qt/PointsInKdTreeGraphicsItem.h
  GraphicsView/include/CGAL/Qt/PolygonGraphicsItem.h
  GraphicsView/include/CGAL/Qt/PolygonWithHolesGraphicsItem.h
  GraphicsView/include/CGAL/Qt/RegularGridGraphicsItem.h
  GraphicsView/include/CGAL/Qt/RegularGridVectorFieldGraphicsItem.h
  GraphicsView/include/CGAL/Qt/RegularTriangulationGraphicsItem.h
  GraphicsView/include/CGAL/Qt/SegmentDelaunayGraphGraphicsItem.h
  GraphicsView/include/CGAL/Qt/SegmentDelaunayGraphLinfGraphicsItem.h
  GraphicsView/include/CGAL/Qt/TriangulationGraphicsItem.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/TriangulationGraphicsItem.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/TriangulationGraphicsItemWithColorInfo.h
  Periodic_4_hyperbolic_triangulation_2/demo/Periodic_4_hyperbolic_triangulation_2/include/internal/Qt/TriangulationGraphicsItem.h
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Io_image_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Polyline_simplification_2/demo/Polyline_simplification_2/include/CGAL/Qt/Polyline_simplification_2_graphics_item.h
  Polyline_simplification_2/demo/Polyline_simplification_2/include/CGAL/Qt/TriangulationArrangementGraphicsItem.h
  Principal_component_analysis/demo/Principal_component_analysis/MainWindow.cpp
  Three/include/CGAL/Three/TextRenderer.h
  Triangulation_3/demo/Triangulation_3/Viewer.cpp
Labels: Qt5, Tested, Under Testing, warnings

#4064 Fix Qt deprecation warnings
  AABB_tree/demo/AABB_tree/MainWindow.cpp
  GraphicsView/demo/Circular_kernel_2/ArcsGraphicsItem.h
  GraphicsView/demo/Periodic_2_triangulation_2/include/CGAL/Qt/PeriodicTriangulationGraphicsItem.h
  GraphicsView/include/CGAL/Qt/AlphaShapeGraphicsItem.h
  GraphicsView/include/CGAL/Qt/DelaunayMeshTriangulationGraphicsItem.h
  GraphicsView/include/CGAL/Qt/DemosMainWindow_impl.h
  GraphicsView/include/CGAL/Qt/PointsGraphicsItem.h
  GraphicsView/include/CGAL/Qt/PointsInKdTreeGraphicsItem.h
  GraphicsView/include/CGAL/Qt/PolygonGraphicsItem.h
  GraphicsView/include/CGAL/Qt/PolygonWithHolesGraphicsItem.h
  GraphicsView/include/CGAL/Qt/RegularGridGraphicsItem.h
  GraphicsView/include/CGAL/Qt/RegularGridVectorFieldGraphicsItem.h
  GraphicsView/include/CGAL/Qt/RegularTriangulationGraphicsItem.h
  GraphicsView/include/CGAL/Qt/SegmentDelaunayGraphGraphicsItem.h
  GraphicsView/include/CGAL/Qt/SegmentDelaunayGraphLinfGraphicsItem.h
  GraphicsView/include/CGAL/Qt/TriangulationGraphicsItem.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Io_image_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Polyline_simplification_2/demo/Polyline_simplification_2/include/CGAL/Qt/Polyline_simplification_2_graphics_item.h
  Polyline_simplification_2/demo/Polyline_simplification_2/include/CGAL/Qt/TriangulationArrangementGraphicsItem.h
  Principal_component_analysis/demo/Principal_component_analysis/MainWindow.cpp
  Three/include/CGAL/Three/TextRenderer.h
  Triangulation_3/demo/Triangulation_3/Viewer.cpp
Labels: CGAL 3D demo, Qt5, Tested, warnings

#4077 Demo 3D : Optimize the "Move point" operation
  Polyhedron/demo/Polyhedron/Plugins/IO/3mf_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Selection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Scene_edit_polyhedron_item.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Scene_edit_polyhedron_item.h
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene_group_item.cpp
  Polyhedron/demo/Polyhedron/Scene_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
  Polyhedron/demo/Polyhedron/Three.cpp
  Three/include/CGAL/Three/Scene_interface.h
  Three/include/CGAL/Three/Scene_item.h
Labels: CGAL 3D demo, Tested, Under Testing

#4080 Bug fix in is_empty method in Buffer_for_vao
  GraphicsView/include/CGAL/Buffer_for_vao.h
Labels: Ready to be tested, Tested, Under Testing

#4093 [PCA] Fix PCA on tetrahedra
  Principal_component_analysis/include/CGAL/PCA_util_Eigen.h
  Principal_component_analysis_LGPL/include/CGAL/centroid.h
Labels: Pkg::Principal_component_analysis, Ready to be tested, Tested, Under Testing, bug

#4095 Box_intersection_d: Add an example that implements a do_intersect for two polylines
  Box_intersection_d/doc/Box_intersection_d/Box_intersection_d.txt
  Box_intersection_d/doc/Box_intersection_d/examples.txt
  Box_intersection_d/examples/Box_intersection_d/box_d_do_intersect_polylines.cpp
Labels: Pkg::Box_intersection_d, Tested, Under Testing, doc, enhancement

#4081 Move store outside the loop.
  NewKernel_d/include/CGAL/NewKernel_d/Types/Weighted_point.h
  NewKernel_d/include/CGAL/NewKernel_d/function_objects_cartesian.h
Labels: Pkg::Kernel_d, Ready to be tested, Tested, Under Testing, bug

#4063 Remove CGAL_CXX11 macro usage
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Curve_pair_analysis_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_dcel_base.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arr_on_surface_with_history_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arr_with_history_accessor.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_on_surface_2.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_on_surface_with_history_2.h
  Boolean_set_operations_2/include/CGAL/Boolean_set_operations_2/Gps_agg_op_surface_sweep_2.h
  CGAL_ipelets/demo/CGAL_ipelets/cone_spanners.cpp
  Combinatorial_map/include/CGAL/Combinatorial_map_storages.h
  Combinatorial_map/include/CGAL/internal/Combinatorial_map_utility.h
  Cone_spanners_2/examples/Cone_spanners_2/theta_io.cpp
  Cone_spanners_2/test/Cone_spanners_2/theta_exact.cpp
  Envelope_2/include/CGAL/Envelope_diagram_1.h
  Generalized_map/include/CGAL/Generalized_map_storages.h
  HalfedgeDS/include/CGAL/HalfedgeDS_list.h
  HalfedgeDS/include/CGAL/HalfedgeDS_vector.h
  Hash_map/include/CGAL/Tools/chained_map.h
  Interpolation/include/CGAL/sibson_gradient_fitting.h
  Interpolation/test/Interpolation/include/CGAL/_test_interpolation_functions_2.cpp
  Interval_skip_list/include/CGAL/Interval_skip_list.h
  Inventor/include/CGAL/IO/Inventor_ostream.h
  Inventor/include/CGAL/IO/VRML_2_ostream.h
  Kernel_23/include/CGAL/Dimension.h
  Kernel_d/include/CGAL/Kernel_d/Matrix__.h
  Kernel_d/include/CGAL/Kernel_d/Vector__.h
  Linear_cell_complex/include/CGAL/CMap_linear_cell_complex_storages.h
  Linear_cell_complex/include/CGAL/GMap_linear_cell_complex_storages.h
  Nef_3/include/CGAL/Nef_3/SNC_structure.h
  Nef_S2/include/CGAL/Nef_S2/Sphere_map.h
  NewKernel_d/include/CGAL/NewKernel_d/LA_eigen/constructors.h
  NewKernel_d/include/CGAL/NewKernel_d/Types/Segment.h
  NewKernel_d/include/CGAL/NewKernel_d/utils.h
  Number_types/include/CGAL/Mpzf.h
  Point_set_processing_3/test/Point_set_processing_3/read_test.cpp
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_normal_estimation_plugin.cpp
  STL_Extension/include/CGAL/Compact_container.h
  STL_Extension/include/CGAL/Concurrent_compact_container.h
  STL_Extension/include/CGAL/Handle_for.h
  STL_Extension/include/CGAL/Handle_with_policy.h
  STL_Extension/include/CGAL/In_place_list.h
  STL_Extension/include/CGAL/Multiset.h
  STL_Extension/include/CGAL/vector.h
  SearchStructures/include/CGAL/Segment_tree_d.h
  Surface_sweep_2/include/CGAL/No_intersection_surface_sweep_2.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/No_intersection_surface_sweep_2_impl.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Surface_sweep_2_impl.h
  Union_find/include/CGAL/Union_find.h
Labels: Modern C++ (C++11 and later), Tested, Under Testing, cleaning

#3900 Make CGAL_HEADER_ONLY the default in CGAL-5.0
  Documentation/doc/Documentation/Installation.txt
  Installation/CMakeLists.txt
Labels: CMake scripts, Ready to be tested, TODO, Tests failing, rm only: release blocker

#4096 Kernel 23: remove epick without intervals
  Convex_hull_3/test/Convex_hull_3/test_extreme_points.cpp
  Convex_hull_3/test/Convex_hull_3/test_halfspace_intersections.cpp
  Kernel_23/include/CGAL/Exact_predicates_inexact_constructions_kernel.h
  Kernel_23/test/Kernel_23/Filtered_cartesian.cpp
Labels: Pkg::Kernel_23, Tested, Under Testing, bug

#4107 Add missing inlines to PSP IO non-template functions
  Point_set_processing_3/include/CGAL/IO/read_las_points.h
  Point_set_processing_3/include/CGAL/IO/write_las_points.h
  Point_set_processing_3/include/CGAL/IO/write_ply_points.h
Labels: Pkg::Point_set_processing_3, Tested, bug, rm only: ready for master

#4098 Doc fixes
  BGL/include/CGAL/boost/graph/split_graph_into_polylines.h
  Surface_mesh_skeletonization/include/CGAL/Mean_curvature_flow_skeletonization.h
Labels: Pkg::BGL, Pkg::Surface_mesh_skeleton, Tested, Under Testing, bug, doc, enhancement, rm only: ready for master

#4120 Installation: Add missing cmake labels
  Installation/cmake/modules/CGAL_add_test.cmake
  Polyhedron/demo/Polyhedron/implicit_functions/CMakeLists.txt
Labels: CMake scripts, Tested, Under Testing, enhancement, rm only: ready for master

#4121 Mesh_3 : add missing parenthesis around min and max for windows
  Mesh_3/include/CGAL/Mesh_3/Mesh_global_optimizer.h
  Mesh_3/include/CGAL/Mesh_3/Worksharing_data_structures.h
Labels: Pkg::Mesh_3, Tested, Under Testing, bug, rm only: ready for master, tested manually on Windows
