Repository CGAL/cgal, pull requests merged in 2019-06, with the labels that each got.

#3953 Mesh_3: Allow lambdas (or other callables) as MeshDomainField_3
  Mesh_3/include/CGAL/Mesh_3/Is_mesh_domain_field_3.h
  Mesh_3/include/CGAL/Mesh_cell_criteria_3.h
  Mesh_3/include/CGAL/Mesh_edge_criteria_3.h
  Mesh_3/include/CGAL/Mesh_facet_criteria_3.h
  Mesh_3/test/Mesh_3/test_mesh_capsule_var_distance_bound.cpp
Labels: Modern C++ (C++11 and later), Pkg::Mesh_3, Tested, enhancement, rm only: ready for master

#3959 Stream_support: Fix WKTDocumentation
  Stream_support/doc/Stream_support/CGAL/IO/WKT.h
  Stream_support/doc/Stream_support/CGAL/IO/io.h
  Stream_support/doc/Stream_support/Doxyfile.in
Labels: Tested, doc bug, rm only: ready for master

#3970 3D Demo: Lcc IO plugin
  Polyhedron/demo/Polyhedron/Scene_lcc_item.cpp
  Polyhedron/demo/Polyhedron/Scene_lcc_item.h
Labels: CGAL 3D demo, Tested, rm only: ready for master

#3917 Surface_mesh: Fix read_off(istream,Surface_mesh)
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Tested, rm only: ready for master

#3985 Travis CI: Fix the behavior of generate_travis.sh
  .travis.yml
  .travis/generate_travis.sh
  .travis/packages.txt
Labels: Under Testing, bug

#4000 Add script to label PR merge in a release since the previous major one
  Scripts/developer_scripts/tag_pr_per_release.sh
Labels: Pkg::Scripts, infrastructure

#3981 Surface_mesh: No need to call add_property_map()
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Pkg::Surface_mesh, Ready to be tested, Tested, Under Testing, rm only: ready for master

#3994 Shape detection
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_polygon_mesh/Least_squares_plane_fit_region.h
Labels: Pkg::Point_set_shape_detection_3, Tested, Under Testing, rm only: ready for master, trivial

#3925 PMP: Fix repair polygon soup bad swaps
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#3964 Fix invalid index
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_impl.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, trivial

#3986 Mesh_3 : fix global optimizers protection
  Mesh_3/include/CGAL/internal/Mesh_3/check_weights.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, tested manually on Linux

#3996 Put declaration before the call to the function
  BGL/include/CGAL/boost/graph/split_graph_into_polylines.h
Labels: Pkg::BGL, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#3951 Mesh_3: fix issue #2870 (do not deactivate all topological criteria)
  Mesh_3/test/Mesh_3/test_meshing_3D_gray_image.cpp
Labels: Pkg::Mesh_3, Tested, bug, rm only: ready for master, testsuite

#3956 Classification: use cpp98::random_shuffle to avoid errors in C++17
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/forest.hpp
Labels: Modern C++ (C++11 and later), Pkg::Classification, Tested, bug, rm only: ready for master, trivial

#3730 Add an option to create tarballs while creating a release
  Scripts/developer_scripts/cgal_create_release_with_cmake.cmake
Labels: CMake scripts, Pkg::Scripts, Under Testing, rm only: ready for master

#3990 do_intersect() Ambiguity
  Intersections_3/include/CGAL/Intersections_3/internal/intersection_3_1_impl.h
Labels: CLA/CAA OK, Pkg::Kernel_23, Ready to be tested, Under Testing, bug, rm only: ready for master

#3893 Fix the prev/next pointers after polyline removal
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
Labels: Pkg::PMP, Ready to be tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4020 Triangulation_2: Fix CDT_plus_2::remove_constraint()
  Triangulation_2/include/CGAL/Polyline_constraint_hierarchy_2.h
  Triangulation_2/test/Triangulation_2/issue_4010.cpp
Labels: Pkg::Triangulation_2, bug

#4036 Triangulation_2: Do not use C++11
  Triangulation_2/test/Triangulation_2/issue_4010.cpp
Labels: Pkg::Triangulation_2, bug
