Repository CGAL/cgal, pull requests merged in 2019-05, with the labels that each got.

#3899 Scripts: Update create_package_dir
  Scripts/developer_scripts/cgal_create_package_dir.py
Labels: Pkg::Scripts, enhancement

#3686 Reduce inclusions of <CGAL/basic.h> and <CGAL/number_type_basic.h>
  Number_types/include/CGAL/int.h
  Number_types/include/CGAL/long_double.h
  Number_types/include/CGAL/test_FPU_rounding_mode_impl.h
  Stream_support/include/CGAL/IO/io_impl.h
Labels: Pkg::Number_types, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#3872 Polyhedron Demo: Add stats to polygon_soup
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.h
  Three/include/CGAL/Three/Scene_item.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master

#3873 Mesh_3 : improve doc of constructor for `Polyhedral_complex_mesh_domain_3`
  Mesh_3/include/CGAL/Polyhedral_complex_mesh_domain_3.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, doc, enhancement, rm only: ready for master

#3880 Change return type to avoid raising a precondition
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/arrange_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/arrange_offset_polygons_2.h
Labels: Pkg::Straight_skeleton_2, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#3855 Intersections_3: Fix almost collinear segment bug
  Intersections_3/include/CGAL/Intersections_3/intersection_3_1_impl.h
Labels: Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#3889 Remove link to old demos
  Boolean_set_operations_2/doc/Boolean_set_operations_2/PackageDescription.txt
  Envelope_3/doc/Envelope_3/PackageDescription.txt
  Nef_2/doc/Nef_2/PackageDescription.txt
  Partition_2/doc/Partition_2/PackageDescription.txt
  Straight_skeleton_2/doc/Straight_skeleton_2/PackageDescription.txt
Labels: Tested, Under Testing, cleaning, doc bug, rm only: ready for master, rm only: ready for release branch

#3896 Fix AppleClang -Wnull-pointer-arithmetic warning with TBB as well
  STL_Extension/include/CGAL/Concurrent_compact_container.h
Labels: Pkg::Mesh_3, Pkg::Periodic_3_Triangulation_3, Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, tested manually on Linux, warnings

#3882 Add missing include directive
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
Labels: Pkg::PMP, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3909 Surface Mesh PLY IO: Update CHANGES.md
  Installation/CHANGES.md
Labels: doc, trivial

#3890 Triangulation_2: Cleanup of CDT_plus_2
  Installation/CHANGES.md
Labels: Pkg::Triangulation_2, cleaning, trivial

#3858 BGL: Fix is_valid_polygon_mesh not breaking away from potential infinite loops
  BGL/include/CGAL/boost/graph/helpers.h
Labels: Pkg::BGL, Ready to be tested, bug, rm only: ready for master, rm only: ready for release branch

#3904 Stream_support Examples: Fix CMakeLists
  Stream_support/examples/Stream_support/CMakeLists.txt
Labels: CMake scripts, Pkg::Stream_support, Tested, Under Testing, bug, rm only: ready for master

#3911 PMP: Fix duplicate_non_manifold_vertices() with pinched vertices (5.0)
  Polygon_mesh_processing/doc/Polygon_mesh_processing/NamedParameters.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_repair/many_umbrellas.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_repair/nm_closed_cubes.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_repair/three_triangles_sharing_a_vertex.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_repair/two_triangles_sharing_a_vertex.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_manifoldness.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_shape_predicates.cpp
  Property_map/include/CGAL/Dynamic_property_map.h
Labels: Master Version of Release Branch PR, Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#3914 Polyhedron demo: Remove useless message at startup
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_rib_exporter_plugin.cpp
Labels: CGAL 3D demo, Tested, Under Testing, rm only: ready for master

#3916 BGL: Fix is valid polygon mesh (5.0)
  BGL/include/CGAL/boost/graph/helpers.h
Labels: Master Version of Release Branch PR, Pkg::BGL, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#3918 Polygon_mesh_slicer: Fix orientation for master
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_slicer.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/polygon_mesh_slicer_test.cpp
Labels: Master Version of Release Branch PR, Tested, Under Testing, rm only: ready for master

#3935 [Classification] Add missing "algorithm" include
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/forest.hpp
Labels: Pkg::Classification, trivial

#3936 Use $TRAVIS_PULL_REQUEST_BRANCH instead
  .travis.yml
  .travis/build_package.sh
  .travis/template.txt
Labels: Under Testing, bug, infrastructure

#3922 Header-only: consider CGAL as an imported target (if CMake>=3.11)
  Installation/lib/cmake/CGAL/CGALConfig.cmake
Labels: CMake scripts, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3952 Add changes about old PSP API removed
  Installation/CHANGES.md
Labels: Pkg::Point_set_processing_3, doc, trivial

#3876 Fix index order of triangles
  Nef_3/include/CGAL/boost/graph/convert_nef_polyhedron_to_polygon_mesh.h
Labels: Pkg::Nef_3, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3949 Fix CTest CGAL tests when binary dir is a sub-directory
  Installation/cmake/modules/CGAL_add_test.cmake
Labels: CMake scripts, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, testsuite

#3948 Add missing 'using' for boost's choose_param() / get_param()
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
Labels: Pkg::PMP, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3941 Fix the default of 3rd template parameter of Convex_hull_traits_3
  Convex_hull_3/include/CGAL/Convex_hull_traits_3.h
Labels: Pkg::Convex_hull_3, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux
