Repository CGAL/cgal, pull requests merged in 2019-03, with the labels that each got.

#3714 CSS properties and values separated by semicolons
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/Hyperbolic_triangulation_2.txt
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/Periodic_4_hyperbolic_triangulation_2.txt
Labels: Tested, Under Testing, doc bug, rm only: ready for master

#3717 File not (X)HTML compliant
  Documentation/doc/scripts/generate_how_to_cite.py
Labels: Under Testing

#3723 Documentation italic in italics
  Ridges_3/doc/Ridges_3/Ridges_3.txt
Labels: Tested, Under Testing, doc, rm only: ready for master

#3724 Inconsistent tags for (X)HTML output (Manual)
  Documentation/doc/Documentation/main.txt
Labels: Tested, Under Testing, doc, rm only: ready for master

#3725 TDS_2: Fix Default_vertex_converter
  TDS_2/include/CGAL/Triangulation_data_structure_2.h
Labels: Pkg::Triangulation_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#3726 Classification: Fix bbox precision
  Classification/include/CGAL/Classification/classify.h
Labels: Pkg::Classification, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#3734 Fix brief of advanced
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
  Documentation/doc/resources/1.8.4/BaseDoxyfile.in
  Inscribed_areas/doc/Inscribed_areas/Concepts/ExtremalPolygonTraits_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/Periodic_2_Delaunay_triangulation_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/Periodic_2_triangulation_2.h
  Point_set_3/include/CGAL/Point_set_3.h
  Spatial_searching/doc/Spatial_searching/Concepts/Splitter.h
  Surface_mesh_skeletonization/include/CGAL/Mean_curvature_flow_skeletonization.h
  TDS_3/doc/TDS_3/Concepts/TriangulationDataStructure_3.h
  Triangulation/doc/Triangulation/CGAL/Triangulation.h
  Triangulation/doc/Triangulation/CGAL/Triangulation_data_structure.h
  Triangulation/doc/Triangulation/CGAL/Triangulation_ds_full_cell.h
  Triangulation/doc/Triangulation/CGAL/Triangulation_ds_vertex.h
  Triangulation/doc/Triangulation/Concepts/TriangulationDataStructure.h
  Triangulation_2/doc/Triangulation_2/CGAL/Constrained_triangulation_plus_2.h
Labels: Ready to be tested, Tested, Under Testing, doc, doc bug, rm only: ready for master, rm only: ready for release branch

#3733 Further fix for triangle orientation in medit output
  Mesh_3/include/CGAL/IO/File_medit.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#3436 export(PACKAGE CGAL)
  CMakeLists.txt
Labels: CMake scripts, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: release blocker

#3740 Hyperbolic_triangulation_2 demo: fix the use of resources
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/CMakeLists.txt
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/Delaunay_triangulation_2.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/Delaunay_triangulation_2.qrc
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/File.qrc
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/Input.qrc
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/Voronoi_diagram_2.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/fileNew.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/fileOpen.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/fileSave.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/fit-page-32.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/icons/constrained_triangulation.pdf
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/icons/constrained_triangulation.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/icons/constrained_triangulation_show_constraints.pdf
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/icons/constrained_triangulation_show_constraints.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/icons/constrained_triangulation_show_in_domain.pdf
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/icons/constrained_triangulation_show_in_domain.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/inputPoint.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/inputPolyline.png
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/resources/zoom-best-fit.png
Labels: CGAL 3D demo, CMake scripts, Pkg::Hyperbolic_triangulation_2, Ready to be tested, Tested, Under Testing, bug, rm only: release blocker

#3719 Invalid (X)HTML sequence
  Documentation/doc/Documentation/packages.txt
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
  Documentation/doc/resources/1.8.4/BaseDoxyfile.in
Labels: Ready to be tested, Tested, Under Testing, doc, enhancement, rm only: ready for master

#3731 IO: Set precision of the ostream when writing a point set or face graph
  BGL/examples/BGL_surface_mesh/surface_mesh_partition.cpp
  Point_set_3/examples/Point_set_3/point_set_read_ply.cpp
  Point_set_3/examples/Point_set_3/point_set_read_xyz.cpp
  Point_set_processing_3/examples/Point_set_processing_3/bilateral_smooth_point_set_example.cpp
  Point_set_processing_3/examples/Point_set_processing_3/edge_aware_upsample_point_set_example.cpp
  Point_set_processing_3/examples/Point_set_processing_3/hierarchy_simplification_example.cpp
  Point_set_processing_3/examples/Point_set_processing_3/normal_estimation.cpp
  Point_set_processing_3/examples/Point_set_processing_3/random_simplification_example.cpp
  Point_set_processing_3/examples/Point_set_processing_3/read_write_xyz_point_set_example.cpp
  Point_set_processing_3/examples/Point_set_processing_3/structuring_example.cpp
  Point_set_processing_3/examples/Point_set_processing_3/wlop_simplify_and_regularize_point_set_example.cpp
  Point_set_processing_3/examples/Point_set_processing_3/write_ply_points_example.cpp
  Point_set_processing_3/include/CGAL/IO/write_off_points.h
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_all_short_edges.cpp
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_bounded_normal_change.cpp
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_constrained_border_polyhedron.cpp
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_constrained_border_surface_mesh.cpp
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_enriched_polyhedron.cpp
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_polyhedron.cpp
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_surface_mesh.cpp
Labels: Ready to be tested, Tested, Under Testing, doc, enhancement, rm only: ready for master

#3738 Polyhedron demo: Fix point set selection speed
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_selection_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, rm only: release blocker, tested manually on Linux

#3741 PMP debug code - use the new API of `PMP::remove_degenerate_faces()`
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#3729 T2,T3,Mesh_2: backticks, lowercase, capitalize
  Mesh_2/doc/Mesh_2/Concepts/DelaunayMeshFaceBase_2.h
  Triangulation_2/doc/Triangulation_2/Concepts/ConstrainedTriangulationFaceBase_2.h
  Triangulation_2/doc/Triangulation_2/Concepts/TriangulationVertexBaseWithInfo_2.h
  Triangulation_3/doc/Triangulation_3/Concepts/RegularTriangulationCellBase_3.h
Labels: Pkg::Mesh_2, Pkg::Triangulation_2, Pkg::Triangulation_3, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#3744 Periodic and Hyperbolic triangulations: backtick
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/CGAL/Hyperbolic_Delaunay_triangulation_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/CGAL/Hyperbolic_Delaunay_triangulation_traits_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/CGAL/Hyperbolic_triangulation_face_base_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/Concepts/HyperbolicDelaunayTriangulationTraits_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/Concepts/HyperbolicTriangulationFaceBase_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/Periodic_2_Delaunay_triangulation_traits_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/Periodic_2_triangulation_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/Periodic_2_triangulation_face_base_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/Periodic_2_triangulation_traits_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Concepts/Periodic_2DelaunayTriangulationTraits_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Concepts/Periodic_2Offset_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Concepts/Periodic_2TriangulationFaceBase_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Concepts/Periodic_2TriangulationTraits_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Concepts/Periodic_2TriangulationVertexBase_2.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/CGAL/Periodic_3_Delaunay_triangulation_traits_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/CGAL/Periodic_3_regular_triangulation_traits_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/CGAL/Periodic_3_triangulation_hierarchy_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/CGAL/Periodic_3_triangulation_traits_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3DelaunayTriangulationTraits_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3Offset_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3RegularTriangulationDSCellBase_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3RegularTriangulationDSVertexBase_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3RegularTriangulationTraits_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3TriangulationDSCellBase_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3TriangulationDSVertexBase_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3TriangulationTraits_3.h
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/CGAL/Hyperbolic_octagon_translation.h
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/CGAL/Periodic_4_hyperbolic_triangulation_2.h
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/CGAL/Periodic_4_hyperbolic_triangulation_face_base_2.h
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/CGAL/Periodic_4_hyperbolic_triangulation_vertex_base_2.h
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/Concepts/Periodic_4HyperbolicDelaunayTriangulationTraits_2.h
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/Concepts/Periodic_4HyperbolicTriangulationFaceBase_2.h
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/Concepts/Periodic_4HyperbolicTriangulationTraits_2.h
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/Concepts/Periodic_4HyperbolicTriangulationVertexBase_2.h
Labels: Tested, Under Testing, doc, rm only: ready for master

#3749 Mesh_3 tests : deal with precision of `double`'s
  Mesh_3/test/Mesh_3/test_meshing_utilities.h
Labels: Pkg::Mesh_3, Tested, Under Testing, bug, rm only: ready for master

#3757 Multiple definition of incident_cells
  Surface_mesher/doc/Surface_mesher/Concepts/SurfaceMeshTriangulation_3.h
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#3761 Polyhedron_Demo: Fix warning
  Polyhedron/demo/Polyhedron/Plugins/PCA/Clipping_box_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing

#3748 Travis: Add calls to `time` to display timings
  .travis.yml
  .travis/build_package.sh
  .travis/generate_travis.sh
  .travis/template.txt
Labels: infrastructure

#3766 More robust first_intersection
  AABB_tree/include/CGAL/internal/AABB_tree/AABB_ray_intersection.h
Labels: Pkg::AABB_tree, Tested, Under Testing, enhancement, rm only: ready for master, rm only: ready for release branch

#3771 Use a generated version of deprecated.html
  Documentation/doc/Documentation/Developer_manual/developer_manual.txt
  Documentation/doc/Documentation/deprecated.txt
  Documentation/doc/resources/1.8.13/deprecated.html
  Documentation/doc/resources/1.8.14/deprecated.html
  Documentation/doc/resources/1.8.4/deprecated.html
  Documentation/doc/scripts/html_output_post_processing.py
Labels: Tested, Under Testing, doc, enhancement, rm only: ready for master, rm only: ready for release branch

#3774 Fix error in outer CCB setting
  Boolean_set_operations_2/include/CGAL/Boolean_set_operations_2/Gps_on_surface_base_2.h
Labels: Pkg:Boolean_set_operations_2, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3735 PMP : fix isotropic remeshing surviving tiny constraints
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3777 Add two examples with Surface_mesh instead of Polyhedron
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/examples/Mesh_3/mesh_polyhedral_domain_with_features_sm.cpp
  Mesh_3/examples/Mesh_3/remesh_polyhedral_surface_sm.cpp
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, tested manually on Linux

#3778 Fix the *installed* header-only CGALConfig.cmake
  Installation/lib/cmake/CGAL/CGALConfig.cmake
Labels: CMake scripts, Tested, Under Testing, bug, rm only: ready for master, rm only: release blocker

#3775 Doc fixes
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Periodic_2_triangulation_2.txt
  Polygon/include/CGAL/Polygon_2.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/extrude.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/intersection.h
  Triangulation_2/doc/Triangulation_2/CGAL/Regular_triangulation_2.h
  Triangulation_3/doc/Triangulation_3/CGAL/Regular_triangulation_3.h
Labels: Tested, doc, doc bug

#3784 Fix intersection(Point_2,Point_2)
  Intersections_2/include/CGAL/Intersection_traits_2.h
  Intersections_2/include/CGAL/Intersections_2/Point_2_Point_2.h
  Intersections_2/test/Intersections_2/test_intersections_2.cpp
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: release blocker

#3786 PMP: Fix inclusion of .jpg
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Doxyfile.in
Labels: Pkg::PMP, Tested, Under Testing, doc bug, rm only: ready for master, rm only: release blocker

#3791 Polyhedron Demo: Fix Affine_transformation_plugin
  Polyhedron/demo/Polyhedron/Plugins/PCA/Affine_transform_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Transformation_widget.ui
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master, tested manually on Linux, tested manually on Windows

#3794 PMP: Fix in normalize()
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/compute_normal.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, rm only: ready for master

#3801 Polyhedron Demo: Fix c3t3 reload
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Under Testing, rm only: ready for master, tested manually on Windows

#3812 Doc fix (tiny) in concept `MeshComplexWithFeatures_3InTriangulation_3`
  Mesh_3/doc/Mesh_3/Concepts/MeshComplexWithFeatures_3InTriangulation_3.h
Labels: Pkg::Mesh_3, doc bug, trivial

#3805 Number_types: Add support for arm and aarch64
  Number_types/include/CGAL/FPU.h
Labels: Pkg::Number_types, Ready to be tested, Under Testing, rm only: ready for master

#3807 Fix the order of link when GMP is a static lib
  Installation/cmake/modules/CGAL_SetupGMP.cmake
Labels: CMake scripts, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3814 Surface Mesh: Fix not reseting edge property when a new element re-uses memory
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Pkg::Surface_mesh, Under Testing, bug, rm only: ready for master, rm only: ready for release branch
