Repository CGAL/cgal, pull requests merged in 2019-04, with the labels that each got.

#3824 Fix AppleClang -Wnull-pointer-arithmetic warning
  STL_Extension/include/CGAL/Compact_container.h
Labels: Pkg::STL_Extension, Pkg::Triangulation_2, Pkg::Triangulation_3, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#3840 Remove (GMP|MPFR)_IN_CGAL_AUXILIARY
  Installation/CMakeLists.txt
  Installation/cmake/modules/CGAL_SetupGMP.cmake
  Installation/cmake/modules/FindGMP.cmake
  Installation/cmake/modules/FindMPFR.cmake
Labels: CMake scripts, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#3842 Fix Iterator_range for Apple Clang
  STL_Extension/include/CGAL/Iterator_range.h
Labels: Under Testing, known travis false-positive, rm only: ready for master, rm only: ready for release branch

#3834 Add test for output_to_vtu
  Mesh_3/examples/Mesh_3/mesh_polyhedral_domain_with_features.cpp
  Mesh_3/examples/Mesh_3/mesh_polyhedral_domain_with_features_sm.cpp
  Mesh_3/include/CGAL/IO/output_to_vtu.h
Labels: Pkg::Mesh_3, Pkg::Stream_support, Ready to be tested, bug, tested manually on Linux

#3822 Nef_2: Add an example for exploration
  Nef_2/doc/Nef_2/Nef_2.txt
  Nef_2/doc/Nef_2/examples.txt
  Nef_2/doc/Nef_2/fig/exploration_complete.pdf
  Nef_2/doc/Nef_2/fig/exploration_complete.svg
  Nef_2/doc/Nef_2/fig/exploration_half_plane.pdf
  Nef_2/doc/Nef_2/fig/exploration_half_plane.svg
  Nef_2/doc/Nef_2/fig/exploration_isolated.pdf
  Nef_2/doc/Nef_2/fig/exploration_isolated.svg
  Nef_2/doc/Nef_2/fig/exploration_triangle.pdf
  Nef_2/doc/Nef_2/fig/exploration_triangle.svg
  Nef_2/doc/Nef_2/fig/exploration_triangle_with_holes.pdf
  Nef_2/doc/Nef_2/fig/exploration_triangle_with_holes.svg
  Nef_2/doc/Nef_2/fig_src/exploration.ipe
  Nef_2/doc/Nef_2/fig_src/exploration_complete.ipe
  Nef_2/doc/Nef_2/fig_src/exploration_half_plane.ipe
  Nef_2/doc/Nef_2/fig_src/exploration_isolated.ipe
  Nef_2/doc/Nef_2/fig_src/exploration_triangle.ipe
  Nef_2/doc/Nef_2/fig_src/exploration_triangle_with_holes.ipe
  Nef_2/examples/Nef_2/nef_2_exploration.cpp
Labels: Pkg::Nef_2, Tested, doc

#3836 STL writer under LGPL
  Polyhedron_IO/include/CGAL/IO/STL_writer.h
Labels: Pkg::Stream_support, Ready to be tested, Tested, bug

#3779 Polyhedron: read_OFF() must not set the badbit if there are 0 vertices
  Polyhedron/doc/Polyhedron/CGAL/IO/Polyhedron_iostream.h
  Polyhedron_IO/test/Polyhedron_IO/test_polyhedron_io.cpp
  Stream_support/include/CGAL/IO/File_header_OFF_impl.h
Labels: Pkg::Polyhedron, Ready to be tested, Tested, bug

#3844 SMP: mute ARAP and Orbifold output by default
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/ARAP_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/MVC_post_processor_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Orbifold_Tutte_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/orbifold_shortest_path.h
Labels: Pkg::Surface_mesh_parametrization, Tested, cleaning

#3810 Mesh_3: Simplify AABB_primitive of Polyhedral_mesh_domain_3
  Mesh_3/include/CGAL/Mesh_3/experimental/Get_facet_patch_id.h
  Mesh_3/include/CGAL/Polyhedral_mesh_domain_3.h
Labels: Pkg::Mesh_3, Tested, tested manually on Linux

#3831 Point Set Processing: cleanup
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Parallel_callback.h
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Search_traits_vertex_handle_3.h
  Point_set_processing_3/include/CGAL/bilateral_smooth_point_set.h
  Point_set_processing_3/include/CGAL/compute_average_spacing.h
  Point_set_processing_3/include/CGAL/jet_estimate_normals.h
  Point_set_processing_3/include/CGAL/jet_smooth_point_set.h
  Point_set_processing_3/include/CGAL/mst_orient_normals.h
  Point_set_processing_3/include/CGAL/pca_estimate_normals.h
  Point_set_processing_3/include/CGAL/radial_orient_normals.h
  Point_set_processing_3/include/CGAL/wlop_simplify_and_regularize_point_set.h
  Poisson_surface_reconstruction_3/examples/Poisson_surface_reconstruction_3/poisson_reconstruction.cpp
  Poisson_surface_reconstruction_3/examples/Poisson_surface_reconstruction_3/poisson_reconstruction_example.cpp
  Poisson_surface_reconstruction_3/include/CGAL/Poisson_reconstruction_function.h
  Poisson_surface_reconstruction_3/include/CGAL/poisson_refine_triangulation.h
  Poisson_surface_reconstruction_3/test/Poisson_surface_reconstruction_3/poisson_reconstruction_test.cpp
  Polyhedron_IO/include/CGAL/IO/OBJ_reader.h
  Stream_support/include/CGAL/IO/trace.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/Alpha_expansion_graph_cut.h
  Surface_mesh_segmentation/package_info/Surface_mesh_segmentation/dependencies
  Surface_mesh_skeletonization/include/CGAL/Mean_curvature_flow_skeletonization.h
  Surface_mesh_skeletonization/package_info/Surface_mesh_skeletonization/dependencies
Labels: Pkg::Point_set_processing_3, Tested, cleaning

#3595 Triangulation_2: revert small feature DT2_strict_and_weak_conflict_zone
  Interpolation/include/CGAL/natural_neighbor_coordinates_2.h
  Interpolation/include/CGAL/regular_neighbor_coordinates_2.h
  Triangulation_2/include/CGAL/Delaunay_triangulation_2.h
Labels: Pkg::Interpolation, Pkg::Triangulation_2, Ready to be tested, Tested, cleaning, enhancement

#2938 Triangulation_2: Cleanup of include/CGAL
  Triangulation_2/doc/Triangulation_2/CGAL/Regular_triangulation_euclidean_traits_2.h
  Triangulation_2/doc/Triangulation_2/CGAL/Regular_triangulation_filtered_traits_2.h
  Triangulation_2/doc/Triangulation_2/CGAL/Triangulation_euclidean_traits_2.h
  Triangulation_2/doc/Triangulation_2/CGAL/Weighted_point.h
  Triangulation_2/doc/Triangulation_2/PackageDescription.txt
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
  Triangulation_2/include/CGAL/Distance_2.h
  Triangulation_2/include/CGAL/Regular_triangulation_euclidean_traits_2.h
  Triangulation_2/include/CGAL/Regular_triangulation_filtered_traits_2.h
  Triangulation_2/include/CGAL/Triangulation_2.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Constraint_hierarchy_2.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Triangulation_2_filtered_projection_traits_3.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Triangulation_2_projection_traits_base_3.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Triangulation_line_face_circulator_2.h
  Triangulation_2/include/CGAL/Triangulation_2_filtered_projection_traits_3.h
  Triangulation_2/include/CGAL/Triangulation_2_projection_traits_3.h
  Triangulation_2/include/CGAL/Triangulation_euclidean_traits_2.h
  Triangulation_2/include/CGAL/Triangulation_iterator_adaptator.h
  Triangulation_2/include/CGAL/Trivial_iterator.h
  Triangulation_2/include/CGAL/Weighted_point.h
  Triangulation_2/test/Triangulation_2/include/CGAL/_test_cls_hierarchy_2.h
  Triangulation_2/test/Triangulation_2/test_delaunay_triangulation_proj.cpp
Labels: Pkg::Triangulation_2, Tested, cleaning

#3833 Convex_hull_2: Add an adapter
  Convex_hull_2/doc/Convex_hull_2/CGAL/Convex_hull_traits_adapter_2.h
  Convex_hull_2/doc/Convex_hull_2/CGAL/convex_hull_traits_2.h
  Convex_hull_2/doc/Convex_hull_2/Concepts/ConvexHullTraits_2.h
  Convex_hull_2/doc/Convex_hull_2/Convex_hull_2.txt
  Convex_hull_2/doc/Convex_hull_2/PackageDescription.txt
  Convex_hull_2/doc/Convex_hull_2/examples.txt
  Convex_hull_2/examples/Convex_hull_2/convex_hull_indices_2.cpp
  Convex_hull_2/include/CGAL/Convex_hull_traits_adapter_2.h
  Convex_hull_2/package_info/Convex_hull_2/dependencies
Labels: Pkg::Convex_hull_2, Tested, enhancement

#3867 Maintenance: Update boost in Magritte
  Maintenance/infrastructure/magritte.geometryfactory.com/reference_platforms/x86-64_Darwin-13.0_Apple-clang-5.0_Release-cpp11/CMakeCache.txt
  Maintenance/infrastructure/magritte.geometryfactory.com/reference_platforms/x86-64_Darwin-13.0_Apple-clang-5.0_Release-cpp11/setup
  Maintenance/infrastructure/magritte.geometryfactory.com/reference_platforms/x86-64_Darwin-13.0_Apple-clang-5.0_Release/CMakeCache.txt
  Maintenance/infrastructure/magritte.geometryfactory.com/reference_platforms/x86-64_Darwin-13.0_Apple-clang-5.0_Release/setup
  Maintenance/infrastructure/magritte.geometryfactory.com/reference_platforms/x86-64_Darwin-13.0_Apple-clang-5.1_Release-LEDA-without-GMP/CMakeCache.txt
  Maintenance/infrastructure/magritte.geometryfactory.com/reference_platforms/x86-64_Darwin-13.0_Apple-clang-5.1_Release-LEDA-without-GMP/setup
Labels: Under Testing

#3854 Fix forwarding of projection traits
  Convex_hull_3/include/CGAL/Extreme_points_traits_adapter_3.h
Labels: Pkg::Convex_hull_3, Ready to be tested, Tested, bug

#3849 STL_Extension: Fix Dispatch_output_iterator test
  STL_Extension/include/CGAL/iterator.h
  Scripts/developer_scripts/cgal_check_dependencies.sh
Labels: Pkg::STL_Extension, Tested, bug

#3843 Speed-up polygon soup orientation
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orient_polygon_soup.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/polygon_soup_to_polygon_mesh.h
  Polyhedron/demo/Polyhedron/Plugins/PMP/Orient_soup_plugin.cpp
  Polyhedron/demo/Polyhedron/include/CGAL/IO/read_surf_trianglemesh.h
Labels: Pkg::PMP, Ready to be tested, Tested, enhancement

#3827 Add calls to reserve before creating meshes
  BGL/doc/BGL/Concepts/MutableFaceGraph.h
  BGL/include/CGAL/boost/graph/copy_face_graph.h
  HalfedgeDS/include/CGAL/boost/graph/graph_traits_HalfedgeDS_default.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/polygon_soup_to_polygon_mesh.h
Labels: Pkg::BGL, Pkg::PMP, Ready to be tested, Tested, Under Testing, enhancement, travis issue

#3815 Polyhedron_demo: Fix zoom to Id
  Polyhedron/demo/Polyhedron/include/id_printing.h
Labels: CGAL 3D demo, Ready to be tested, Tested

#3644 Give Eigen a scoring strategy for pivot selection with intervals
  Number_types/include/CGAL/Interval_nt.h
Labels: Pkg::Number_types, Tested, enhancement

#3859 Triangulation_2: Fix Polyline_constraint_hierarchy_2
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
  Triangulation_2/include/CGAL/Polyline_constraint_hierarchy_2.h
  Triangulation_2/test/Triangulation_2/issue_3447.cpp
Labels: Pkg::Triangulation_2, Tested, bug

#3853 CMakeLists.txt: Remove unnecessary include directories
  Boolean_set_operations_2/archive/demo/Boolean_set_operations_2_GraphicsView/CMakeLists.txt
  GraphicsView/demo/Alpha_shapes_2/CMakeLists.txt
  GraphicsView/demo/Apollonius_graph_2/CMakeLists.txt
  GraphicsView/demo/Bounding_volumes/CMakeLists.txt
  GraphicsView/demo/Circular_kernel_2/CMakeLists.txt
  GraphicsView/demo/Generator/CMakeLists.txt
  GraphicsView/demo/L1_Voronoi_diagram_2/CMakeLists.txt
  GraphicsView/demo/Largest_empty_rect_2/CMakeLists.txt
  GraphicsView/demo/Periodic_2_triangulation_2/CMakeLists.txt
  GraphicsView/demo/Periodic_2_triangulation_2/Periodic_2_Delaunay_triangulation_2.cpp
  GraphicsView/demo/Polygon/CMakeLists.txt
  GraphicsView/demo/Segment_Delaunay_graph_2/CMakeLists.txt
  GraphicsView/demo/Segment_Delaunay_graph_Linf_2/CMakeLists.txt
  GraphicsView/demo/Snap_rounding_2/CMakeLists.txt
  GraphicsView/demo/Spatial_searching_2/CMakeLists.txt
  GraphicsView/demo/Stream_lines_2/CMakeLists.txt
  GraphicsView/demo/Stream_lines_2/Stream_lines_2.cpp
  Mesh_2/demo/Mesh_2/CMakeLists.txt
  Periodic_3_triangulation_3/demo/Periodic_3_triangulation_3/CMakeLists.txt
  Periodic_4_hyperbolic_triangulation_2/demo/Periodic_4_hyperbolic_triangulation_2/CMakeLists.txt
  Polyline_simplification_2/demo/Polyline_simplification_2/CMakeLists.txt
  Principal_component_analysis/demo/Principal_component_analysis/CMakeLists.txt
  Surface_mesher/demo/Surface_mesher/CMakeLists.txt
Labels: CMake scripts, Tested, cleaning
