Repository CGAL/cgal, pull requests merged in 2019-10, with the labels that each got.

#4294 Spatial Searching: Fix no lvalue Search_traits_adapter
  Spatial_searching/include/CGAL/Search_traits_adapter.h
Labels: Pkg::Spatial_searching, Under Testing, bug, tested manually on Linux

#4293 Basic viewer bugfix
  GraphicsView/include/CGAL/Buffer_for_vao.h
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
  Linear_cell_complex/include/CGAL/draw_linear_cell_complex.h
  Polyhedron/include/CGAL/draw_polyhedron.h
  Surface_mesh/include/CGAL/draw_surface_mesh.h
Labels: Qt5, Under Testing, bug

#4281 Add a way to define a default endianness
  Installation/include/CGAL/config.h
Labels: Under Testing

#4272 fix Mpfz default constructor causes unreachable code warning in Visual Studio
  Number_types/include/CGAL/Mpzf.h
Labels: Under Testing, warnings

#4292 Remove extra S in macro
  Installation/include/CGAL/config.h
Labels: Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4283 Be more robust to degenerate and almost degenerate faces
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/SDF_calculation.h
Labels: Pkg::Surface_mesh_segmentation, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4282 Fix doc style issue
  Documentation/doc/resources/1.8.13/stylesheet.css
  Documentation/doc/resources/1.8.14/stylesheet.css
  Documentation/doc/resources/1.8.4/stylesheet.css
Labels: Tested, Under Testing, doc bug, rm only: ready for master, trivial

#4269 PMP: Fix doc macro
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/bbox.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/extrude.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_hole.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#3977 SMSP: fix border and robustness issues
  Surface_mesh_shortest_path/benchmark/Surface_mesh_shortest_path/benchmark_shortest_paths.cpp
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/Surface_mesh_shortest_path.h
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/barycentric.h
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/function_objects.h
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/internal/Cone_expansion_event.h
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/internal/Cone_tree.h
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/internal/misc_functions.h
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/CMakeLists.txt
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_1.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_3.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_4.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_5.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_6.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_traits_test.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/check.h
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/data/test_mesh_6.off
Labels: Pkg::Surface_mesh_shortest_path, bug

#4310 Namespaced newell function
  Nef_3/include/CGAL/normal_vector_newell_3.h
Labels: Pkg::Nef_3, Ready to be tested, Under Testing, rm only: ready for master

#4325 Improve item naming
  Polyhedron/demo/Polyhedron/Plugins/Mesh_2/Mesh_2_plugin.cpp
Labels: CGAL 3D demo, Under Testing, cleaning, trivial

#4316 CGAL 3D Demo: Fix nef_polyhedron normals
  Polyhedron/demo/Polyhedron/Scene_nef_polyhedron_item.cpp
Labels: CGAL 3D demo, Under Testing

#4315 Properly canonicalize the result of a subtraction in Mpzf
  Number_types/include/CGAL/Mpzf.h
Labels: Pkg::Number_types, Ready to be tested, Under Testing, bug, known travis false-positive, rm only: ready for release branch

#4314 Apollonius Graph 2: make sampling distance a parameter of the parabola sampling function
  Apollonius_graph_2/include/CGAL/Parabola_segment_2.h
Labels: Pkg::Apollonius_graph_2, Ready to be tested, Under Testing, enhancement, rm only: ready for release branch
