Repository CGAL/cgal, pull requests merged in 2019-08, with the labels that each got.

#4126 PMP: Fix test_pmp_clip
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_clip.cpp
Labels: Pkg::PMP, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux, trivial

#4124 minor fix: add const specifier
  Shape_detection/include/CGAL/Shape_detection/Efficient_RANSAC/Efficient_RANSAC.h
Labels: Pkg::Shape_detection, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4122 Surface_mesh: normals in OBJ Writer
  Stream_support/include/CGAL/IO/File_writer_wavefront.h
  Surface_mesh/include/CGAL/Surface_mesh/IO.h
Labels: Pkg::Surface_mesh, Tested, Under Testing

#4130 Mesh_3: fix protection of 1D features on borders of 3D images
  Mesh_3/include/CGAL/Mesh_3/polylines_to_protect.h
Labels: Pkg::Mesh_3, Tested, Under Testing, bug

#4101 Demo 3D:Diff Between Meshes Plugin
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Diff_between_meshes_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing

#3772 Basic viewer: use compatibility shaders in basic_viewer
  Alpha_shapes_3/demo/Alpha_shapes_3/Viewer.cpp
  Circular_kernel_3/demo/Circular_kernel_3/Viewer.cpp
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Linear_cell_complex/examples/Linear_cell_complex/basic_viewer.h
  Periodic_3_triangulation_3/demo/Periodic_3_triangulation_3/Scene.cpp
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/heat_intensity_shader.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/heat_intensity_shader.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_c3t3.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_c3t3_edges.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_c3t3_spheres.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_instanced.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_no_light_no_selection.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_old_flat.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_plane_two_faces.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_with_light.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_with_texture.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_with_texture.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_with_textured_edges.frag
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_without_light.frag
  Polyhedron/demo/Polyhedron/resources/heat_intensity_shader.frag
  Polyhedron/demo/Polyhedron/resources/shader_flat.frag
  Triangulation_3/demo/Triangulation_3/Viewer.cpp
Labels: CGAL 3D demo, Tested, Under Testing

#4094 PMP: speed improvements for snap.h
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
  Stream_support/include/CGAL/IO/PLY.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, enhancement

#4138 warning: unbalanced grouping commands
  Triangulation/doc/Triangulation/Concepts/TriangulationDataStructure.h
  Triangulation_2/doc/Triangulation_2/CGAL/Triangulation_2.h
Labels: Tested, Under Testing, doc bug

#4129 Fix segfault in `PMP::isotropic_remeshing()`
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Tested, bug, tested manually on Windows

#4150 Triangulation_2: Fix documentation of a typedef
  Triangulation_2/doc/Triangulation_2/CGAL/Constrained_triangulation_plus_2.h
Labels: Pkg::Triangulation_2, Tested, Under Testing, doc bug, rm only: ready for master

#4141 warning: image file name tds_small.png is ambiguous.
  Triangulation/doc/Triangulation/fig/detail.png
  Triangulation_2/doc/Triangulation_2/fig/tds_small.png
  Triangulation_3/doc/Triangulation_3/fig/tds3_small.png
Labels: Tested, Under Testing, doc, rm only: ready for master

#4152 Nef_S2: Fix memory corruption
  Nef_S2/examples/Nef_S2/nef_s2_construction.cpp
  Nef_S2/include/CGAL/Nef_S2/SM_overlayer.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
Labels: Tested, Under Testing, bug, rm only: ready for master

#4156 Header-only: remove -isystem in the testsuite or dev-mode
  Installation/lib/cmake/CGAL/CGALConfig.cmake
Labels: CMake scripts, Tested, Under Testing, bug

#4160 Do not collapse an edge is the placement cannot be computed
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/Detail/Edge_collapse_impl.h
Labels: Pkg::Surface_mesh_simplification, Tested, cleaning

#4167 Demo: Fix warnings if no solver available
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Surface_reconstruction_polygonal_impl.cpp
Labels: CGAL 3D demo, Tested, warnings

#4169 User manual fixes
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
Labels: Pkg::Arrangement_on_surface_2, Tested, doc bug

#4172 PMP: Fix distance range type
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
Labels: Pkg::PMP, Tested, bug, tested manually on Linux

#4173 PSP: fix documentation of PLY IO
  Point_set_processing_3/include/CGAL/IO/read_ply_points.h
  Point_set_processing_3/include/CGAL/IO/write_ply_points.h
Labels: Pkg::Point_set_processing_3, Tested, doc bug

#4171 Fixed_alpha_shape_3: Replace destroyed with swapped in documentation
  Alpha_shapes_3/doc/Alpha_shapes_3/CGAL/Alpha_shape_3.h
  Alpha_shapes_3/doc/Alpha_shapes_3/CGAL/Alpha_shape_cell_base_3.h
  Alpha_shapes_3/doc/Alpha_shapes_3/CGAL/Fixed_alpha_shape_3.h
Labels: Pkg::Alpha_shapes_3, Tested, doc, not yet approved

#4191 Formulas shown as code
  Polygonal_surface_reconstruction/doc/Polygonal_surface_reconstruction/Polygonal_surface_reconstruction.txt
Labels: Tested, doc, doc bug

#4184 Problem with single quote in code span.
  Advancing_front_surface_reconstruction/doc/Advancing_front_surface_reconstruction/Advancing_front_surface_reconstruction.txt
Labels: Tested, doc

#4182 Incorrect lines in bib file
  Documentation/doc/biblio/cgal_manual.bib
Labels: Tested, doc, doc bug

#4187 Spatial Searching: Search Traits Adapter without lvalue point map
  Spatial_searching/doc/Spatial_searching/CGAL/Search_traits_adapter.h
  Spatial_searching/include/CGAL/Search_traits_adapter.h
Labels: Pkg::Spatial_searching, Tested, enhancement, tested manually on Linux

#4178 `PMP::isotropic_remeshing()` - prevent creating non-manifold configurations
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Ready to be tested, Tested, bug, tested manually on Windows

#4157 Allow Mesh_3 to cope with a 2D initial triangulation
  CMakeLists.txt
  Installation/CMakeLists.txt
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/include/CGAL/Mesh_3/Mesh_complex_3_in_triangulation_3_base.h
  Mesh_3/include/CGAL/Mesh_3/Mesher_3.h
  Mesh_3/include/CGAL/make_mesh_3.h
  Periodic_3_mesh_3/package_info/Periodic_3_mesh_3/dependencies
  Periodic_4_hyperbolic_triangulation_2/demo/Periodic_4_hyperbolic_triangulation_2/CMakeLists.txt
Labels: Pkg::Mesh_3, Tested, bug

#4137 PMP: Fix improper halfedge incidence state in post non-manifold vertex duplication mesh (4.14)
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
Labels: Pkg::PMP, Ready to be tested, Tested, bug

#4176 PMP: Fix boundary cycle when non manifold vertices exist in the cycle (4.14)
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
Labels: Pkg::PMP, Ready to be tested, Tested, bug

#4194 Demo: Improve affine transform on point sets
  Polyhedron/demo/Polyhedron/Plugins/PCA/Affine_transform_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, enhancement, tested manually on Linux

#4193 Kernel_23: Fix documentation of functor `ConstructLiftedPoint_3`
  Kernel_23/doc/Kernel_23/Concepts/FunctionObjectConcepts.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, doc bug
