Repository CGAL/cgal, pull requests merged in 2019-09, with the labels that each got.

#4202 Using links to local disks
  Documentation/doc/Documentation/Installation.txt
Labels: doc, enhancement

#4207 Polyhedron Demo: Fix Split Polyhedra
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4211 available only if c++11 is available
  BGL/include/CGAL/boost/graph/Named_function_parameters.h
Labels: Pkg::BGL, bug

#4128 PMP: Fix ctestsuite
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test.cmake
  Circular_kernel_2/test/Circular_kernel_2/CMakeLists.txt
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/CMakeLists.txt
  Installation/CMakeLists.txt
  Installation/cmake/modules/CGAL_add_test.cmake
  Installation/cmake/modules/CGAL_enable_end_of_configuration_hook.cmake
  Installation/src/CMakeLists.txt
  Installation/test/Installation/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Polyhedron/demo/Polyhedron/polyhedron_demo_macros.cmake
  Polyline_simplification_2/demo/Polyline_simplification_2/CMakeLists.txt
Labels: Pkg::PMP, Ready to be tested, Under Testing, bug

#4217 Hyperbolic_triangulation_2: Fix demo
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/CMakeLists.txt
Labels: CMake scripts, Pkg::Hyperbolic_triangulation_2, bug, trivial

#4221 Use iterator traits
  Point_set_processing_3/include/CGAL/mst_orient_normals.h
Labels: Pkg::Point_set_processing_3, Under Testing, bug, trivial

#4218 CGAL 3D Demo: Some more fixes
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Edit_polyhedron_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Viewer.cpp
Labels: CGAL 3D demo, Under Testing, bug

#4225 Fixes for 4.14
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
  Triangulation_2/test/Triangulation_2/issue_4010.cpp
Labels: Pkg::Triangulation_2, bug

#4242 Demo/classif: Fix unresized ranges
  Polyhedron/demo/Polyhedron/Plugins/Classification/Point_set_item_classification.h
Labels: CGAL 3D demo, bug, tested manually on Linux

#4256 Fix CGAL_TOOLSET for latest visual compilers
  Documentation/doc/Documentation/Installation.txt
  Installation/cmake/modules/CGAL_GeneratorSpecificSettings.cmake
  Installation/include/CGAL/auto_link/auto_link.h
Labels: CMake scripts, Under Testing, bug

#4241 Classification: Fix OpenCV includes
  .travis/install.sh
  Classification/include/CGAL/Classification/OpenCV_random_forest_classifier.h
Labels: Pkg::Classification, Under Testing, bug, tested manually on Linux

#4252 FindTBB.cmake: read both TBBROOT and TBB_ROOT
  Installation/cmake/modules/FindTBB.cmake
Labels: CMake scripts, Under Testing, bug, rm only: release blocker
