Repository CGAL/cgal, pull requests merged in 2020-02, with the labels that each got.

#4504 Trivial demo fix
  Polyhedron/demo/Polyhedron/Plugins/PMP/Repair_polyhedron_plugin.cpp
Labels: CGAL 3D demo, bug, rm only: ready for master

#4472 Fix iterator type required
  Convex_hull_2/doc/Convex_hull_2/CGAL/ch_jarvis.h
Labels: Pkg::Convex_hull_2, doc bug, rm only: ready for master

#4450 Use `CGAL_PI` where relevant
  Barycentric_coordinates_2/benchmark/Barycentric_coordinates_2/Discrete_harmonic_coordinates/DH_speed_test_100_vertices.cpp
  Barycentric_coordinates_2/benchmark/Barycentric_coordinates_2/Mean_value_coordinates/MV_speed_test_100_vertices.cpp
  Barycentric_coordinates_2/benchmark/Barycentric_coordinates_2/Wachspress_coordinates/WP_speed_test_100_vertices.cpp
  Generator/include/CGAL/point_generators_d.h
  Optimal_transportation_reconstruction_2/demo/Optimal_transportation_reconstruction_2/scene.h
  Point_set_processing_3/include/CGAL/bilateral_smooth_point_set.h
  Ridges_3/include/CGAL/Umbilics.h
  Snap_rounding_2/include/CGAL/Snap_rounding_kd_2.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_builder_2_impl.h
Labels: cleaning, rm only: ready for master

#4439 Add to the user manual example a parameter described in the text
  Advancing_front_surface_reconstruction/examples/Advancing_front_surface_reconstruction/reconstruction_fct.cpp
Labels: Pkg::Advancing_front_surface_reconstruction, enhancement, rm only: ready for master

#4419 Improve the instructions
  INSTALL.md
Labels: doc, rm only: ready for master

#4417 Remove call to boost in PMP::connected_components
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/connected_components.h
Labels: Pkg::PMP, cleaning, rm only: ready for master

#4523 [Surface Mesh] Fix PLY writing by reindexing vertices
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Pkg::Surface_mesh, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, tested manually on Linux

#4521 Fix CGAL_Qt5_FOUND issue
  GraphicsView/src/CGAL_Qt5/CMakeLists.txt
  Installation/CMakeLists.txt
Labels: Qt5, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4524 Handle the case of interior vertex
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4501 Fix OFF reader
  Polyhedron/demo/Polyhedron/Plugins/IO/OFF_io_plugin.cpp
  Polyhedron_IO/include/CGAL/IO/OFF_reader.h
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4506 Improve clip doc and tests
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_clip.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, doc, enhancement, rm only: ready for master, rm only: ready for release branch

#4534 Surface_mesh_segmentation: Fix citation (wrong case)
  Surface_mesh_segmentation/include/CGAL/mesh_segmentation.h
Labels: Tested, doc bug, trivial
