Repository CGAL/cgal, pull requests merged in 2020-10, with the labels that each got.

#5006 Windows, FPU.h: replace `_control_fp` by SSE2 intrisics
  Number_types/include/CGAL/FPU.h
Labels: Pkg::Number_types, Ready to be tested, Tested, Under Testing, enhancement, speed, tested manually on Windows

#5034 Fix some warnings
  Intersections_2/include/CGAL/Intersections_2/Line_2_Line_2.h
  Intersections_2/include/CGAL/Intersections_2/Line_2_Ray_2.h
  Intersections_2/include/CGAL/Intersections_2/Segment_2_Segment_2.h
  Intersections_2/include/CGAL/Intersections_2/internal/Straight_2.h
  Kernel_23/examples/Kernel_23/MyPointC2.h
  Triangulation_2/include/CGAL/Triangulation_2.h
Labels: Ready to be tested, Tested, Under Testing, warnings

#5031 Nef_2: Fix a warning in an debug code
  Nef_2/include/CGAL/Nef_2/debug.h
Labels: Pkg::Nef_2, Ready to be tested, Tested, Under Testing, warnings

#5032 Fix a warning
  Classification/examples/Classification/gis_tutorial_example.cpp
Labels: Pkg::Classification, Ready to be tested, Tested, Under Testing, warnings

#5028 BGL-Minor_doc_fix
  BGL/doc/BGL/NamedParameters.txt
Labels: Ready to be tested, Tested, Under Testing, doc

#5023 Use property map in std::nth_element call
  Point_set_processing_3/include/CGAL/remove_outliers.h
  Point_set_processing_3/test/Point_set_processing_3/remove_outliers_test.cpp
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, Under Testing, bug

#5036 Basic_viewer: Minor fixes
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing

#5026 Fix errors and warnings for C++20
  Periodic_3_triangulation_3/include/CGAL/Periodic_3_triangulation_hierarchy_3.h
  Ridges_3/test/Ridges_3/PolyhedralSurf.h
Labels: C++20, Ready to be tested, Tested, Under Testing, warnings

#5024 Installation - matching bug is fixed in MSVC >= 2015
  Arrangement_on_surface_2/include/CGAL/Arr_circular_line_arc_traits_2.h
  Circular_kernel_2/include/CGAL/Circular_kernel_2/function_objects_polynomial_circular.h
  Circular_kernel_2/include/CGAL/Filtered_bbox_circular_kernel_2/bbox_filtered_predicates.h
  Circular_kernel_3/include/CGAL/Circular_kernel_3/function_objects_polynomial_sphere.h
  Filtered_kernel/include/CGAL/Lazy_kernel.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Angle_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Compare_squared_radius_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Compare_weighted_squared_radius_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Compare_x_2.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Compare_y_2.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Do_intersect_2.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Do_intersect_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Equal_2.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Equal_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Is_degenerate_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Orientation_2.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Orientation_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Power_side_of_oriented_power_sphere_3.h
  Installation/include/CGAL/MSVC_compiler_config.h
  Installation/include/CGAL/config.h
  Kernel_23/include/CGAL/enum.h
  Periodic_2_triangulation_2/include/CGAL/internal/Static_filters/Periodic_2_orientation_2.h
  Periodic_3_triangulation_3/include/CGAL/internal/Static_filters/Periodic_3_orientation_3.h
  Periodic_4_hyperbolic_triangulation_2/include/CGAL/Periodic_4_hyperbolic_Delaunay_triangulation_traits_2.h
  STL_Extension/include/CGAL/Uncertain.h
  Triangulation_3/include/CGAL/Robust_weighted_circumcenter_filtered_traits_3.h
Labels: CGAL config, Ready to be tested, Tested, Under Testing, cleaning

#5004 Fix eating extra whitespace in CORE::BigRat
  CGAL_Core/include/CGAL/CORE/Gmp_impl.h
Labels: Pkg::CGAL_Core, Ready to be tested, Tested, Under Testing, bug

#4941 Bounding Volumes: Fix and improve the documentation
  Bounding_volumes/doc/Bounding_volumes/Bounding_volumes.txt
  Bounding_volumes/doc/Bounding_volumes/CGAL/Approximate_min_ellipsoid_d.h
  Bounding_volumes/doc/Bounding_volumes/CGAL/Min_annulus_d.h
  Bounding_volumes/doc/Bounding_volumes/CGAL/Min_circle_2.h
  Bounding_volumes/doc/Bounding_volumes/CGAL/Min_sphere_d.h
  Bounding_volumes/doc/Bounding_volumes/CGAL/Min_sphere_of_spheres_d.h
  Bounding_volumes/doc/Bounding_volumes/CGAL/min_quadrilateral_2.h
  Bounding_volumes/doc/Bounding_volumes/Concepts/MinQuadrilateralTraits_2.h
  Bounding_volumes/doc/Bounding_volumes/Concepts/MinSphereOfSpheresTraits.h
  Bounding_volumes/doc/Bounding_volumes/Concepts/RectangularPCenterTraits_2.h
  Bounding_volumes/doc/Bounding_volumes/examples.txt
  Bounding_volumes/examples/Min_circle_2/min_circle_2.cpp
  Bounding_volumes/examples/Min_circle_2/min_circle_homogeneous_2.cpp
  Bounding_volumes/examples/Min_sphere_d/min_sphere_3.cpp
  Bounding_volumes/examples/Min_sphere_d/min_sphere_d.cpp
  Bounding_volumes/examples/Min_sphere_d/min_sphere_homogeneous_3.cpp
  Bounding_volumes/examples/Min_sphere_of_spheres_d/min_sphere_of_spheres_d_2.cpp
  Bounding_volumes/examples/Min_sphere_of_spheres_d/min_sphere_of_spheres_d_3.cpp
  Bounding_volumes/examples/Min_sphere_of_spheres_d/min_sphere_of_spheres_d_d.cpp
Labels: Pkg::Bounding_volumes, Ready to be tested, Tested, Under Testing, doc bug

#4931 Cosmetic cleaning
  BGL/include/CGAL/boost/graph/alpha_expansion_graphcut.h
  BGL/include/CGAL/boost/graph/dijkstra_shortest_paths.h
  BGL/include/CGAL/boost/graph/dijkstra_shortest_paths.hpp
  BGL/include/CGAL/boost/graph/named_params_helper.h
  STL_Extension/include/CGAL/Cache.h
  Scale_space_reconstruction_3/include/CGAL/Scale_space_reconstruction_3/internal/Auto_count.h
  Subdivision_method_3/include/CGAL/Subdivision_method_3/internal/Euler_extensions.h
  Subdivision_method_3/include/CGAL/Subdivision_method_3/internal/subdivision_hosts_impl_3.h
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_hosts_3.h
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_masks_3.h
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_methods_3.h
  Subdivision_method_3/include/CGAL/subdivision_method_3.h
  Surface_mesh/include/CGAL/Surface_mesh/IO.h
  Surface_mesh/include/CGAL/Surface_mesh/Properties.h
  Surface_mesh_segmentation/include/CGAL/boost/graph/Alpha_expansion_MaxFlow_tag.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/AABB_traits.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/Disk_samplers.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/Expectation_maximization.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/Filters.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/K_means_clustering.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/SDF_calculation.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/Surface_mesh_segmentation.h
  Surface_mesh_segmentation/include/CGAL/mesh_segmentation.h
  Surface_mesher/include/CGAL/IO/facets_in_complex_2_to_triangle_mesh.h
Labels: Ready to be tested, Tested, Under Testing, cleaning

#4892 Mesh_3: now uses tbb:task_group instead of tbb::task (deprecated)
  Mesh_3/include/CGAL/Mesh_3/Mesh_global_optimizer.h
  Mesh_3/include/CGAL/Mesh_3/Mesher_3.h
  Mesh_3/include/CGAL/Mesh_3/Mesher_level.h
  Mesh_3/include/CGAL/Mesh_3/Refine_facets_3.h
  Mesh_3/include/CGAL/Mesh_3/Sliver_perturber.h
  Mesh_3/include/CGAL/Mesh_3/Slivers_exuder.h
  Mesh_3/include/CGAL/Mesh_3/Worksharing_data_structures.h
  Mesh_3/include/CGAL/Meshes/Filtered_multimap_container.h
Labels: Parallel_tag, Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, warnings

#4862 3D Demo: Display Surface_mesh properties
  Polyhedron/demo/Polyhedron/Plugins/Camera_position/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Display/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Display/Display_property.ui
  Polyhedron/demo/Polyhedron/Plugins/Display/Display_property_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/IO/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/IO/PLY_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing

#4845 Polyhedron cpp11 range-based loops
  Polyhedron/doc/Polyhedron/CGAL/Polyhedron_3.h
  Polyhedron/include/CGAL/Polyhedron_3.h
  Polyhedron/test/Polyhedron/test_polyhedron_range_based_loops.cpp
Labels: Modern C++ (C++11 and later), Pkg::Polyhedron, Ready to be tested, Tested, Under Testing

#4811 Polyhedron demo: fixes and features
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/Camera_position/Camera_positions_list.cpp
  Polyhedron/demo/Polyhedron/Plugins/Camera_position/Camera_positions_list.h
  Polyhedron/demo/Polyhedron/Plugins/Camera_position/Camera_positions_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/Repair_polyhedron_plugin.cpp
  Polyhedron/demo/Polyhedron/Polyhedron_demo_plugin_helper.cpp
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene.h
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.h
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
  Polyhedron/demo/Polyhedron/TextRenderer.cpp
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Polyhedron/demo/Polyhedron/Viewer.h
  Three/include/CGAL/Three/Scene_draw_interface.h
  Three/include/CGAL/Three/Scene_print_item_interface.h
  Three/include/CGAL/Three/TextRenderer.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing

#4792 Reduce size of symbols (and debug infos)
  Mesh_3/include/CGAL/Compact_mesh_cell_base_3.h
  Mesh_3/include/CGAL/Mesh_3/io_signature.h
  Mesh_3/include/CGAL/Mesh_triangulation_3.h
  Mesh_3/include/CGAL/Mesh_vertex_base_3.h
  Mesh_3/include/CGAL/internal/Mesh_3/indices_management.h
  Mesh_3/test/Mesh_3/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_rib_exporter_plugin.cpp
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, enhancement

#4781 Add ITT support in Mesh_3
  Installation/cmake/modules/FindITT.cmake
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/examples/Mesh_3/mesh_implicit_domains.cpp
  Mesh_3/include/CGAL/Mesh_3/Mesher_3.h
  Mesh_3/test/Mesh_3/CMakeLists.txt
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, enhancement

#4761 GraphicsView: Regular_triangulation_2 enhancements
  GraphicsView/demo/Triangulation_2/Regular_triangulation_2.cpp
  GraphicsView/demo/Triangulation_2/TriangulationPointInputAndConflictZone.h
  GraphicsView/include/CGAL/Qt/GraphicsViewCircleInput.h
Labels: Ready to be tested, Tested, Under Testing, enhancement, tested manually on Linux, tested manually on Windows

#4738 Add a constuctor with an empty selection
  BGL/include/CGAL/boost/graph/Face_filtered_graph.h
  Surface_mesh_segmentation/examples/Surface_mesh_segmentation/extract_segmentation_into_mesh_example.cpp
Labels: Pkg::BGL, Ready to be tested, Tested, Under Testing, enhancement

#4728 Clean in connected components
  BGL/examples/BGL_LCC/normals_lcc.cpp
  BGL/examples/BGL_polyhedron_3/normals.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/connected_components.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/manifoldness.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/random_perturbation.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/smooth_mesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/smooth_shape.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/connected_component_polyhedron.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Scene_facegraph_item_k_ring_selection.h
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/include/CGAL/boost/graph/properties_Polyhedron_3_features.h
  Property_map/include/CGAL/property_map.h
  Surface_mesh/include/CGAL/boost/graph/properties_Surface_mesh_features.h
Labels: Pkg::PMP, Pkg::Property_map, Ready to be tested, Tested, Under Testing, cleaning, enhancement

#4869 Add a testsuite for CMake
  .travis/build_package.sh
  Installation/cmake/modules/CGAL_Qt5_moc_and_resource_files.cmake
  Installation/test/Installation/CMakeLists.txt
  Installation/test/Installation/cgal_test_with_cmake
  Installation/test/Installation/test_configuration.cmake.in
  Installation/test/Installation/test_configuration.cpp
  Installation/test/Installation/test_configuration_qt5.cmake.in
  Installation/test/Installation/test_configuration_qt5.cpp
  Installation/test/Installation/test_use_h.cpp
  Scripts/developer_scripts/autotest_cgal
Labels: CMake scripts, Ready to be tested, Tested, Under Testing, tested manually on Linux

#4715 BGL: Add a function to check if add_face() can be called successfully
  BGL/include/CGAL/boost/graph/Euler_operations.h
  BGL/test/BGL/CMakeLists.txt
  BGL/test/BGL/test_test_face.cpp
  Installation/CHANGES.md
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Pkg::BGL, Ready to be tested, Tested, Under Testing, accepted small feature, small feature

#3268 PMP::triangulate_faces() Add a visitor that allows to map each triangle to its original face
  BGL/include/CGAL/boost/graph/named_params_helper.h
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/test/BGL/test_cgal_bgl_named_params.cpp
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Concepts/PMPTriangulateFaceVisitor.h
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/examples.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/triangulate_faces_split_visitor_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_faces.h
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/edge_collapse.h
  Tetrahedral_remeshing/include/CGAL/tetrahedral_remeshing.h
Labels: Pkg::PMP, Pre-approved, Ready to be tested, Tested, Under Testing, enhancement, not yet approved, small feature

#4976 Tetrahedral Remeshing - speedup
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/flip_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/smooth_vertices.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_adaptive_remeshing_impl.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, Under Testing, enhancement, speed

#5029 Documentation : Trigger on build:xxx
  .github/workflows/build_doc.yml
Labels: doc

#5052 Fixes for warnings in 5.1
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/flip_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/smooth_vertices.h
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5048 Remove non-necessary include directives bringing new dependences
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5045 Add missing overload
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/polygon_soup_to_polygon_mesh.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5012 PMP: Degeneracy removal fixes
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/shape_predicates.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_repair_degeneracies.cpp
Labels: Master Version of Release Branch PR, Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5066 Fix File_write_OFF.h error
  Stream_support/include/CGAL/IO/File_writer_OFF.h
Labels: Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5053 Warning Fixes in master
  Bounding_volumes/doc/Bounding_volumes/CGAL/Min_sphere_d.h
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master, warnings

#5042 Viewer zoom to rectangle
  GraphicsView/include/CGAL/Qt/camera_impl.h
  GraphicsView/include/CGAL/Qt/manipulatedCameraFrame_impl.h
  GraphicsView/include/CGAL/Qt/manipulatedFrame_impl.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  GraphicsView/include/CGAL/Qt/viewer_actions.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5051 Warnings fixes for 5.0
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5011 Degeneracy removal: fix removing upcoming elements while iterating
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/remove_degeneracies_test.cpp
Labels: Pkg::PMP, Ready to be tested, bug, rm only: ready for master, rm only: ready for release branch

#4995 PCA: Add validity test and fix several bugs
  Principal_component_analysis/include/CGAL/PCA_util_Eigen.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_rectangles_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_segments_2.h
  Principal_component_analysis/test/Principal_component_analysis/test_validity.cpp
Labels: Pkg::Principal_component_analysis, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#4712 PMP: Generalize some corefinement code
  Polygon_mesh_processing/examples/Polygon_mesh_processing/corefinement_consecutive_bool_op.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Generic_clip_output_builder.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Visitor.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersect_triangle_and_segment_3.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_callbacks.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_nodes.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_of_coplanar_triangles_3.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/predicates.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/intersection.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5064 Polyhedron_demo : Fix Edit_box->export_to_facegraph()
  Polyhedron/demo/Polyhedron/Plugins/PCA/Edit_box_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5022 Intersections_3 - fix do_intersect(Plane_3, Plane_3, Plane_3)
  Filtered_kernel/include/CGAL/internal/Static_filters/Do_intersect_3.h
  Intersections_3/include/CGAL/Intersections_3/internal/intersection_3_1_impl.h
  Intersections_3/test/Intersections_3/test_intersections_3.cpp
  Kernel_23/doc/Kernel_23/CGAL/intersections.h
Labels: Pkg::Kernel_23, Ready to be tested, bug, doc bug, rm only: ready for master, rm only: ready for release branch

#5069 Polyhedron_demo: Merge hole_filling and hole_filling_polylines plugins
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/Hole_filling_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Hole_filling_polyline_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5062 Fix move vertex on the boundary
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5058 Intersections_3 - fix do_intersect(Plane_3, Plane_3, Plane_3) in master
  Intersections_3/include/CGAL/Intersections_3/internal/intersection_3_1_impl.h
  Intersections_3/test/Intersections_3/test_intersections_3.cpp
  Kernel_23/doc/Kernel_23/CGAL/intersections.h
Labels: Master Version of Release Branch PR, Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5057 Polyhedron demo: Fix the scene scaling
  Polyhedron/demo/Polyhedron/Viewer.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4876 Improvements to Basic_viewer
  BGL/include/CGAL/draw_face_graph.h
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
  Polyhedron/include/CGAL/draw_polyhedron.h
  Property_map/include/CGAL/Dynamic_property_map.h
  Surface_mesh/include/CGAL/draw_surface_mesh.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#4729 PMP: Add local versions of `stitch_borders` and `stitch_boundary_cycles`
  Installation/CHANGES.md
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_stitching/complex_hole.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_stitching/pinched.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_stitching.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, accepted small feature, enhancement, rm only: ready for master, small feature

#5070 PMP: Remove overload of non-existent function
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5060 Defined CGAL_CXX20 and replaced [=] with [this] for C++ 20
  Installation/include/CGAL/config.h
  Polyhedron/demo/Polyhedron/MainWindow.cpp
Labels: Modern C++ (C++11 and later), Pkg::Polyhedron, Ready to be tested, Tested, Under Testing

#5083 Kernel_23: Fix affine transformations of weighted points
  Kernel_23/include/CGAL/Weighted_point_2.h
  Kernel_23/include/CGAL/Weighted_point_3.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_cls_aff_transformation_2.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_cls_aff_transformation_3.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, bug

#5076 Triangulation_2: improve CDT_plus_2
  Triangulation_2/include/CGAL/Constrained_triangulation_2.h
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
  Triangulation_2/test/Triangulation_2/issue_5080.cpp
Labels: Pkg::Triangulation_2, Ready to be tested, Tested, bug, tested manually on Linux

#5088 Accomodate duplicated points in the input mesh
  Surface_mesh_skeletonization/include/CGAL/Mean_curvature_flow_skeletonization.h
Labels: Pkg::Surface_mesh_skeleton, Ready to be tested, Tested, bug

#5078 Use ctest in travis
  .travis/build_package.sh
  Installation/test/Installation/CMakeLists.txt
Labels: Ready to be tested, Tested, Testsuite, Under Testing, bug, travis issue

#4923 fix edge_to_faces key in Collect_face_bbox_per_edge_bbox
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_callbacks.h
Labels: Pkg::PMP, Ready to be tested, Tested, bug, waiting for answer

#5081 Rename the define DEBUG to CGAL_GIF_IMPL_DEBUG
  CGAL_ImageIO/include/CGAL/ImageIO/gif_impl.h
Labels: Pkg::CGAL_ImageIO, Ready to be tested, Tested, bug

#4693 Surface_mesh: Add switch for enabling/disabling Recycling of Garbage
  Installation/CHANGES.md
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
  Surface_mesh/test/Surface_mesh/sm_remove.cpp
Labels: Pkg::Surface_mesh, Previously tested, Ready to be tested, Tested, accepted small feature, enhancement, small feature

#5101 Fix Travis
  .travis/build_package.sh
Labels: bug, travis issue

#5106 CI : Message for the doc
  .github/workflows/build_doc.yml
Labels: rm only: ready for master, trivial

#5105 Polyhedron demo: Update Mouse and Key Bindings
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Polyhedron/demo/Polyhedron/Viewer.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master, trivial

#5095 Fix define clashes with dirent.h which is included by some boost headers
  CGAL_ImageIO/include/CGAL/ImageIO/analyze_impl.h
Labels: Ready to be tested, Tested, Under Testing, known travis false-positive, rm only: ready for master

#5082 Three_documentation: Fix warning
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene.h
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.h
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Polyhedron/demo/Polyhedron/Viewer.h
  Three/include/CGAL/Three/Scene_draw_interface.h
  Three/include/CGAL/Three/Scene_print_item_interface.h
  Three/include/CGAL/Three/TextRenderer.h
  Three/include/CGAL/Three/Viewer_interface.h
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5077 Add const qualifier for getters in MCF skeletonization
  Surface_mesh_skeletonization/include/CGAL/Mean_curvature_flow_skeletonization.h
Labels: Pkg::Surface_mesh_skeleton, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4924 Surface Sweep + Arr Overlay: Init with indexed edges
  Arrangement_on_surface_2/include/CGAL/Arr_dcel_base.h
  Arrangement_on_surface_2/include/CGAL/Arr_overlay_2.h
  Arrangement_on_surface_2/include/CGAL/Surface_sweep_2/Arr_overlay_traits_2.h
  Surface_sweep_2/include/CGAL/No_intersection_surface_sweep_2.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/No_intersection_surface_sweep_2_impl.h
Labels: Pkg::Arrangement_on_surface_2, Pkg::Surface_sweep_2, Ready to be tested, Tested, Under Testing, enhancement

#5118 CI auto doc : filter
  .github/workflows/build_doc.yml
  .github/workflows/delete_doc.yml
Labels: Infrastructure

#5120 fix warnings
  BGL/doc/BGL/Concepts/FaceGraph.h
  BGL/doc/BGL/Concepts/HalfedgeGraph.h
  Surface_mesh_approximation/include/CGAL/Variational_shape_approximation.h
Labels: Tested, doc bug

#5114 Fix CTest issues with CGAL_Qt5
  Installation/cmake/modules/CGAL_CreateSingleSourceCGALProgram.cmake
  Installation/cmake/modules/CGAL_add_test.cmake
Labels: CMake scripts, Infrastructure, Ready to be tested, Testsuite, Under Testing, bug

#5115 Fix return type
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_stitching.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5109 Mesh 3: fix add_features
  Mesh_3/include/CGAL/Polyhedral_mesh_domain_with_features_3.h
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_function.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5099 Fix arrangement demo compiling without CORE
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/ArrangementDemoWindow.cpp
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/ArrangementDemoWindow.h
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/RationalTypes.h
Labels: Pkg::Arrangement_on_surface_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5035 Poisson Reconstruction: Fix thread safety
  Poisson_surface_reconstruction_3/include/CGAL/Poisson_reconstruction_function.h
  Poisson_surface_reconstruction_3/test/Poisson_surface_reconstruction_3/CMakeLists.txt
  Poisson_surface_reconstruction_3/test/Poisson_surface_reconstruction_3/poisson_and_parallel_mesh_3.cpp
Labels: Pkg::Poisson_surface_reconstruction_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, thread-safety

#5098 Allow Epec in Refine_edges_with_clusters
  Mesh_2/include/CGAL/Mesh_2/Refine_edges_with_clusters.h
Labels: Pkg::Mesh_2, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5047 Add a way to not remove properties after clearing the mesh
  Installation/CHANGES.md
  Surface_mesh/doc/Surface_mesh/Surface_mesh.txt
  Surface_mesh/include/CGAL/Surface_mesh/Properties.h
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
  Surface_mesh/test/Surface_mesh/sm_remove.cpp
Labels: Pkg::Surface_mesh, Ready to be tested, Tested, Under Testing, accepted small feature, enhancement, rm only: ready for master, small feature

#4885 SMP: Iterative Authalic Parameterization
  BGL/include/CGAL/boost/graph/Seam_mesh.h
  BGL/include/CGAL/boost/graph/internal/initialized_index_maps_helpers.h
  Documentation/doc/biblio/cgal_manual.bib
  Installation/CHANGES.md
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Parameterization_plugin.cpp
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/Concepts/Parameterizer_3.h
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/Doxyfile.in
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/PackageDescription.txt
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/Surface_mesh_parameterization.txt
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/examples.txt
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/fig/iterative_authalic.jpg
  Surface_mesh_parameterization/examples/Surface_mesh_parameterization/CMakeLists.txt
  Surface_mesh_parameterization/examples/Surface_mesh_parameterization/iterative_authalic_parameterizer.cpp
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/ARAP_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Barycentric_mapping_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Circular_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Discrete_authalic_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Discrete_conformal_map_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Fixed_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Iterative_authalic_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/LSCM_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/MVC_post_processor_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Mean_value_coordinates_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Orbifold_Tutte_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Square_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Two_vertices_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/internal/Containers_filler.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/internal/validity.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/measure_distortion.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/orbifold_shortest_path.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/parameterize.h
  Surface_mesh_parameterization/include/CGAL/surface_mesh_parameterization.h
  Surface_mesh_parameterization/test/Surface_mesh_parameterization/extensive_parameterization_test.cpp
Labels: CLA/CAA OK, Pkg::Surface_mesh_parametrization, Ready to be tested, Tested, Under Testing, accepted small feature, small feature

#4895 Surface Sweep 2: Use one (small) unordered set per curve
  STL_Extension/include/CGAL/Small_unordered_set.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Curve_pair.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Default_subcurve.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Random_access_output_iterator.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Surface_sweep_2_impl.h
Labels: Pkg::Surface_sweep_2, Tested, enhancement

#5097 PMP isotropic remeshing - fix collapsibilty check
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Tested, Under Testing, bug, known travis false-positive, rm only: ready for master, rm only: ready for release branch

#5122 Fix locate_with_AABB_tree(Point, ..._) with default point pmap
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/locate.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5125 Testsuite: Filter labels in results collection
  Testsuite/test/parse-ctest-dashboard-xml.py
Labels: Ready to be tested, Tested, Testsuite, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5103 Missing search glass in search box of the documentation
  Documentation/doc/CMakeLists.txt
  Documentation/doc/resources/1.8.20/BaseDoxyfile.in
  Documentation/doc/resources/1.8.20/CGAL_mathjax.js
  Documentation/doc/resources/1.8.20/DoxygenLayout.xml
  Documentation/doc/resources/1.8.20/DoxygenLayoutPackage.xml
  Documentation/doc/resources/1.8.20/cgal_stylesheet.css
  Documentation/doc/resources/1.8.20/footer.html
  Documentation/doc/resources/1.8.20/ftv2cl.png
  Documentation/doc/resources/1.8.20/ftv2cpt.png
  Documentation/doc/resources/1.8.20/ftv2ns.png
  Documentation/doc/resources/1.8.20/hacks.js
  Documentation/doc/resources/1.8.20/header.html
  Documentation/doc/resources/1.8.20/header_package.html
  Documentation/doc/resources/1.8.20/menu_version.js
  Documentation/doc/resources/1.8.20/stylesheet.css
Labels: Ready to be tested, Tested, Under Testing, doc, rm only: ready for master
