Repository CGAL/cgal, pull requests merged in 2020-12, with the labels that each got.

#5208 Shape_detection: Fix warnings.
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_polygon_mesh/Least_squares_plane_fit_region.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_polygon_mesh/One_ring_neighbor_query.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/internal/utils.h
Labels: Pkg::Shape_detection, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5228 PMP: Add missing header include (PM to PS)
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/polygon_mesh_to_polygon_soup.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5139 Installation: Doc and license-less license clarifications
  Documentation/doc/Documentation/Getting_started.txt
  Documentation/doc/Documentation/License.txt
  Documentation/doc/Documentation/Preliminaries.txt
  Installation/CMakeLists.txt
  Installation/LICENSE
  Installation/LICENSE.FREE_USE
  LICENSE.md
Labels: Ready to be tested, Tested, Under Testing, doc, enhancement, rm only: ready for master, rm only: ready for release branch

#5169 Fix use of uninitialized variable in SM_overlayer.h
  Nef_S2/include/CGAL/Nef_S2/SM_overlayer.h
Labels: Pkg::Nef_S2, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5213 SLS: Fix computation of degenerate trisegment's seed
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_builder_2_impl.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_builder_traits_2_aux.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_builder_2.h
  Straight_skeleton_2/include/CGAL/Trisegment_2.h
  Straight_skeleton_2/include/CGAL/constructions/Straight_skeleton_cons_ftC2.h
  Straight_skeleton_2/include/CGAL/predicates/Straight_skeleton_pred_ftC2.h
  Straight_skeleton_2/test/Straight_skeleton_2/data/degenerate29.poly
  Straight_skeleton_2/test/Straight_skeleton_2/data/issue5177.poly
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_simple.cpp
Labels: Pkg::Straight_skeleton_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5232 Small correction (text / missing bracket)
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Concepts/ArrangementXMonotoneTraits_2.h
Labels: Ready to be tested, Tested, Under Testing, doc, doc bug, rm only: ready for master

#5215 Fix dereference after null check in Nef_3/Vertex.h
  Nef_3/include/CGAL/Nef_3/Vertex.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5219 Double defined ID seg_coord_global
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/Segment_coordinates_2.h
Labels: Pkg::Barycentric_coordinates_2, Ready to be tested, Tested, Under Testing, doc, enhancement, rm only: ready for master

#5220 Typo in list of documentation typedefs
  Shape_detection/doc/Shape_detection/Concepts/EfficientRANSACTraits.h
Labels: Pkg::Shape_detection, Ready to be tested, Tested, Under Testing, doc, doc bug, rm only: ready for master, trivial

#5225 Missing \cgalParamEnd
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, doc, doc bug, rm only: ready for master

#5226 Incorrect HTML code in relation with \cgalAdvancedEnd
  Documentation/doc/resources/1.8.20/BaseDoxyfile.in
Labels: Ready to be tested, Tested, Under Testing, doc, doc bug, rm only: ready for master

#5231 Rename 'D' to 'Dimension'
  Spatial_searching/doc/Spatial_searching/Concepts/FuzzyQueryItem.h
Labels: Pkg::Spatial_searching, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5237 Referencing non existing file
  Documentation/doc/resources/1.8.20/header_package.html
Labels: Ready to be tested, Tested, Under Testing, doc, doc bug, rm only: ready for master

#5214 Fix dead code warning in Mpzf.h
  Number_types/include/CGAL/Mpzf.h
Labels: Pkg::Number_types, Tested, bug

#5252 Update merge test script to workaround
  Scripts/developer_scripts/test_merge_of_branch
Labels: Pkg::Scripts

#5234 [Shape Detection] Fix/optimization + validity test
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_shape_detection_plugin.cpp
  Shape_detection/include/CGAL/Shape_detection/Efficient_RANSAC/Efficient_RANSAC.h
  Shape_detection/test/Shape_detection/CMakeLists.txt
  Shape_detection/test/Shape_detection/test_validity_sampled_data.cpp
Labels: Pkg::Shape_detection, Ready to be tested, Tested, Under Testing, bug, enhancement, rm only: ready for master, tested manually on Linux

#5209 Mesh_3 global optimizers - improve projection to surface
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Mesh_3/include/CGAL/Mesh_3/Lloyd_move.h
  Mesh_3/include/CGAL/Mesh_triangulation_3.h
  Periodic_3_mesh_3/include/CGAL/Periodic_3_mesh_triangulation_3.h
Labels: Pkg::Mesh_3, Pkg::Periodic_3_mesh_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, rm only: release blocker

#5222 Mesh_3: Fix std::atomic wrong function
  Mesh_3/include/CGAL/Mesh_3/Mesh_surface_cell_base_3.h
  Mesh_3/test/Mesh_3/CMakeLists.txt
  Mesh_3/test/Mesh_3/test_mesh_cell_base_3.cpp
  Tetrahedral_remeshing/examples/Tetrahedral_remeshing/CMakeLists.txt
  Tetrahedral_remeshing/examples/Tetrahedral_remeshing/mesh_and_remesh_polyhedral_domain_with_features.cpp
Labels: Pkg::Mesh_3, Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch

#5229 AABB: Fix extra underscore in the documentation of the VPM template parameter
  AABB_tree/include/CGAL/AABB_face_graph_triangle_primitive.h
  AABB_tree/include/CGAL/AABB_halfedge_graph_segment_primitive.h
Labels: Pkg::AABB_tree, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5238 Superfluous space in link
  Optimal_bounding_box/doc/Optimal_bounding_box/PackageDescription.txt
  Shape_detection/doc/Shape_detection/PackageDescription.txt
Labels: Ready to be tested, Tested, Under Testing, doc, doc bug, rm only: ready for master, trivial

#5255 [RANSAC] Fix detection of automatic parameter selection
  Shape_detection/include/CGAL/Shape_detection/Efficient_RANSAC/Efficient_RANSAC.h
Labels: Pkg::Shape_detection, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5277 Surface_mesh: Fix sm_remove test
  Surface_mesh/test/Surface_mesh/sm_remove.cpp
Labels: Pkg::Surface_mesh, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5254 Tetrahedral remeshing - fix edge split step
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/split_long_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_adaptive_remeshing_impl.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Windows

#5261 Fix warnings [-Wnon-c-typedef-for-linkage] In Ridges and Jet_fitting
  Jet_fitting_3/examples/Jet_fitting_3/PolyhedralSurf.h
  Ridges_3/examples/Ridges_3/PolyhedralSurf.h
  STL_Extension/test/STL_Extension/test_Concurrent_compact_container.cpp
Labels: Pkg::Ridges_3, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, tested manually on Linux, warnings

#5263 Fix multiples calls to degenerate_edges() with an invalid input range
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_repair_degeneracies.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5279 [RANSAC] Fix ptrdiff overflow
  Shape_detection/include/CGAL/Shape_detection/Efficient_RANSAC/Shape_base.h
Labels: Pkg::Shape_detection, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#5282 Random_numbers : re-activate the seed printing in cgal_only
  Random_numbers/include/CGAL/Random.h
Labels: Pkg::Random_numbers, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5286 PMP::isotropic_remeshing - fix is_corner(v)
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5298 Fix typo in doc circulator.h
  Circulator/doc/Circulator/CGAL/circulator.h
Labels: doc bug, trivial
