Repository CGAL/cgal, pull requests merged in 2020-04, with the labels that each got.

#442 CGAL Tutorial surface reconstruction
  Advancing_front_surface_reconstruction/doc/Advancing_front_surface_reconstruction/Advancing_front_surface_reconstruction.txt
  Documentation/doc/Documentation/Doxyfile.in
  Documentation/doc/Documentation/Tutorials/Tutorial_reconstruction.txt
  Documentation/doc/Documentation/Tutorials/Tutorials.txt
  Documentation/doc/Documentation/fig/compare_reconstructions.png
  Documentation/doc/Documentation/fig/reconstruction.svg
  Documentation/doc/Documentation/fig/reconstruction_pipeline.png
  Documentation/doc/Documentation/fig/reconstruction_preproc.png
  Documentation/doc/biblio/cgal_manual.bib
  Poisson_surface_reconstruction_3/doc/Poisson_surface_reconstruction_3/Poisson_surface_reconstruction_3.txt
  Poisson_surface_reconstruction_3/examples/Poisson_surface_reconstruction_3/CMakeLists.txt
  Poisson_surface_reconstruction_3/examples/Poisson_surface_reconstruction_3/tutorial_example.cmd
  Poisson_surface_reconstruction_3/examples/Poisson_surface_reconstruction_3/tutorial_example.cpp
  Scale_space_reconstruction_3/doc/Scale_space_reconstruction_3/Scale_space_reconstruction_3.txt
Labels: Ready to be tested, TODO after merge, Tested, accepted feature, feature

#4055 PMP: New orientation functions
  BGL/doc/BGL/NamedParameters.txt
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/test/BGL/test_cgal_bgl_named_params.cpp
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/NamedParameters.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/examples.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/data/blobby-shuffled.off
  Polygon_mesh_processing/examples/Polygon_mesh_processing/orientation_pipeline_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orient_polygon_soup_extension.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/orient_polygon_soup_test.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, accepted small feature, small feature

#4140 PMP: Self-intersection local removal
  Kernel_23/doc/Kernel_23/CGAL/Vector_3.h
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/self_snapping_example.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/snapping_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/compute_normal.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Smoothing/curvature_flow_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Smoothing/mesh_smoothing_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Smoothing/smoothing_evaluation.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/remove_degeneracies.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/manifoldness.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/shape_predicates.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/smooth_mesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/smooth_shape.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
  Polygon_mesh_processing/include/CGAL/polygon_mesh_processing.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_repair_degeneracies.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_repair_self_intersections.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_remove_caps_needles.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_shape_smoothing.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Repair_polyhedron_plugin.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, enhancement

#4606 Deduce reference return type in approx()
  Filtered_kernel/include/CGAL/Lazy.h
Labels: Pkg::Kernel_d, Ready to be tested, Tested, enhancement

#4603 PMP: Fix copy-paste error leading to wrong dynamic pmap sizes
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
Labels: Pkg::PMP, Ready to be tested, Tested, bug, trivial

#4104 BGL: Alpha Expansion Graphcut
  BGL/doc/BGL/BGL.txt
  BGL/doc/BGL/Doxyfile.in
  BGL/doc/BGL/NamedParameters.txt
  BGL/doc/BGL/PackageDescription.txt
  BGL/doc/BGL/examples.txt
  BGL/doc/BGL/fig/alpha_expansion.png
  BGL/examples/BGL_graphcut/CMakeLists.txt
  BGL/examples/BGL_graphcut/alpha_expansion_example.cpp
  BGL/include/CGAL/boost/graph/alpha_expansion_graphcut.h
  BGL/include/CGAL/boost/graph/internal/initialized_index_maps_helpers.h
  BGL/include/CGAL/boost/graph/named_params_helper.h
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/include/CGAL/boost/graph/selection.h
  Classification/doc/Classification/Classification.txt
  Classification/include/CGAL/Classification/classify.h
  Classification/package_info/Classification/dependencies
  Installation/CHANGES.md
  Surface_mesh_segmentation/include/CGAL/boost/graph/Alpha_expansion_MaxFlow_tag.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/Alpha_expansion_graph_cut.h
  Surface_mesh_segmentation/include/CGAL/internal/Surface_mesh_segmentation/Surface_mesh_segmentation.h
  Surface_mesh_segmentation/include/CGAL/mesh_segmentation.h
Labels: Pkg::BGL, Ready to be tested, Tested, accepted small feature, small feature, tested manually on Linux

#4180 PMP: Add a function to sample a triangle soup.
  Generator/include/CGAL/point_generators_3.h
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/polygon_soup_to_polygon_mesh.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_distance.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, accepted small feature, small feature

#4552 [Point Set Processing] Big factorization + cleanup
  Optimal_transportation_reconstruction_2/demo/Optimal_transportation_reconstruction_2/scene.h
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Callback_wrapper.h
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Neighbor_query.h
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Parallel_callback.h
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/neighbor_query.h
  Point_set_processing_3/include/CGAL/bilateral_smooth_point_set.h
  Point_set_processing_3/include/CGAL/compute_average_spacing.h
  Point_set_processing_3/include/CGAL/jet_estimate_normals.h
  Point_set_processing_3/include/CGAL/jet_smooth_point_set.h
  Point_set_processing_3/include/CGAL/mst_orient_normals.h
  Point_set_processing_3/include/CGAL/pca_estimate_normals.h
  Point_set_processing_3/include/CGAL/remove_outliers.h
  Point_set_processing_3/include/CGAL/wlop_simplify_and_regularize_point_set.h
  Poisson_surface_reconstruction_3/include/CGAL/Poisson_reconstruction_function.h
  Property_map/include/CGAL/property_map.h
  STL_Extension/include/CGAL/for_each.h
  STL_Extension/include/CGAL/iterator.h
  STL_Extension/test/STL_Extension/CMakeLists.txt
  STL_Extension/test/STL_Extension/test_for_each.cpp
  Spatial_searching/include/CGAL/Kd_tree_rectangle.h
  Spatial_searching/include/CGAL/Search_traits_adapter.h
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, cleaning, enhancement

#4198 Make 2d segment segment distance more robust for kernel with inexact constructions
  Cartesian_kernel/include/CGAL/Cartesian/function_objects.h
  Distance_2/include/CGAL/squared_distance_2_1.h
  Distance_2/test/Distance_2/issue_4189.cpp
  Homogeneous_kernel/include/CGAL/Homogeneous/function_objects.h
  Installation/CHANGES.md
  Kernel_23/doc/Kernel_23/Concepts/FunctionObjectConcepts.h
  Kernel_23/doc/Kernel_23/Concepts/Kernel.h
  Kernel_23/doc/Kernel_23/PackageDescription.txt
  Kernel_23/include/CGAL/Kernel/global_functions_internal_2.h
  Kernel_23/include/CGAL/Kernel/interface_macros.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, accepted small feature, enhancement, small feature

#4610 Fix travis
  .travis/generate_travis.sh
Labels: Infrastructure, bug

#4595 PMP: Add a named_parameter to split_connected_components()
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/connected_components.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_clip.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, enhancement

#4612 Fix some tests intializing or changing data in assertions
  BGL/test/BGL/test_Prefix.h
  Triangulation_2/test/Triangulation_2/include/CGAL/_test_cls_constrained_triangulation_2.h
  Triangulation_2/test/Triangulation_2/include/CGAL/_test_cls_delaunay_triangulation_2.h
  Triangulation_2/test/Triangulation_2/include/CGAL/_test_cls_triangulation_2.h
Labels: Pkg::BGL, Pkg::Triangulation_2, Ready to be tested, Tested, bug

#4599 Bugfix : Spatial Searching Interruptible Distance
  Spatial_searching/include/CGAL/Euclidean_distance.h
Labels: Pkg::Spatial_searching, Ready to be tested, Tested, bug, tested manually on Linux

#4584 [Small Feature] Custom Property Map Example
  Property_map/doc/Property_map/Doxyfile.in
  Property_map/doc/Property_map/Property_map.txt
  Property_map/doc/Property_map/examples.txt
  Property_map/examples/Property_map/CMakeLists.txt
  Property_map/examples/Property_map/custom_property_map.cpp
Labels: Pkg::Property_map, Ready to be tested, Tested, accepted small feature, doc, small feature

#4618 CGAL 3D Demo: Fix picking with wireframe and points
  Polyhedron/demo/Polyhedron/Scene.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug

#4619 [Bugfix] PSP Jet Smoothing do not alter points when reading them
  Point_set_processing_3/include/CGAL/jet_smooth_point_set.h
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, bug, tested manually on Linux

#4627 Remove deprecated doxygen config options
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
Labels: Ready to be tested, Tested, cleaning, doc

#4454 Triangulation_3: Add a function to file_input() with a similar API to the advanced copy_tds()
  Installation/CHANGES.md
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_io_plugin.cpp
  Polyhedron/demo/Polyhedron/include/CGAL/Triangulation_file_input.h
  TDS_3/doc/TDS_3/Concepts/TriangulationDataStructure_3.h
  TDS_3/doc/TDS_3/PackageDescription.txt
  TDS_3/include/CGAL/Triangulation_data_structure_3.h
  TDS_3/test/TDS_3/CMakeLists.txt
  TDS_3/test/TDS_3/test_io_tds3.cpp
  Triangulation_3/doc/Triangulation_3/CGAL/Triangulation_3.h
  Triangulation_3/doc/Triangulation_3/PackageDescription.txt
  Triangulation_3/include/CGAL/Triangulation_3.h
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/test_io_triangulation_3.cpp
Labels: Pkg::Triangulation_3, Ready to be tested, Tested, accepted small feature, small feature

#4558 Add CGAL::Euler::add_faces()
  BGL/include/CGAL/boost/graph/Euler_operations.h
  BGL/include/CGAL/boost/graph/properties_OpenMesh.h
  BGL/test/BGL/CMakeLists.txt
  BGL/test/BGL/bench_read_from_stream_vs_add_face_and_add_faces.cpp
  BGL/test/BGL/test_Euler_operations.cpp
  Polyhedron_IO/include/CGAL/IO/OFF_reader.h
Labels: Pkg::BGL, Ready to be tested, Tested, speed

#4579 Handle non-manifold vertices in copy_face_graph
  BGL/examples/BGL_polyhedron_3/copy_polyhedron.cpp
  BGL/include/CGAL/boost/graph/Dual.h
  BGL/include/CGAL/boost/graph/Face_filtered_graph.h
  BGL/include/CGAL/boost/graph/copy_face_graph.h
  BGL/test/BGL/graph_concept_Dual.cpp
  BGL/test/BGL/test_Euler_operations.cpp
  HalfedgeDS/include/CGAL/boost/graph/graph_traits_HalfedgeDS_default.h
  Kernel_23/include/CGAL/Kernel/function_objects.h
  Linear_cell_complex/include/CGAL/boost/graph/properties_Linear_cell_complex_for_combinatorial_map.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/extrude.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/triangulate_faces_test.cpp
  Triangulation_2/include/CGAL/boost/graph/internal/properties_2D_triangulation.h
  Triangulation_2/include/CGAL/boost/graph/properties_Triangulation_data_structure_2.h
Labels: Pkg::BGL, Ready to be tested, Tested, bug, enhancement

#4647 Demo - Fix line width in menus
  Polyhedron/demo/Polyhedron/MainWindow.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, bug, trivial

#4641 Use regular font
  Documentation/doc/Documentation/License.txt
Labels: Ready to be tested, Tested, doc, known travis false-positive

#4648 Doc post-processing: fix Python script that inserted a `<a name="details">` incorrectly
  Documentation/doc/scripts/html_output_post_processing.py
Labels: Ready to be tested, Tested, bug, doc

#4651 Use Exact_field_selector
  Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_filtered_traits_2.h
  Segment_Delaunay_graph_Linf_2/include/CGAL/Segment_Delaunay_graph_Linf_filtered_traits_2.h
Labels: Pkg::Segment_Delaunay_graph_2, Pkg::Segment_Delaunay_graph_Linf_2, Ready to be tested, Tested, bug

#4597 [Small Feature] BGL: Regularize Face Selection Borders
  BGL/doc/BGL/BGL.txt
  BGL/doc/BGL/NamedParameters.txt
  BGL/doc/BGL/PackageDescription.txt
  BGL/doc/BGL/examples.txt
  BGL/doc/BGL/fig/regularize_selection.png
  BGL/examples/BGL_graphcut/CMakeLists.txt
  BGL/examples/BGL_graphcut/data/blobby.off
  BGL/examples/BGL_graphcut/face_selection_borders_regularization_example.cpp
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/include/CGAL/boost/graph/selection.h
  BGL/test/BGL/CMakeLists.txt
  BGL/test/BGL/test_Regularize_face_selection_borders.cpp
  Installation/CHANGES.md
  Polyhedron/demo/Polyhedron/Plugins/PMP/Selection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Selection_widget.ui
Labels: Pkg::BGL, Ready to be tested, Tested, accepted small feature, small feature, tested manually on Linux

#4623 Allow Classification package to be used without Boost IO Stream and Serialization
  Classification/include/CGAL/Classification/ETHZ/Random_forest_classifier.h
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/common-libraries.hpp
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/forest.hpp
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/node-gini.hpp
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/node.hpp
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/tree.hpp
  Installation/cmake/modules/CGAL_target_use_Boost_IOStreams.cmake
  Installation/cmake/modules/CGAL_target_use_Boost_Serialization.cmake
Labels: Pkg::Classification, Ready to be tested, Tested, enhancement, tested manually on Linux

#4629 Polyhedron Demo: Fix Register_point_sets_plugin
  Polyhedron/demo/Polyhedron/Plugins/Point_set/CMakeLists.txt
Labels: CGAL 3D demo, Ready to be tested, Tested, bug

#4650 Fix is_outward_oriented doc
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
Labels: Pkg::PMP, Ready to be tested, Tested, doc bug

#4514 Fix (some) testuite warnings
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Bitstream_coefficient_kernel_at_alpha.h
  Alpha_shapes_3/examples/Alpha_shapes_3/ex_weighted_periodic_alpha_shapes_3.cpp
  CGAL_ipelets/demo/CGAL_ipelets/cone_spanners.cpp
  Cartesian_kernel/include/CGAL/Cartesian/ConicCPA2.h
  Cartesian_kernel/include/CGAL/constructions/kernel_ftC2.h
  Convex_hull_d/include/CGAL/Delaunay_d.h
  Convex_hull_d/test/Convex_hull_d/chull_d-test.cpp
  Hash_map/test/Hash_map/Hash.cpp
  Homogeneous_kernel/include/CGAL/Homogeneous/ConicHPA2.h
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Nef_S2/include/CGAL/Nef_S2/SM_overlayer.h
  Number_types/test/Number_types/Lazy_exact_nt_new.cpp
  Point_set_processing_3/include/CGAL/edge_aware_upsample_point_set.h
  Polyhedron/examples/Polyhedron/polyhedron_prog_vertex_normal.cpp
  Polyline_simplification_2/demo/Polyline_simplification_2/Polyline_simplification_2.cpp
  Polyline_simplification_2/demo/Polyline_simplification_2/Polyline_simplification_2.ui
  Polynomial/include/CGAL/Polynomial/modular_gcd_utcf_algorithm_M.h
  STL_Extension/test/STL_Extension/test_namespaces.cpp
  Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_hierarchy_2.h
  Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_storage_site_with_info_2.h
  Shape_detection/include/CGAL/Shape_detection/Efficient_RANSAC/Octree.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_point_set/K_neighbor_query.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_point_set/Least_squares_line_fit_region.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_point_set/Least_squares_line_fit_sorting.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_point_set/Least_squares_plane_fit_region.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_point_set/Least_squares_plane_fit_sorting.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_point_set/Sphere_neighbor_query.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Region_growing_on_polygon_mesh/Least_squares_plane_fit_sorting.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/internal/property_map.h
  Surface_mesher/demo/Surface_mesher/File_XT.h
Labels: Ready to be tested, Tested, cleaning

#4624 Documentation: Add a page that explains how to use cmake
  Documentation/doc/Documentation/Developer_manual/cmakelist_script.txt
  Documentation/doc/Documentation/Developer_manual/create_and_use_a_cmakelist.txt
  Documentation/doc/Documentation/Doxyfile.in
  Documentation/doc/Documentation/Getting_started.txt
  Surface_mesh/examples/Surface_mesh/CMakeLists.txt
Labels: Ready to be tested, Tested, doc

#4644 Introducing central MATHJAX_CODEFILE
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.8.13/CGAL_mathjax.js
  Documentation/doc/resources/1.8.13/header.html
  Documentation/doc/resources/1.8.13/header_package.html
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
  Documentation/doc/resources/1.8.14/CGAL_mathjax.js
  Documentation/doc/resources/1.8.14/header.html
  Documentation/doc/resources/1.8.14/header_package.html
  Documentation/doc/resources/1.8.4/BaseDoxyfile.in
  Documentation/doc/resources/1.8.4/CGAL_mathjax.js
  Documentation/doc/resources/1.8.4/header.html
  Documentation/doc/resources/1.8.4/header_package.html
  Nef_3/doc/Nef_3/Nef_3.txt
  QP_solver/doc/QP_solver/CGAL/QP_models.h
  QP_solver/doc/QP_solver/CGAL/QP_solution.h
  QP_solver/doc/QP_solver/Concepts/LinearProgram.h
  QP_solver/doc/QP_solver/Concepts/NonnegativeLinearProgram.h
  QP_solver/doc/QP_solver/Concepts/NonnegativeQuadraticProgram.h
  QP_solver/doc/QP_solver/Concepts/QuadraticProgram.h
  QP_solver/doc/QP_solver/QP_solver.txt
  Skin_surface_3/doc/Skin_surface_3/Skin_surface_3.txt
Labels: Tests failing, doc, enhancement

#4661 Documentation : Update Boost Minimal Version
  Documentation/doc/Documentation/Third_party.txt
Labels: Ready to be tested, Under Testing, doc, doc bug, trivial

#4643 Three doc should not be built by default in public releases
  .travis/build_package.sh
  Documentation/doc/CMakeLists.txt
  Installation/CMakeLists.txt
  Scripts/developer_scripts/cgal_check_dependencies.sh
Labels: Ready to be tested, Tested, doc, doc bug

#4652 Fix doc links
  Boolean_set_operations_2/doc/Boolean_set_operations_2/CGAL/Boolean_set_operations_2.h
Labels: Pkg:Boolean_set_operations_2, Ready to be tested, Tested, doc bug

#4656 Point Set: Fix warnings with float kernel
  Point_set_3/include/CGAL/Point_set_3.h
Labels: Pkg::Point_set_3, Ready to be tested, Tested, warnings

#4577 Fix bug in point_position in the bezier traits
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Bezier_x_monotone_2.h
Labels: Pkg::Arrangement_on_surface_2, Ready to be tested, Tested, bug

#4622 Fix reference-to-null-pointer UB
  STL_Extension/include/CGAL/Compact_container.h
Labels: Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, bug, known travis false-positive

#4633 Three: Move examples to the Polyhedron_Demo
  Installation/cmake/modules/list_of_whitelisted_headers.cmake
  Polyhedron/demo/Polyhedron/Plugins/Three_examples/Basic_dialog.ui
  Polyhedron/demo/Polyhedron/Plugins/Three_examples/Basic_dock_widget.ui
  Polyhedron/demo/Polyhedron/Plugins/Three_examples/Basic_item_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Three_examples/Basic_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Three_examples/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Three_examples/Dock_widget_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Three_examples/Example_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Three_examples/Group_item_plugin.cpp
  Polyhedron/demo/Polyhedron/polyhedron_demo_macros.cmake
  Three/demo/Three/CMakeLists.txt
  Three/doc/Three/Doxyfile.in
  Three/doc/Three/Three.txt
  Three/doc/Three/examples.txt
Labels: CGAL 3D demo, Ready to be tested, Tested, doc

#4664 Make orientations_ a local variable, for thread-safety
  Triangulation/include/CGAL/Triangulation.h
Labels: Pkg::Triangulation_d, Ready to be tested, Tested, enhancement

#4631 Demo mesh_3_plugin: fix a compilation error with MSVC 2015
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin.cpp
Labels: CGAL 3D demo, Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, bug

#4674 Surf_reader : Enhancement
  Polyhedron/demo/Polyhedron/include/CGAL/IO/read_surf_trianglemesh.h
Labels: CGAL 3D demo, Ready to be tested, Tested, tested manually on Windows

#4519 Enable the use of Lazy objects in Compact_container
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_X_trapezoid.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_active_edge.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_active_fictitious_vertex.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_active_trapezoid.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_active_vertex.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_dag.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_dag_node.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_inactive_edge.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_inactive_fictitious_vertex.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_inactive_vertex.h
  Convex_hull_2/include/CGAL/IO/Tee_for_output_iterator.h
  Filtered_kernel/include/CGAL/Lazy.h
  STL_Extension/include/CGAL/Handle.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, enhancement, not yet approved, under discussion

#4676 Make f square-free in Construct_curve_2 (fix #2224)
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Algebraic_curve_kernel_2.h
Labels: Pkg::Algebraic_kernel_d, Ready to be tested, Tested, bug

#4677 Fix initialization of Bbox_3 in edge_aware_upsample_point_set()
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Rich_grid.h
  Point_set_processing_3/include/CGAL/edge_aware_upsample_point_set.h
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, bug, tested manually on Linux

#4680 Heat Method: remove wrapper around deleted function
  Heat_method_3/include/CGAL/Heat_method_3/Surface_mesh_geodesic_distances_3.h
  Heat_method_3/include/CGAL/Heat_method_3/internal/Intrinsic_Delaunay_triangulation_3.h
Labels: Pkg::Heat_method_3, Ready to be tested, Tested, bug

#4670 Solver_interface: docs bug fix
  Solver_interface/doc/Solver_interface/Concepts/DiagonalizeTraits.h
  Solver_interface/doc/Solver_interface/Concepts/MixedIntegerProgramTraits.h
  Solver_interface/doc/Solver_interface/Concepts/NormalEquationSparseLinearAlgebraTraits_d.h
  Solver_interface/doc/Solver_interface/Concepts/SparseLinearAlgebraTraits_d.h
  Solver_interface/doc/Solver_interface/Concepts/SparseLinearAlgebraWithFactorTraits_d.h
  Solver_interface/doc/Solver_interface/Concepts/SvdTraits.h
  Solver_interface/doc/Solver_interface/Solver_interface.txt
  Solver_interface/include/CGAL/GLPK_mixed_integer_program_traits.h
  Solver_interface/include/CGAL/Mixed_integer_program_traits.h
  Solver_interface/include/CGAL/SCIP_mixed_integer_program_traits.h
Labels: Pkg::Solver_interface, Ready to be tested, Tested, cleaning

#4688 Fix warnings
  CGAL_Core/include/CGAL/CORE/extLong_impl.h
  Periodic_3_triangulation_3/include/CGAL/Periodic_3_triangulation_ds_cell_base_3.h
  Surface_mesher/include/CGAL/Surface_mesher/Surface_mesher.h
Labels: Ready to be tested, Tested, warnings

#4682 Prevent dynamically bind references to null pointer.
  STL_Extension/include/CGAL/In_place_list.h
Labels: Ready to be tested, Tested, Under Testing, enhancement

#4683 Prevent dynamic binding of references to null pointers
  TDS_2/include/CGAL/Triangulation_ds_face_base_2.h
Labels: Ready to be tested, Tested, enhancement

#4687 Introducing CMake option CGAL_EXTRACT_ALL_NO_DETAILED_IF_EMPTY
  Documentation/doc/CMakeLists.txt
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
Labels: CMake scripts, Tested, doc, enhancement

#4505 [Small Feature] GIS Tutorial
  Classification/examples/Classification/CMakeLists.txt
  Classification/examples/Classification/gis_tutorial_example.cmd
  Classification/examples/Classification/gis_tutorial_example.cpp
  Classification/examples/Classification/include/Color_ramp.h
  Classification/include/CGAL/Classification/ETHZ/Random_forest_classifier.h
  Classification/include/CGAL/Classification/Evaluation.h
  Classification/include/CGAL/Classification/Label_set.h
  Documentation/doc/Documentation/Doxyfile.in
  Documentation/doc/Documentation/Tutorials/Tutorial_GIS.txt
  Documentation/doc/Documentation/Tutorials/Tutorials.txt
  Documentation/doc/Documentation/fig/classif_tuto.jpg
  Documentation/doc/Documentation/fig/components.jpg
  Documentation/doc/Documentation/fig/contours.png
  Documentation/doc/Documentation/fig/dtm.jpg
  Documentation/doc/Documentation/fig/dtm_proc.jpg
  Documentation/doc/Documentation/fig/raster.jpg
  Documentation/doc/Documentation/fig/tin.jpg
  Polyhedron/demo/Polyhedron/Plugins/IO/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/IO/WKT_io_plugin.cpp
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Ready to be tested, TODO (web), Tested, accepted small feature, small feature, tested manually on Linux
