Repository CGAL/cgal, pull requests merged in 2020-11, with the labels that each got.

#5135 Ci test demo
  .github/install.sh
  .github/test.sh
  .github/workflows/demo.yml
Labels: Infrastructure, Ready to be tested

#5134 PMP: Remove obsolete forward declaration with no body
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/locate.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master, rm only: ready for release branch

#5138 SMP: Fix image not appearing in doc
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/Doxyfile.in
Labels: Pkg::Surface_mesh_parametrization, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5108 Demo isotropic_remeshing_plugin - keep selection valid
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5124 Add experimental non-documented function to simplify a 3D polyline
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/test/BGL/test_cgal_bgl_named_params.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/simplify_polyline.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/data/open.polylines.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_simplify_polylines_pmp.cmd
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_simplify_polylines_pmp.cpp
  Polyhedron/demo/Polyhedron/Plugins/IO/Polylines_io_plugin.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5089 fix warnings
  Polyhedron/demo/Polyhedron/Plugins/Display/Display_property_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, known travis false-positive, rm only: ready for master, warnings

#4978 Polyhedron demo - remesh a non-triangle mesh
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Triangulate_facets_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.h
Labels: CGAL 3D demo, Pkg::PMP, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5091 [Arrangement] Fix polycurve overlap intersection
  Arrangement_on_surface_2/include/CGAL/Arr_polycurve_traits_2.h
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test.cmake
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test_with_cmake
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/are_mergeable
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/compare_endpoints_xy
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/compare_x
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/compare_xy
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/compare_y_at_x
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/compare_y_at_x_left
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/compare_y_at_x_right
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/construct_opposite
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/curves
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/equal
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/intersect
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/is_vertical
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/make_x_monotone
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/merge
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/number_of_points
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/points
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/push_back
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/push_front
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/split
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/trim
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/vertex
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_bezier/xcurves
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/are_mergeable
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/compare_endpoints_xy
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/compare_x
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/compare_xy
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/compare_y_at_x
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/compare_y_at_x_left
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/compare_y_at_x_right
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/construct_opposite
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/curves
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/equal
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/intersect
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/is_vertical
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/make_x_monotone
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/merge
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/number_of_points
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/points
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/push_back
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/push_front
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/split
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/trim
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/vertex
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/polycurves_circular_arcs/xcurves
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_polycurve_intersection.cpp
Labels: Pkg::Arrangement_on_surface_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Linux

#5065 Polyhedron_Demo: Fix ssh usage
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Use_ssh.cpp
  Polyhedron/demo/Polyhedron/config.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4547 Enable move semantics to AABB trees and use smart pointers
  AABB_tree/benchmark/AABB_tree/CMakeLists.txt
  AABB_tree/benchmark/AABB_tree/tree_creation.cpp
  AABB_tree/include/CGAL/AABB_tree.h
  AABB_tree/include/CGAL/internal/AABB_tree/AABB_node.h
  AABB_tree/include/CGAL/internal/AABB_tree/AABB_search_tree.h
  AABB_tree/test/AABB_tree/aabb_test_move_constructor.cpp
  Installation/CHANGES.md
Labels: Modern C++ (C++11 and later), Pkg::AABB_tree, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4899 Surface Sweep: Enhance memory allocation with Compact Container
  STL_Extension/include/CGAL/Multiset.h
  STL_Extension/test/STL_Extension/CMakeLists.txt
  Surface_sweep_2/include/CGAL/No_intersection_surface_sweep_2.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/No_intersection_surface_sweep_2_impl.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/No_overlap_event_base.h
  Surface_sweep_2/package_info/Surface_sweep_2/dependencies
Labels: Pkg::Surface_sweep_2, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, rm only: ready for release branch

#5096 GraphicsView: Fix is_facet_convex()
  GraphicsView/include/CGAL/Buffer_for_vao.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5141 PMP: Add missing NP in clip() and split()
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/test/BGL/test_cgal_bgl_named_params.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-clip/clipper_for_tet.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-clip/splitter_for_tet.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-clip/tet_si_to_split.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-clip/tet_with_si_to_clip.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_clip.cpp
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Clip_polyhedron_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Clip_polyhedron_plugin.ui
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing

#4939 Arrangement: Avoid constructing Segment_2/Line_2 objects when possible
  Arrangement_on_surface_2/include/CGAL/Arr_segment_traits_2.h
  Boolean_set_operations_2/include/CGAL/Boolean_set_operations_2/Polygon_2_curve_iterator.h
  Boolean_set_operations_2/include/CGAL/Gps_segment_traits_2.h
  Polygon/include/CGAL/Polygon_2.h
  Polygon/include/CGAL/Polygon_2/Polygon_2_edge_iterator.h
Labels: Pkg::Arrangement_on_surface_2, Pkg::Polygon, Pkg:Boolean_set_operations_2, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#4639 Small feature - Triangulation Segment Cell/Simplex Iterator
  .gitignore
  Installation/CHANGES.md
  STL_Extension/include/CGAL/internal/boost/array_binary_tree.hpp
  Triangulation_3/benchmark/Triangulation_3/CMakeLists.txt
  Triangulation_3/benchmark/Triangulation_3/segment_traverser_benchmark.cpp
  Triangulation_3/doc/Triangulation_3/CGAL/Triangulation_3.h
  Triangulation_3/doc/Triangulation_3/PackageDescription.txt
  Triangulation_3/doc/Triangulation_3/Triangulation_3.txt
  Triangulation_3/doc/Triangulation_3/examples.txt
  Triangulation_3/examples/Triangulation_3/CMakeLists.txt
  Triangulation_3/examples/Triangulation_3/README
  Triangulation_3/examples/Triangulation_3/data/blobby.xyz
  Triangulation_3/examples/Triangulation_3/segment_cell_traverser_3.cpp
  Triangulation_3/examples/Triangulation_3/segment_simplex_traverser_3.cpp
  Triangulation_3/include/CGAL/Triangulation_3.h
  Triangulation_3/include/CGAL/Triangulation_segment_traverser_3.h
  Triangulation_3/include/CGAL/internal/Triangulation_segment_traverser_3_impl.h
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/data/blobby.xyz
  Triangulation_3/test/Triangulation_3/test_segment_cell_traverser_3.cpp
  Triangulation_3/test/Triangulation_3/test_segment_simplex_traverser_3.cpp
  Triangulation_3/test/Triangulation_3/test_simplex_iterator_3.cpp
Labels: Pkg::Triangulation_3, Ready to be tested, Tested, Under Testing, accepted small feature, rm only: ready for master, small feature, tested manually on Windows

#5158 Convex_hull_3: Fix constness
  Convex_hull_3/include/CGAL/convexity_check_3.h
Labels: Pkg::Convex_hull_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5156 Update print.h
  Straight_skeleton_2/test/Straight_skeleton_2/print.h
Labels: Pkg::Straight_skeleton_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5071 [Small Feature] Scanline Orient Normals
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/test/BGL/test_cgal_bgl_named_params.cpp
  Documentation/doc/Documentation/Tutorials/Tutorial_reconstruction.txt
  Installation/CHANGES.md
  Point_set_processing_3/doc/Point_set_processing_3/PackageDescription.txt
  Point_set_processing_3/doc/Point_set_processing_3/Point_set_processing_3.txt
  Point_set_processing_3/doc/Point_set_processing_3/examples.txt
  Point_set_processing_3/doc/Point_set_processing_3/fig/scanline_orient_normals.png
  Point_set_processing_3/examples/Point_set_processing_3/CMakeLists.txt
  Point_set_processing_3/examples/Point_set_processing_3/data/urban.las
  Point_set_processing_3/examples/Point_set_processing_3/orient_scanlines_example.cpp
  Point_set_processing_3/include/CGAL/scanline_orient_normals.h
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_normal_estimation_plugin.cpp
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, Under Testing, accepted small feature, rm only: ready for master, small feature, tested manually on Linux

#5033 Heat_method_3 - avoid degenerate faces
  Heat_method_3/include/CGAL/Heat_method_3/Surface_mesh_geodesic_distances_3.h
Labels: Pkg::Heat_method_3, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5093 Polyhedron Demo: Enhancements
  Polyhedron/demo/Polyhedron/Plugins/Convex_hull/Convex_hull_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Mesh_simplification_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_polylines_item.cpp
  Polyhedron/demo/Polyhedron/Scene_spheres_item.cpp
  Polyhedron/demo/Polyhedron/Scene_spheres_item.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, known travis false-positive, under discussion

#5159 Prepare CHANGES.md for 5.2
  Installation/CHANGES.md
Labels: rm only: release blocker

#5170 Installation: Fix in Qt5 module
  GraphicsView/src/CGAL_Qt5/CMakeLists.txt
  Scripts/developer_scripts/cgal_create_release_with_cmake.cmake
Labels: Ready to be tested, bug

#5180 Fix CGAL_Qt5 installation
  Scripts/developer_scripts/cgal_create_release_with_cmake.cmake
Labels: CMake scripts, Infrastructure, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5155 Update test_sls_offset.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_offset.cpp
Labels: Pkg::Straight_skeleton_2, Tested, Under Testing, bug, rm only: ready for master, under discussion

#5173 BGL: Fix test of split_graph_into_polylines()
  BGL/test/BGL/CMakeLists.txt
  BGL/test/BGL/split.cin
  BGL/test/BGL/split.cpp
  BGL/test/BGL/test_split.cpp
Labels: Pkg::BGL, Ready to be tested, Tested, Testsuite, Under Testing, bug, rm only: ready for master
