Repository CGAL/cgal, pull requests merged in 2020-06, with the labels that each got.

#4754 PMP: Fix parallel hausdorff
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polyhedron/demo/Polyhedron/Plugins/PMP/Distance_plugin.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4752 Fix C++20 errors
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/Surface_mesh_shortest_path.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Curve_pair.h
Labels: C++20, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4740 Triangulation_2: Add a figure and an example for dimension < 2
  Triangulation_2/doc/Triangulation_2/Triangulation_2.txt
  Triangulation_2/doc/Triangulation_2/examples.txt
  Triangulation_2/doc/Triangulation_2/fig/low_dimensional.svg
  Triangulation_2/examples/Triangulation_2/low_dimensional.cpp
Labels: Pkg::Triangulation_2, Ready to be tested, Tested, Under Testing, doc, enhancement, rm only: ready for master

#4710 boost mp on Apple clang issue fix
  Installation/cmake/modules/CGAL_SetupCGALDependencies.cmake
Labels: CMake scripts, Pkg::Number_types, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4763 Documentation : Fix brew doc
  Documentation/doc/Documentation/Usage.txt
Labels: Tested, Under Testing, doc bug, rm only: ready for master, rm only: release blocker

#4762 3D Demo: Fixes
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/PartitionDialog.ui
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.h
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
  Three/include/CGAL/Three/Scene_group_item.h
Labels: Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4759 Documentation: add warning about doc of master gf
  Documentation/doc/resources/1.8.13/menu_version.js
  Documentation/doc/resources/1.8.14/menu_version.js
  Documentation/doc/resources/1.8.4/menu_version.js
Labels: Ready to be tested, Tested, Under Testing, conflicts, doc, rm only: ready for master

#4714 Fix a number of issues in CHANGES.md and add links for 5.1
  Installation/CHANGES.md
  Tetrahedral_remeshing/doc/Tetrahedral_remeshing/fig/bimba_back_small.png
Labels: Tested, Under Testing, rm only: ready for master, rm only: release blocker

#4773 Polyhedorn Demo: Fix typo
  Polyhedron/demo/Polyhedron/Plugins/IO/Implicit_function_io_plugin.cpp
Labels: CGAL 3D demo, Under Testing, bug, trivial

#4770 AABB_demo: Fix
  AABB_tree/demo/AABB_tree/Scene.cpp
  AABB_tree/demo/AABB_tree/Scene.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, tested manually on Linux

#4768 Don't segfault on empty Nef_nary_x
  Nef_3/include/CGAL/Nef_nary_intersection_3.h
  Nef_3/include/CGAL/Nef_nary_union_3.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, rm only: ready for master, trivial

#4783 Some Fixes after beta1
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/CMakeLists.txt
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
Labels: Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: release blocker

#4782 Tetrahedral Remeshing - fix the list of authors
  Tetrahedral_remeshing/doc/Tetrahedral_remeshing/PackageDescription.txt
  Tetrahedral_remeshing/doc/Tetrahedral_remeshing/Tetrahedral_remeshing.txt
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/Remeshing_cell_base_3.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/Remeshing_triangulation_3.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/Remeshing_vertex_base_3.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/Sizing_field.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/Uniform_sizing_field.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/FMLS.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/collapse_short_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/compute_c3t3_statistics.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/flip_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/smooth_vertices.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/split_long_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_adaptive_remeshing_impl.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/tetrahedral_remeshing_io.h
  Tetrahedral_remeshing/include/CGAL/tetrahedral_remeshing.h
Labels: Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, Under Testing, doc, rm only: ready for master, rm only: release blocker, trivial

#4780 GraphicsView: Fix Qt 5.15 deprecation warnings
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/ArrangementDemoGraphicsView.cpp
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/ArrangementDemoPropertiesDialog.h
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/NewTabDialog.cpp
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/NewTabDialog.h
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/OverlayDialog.h
  GraphicsView/demo/Alpha_shapes_2/Alpha_shapes_2.cpp
  GraphicsView/demo/Apollonius_graph_2/Apollonius_graph_2.cpp
  GraphicsView/demo/Bounding_volumes/Bounding_volumes.cpp
  GraphicsView/demo/L1_Voronoi_diagram_2/L1_voronoi_diagram_2.cpp
  GraphicsView/demo/Periodic_2_triangulation_2/Periodic_2_Delaunay_triangulation_2.cpp
  GraphicsView/demo/Snap_rounding_2/Snap_rounding_2.cpp
  GraphicsView/demo/Stream_lines_2/Stream_lines_2.cpp
  GraphicsView/demo/Triangulation_2/Delaunay_triangulation_2.cpp
  GraphicsView/demo/Triangulation_2/Regular_triangulation_2.cpp
  GraphicsView/include/CGAL/Qt/DemosMainWindow.h
  GraphicsView/include/CGAL/Qt/GraphicsViewNavigation_impl.h
  GraphicsView/include/CGAL/Qt/manipulatedCameraFrame_impl.h
  GraphicsView/include/CGAL/Qt/manipulatedFrame_impl.h
  GraphicsView/include/CGAL/Qt/qglviewer.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/HDT2.cpp
  Optimal_transportation_reconstruction_2/demo/Optimal_transportation_reconstruction_2/glviewer.cpp
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Basic_generator_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Engrave_text_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Extrude_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_selection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Parameterization_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/UVProjector.h
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Scene_edit_polyhedron_item.cpp
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Surface_mesher/demo/Surface_mesher/values_list.cpp
  Three/include/CGAL/Three/Three.h
  Triangulation_3/demo/Triangulation_3/Viewer.cpp
Labels: CGAL 3D demo, Qt5, Tested, Under Testing, rm only: ready for master, warnings

#4778 Fix complexity in case of append
  BGL/include/CGAL/boost/graph/copy_face_graph.h
Labels: Pkg::BGL, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4779 HalfedgeDS/Kernel_d: Fix ambiguous comparison errors with C++20
  HalfedgeDS/include/CGAL/HalfedgeDS_iterator.h
  Kernel_d/include/CGAL/Kernel_d/Direction_d.h
  Kernel_d/include/CGAL/Kernel_d/Hyperplane_d.h
  Kernel_d/include/CGAL/Kernel_d/Vector_d.h
  Nef_2/include/CGAL/Nef_2/iterator_tools.h
  Nef_2/include/CGAL/Nef_polynomial.h
Labels: C++20, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, tested manually on Linux

#4774 Remove cpp11::(tuple|get)
  Advancing_front_surface_reconstruction/examples/Advancing_front_surface_reconstruction/reconstruction_structured.cpp
  Combinatorial_map/include/CGAL/Combinatorial_map.h
  Generalized_map/include/CGAL/Generalized_map.h
  Installation/include/CGAL/config.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Smoothing/curvature_flow_impl.h
  Spatial_searching/include/CGAL/Orthogonal_incremental_neighbor_search.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Generic_map_selector.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Minimal_quadrangulation.h
  Surface_mesh_topology/test/Surface_mesh_topology/path_with_rle_deformation_tests.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/test_homotopy.cpp
Labels: Master Version of Release Branch PR, Modern C++ (C++11 and later), Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, tested manually on Linux

#4798 Fix unknown behavior that changed in Visual 2019
  STL_Extension/include/CGAL/Concurrent_compact_container.h
Labels: Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, rm only: release blocker

#4786 Continue workaround for MSVC2015
  Mesh_3/include/CGAL/Compact_mesh_cell_base_3.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, rm only: release blocker, tested manually on Linux

#4804 Distance_3: Fix error with LEDA
  Distance_3/include/CGAL/squared_distance_3_1.h
Labels: Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4789 Make straight_skeleton copy_constructible
  Straight_skeleton_2/include/CGAL/Straight_skeleton_halfedge_base_2.h
  Straight_skeleton_2/test/Straight_skeleton_2/test_straight_skeleton_copy.cpp
Labels: Pkg::Straight_skeleton_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4793 Testsuite rework the timeout of run_testsuite
  Testsuite/test/run_testsuite_with_cmake
Labels: Ready to be tested, Tested, Testsuite, Under Testing, enhancement, rm only: ready for master, rm only: ready for release branch

#4611 replaced throw() with noexcept
  STL_Extension/include/CGAL/Object.h
  STL_Extension/include/CGAL/Uncertain.h
  STL_Extension/include/CGAL/exceptions.h
  Triangulation_3/doc/Triangulation_3/CGAL/Regular_triangulation_cell_base_with_weighted_circumcenter_3.h
  Triangulation_3/include/CGAL/Regular_triangulation_cell_base_with_weighted_circumcenter_3.h
Labels: Modern C++ (C++11 and later), Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#4776 PSP: Fix documentation of hierarchy simplify point set
  Point_set_processing_3/include/CGAL/hierarchy_simplify_point_set.h
Labels: Pkg::Point_set_processing_3, Tested, Under Testing, doc bug, rm only: ready for master, rm only: ready for release branch, trivial

#4775 Remove cpp11::(tuple|get)
  Installation/include/CGAL/config.h
  Spatial_searching/include/CGAL/Orthogonal_incremental_neighbor_search.h
Labels: Modern C++ (C++11 and later), Ready to be tested, bug, tested manually on Linux

#4812 Tetrahedral remeshing : fix a bug in collapse
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_io_plugin.cpp
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/collapse_short_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_adaptive_remeshing_impl.h
Labels: Pkg::Tetrahedral_remeshing, Tested, Under Testing, bug, rm only: ready for master, tested manually on Windows

#4795 Mesh_3 - fix parallel optimisers
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  TDS_3/include/CGAL/Triangulation_data_structure_3.h
  Triangulation_3/include/CGAL/Regular_triangulation_3.h
  Triangulation_3/include/CGAL/Triangulation_3.h
Labels: Parallel_tag, Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4791 PMP: remove_self_intersections() fixes
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4813 Remove 'const' markers in Polyhedron-modifying functions
  Polyhedron/include/CGAL/boost/graph/graph_traits_Polyhedron_3.h
Labels: Pkg::Polyhedron, Ready to be tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4556 Fix Bezier intersection bug around the boundaries (issue #3381)
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Bezier_cache.h
Labels: CLA/CAA OK, Pkg::Arrangement_on_surface_2, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch
