Repository CGAL/cgal, pull requests merged in 2020-09, with the labels that each got.

#4981 Filtered_kernel: Add missing header includes
  Filtered_kernel/include/CGAL/Lazy.h
Labels: Pkg::Filtered_kernel, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4960 Polyhedron Demo: .mesh reading enhancement
  Installation/include/CGAL/Mesh_3/Mesh_complex_3_in_triangulation_3_fwd.h
  Mesh_3/include/CGAL/Mesh_3/tet_soup_to_c3t3.h
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_io_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#4861 Arrangement 2: Small Enhancements
  Arrangement_on_surface_2/include/CGAL/Arr_dcel_base.h
  Arrangement_on_surface_2/include/CGAL/Arr_segment_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_on_surface_2.h
Labels: Pkg::Arrangement_on_surface_2, Ready to be tested, Tested, Under Testing, enhancement, not yet approved, rm only: ready for master

#4828 Rewrite circumcenter computations in NewKernel_d
  NewKernel_d/include/CGAL/NewKernel_d/Cartesian_LA_functors.h
  NewKernel_d/include/CGAL/NewKernel_d/Types/Weighted_point.h
  NewKernel_d/include/CGAL/NewKernel_d/function_objects_cartesian.h
  NewKernel_d/test/NewKernel_d/Epick_d.cpp
  Number_types/include/CGAL/Interval_nt.h
Labels: Pkg::Kernel_d, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#4938 Add a convenience header file to inherit from face graphs
  BGL/doc/BGL/BGL.txt
  BGL/doc/BGL/Doxyfile.in
  BGL/doc/BGL/PackageDescription.txt
  BGL/doc/BGL/examples.txt
  BGL/include/CGAL/boost/graph/graph_traits_inheritance_macros.h
  BGL/test/BGL/CMakeLists.txt
  BGL/test/BGL/graph_concept_Derived.cpp
  BGL/test/BGL/graph_traits_inheritance.cpp
  Installation/CHANGES.md
  Polyhedron/examples/Polyhedron/poly_derivation.cpp
  Surface_mesh/examples/Surface_mesh/sm_derivation.cpp
Labels: Pkg::BGL, Ready to be tested, Tested, Under Testing, accepted small feature, bug, cleaning, enhancement, rm only: ready for master, small feature

#4731 Document internal function for computing interior point
  Convex_hull_3/doc/Convex_hull_3/CGAL/Convex_hull_3/dual/halfspace_intersection_3.h
  Convex_hull_3/doc/Convex_hull_3/CGAL/Convex_hull_3/dual/halfspace_intersection_with_constructions_3.h
  Convex_hull_3/doc/Convex_hull_3/Doxyfile.in
  Convex_hull_3/doc/Convex_hull_3/PackageDescription.txt
  Convex_hull_3/include/CGAL/Convex_hull_3/dual/halfspace_intersection_3.h
  Convex_hull_3/include/CGAL/Convex_hull_3/dual/halfspace_intersection_interior_point_3.h
  Convex_hull_3/include/CGAL/Convex_hull_3/dual/halfspace_intersection_with_constructions_3.h
  Convex_hull_3/include/CGAL/Convex_hull_3/dual/interior_polyhedron_3.h
  Installation/CHANGES.md
Labels: Pkg::Convex_hull_3, Ready to be tested, Tested, Under Testing, accepted small feature, rm only: ready for master, small feature

#4790 Add an option to corefine to refine only one mesh
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/test/BGL/test_cgal_bgl_named_params.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Generic_clip_output_builder.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Visitor.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Side_of_triangle_mesh/Point_inside_vertical_ray_cast.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Side_of_triangle_mesh/Ray_3_Triangle_3_traversal_traits.h
  Polygon_mesh_processing/include/CGAL/Side_of_triangle_mesh.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_corefine.cpp
Labels: CHANGES.md not updated, Pkg::PMP, Ready to be tested, Tested, Under Testing, accepted small feature, enhancement, known travis false-positive, small feature

#4950 Documentation: add build and upload with CI
  .github/workflows/build_doc.yml
  .github/workflows/delete_doc.yml
Labels: Infrastructure, doc

#5016 CI : Limit the automated doc to "small feature" labels
  .github/workflows/build_doc.yml
Labels: Testsuite, doc, enhancement

#5009 Demo: Fix id_printing
  Polyhedron/demo/Polyhedron/include/id_printing.h
Labels: CGAL 3D demo, Tested, bug, known travis false-positive, rm only: ready for master, rm only: ready for release branch

#4992 Fix leaking memory in Alpha_shape_mesher
  Scale_space_reconstruction_3/include/CGAL/Scale_space_reconstruction_3/Alpha_shape_mesher.h
Labels: Scale_space_reconstruction, Tested, bug, known travis false-positive, rm only: ready for master, rm only: ready for release branch

#4990 Do not create isolated vertices
  Surface_mesher/examples/Surface_mesher/mesh_an_implicit_function.cpp
  Surface_mesher/include/CGAL/IO/Complex_2_in_triangulation_3_to_medit.h
  Surface_mesher/include/CGAL/IO/Complex_2_in_triangulation_3_to_vtk.h
  Surface_mesher/include/CGAL/IO/facets_in_complex_2_to_triangle_mesh.h
Labels: Pkg::Surface_mesher, Tested, bug, rm only: ready for master, rm only: ready for release branch

#4979 Polyhedron demo - get the sharp edges back after remeshing
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
Labels: CGAL 3D demo, Tested, bug, rm only: ready for master, rm only: ready for release branch

#4969 [Shape Detection] Fix nonnull warning in deprecated Region Growing
  Shape_detection/include/CGAL/Shape_detection/deprecated/Region_growing.h
Labels: Pkg::Shape_detection, Tested, rm only: ready for master, rm only: ready for release branch, trivial, warnings

#4984 Tiny post release fixes
  BGL/doc/BGL/PackageDescription.txt
  Documentation/doc/Documentation/Usage.txt
  Documentation/doc/Documentation/windows.txt
  Installation/CHANGES.md
  Optimal_bounding_box/benchmark/Optimal_bounding_box/CMakeLists.txt
  Optimal_bounding_box/benchmark/Optimal_bounding_box/bench_obb.cpp
  Scripts/developer_scripts/tag_pr_per_release.sh
  Scripts/developer_scripts/test_license_check/ImageIO.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/tetrahedral_remeshing_io.h
Labels: Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, Under Testing, cleaning, doc bug, rm only: ready for master, rm only: ready for release branch

#4994 PMP isotropic remeshing - test validity during remeshing only if input mesh was valid
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch

#4975 Polyhedron Demo: Fix Mesh_plane_detection_plugin
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_shape_detection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_shape_detection_plugin.ui
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Mesh_plane_detection_dialog.ui
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Mesh_plane_detection_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#4980 Polyhedron Demo: Animation of surface_meshes
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Animate_mesh_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Animate_widget.ui
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/Selection_plugin.cpp
  Polyhedron/demo/Polyhedron/Polyhedron_3.qrc
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
  Polyhedron/demo/Polyhedron/resources/pause.jpeg
  Polyhedron/demo/Polyhedron/resources/play.jpeg
  Polyhedron/demo/Polyhedron/resources/reset.jpg
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4968 Add an option to toggle between 2D and 3D mode for the basic viewer.
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
Labels: Tested, Under Testing, enhancement, rm only: ready for master

#4959 Polyhedron demo: change for grid plugin
  Polyhedron/demo/Polyhedron/Plugins/PCA/Affine_transform_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#4955 Use [[no_unique_address]] for info in vertex/cell
  Triangulation/include/CGAL/Triangulation_full_cell.h
  Triangulation/include/CGAL/Triangulation_vertex.h
Labels: Pkg::Kernel_d, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#4945 Intersection_3: Add tests for do_intersect(Tet_3, Tet_3)
  Intersections_3/test/Intersections_3/tetrahedron.cpp
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4944 Polyhedron demo: filter the AABB_tree representation
  AABB_tree/include/CGAL/AABB_tree.h
  Polyhedron/demo/Polyhedron/Plugins/AABB_tree/Cut_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4943 Add envelope free functions that accept traits object
  Envelope_2/doc/Envelope_2/CGAL/envelope_2.h
  Envelope_2/include/CGAL/Envelope_2/Env_divide_and_conquer_2.h
  Envelope_2/include/CGAL/envelope_2.h
Labels: Pkg::Envelope_2, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#4838 Document Power_center_d, Power_distance_d (renamed)
  Installation/CHANGES.md
  Kernel_d/doc/Kernel_d/CGAL/Epeck_d.h
  Kernel_d/doc/Kernel_d/CGAL/Epick_d.h
  NewKernel_d/include/CGAL/NewKernel_d/Kernel_d_interface.h
  NewKernel_d/test/NewKernel_d/Epick_d.cpp
Labels: Pkg::Kernel_d, Ready to be tested, Tested, Under Testing, accepted small feature, rm only: ready for master, small feature

#5019 Polyhedron Demo: Offset mesher detail
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Offset_meshing_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master, trivial

#5018 Polyhedron Demo: Add an option to the polyline generator
  Polyhedron/demo/Polyhedron/Plugins/PCA/Basic_generator_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Basic_generator_widget.ui
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5014 Polyhedron Demo: Robustify the engrave_text_plugin
  Polyhedron/demo/Polyhedron/Plugins/PMP/Engrave_text_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4973 Polyhedron Demo: Fix Remove_isolated_vertices
  Polyhedron/demo/Polyhedron/Plugins/PMP/Repair_polyhedron_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master
