Repository CGAL/cgal, pull requests merged in 2020-08, with the labels that each got.

#4893 Advancing front: Fix deprecated array
  Advancing_front_surface_reconstruction/examples/Advancing_front_surface_reconstruction/reconstruction_structured.cpp
  Advancing_front_surface_reconstruction/examples/Advancing_front_surface_reconstruction/reconstruction_surface_mesh.cpp
Labels: Ready to be tested, Tested, Under Testing, bug, known travis false-positive, rm only: ready for master, tested manually on Linux

#4897 Add test/Kernel_23/test_approximate_dihedral_angle_3.cpp
  Kernel_23/test/Kernel_23/test_approximate_dihedral_angle_3.cpp
Labels: Pkg::Kernel_23, Tested, Testsuite, Under Testing, rm only: ready for master

#4881 Tetrahedral remeshing - fix compare_subdomains()
  .travis.yml
  .travis/install.sh
  .travis/template.txt
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, rm only: release blocker

#4901 Point Set Processing: Remove outdated precondition
  Point_set_processing_3/include/CGAL/edge_aware_upsample_point_set.h
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, Under Testing, bug, trivial

#4906 remove incorrect license include statement
  Stream_support/include/CGAL/IO/write_vtk.h
Labels: Pkg::Stream_support, bug

#4917 Representation of `__` in typewrite font versus code
  Documentation/doc/Documentation/Developer_manual/Chapter_portability.txt
Labels: doc, enhancement

#4902 PMP: Restore array-based soup to mesh conversion
  Polygon_mesh_processing/examples/Polygon_mesh_processing/repair_polygon_soup_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/polygon_soup_to_polygon_mesh.h
Labels: Pkg::PMP, Ready to be tested, Tested, bug

#4912 Fix dispatch do_intersect(Tetrahedron_3, Bbox_3)
  Intersections_3/include/CGAL/Intersections_3/internal/Tetrahedron_3_Bounded_3_do_intersect.h
Labels: Pkg::Kernel_23, Tested, bug

#4911 Fix do_intersect for Tetrahedron_3 Tetrahedron_3
  Intersections_3/include/CGAL/Intersections_3/internal/Tetrahedron_3_Bounded_3_do_intersect.h
Labels: Under Testing, bug

#4925 Tetrahedral Remeshing - fix the two-layer issue
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Pkg::Tetrahedral_remeshing, Tested, bug

#4916 Fix bug with self intersecting bezier curves + with CORE::Polynomial
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Bezier_cache.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Bezier_point_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Bezier_x_monotone_2.h
  CGAL_Core/include/CGAL/CORE/poly/Poly.tcc
Labels: Pkg::Arrangement_on_surface_2, Tested, bug

#4933 Disable boost_serialization and iostreams
  .travis/build_package.sh
Labels: Testsuite, Under Testing

#4922 Layout on the bibliography page
  Documentation/doc/resources/1.8.13/stylesheet.css
  Documentation/doc/resources/1.8.14/stylesheet.css
  Documentation/doc/resources/1.8.4/stylesheet.css
Labels: Tested

#4940 Travis: Use another PPA for boost
  .travis/build_package.sh
  .travis/install.sh
Labels: Tested, Testsuite

#4937 Polyhedron Demo: Fix c3t3 colors after optimization
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin_cgal_code.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Optimization_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Optimization_plugin_cgal_code.cpp
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.h
Labels: CGAL 3D demo, Ready to be tested, Tested, bug, tested manually on Linux

#4947 Fix error in HSV/RGB color conversion
  Stream_support/include/CGAL/IO/Color.h
Labels: CGAL I/O, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#4949 Polyhedron demo: Fixes
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Affine_transform_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.h
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Three/include/CGAL/Three/Scene_draw_interface.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master
