Repository CGAL/cgal, pull requests merged in 2021-04, with the labels that each got.

#5488 [Small Feature] Remove TensorFlow support
  Classification/doc/Classification/Classification.txt
  Classification/doc/Classification/Concepts/Classifier.h
  Classification/doc/Classification/PackageDescription.txt
  Classification/doc/Classification/examples.txt
  Classification/examples/Classification/CMakeLists.txt
  Classification/examples/Classification/example_tensorflow_neural_network.cpp
  Classification/include/CGAL/Classification.h
  Classification/include/CGAL/Classification/TensorFlow/Neural_network_classifier.h
  Documentation/doc/Documentation/Third_party.txt
  Documentation/doc/Documentation/advanced/Configuration_variables.txt
  Installation/CHANGES.md
  Installation/cmake/modules/CGAL_TensorFlow_support.cmake
  Installation/cmake/modules/FindTensorFlow.cmake
  Installation/cmake/modules/list_of_whitelisted_headers.cmake
  Polyhedron/demo/Polyhedron/Plugins/Classification/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Classification/Classification_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Classification/Cluster_classification.cpp
  Polyhedron/demo/Polyhedron/Plugins/Classification/Item_classification_base.h
  Polyhedron/demo/Polyhedron/Plugins/Classification/Point_set_item_classification.cpp
  Polyhedron/demo/Polyhedron/Plugins/Classification/Surface_mesh_item_classification.cpp
Labels: Pkg::Classification, Tested, accepted feature, rm only: ready for master, small feature

#5499 Linear cell complex: Add points and edges constructor
  Linear_cell_complex/include/CGAL/Linear_cell_complex_constructors.h
Labels: CLA/CAA OK, Pkg::Linear_cell_complex, Tested, rm only: ready for master

#5507 PMP: Accelerate isotropic remeshing
  AABB_tree/include/CGAL/AABB_traits.h
  BGL/include/CGAL/boost/graph/Euler_operations.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Do_intersect_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Equal_3.h
  Intersections_3/include/CGAL/Intersections_3/internal/Bbox_3_Sphere_3_do_intersect.h
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/compute_normal.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/polygon_soup_to_polygon_mesh.h
Labels: Pkg::PMP, Tested, rm only: ready for master, speed

#5510 Round-to-nearest support for intervals
  Number_types/include/CGAL/FPU.h
  Number_types/include/CGAL/Interval_nt.h
  Number_types/test/Number_types/CMakeLists.txt
  Number_types/test/Number_types/Interval_nt.cpp
  Number_types/test/Number_types/Interval_nt_nearest.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_corefinement_and_constraints_nearest.cpp
Labels: CLA/CAA OK, Pkg::Number_types, Tested, enhancement, rm only: ready for master

#5522 Nef_3: Do not test has_on for a point where we know that it will be true
  Kernel_23/include/CGAL/Kernel/function_objects.h
  Kernel_23/include/CGAL/Kernel/interface_macros.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
  Nef_3/include/CGAL/Nef_3/bounded_side_3.h
  Nef_S2/include/CGAL/Nef_S2/SM_point_locator.h
  Nef_S2/include/CGAL/Nef_S2/Sphere_segment.h
Labels: Pkg::Nef_3, Tested, rm only: ready for master

#5525 Polyhedron demo - improve PMP::isotropic_remeshing dialog box
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_dialog.ui
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
Labels: CGAL 3D demo, Tested, enhancement, rm only: ready for master, tested manually on Windows

#5535 Add more cmake support files
  BGL/examples/BGL_polyhedron_3/CMakeLists.txt
  BGL/examples/BGL_surface_mesh/CMakeLists.txt
  Installation/cmake/modules/CGAL_Ceres_support.cmake
  Installation/cmake/modules/CGAL_METIS_support.cmake
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
Labels: CMake scripts, Tested, rm only: ready for master

#5542 Linear_cell_complex_incremental_builder include
  Linear_cell_complex/include/CGAL/Linear_cell_complex_incremental_builder.h
Labels: Pkg::Linear_cell_complex, Tested, rm only: ready for master

#5555 Inherit from a std exception
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_impl.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_autorefinement.cpp
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Clip_polyhedron_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Corefinement_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Repair_polyhedron_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Surface_intersection_plugin.cpp
Labels: Pkg::PMP, Tested, enhancement, rm only: ready for master

#5560 Use initialized vector
  Kernel_23/test/Kernel_23/include/CGAL/_test_new_3.h
Labels: Pkg::Kernel_23, Tested, bug, rm only: ready for master

#5569 [cleanup][surface_mesh] Remove unused and duplicate includes
  Surface_mesh/examples/Surface_mesh/sm_do_intersect.cpp
Labels: CLA/CAA OK, Pkg::Surface_mesh, Tested, cleaning, rm only: ready for master

#5572 Add attention notice in Ceres about libunwind
  Documentation/doc/Documentation/Third_party.txt
Labels: Tested, doc, rm only: ready for master

#5144 Proposed fix for unnecessary allocations in ID_support_handler. Issue #5143
  Nef_3/include/CGAL/Nef_3/ID_support_handler.h
Labels: CLA/CAA OK, Pkg::Nef_3, Tested, bug, rm only: ready for master

#5233 Fix uncaught exceptions
  HalfedgeDS/include/CGAL/HalfedgeDS_list.h
  Nef_3/include/CGAL/Nef_3/K3_tree.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
  Nef_S2/include/CGAL/Nef_S2/Sphere_map.h
  Nef_S2/include/CGAL/Nef_polyhedron_S2.h
  STL_Extension/include/CGAL/Handle_for.h
  STL_Extension/include/CGAL/In_place_list.h
  STL_Extension/include/CGAL/assertions.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_aux.h
  Stream_support/include/CGAL/IO/VRML/VRML_2_ostream.h
Labels: Tested, rm only: ready for master

#5548 PCA: do not compile examples/tests without Eigen
  Principal_component_analysis/examples/Principal_component_analysis/CMakeLists.txt
  Principal_component_analysis/test/Principal_component_analysis/CMakeLists.txt
Labels: CMake scripts, Pkg::Principal_component_analysis, Tested, rm only: ready for master, warnings

#5550 Fix Eigen in CMakeLists 5.2
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Tetrahedral_remeshing/examples/Tetrahedral_remeshing/CMakeLists.txt
Labels: CMake scripts, Pkg::Mesh_3, Pkg::Tetrahedral_remeshing, Tested, bug, rm only: ready for master

#5552 Fix deprecated include path
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/common-libraries.hpp
Labels: Pkg::Classification, Tested, rm only: ready for master, trivial, warnings

#5571 Classification: Sanitize addresses
  Classification/examples/Classification/example_cluster_classification.cpp
  Classification/include/CGAL/Classification/Feature_set.h
Labels: Pkg::Classification, Tested, bug, rm only: ready for master

#5556 Fix inconsistency in normal computation in robust projection code
  Kernel_23/include/CGAL/Kernel/function_objects.h
Labels: Pkg::Kernel_23, Tested, bug, rm only: ready for master

#5561 Kernel_23: Fix warnings in Circle_3
  Cartesian_kernel/include/CGAL/Cartesian/Circle_3.h
Labels: Tested, rm only: ready for master, warnings

#5570 Speed up invalid polygon removal in repair_PS
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
Labels: Pkg::PMP, Tested, rm only: ready for master, speed

#5549 Fix Eigen in CMakeLists 5.1
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Tetrahedral_remeshing/examples/Tetrahedral_remeshing/CMakeLists.txt
Labels: CMake scripts, Pkg::Mesh_3, Pkg::Tetrahedral_remeshing, bug

#5130 [Principal Component Analysis] Kernel compatibility, diagonalization precision and overload efficiency
  Principal_component_analysis/include/CGAL/PCA_util_Eigen.h
  Principal_component_analysis/include/CGAL/Subiterator.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_circles_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_cuboids_3.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_rectangles_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_segments_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_segments_3.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_tetrahedra_3.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_triangles_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_triangles_3.h
  Principal_component_analysis/test/Principal_component_analysis/test_kernels.cpp
  Principal_component_analysis/test/Principal_component_analysis/test_validity.cpp
  Principal_component_analysis_LGPL/include/CGAL/centroid.h
  Solver_interface/include/CGAL/Eigen_diagonalize_traits.h
Labels: Pkg::Principal_component_analysis, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, tested manually on Linux

#5266 PMP isotropic_remeshing() - improve edge flip step
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_remeshing/cheese_transformed-facets-2.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_remeshing/cheese_transformed-facets.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/remeshing_test.cpp
  Surface_mesh_approximation/test/Surface_mesh_approximation/CMakeLists.txt
Labels: Pkg::PMP, Ready to be tested, Tested, enhancement, rm only: ready for master

#5526 Mesh_3 - more testing of determinism
  Mesh_3/include/CGAL/Mesh_polyhedron_3.h
  Mesh_3/test/Mesh_3/test_meshing_determinism.cpp
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, tested manually on Windows

#5566 PMP - Polyhedral Envelope : Make it faster by making combinatorial tests
  Polygon_mesh_processing/include/CGAL/Polyhedral_envelope.h
Labels: Pkg::PMP, Pkg::Surface_mesh_simplification, Ready to be tested, Tested, rm only: ready for master

#5573 Polyhedron Demo: Trivial Warning
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/TextRenderer.cpp
  STL_Extension/include/CGAL/Object.h
  Stream_support/include/CGAL/IO/OFF/File_header_OFF_impl.h
  Stream_support/include/CGAL/IO/OFF/File_writer_OFF.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master, trivial, warnings

#5582 CGAL ImageIO: Add an example and restore VTK support
  CGAL_ImageIO/archive/demo/CGALimageIO/CMakeLists.txt
  CGAL_ImageIO/examples/CGALimageIO/CMakeLists.txt
  CGAL_ImageIO/examples/CGALimageIO/extract_a_sub_image.cpp
  CGAL_ImageIO/examples/CGALimageIO/slice_image.cpp
  CGAL_ImageIO/include/CGAL/Image_3_vtk_interface.h
Labels: Pkg::CGAL_ImageIO, Ready to be tested, Tested, enhancement, rm only: ready for master

#5588 Nef_3: Avoid a filter failure
  Nef_3/include/CGAL/Nef_3/Nef_box.h
  Nef_3/include/CGAL/Nef_3/SNC_FM_decorator.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
  Nef_3/include/CGAL/Nef_3/SNC_simplify.h
  Nef_3/test/Nef_3/test_nef_3_io_EPIC.cpp
Labels: Pkg::Nef_3, Ready to be tested, Tested, rm only: ready for master

#5596 Add doc for precompiled demos
  Alpha_shapes_2/doc/Alpha_shapes_2/CGAL/Alpha_shape_2.h
  Alpha_shapes_3/doc/Alpha_shapes_3/Alpha_shapes_3.txt
  Alpha_shapes_3/doc/Alpha_shapes_3/CGAL/Alpha_shape_3.h
  Box_intersection_d/doc/Box_intersection_d/CGAL/box_intersection_d.h
  Classification/include/CGAL/Classification/ETHZ/Random_forest_classifier.h
  Classification/include/CGAL/Classification/Local_eigen_analysis.h
  Classification/include/CGAL/Classification/Mesh_feature_generator.h
  Classification/include/CGAL/Classification/Point_set_feature_generator.h
  Documentation/doc/Documentation/Tutorials/Tutorial_hello_world.txt
  Documentation/doc/Documentation/advanced/Installation.txt
  Documentation/doc/Documentation/main.txt
  Documentation/doc/Documentation/windows.txt
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
  Documentation/doc/resources/1.8.20/BaseDoxyfile.in
  Documentation/doc/resources/1.8.4/BaseDoxyfile.in
  Documentation/doc/scripts/generate_how_to_cite.py
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/CGAL/Hyperbolic_Delaunay_triangulation_CK_traits_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/CGAL/Hyperbolic_Delaunay_triangulation_traits_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/CGAL/Hyperbolic_triangulation_face_base_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/Hyperbolic_triangulation_2.txt
  Interval_skip_list/doc/Interval_skip_list/CGAL/Level_interval.h
  Kernel_23/doc/Kernel_23/Kernel_23.txt
  Kernel_d/doc/Kernel_d/CGAL/Epeck_d.h
  Mesh_2/doc/Mesh_2/PackageDescription.txt
  Mesh_3/doc/Mesh_3/Mesh_3.txt
  Modular_arithmetic/doc/Modular_arithmetic/CGAL/Residue.h
  Nef_S2/doc/Nef_S2/Nef_S2.txt
  Number_types/include/CGAL/Exact_algebraic.h
  Number_types/include/CGAL/Exact_integer.h
  Number_types/include/CGAL/Exact_rational.h
  Periodic_3_mesh_3/doc/Periodic_3_mesh_3/PackageDescription.txt
  Periodic_3_mesh_3/doc/Periodic_3_mesh_3/Periodic_3_mesh_3.txt
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/CGAL/Periodic_3_triangulation_3.h
  STL_Extension/doc/STL_Extension/CGAL/memory.h
  Scale_space_reconstruction_3/doc/Scale_space_reconstruction_3/Scale_space_reconstruction_3.txt
  Solver_interface/include/CGAL/Default_diagonalize_traits.h
  Spatial_searching/doc/Spatial_searching/CGAL/Kd_tree.h
  Stream_support/doc/Stream_support/IOstream.txt
Labels: Ready to be tested, Tested, doc, enhancement, rm only: ready for master

#5620 Testsuite: Fixes for windows runs
  Installation/cmake/modules/CGAL_add_test.cmake
  Scripts/developer_scripts/run_testsuite_with_ctest
Labels: Ready to be tested, Tested, Testsuite, enhancement, rm only: ready for master

#5565 Nef 3 performance segment overlay traits
  Nef_2/include/CGAL/Nef_2/Segment_overlay_traits.h
Labels: CLA/CAA OK, Pkg::Nef_3, Ready to be tested, Tested, rm only: ready for master, speed

#5564 Handle "right" folds
  Generator/doc/Generator/CGAL/random_polygon_2.h
  Generator/include/CGAL/Random_polygon_2_sweep.h
  Generator/include/CGAL/random_polygon_2.h
  Generator/test/Generator/random_poly_test.cpp
  Polygon/include/CGAL/Polygon_2/Polygon_2_simplicity.h
Labels: Pkg::Generators, Pkg::Polygon, Ready to be tested, Tested, bug, rm only: ready for master

#5568 Interpolation: Fix deprecated inheritance with std::iterator
  Interpolation/examples/Interpolation/interpolation_vertex_with_info_2.cpp
  Interpolation/examples/Interpolation/sibson_interpolation_rn_vertex_with_info_2.cpp
Labels: Modern C++ (C++11 and later), Pkg::Interpolation, Ready to be tested, Tested, rm only: ready for master, warnings

#5578 Installation: FindGMP also searches for debug lib
  Installation/cmake/modules/FindGMP.cmake
Labels: CMake scripts, Ready to be tested, Tested, bug, rm only: ready for master

#5586 PSP: Fix pointmatcher example
  Point_set_processing_3/examples/Point_set_processing_3/registration_with_pointmatcher.cpp
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, rm only: ready for master

#5587 Mesh_3 - fix features detection on image bounding box
  Mesh_3/include/CGAL/Mesh_3/polylines_to_protect.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, bug, rm only: ready for master

#5593 Fixed unassigned variable in the tests of Arrangement_on_surface_2
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/IO_base_test.h
Labels: Pkg::Arrangement_on_surface_2, Ready to be tested, Tested, rm only: ready for master

#5601 Polyhedron Demo: Fix edit bbox
  Polyhedron/demo/Polyhedron/Plugins/PCA/Scene_edit_box_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, bug, rm only: ready for master

#5610 Documentation: Add a picture to the vcpkg usage doc
  Documentation/doc/Documentation/fig/toolchain.png
  Documentation/doc/Documentation/windows.txt
Labels: Ready to be tested, Tested, doc, enhancement, rm only: ready for master, rm only: ready for release branch

#5539 Collect faces incident to edges too
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_callbacks.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_impl.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5577 Tetrahedral Remeshing - fix link error
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, bug, rm only: ready for master

#5580 Mesh_3 - fix feature protection for images
  Mesh_3/include/CGAL/Mesh_3/experimental/Sizing_field_with_aabb_tree.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, bug, rm only: ready for master

#5599 CI Doc building: Accept modifications to the Documentation package only
  .github/workflows/build_doc.yml
Labels: Ready to be tested, Tested, rm only: ready for master

#5602 Polyhedron demo: Fix corner-item description
  Polyhedron/demo/Polyhedron/Scene_polylines_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, bug, rm only: ready for master

#5585 Kernel_23: Remove local reference in rational_rotation.h
  Kernel_23/include/CGAL/rational_rotation.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, rm only: ready for master

#4649 Try to filter out warnings not in CGAL
  Maintenance/test_handling/create_testresult_page
  Maintenance/test_handling/testresult.css
  Testsuite/test/collect_cgal_testresults_from_cmake
Labels: Testsuite, Under Testing

#4099 Speed up comparison of points
  Cartesian_kernel/include/CGAL/predicates/kernel_ftC2.h
  Cartesian_kernel/include/CGAL/predicates/kernel_ftC3.h
  Filtered_kernel/include/CGAL/Lazy_kernel.h
  Kernel_23/benchmark/Kernel_23/CMakeLists.txt
  Kernel_23/benchmark/Kernel_23/cmp_epeck_points.cpp
  Kernel_23/include/CGAL/Kernel/function_objects.h
  STL_Extension/include/CGAL/Uncertain.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, speed

#5583 Polyhedral_envelope: face epsilon map
  BGL/include/CGAL/boost/graph/parameters_interface.h
  BGL/test/BGL/test_cgal_bgl_named_params.cpp
  Polygon_mesh_processing/include/CGAL/Polyhedral_envelope.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_polyhedral_envelope.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, enhancement

#5611 Tetrahedral remeshing - fix indices for very small inputs
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/FMLS.h
Labels: Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, bug

#5616 PMP::isotropic_remeshing - keep corners incident to isolated constrained edges
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Ready to be tested, Tested, bug

#5621 Add support for protecting features in offset meshing
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Offset_meshing_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Remeshing_dialog.ui
Labels: CGAL 3D demo, Ready to be tested, Tested, enhancement

#5623 Polyhedron_demo : Fix a warning
  Polyhedron/demo/Polyhedron/Scene_group_item.cpp
  Three/include/CGAL/Three/Scene_group_item.h
  Three/include/CGAL/Three/Scene_item_with_properties.h
Labels: CGAL 3D demo, Ready to be tested, Tested, tested manually on Linux, tested manually on Windows, warnings

#5628 Testsuite: Fix release creation scripts for windows
  Scripts/developer_scripts/autotest_cgal
  Scripts/developer_scripts/cgal_create_release_with_cmake.cmake
  Testsuite/test/run_testsuite_with_cmake
Labels: CMake scripts, Ready to be tested, Tested, bug

#5644 Orthtree: Fix history
  Orthtree/doc/Orthtree/Orthtree.txt
Labels: doc, trivial

#5595 Nef_3: Improve K3_tree
  Nef_3/include/CGAL/Nef_3/K3_tree.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, rm only: ready for master, speed

#5632 Linear Cell Complex: Check if stream is valid
  Linear_cell_complex/include/CGAL/Linear_cell_complex_constructors.h
  Surface_mesh_topology/include/CGAL/Path_on_surface.h
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master, warnings

#5634 Simplify conditional code
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5645 ToS2: Fix paths of benchmarks
  Triangulation_on_sphere_2/benchmark/Triangulation_on_sphere_2/CMakeLists.txt
  Triangulation_on_sphere_2/benchmark/Triangulation_on_sphere_2/bench_dtos2.cpp
  Triangulation_on_sphere_2/benchmark/Triangulation_on_sphere_2/generate_points.cpp
Labels: Pkg::Triangulation_on_sphere_2, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5430 Scripts - collect dlls for Polyhedron demo with cygwin
  Maintenance/public_release/scripts/precompiled_demos_zips
  Scripts/developer_scripts/autotest_cgal
  Scripts/developer_scripts/cgal_demo_copy_all_dlls_cygwin.sh
Labels: CGAL 3D demo, Infrastructure, Pkg::Scripts, Ready to be tested, Tested, Testsuite, Under Testing, rm only: ready for master

#5532 Remove operator/ from CGAL::Mpzf and implement Do_intersect_3 with RT only (without division)
  Algebraic_foundations/include/CGAL/number_utils.h
  Bounding_volumes/include/CGAL/Min_sphere_of_spheres_d/Min_sphere_of_spheres_d_impl.h
  Cartesian_kernel/include/CGAL/Cartesian/function_objects.h
  Cartesian_kernel/include/CGAL/Cartesian/solve_3.h
  Filtered_kernel/include/CGAL/internal/Static_filters/Do_intersect_3.h
  Intersections_3/include/CGAL/Intersections_3/internal/intersection_3_1_impl.h
  Intersections_3/test/Intersections_3/test_intersections_3.cpp
  Kernel_23/include/CGAL/Kernel/interface_macros.h
  Kernel_23/include/CGAL/Kernel/solve.h
  Kernel_23/include/CGAL/rank.h
  Kernel_23/test/Kernel_23/rank.cpp
  NewKernel_d/include/CGAL/NewKernel_d/utils.h
  Number_types/include/CGAL/Mpzf.h
  Polygon_mesh_processing/examples/Polygon_mesh_processing/data/blade.off
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, speed

#5629 PSP: Fix conversion warnings in clustering
  Point_set_processing_3/include/CGAL/cluster_point_set.h
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5637 Fix use of empty range
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_hole.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, warnings

#5642 Add missing return statement
  Skin_surface_3/include/CGAL/make_skin_surface_mesh_3.h
Labels: Pkg::Skin_surface, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, trivial

#5646 Documentation: Fix doxygen comparison scripts
  Documentation/doc/scripts/process_doc.sh
  Documentation/doc/scripts/test_doxygen_versions.sh
  Documentation/doc/scripts/testsuite.py
Labels: Ready to be tested, Tested, Under Testing, doc, doc bug
