Repository CGAL/cgal, pull requests merged in 2021-01, with the labels that each got.

#5283 Ignore isolated vertices
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/Surface_mesh_shortest_path.h
Labels: Pkg::Surface_mesh_shortest_path, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5288 Use a small_vector in Delaunay_triangulation
  Triangulation/include/CGAL/Delaunay_triangulation.h
Labels: Pkg::Triangulation_d, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, speed

#5292 CTest: Fix some examples and tests
  Bounding_volumes/examples/Approximate_min_ellipsoid_d/CMakeLists.txt
  Bounding_volumes/test/Bounding_volumes/CMakeLists.txt
  Point_set_processing_3/examples/Point_set_processing_3/CMakeLists.txt
  STL_Extension/test/STL_Extension/CMakeLists.txt
Labels: Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5302 Doc fix
  Mesh_3/include/CGAL/Mesh_domain_with_polyline_features_3.h
  Mesh_3/include/CGAL/Polyhedral_complex_mesh_domain_3.h
Labels: Pkg::Mesh_3, Tested, Under Testing, doc bug, rm only: ready for master

#5104 Allow to use compact container or concurrent compact container for CMap, GMap and LCC
  Combinatorial_map/include/CGAL/Cell_attribute.h
  Combinatorial_map/include/CGAL/Combinatorial_map_fwd.h
  Combinatorial_map/include/CGAL/Combinatorial_map_storages.h
  Combinatorial_map/include/CGAL/Dart.h
  Combinatorial_map/include/CGAL/internal/Combinatorial_map_utility.h
  Generalized_map/include/CGAL/Generalized_map_fwd.h
  Generalized_map/include/CGAL/Generalized_map_storages.h
  Linear_cell_complex/include/CGAL/CMap_linear_cell_complex_storages.h
  Linear_cell_complex/include/CGAL/GMap_linear_cell_complex_storages.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_fwd.h
  STL_Extension/include/CGAL/Concurrent_compact_container.h
Labels: Pkg::Combinatorial_map, Pkg::Linear_cell_complex, Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5107 GraphicsView: Zoom enhancement
  GraphicsView/include/CGAL/Qt/qglviewer.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Polyhedron/include/CGAL/draw_polyhedron.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5153 Enable Boost.Multiprecision with MSVC and recent boost
  Number_types/include/CGAL/boost_mp.h
Labels: Pkg::Number_types, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5162 CMake: Make it easier to find boost and qt on windows
  CMakeLists.txt
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master

#5189 Fix uninitialized member in Gmpz_type.h
  Number_types/include/CGAL/GMP/Gmpz_type.h
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master, trivial

#5251 Modify facet size criterion to avoid unfortunate dent in an example
  Periodic_3_mesh_3/examples/Periodic_3_mesh_3/mesh_implicit_shape.cpp
Labels: Pkg::Periodic_3_mesh_3, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, trivial

#5256 TIny improvement of surface isotropic remeshing
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5258 Change extension to the one recognized by the demo
  Polygon_mesh_processing/examples/Polygon_mesh_processing/surface_mesh_intersection.cpp
  Surface_mesh_shortest_path/examples/Surface_mesh_shortest_path/shortest_paths.cpp
  Surface_mesh_shortest_path/examples/Surface_mesh_shortest_path/shortest_paths_OpenMesh.cpp
  Surface_mesh_shortest_path/examples/Surface_mesh_shortest_path/shortest_paths_multiple_sources.cpp
  Surface_mesh_shortest_path/examples/Surface_mesh_shortest_path/shortest_paths_no_id.cpp
  Surface_mesh_shortest_path/examples/Surface_mesh_shortest_path/shortest_paths_with_id.cpp
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_constrain_sharp_edges.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/MCF_Skeleton_LCC_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/MCF_Skeleton_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/MCF_Skeleton_sm_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/simple_mcfskel_LCC_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/simple_mcfskel_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/simple_mcfskel_sm_example.cpp
Labels: Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5274 Allow FT that isn't floating point.
  BGL/include/CGAL/boost/graph/generators.h
Labels: CLA/CAA OK, Pkg::BGL, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5287 SSE2 version of square for intervals
  Number_types/include/CGAL/Interval_nt.h
Labels: Pkg::Number_types, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, speed

#5296 Tetrahedral_remeshing - fix the cell selection
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/collapse_short_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/smooth_vertices.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/split_long_edges.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Pkg::Tetrahedral_remeshing, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, tested manually on Windows

#5299 CI: Add Checks in GitHub Actions
  .github/install.sh
  .github/workflows/checks.yml
  Alpha_shapes_3/package_info/Alpha_shapes_3/dependencies
  BGL/package_info/BGL/dependencies
  Geomview/package_info/Geomview/dependencies
  Installation/cmake/modules/list_of_whitelisted_headers.cmake
  Installation/include/CGAL/config.h
  Polyhedron_IO/package_info/Polyhedron_IO/dependencies
  Scale_space_reconstruction_3/package_info/Scale_space_reconstruction_3/dependencies
  Scripts/developer_scripts/detect_packages_licenses
  Triangulation_2/package_info/Triangulation_2/dependencies
  Triangulation_3/package_info/Triangulation_3/dependencies
Labels: Infrastructure, rm only: ready for master, rm only: ready for release branch

#5335 Obsolete doxygen setting COLS_IN_ALPHA_INDEX
  Documentation/doc/resources/1.8.20/BaseDoxyfile.in
Labels: doc

#5314 Fix spelling akeen -> akin
  Circulator/doc/Circulator/Circulator.txt
Labels: doc, trivial

#5242 Kernel: Collinear_3: Static Analysis
  Filtered_kernel/include/CGAL/internal/Static_filters/Collinear_3.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5268 Fix structurally dead code in SNC_simplify.h
  Nef_3/include/CGAL/Nef_3/SNC_simplify.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5285 Polyhedron Demo: new batch of fixes
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/IO/Polylines_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Affine_transform_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/heat_intensity_shader.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_c3t3.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_c3t3_spheres.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_instanced.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_spheres.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_with_light.vert
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_with_texture.vert
  Polyhedron/demo/Polyhedron/resources/heat_intensity_shader.vert
  Polyhedron/demo/Polyhedron/resources/no_interpolation_shader.vert
  Polyhedron/demo/Polyhedron/resources/shader_c3t3.vert
  Polyhedron/demo/Polyhedron/resources/shader_c3t3_spheres.vert
  Polyhedron/demo/Polyhedron/resources/shader_instanced.vert
  Polyhedron/demo/Polyhedron/resources/shader_spheres.vert
  Polyhedron/demo/Polyhedron/resources/shader_with_light.vert
  Polyhedron/demo/Polyhedron/resources/shader_with_texture.vert
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5289 Fix passing big parameters by value in SNC_io_parser.h
  Nef_3/include/CGAL/Nef_3/SNC_io_parser.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5317 Triangulation_3: Construct double to avoid VC++ warning C5055
  Triangulation_3/include/CGAL/Triangulation_hierarchy_3.h
Labels: Pkg::Triangulation_3, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5324 PSP_3: Remove debug output
  Point_set_processing_3/include/CGAL/edge_aware_upsample_point_set.h
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master, trivial

#5341 Fix segmentation fault in destructor of Handle_for_virtual.h
  STL_Extension/include/CGAL/Handle_for_virtual.h
Labels: Pkg::Kernel_23, Pkg::Kernel_d, Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5357 Include non-deprecated header (master)
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_polycurve_intersection.cpp
  BGL/include/CGAL/boost/graph/copy_face_graph.h
  CGAL_ipelets/include/CGAL/grabbers.h
  Classification/examples/Classification/example_cluster_classification.cpp
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Mesh_3/include/CGAL/Mesh_3/Protect_edges_sizing_field.h
  Mesh_3/include/CGAL/Mesh_3/Slivers_exuder.h
  NewKernel_d/include/CGAL/NewKernel_d/Lazy_cartesian.h
  Periodic_3_mesh_3/include/CGAL/Periodic_3_mesh_3/Protect_edges_sizing_field.h
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Neighbor_query.h
  Polygon_mesh_processing/examples/Polygon_mesh_processing/connected_components_example.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_example.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_of_patch_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/intersection.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h
  Polyhedron/demo/Polyhedron/Plugins/PMP/Hole_filling_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_shape_detection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Scene_edit_polyhedron_item.h
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Scale_space_reconstruction_3/include/CGAL/Scale_space_reconstruction_3/Weighted_PCA_smoother.h
  Shape_detection/examples/Shape_detection/region_growing_on_point_set_3.cpp
  Shape_detection/test/Shape_detection/test_validity_sampled_data.cpp
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/ARAP_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Fixed_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/IO/File_off.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Iterative_authalic_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/LSCM_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Two_vertices_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/internal/validity.h
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master, warnings

#5331 [Scale Space] Fix warning, comparing size_t with 0 is always true
  Scale_space_reconstruction_3/include/CGAL/Scale_space_reconstruction_3/Alpha_shape_mesher.h
Labels: Ready to be tested, Scale_space_reconstruction, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, trivial, warnings

#5355 Include non-deprecated header (5.1)
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_polycurve_intersection.cpp
  BGL/include/CGAL/boost/graph/copy_face_graph.h
  CGAL_ipelets/include/CGAL/grabbers.h
  Classification/examples/Classification/example_cluster_classification.cpp
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Mesh_3/include/CGAL/Mesh_3/Protect_edges_sizing_field.h
  Mesh_3/include/CGAL/Mesh_3/Slivers_exuder.h
  NewKernel_d/include/CGAL/NewKernel_d/Lazy_cartesian.h
  Periodic_3_mesh_3/include/CGAL/Periodic_3_mesh_3/Protect_edges_sizing_field.h
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Neighbor_query.h
  Polygon_mesh_processing/examples/Polygon_mesh_processing/connected_components_example.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_example.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_of_patch_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/intersection.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h
  Polyhedron/demo/Polyhedron/Plugins/PMP/Hole_filling_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Hole_filling_polyline_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_shape_detection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Scene_edit_polyhedron_item.h
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Scale_space_reconstruction_3/include/CGAL/Scale_space_reconstruction_3/Weighted_PCA_smoother.h
  Shape_detection/examples/Shape_detection/region_growing_on_point_set_3.cpp
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/ARAP_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Fixed_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/IO/File_off.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/LSCM_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Two_vertices_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/internal/validity.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/parameterize.h
Labels: Tested, rm only: ready for master, rm only: ready for release branch, warnings

#5323 Point Set Processing - Fix missing std::ios::binary tag in some examples
  Point_set_processing_3/examples/Point_set_processing_3/registration_with_OpenGR.cpp
  Point_set_processing_3/examples/Point_set_processing_3/registration_with_opengr_pointmatcher_pipeline.cpp
  Point_set_processing_3/examples/Point_set_processing_3/registration_with_pointmatcher.cpp
Labels: Pkg::Point_set_processing_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5343 Deactivate geomview_demo
  Polyhedron_IO/demo/Polyhedron_IO/geomview_demo.cpp
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch

#5330 remove hardcoded kernel
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_nodes.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_of_coplanar_triangles_3.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5356 Include non-deprecated header (5.2)
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_polycurve_intersection.cpp
  BGL/include/CGAL/boost/graph/copy_face_graph.h
  CGAL_ipelets/include/CGAL/grabbers.h
  Classification/examples/Classification/example_cluster_classification.cpp
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Mesh_3/include/CGAL/Mesh_3/Protect_edges_sizing_field.h
  Mesh_3/include/CGAL/Mesh_3/Slivers_exuder.h
  NewKernel_d/include/CGAL/NewKernel_d/Lazy_cartesian.h
  Periodic_3_mesh_3/include/CGAL/Periodic_3_mesh_3/Protect_edges_sizing_field.h
  Point_set_processing_3/include/CGAL/Point_set_processing_3/internal/Neighbor_query.h
  Polygon_mesh_processing/examples/Polygon_mesh_processing/connected_components_example.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_example.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_of_patch_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/intersection.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h
  Polyhedron/demo/Polyhedron/Plugins/PMP/Hole_filling_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_shape_detection_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Scene_edit_polyhedron_item.h
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
  Scale_space_reconstruction_3/include/CGAL/Scale_space_reconstruction_3/Weighted_PCA_smoother.h
  Shape_detection/examples/Shape_detection/region_growing_on_point_set_3.cpp
  Shape_detection/test/Shape_detection/test_validity_sampled_data.cpp
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/ARAP_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Fixed_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/IO/File_off.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Iterative_authalic_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/LSCM_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Two_vertices_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/internal/validity.h
Labels: Tested, rm only: ready for master, rm only: ready for release branch, warnings

#5386 Update README.md
  README.md
Labels: doc, trivial

#5401 Fix the Documentation jobs in the CI
  .github/workflows/build_doc.yml
Labels: bug, doc
