Repository CGAL/cgal, pull requests merged in 2021-06, with the labels that each got.

#5746 Prepare CHANGES.md for CGAL 5.3
  Installation/CHANGES.md
Labels: cleaning

#5732 FindTBB.cmake: only search TBB in Config mode if version >= 2019 update 5
  Installation/cmake/modules/FindTBB.cmake
Labels: CGAL 3D demo, Tested, bug, rm only: ready for master, rm only: ready for release branch

#5739 Polyhedron Demo: Fix Scene Recentering while Scaled
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Polyhedron/demo/Polyhedron/Viewer.h
  Three/include/CGAL/Three/Viewer_interface.h
Labels: CGAL 3D demo, Tested, bug, rm only: ready for master, rm only: ready for release branch

#5701 Testsuite: Adapt ctest scripts for use with cygwin
  Installation/cmake/modules/CGAL_add_test.cmake
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Camera_position/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Classification/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Convex_hull/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PCA/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/CMakeLists.txt
  Polyhedron/demo/Polyhedron/polyhedron_demo_macros.cmake
  Scripts/developer_scripts/autotest_cgal_with_ctest
  Scripts/developer_scripts/run_testsuite_with_ctest
  Snap_rounding_2/test/Snap_rounding_2/CMakeLists.txt
  Testsuite/test/parse-ctest-dashboard-xml.py
Labels: Pkg::Scripts, Tested, Testsuite, rm only: ready for master

#5731 Hash value of handles use directly the address of the node
  Hash_map/include/CGAL/Handle_hash_function.h
  STL_Extension/include/CGAL/In_place_list.h
Labels: Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5747 Point_set_3: Fix doc
  Point_set_3/include/CGAL/Point_set_3/IO.h
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5757 Incorrect documentation for enum in Three package
  Three/include/CGAL/Three/Scene_interface.h
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5758 Remove a broken link
  Surface_mesh/doc/Surface_mesh/Surface_mesh.txt
Labels: Pkg::Surface_mesh, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master, trivial

#5759 Incorrect links in Triangulation_on_sphere_2
  Triangulation_on_sphere_2/doc/Triangulation_on_sphere_2/Triangulation_on_sphere_2.txt
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5764 Fix ToS2 demo link
  Triangulation_2/doc/Triangulation_2/Doxyfile.in
  Triangulation_2/doc/Triangulation_2/PackageDescription.txt
  Triangulation_on_sphere_2/doc/Triangulation_on_sphere_2/PackageDescription.txt
Labels: Pkg::Triangulation_on_sphere_2, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5765 Fix broken section link
  Interpolation/doc/Interpolation/Interpolation.txt
Labels: Pkg::Interpolation, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5766 Remove dead ftp link
  Documentation/doc/biblio/cgal_manual.bib
Labels: Pkg::Apollonius_graph_2, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master

#5770 Remove CGAL_NEF3_FACET_WITH_BOX
  Nef_3/include/CGAL/Nef_3/Binary_operation.h
  Nef_3/include/CGAL/Nef_3/K3_tree.h
  Nef_3/include/CGAL/Nef_3/Nef_box.h
  Nef_3/include/CGAL/Nef_3/SNC_intersection.h
  Nef_3/include/CGAL/Nef_3/SNC_k3_tree_traits.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
  Nef_3/include/CGAL/Nef_3/SNC_structure.h
  Nef_3/include/CGAL/Nef_polyhedron_3.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5743 remove remaining mentions to setup.exe
  Documentation/doc/Documentation/Third_party.txt
  Documentation/doc/Documentation/windows.txt
  Scripts/developer_scripts/create_new_release
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master, rm only: ready for release branch

#5762 Mesh_3 - fix missing initializer warning
  Mesh_3/include/CGAL/Mesh_3/polylines_to_protect.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5768 Set CMake imported OpenMesh library as INTERFACE
  Installation/cmake/modules/FindOpenMesh.cmake
Labels: CMake scripts, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5773 Fix path to tmp.log
  .github/workflows/build_doc.yml
Labels: Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5769 Add inline vtk_image_sharing_same_data_pointer
  CGAL_ImageIO/include/CGAL/Image_3_vtk_interface.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5771 Simplify assign in Object.h
  STL_Extension/include/CGAL/Object.h
Labels: CLA/CAA OK, Pkg::STL_Extension, Tested, cleaning

#5778 License Generator One-Word Package Name Fix
  Installation/include/CGAL/license/generate_files.cmake
Labels: CMake scripts, bug

#5660 Remove code duplication in Reflex_vertex_searcher.h
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/Reflex_vertex_searcher.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, speed

#5696 Remove dead code in SNC_decorator/SNC_const_decorator
  Nef_3/include/CGAL/Nef_3/SNC_const_decorator.h
  Nef_3/include/CGAL/Nef_3/SNC_decorator.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning

#5702 Replace CGAL_NEF_DEBUG with CGAL_USE_TRACE
  Nef_2/include/CGAL/Nef_2/Segment_overlay_traits.h
  Nef_3/include/CGAL/Nef_3/Binary_operation.h
  Nef_3/include/CGAL/Nef_3/SNC_const_decorator.h
Labels: Pkg::Nef_2, Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning

#5714 Remove the OnSideMapRC when not needed
  Nef_3/include/CGAL/Nef_3/SNC_k3_tree_traits.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, bug

#5690 Nef 3 cleanup sphere segment
  Nef_S2/include/CGAL/Nef_S2/Sphere_segment.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning

#5740 Remove CGAL_NEF3_TRIANGULATE_FACETS
  Nef_3/include/CGAL/Nef_3/K3_tree.h
  Nef_3/include/CGAL/Nef_3/SNC_k3_tree_traits.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning, enhancement

#5699 Remove duplicate code in SNC_const_decorator/SNC_decorator
  Nef_3/include/CGAL/Nef_3/SNC_const_decorator.h
  Nef_3/include/CGAL/Nef_3/SNC_decorator.h
  Nef_S2/include/CGAL/Nef_S2/Generic_handle_map.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning

#5783 Updated License Headers
  Installation/include/CGAL/license/Classification.h
  Installation/include/CGAL/license/Interpolation.h
  Installation/include/CGAL/license/Orthtree.h
  Installation/include/CGAL/license/Three.h
  Installation/include/CGAL/license/Triangulation.h
  Installation/include/CGAL/license/Triangulation_on_sphere_2.h
  Installation/include/CGAL/license/generate_files.cmake
  Installation/include/CGAL/license/gpl_package_list.txt
Labels: Ready to be tested, Tested, Under Testing, bug

#5775 fast dynamic_cast in Lazy_kernel::Construct_point_3
  Filtered_kernel/include/CGAL/Lazy_kernel.h
Labels: Pkg::Kernel_23, Pkg::Periodic_3_Triangulation_3, Ready to be tested, Tested, Under Testing, speed

#5782 Add a getter for the origin of the parabola
  Apollonius_graph_2/include/CGAL/Parabola_2.h
Labels: Pkg::Apollonius_graph_2, Ready to be tested, Tested, Under Testing, enhancement

#5774 Polyline_simplification: Bugfix in Points_in_constraint_iterator
  Polyline_simplification_2/test/Polyline_simplification_2/CMakeLists.txt
  Polyline_simplification_2/test/Polyline_simplification_2/issue-5774.cpp
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
Labels: Pkg::Polyline_simplification_2, Ready to be tested, Tested, Under Testing, bug

#5779 MacOS Qt5 Guide Update
  Documentation/doc/Documentation/Usage.txt
Labels: Tested, Under Testing, doc bug, rm only: ready for master, rm only: ready for release branch

#5805 Fix inheritance for periodic triangulations in Alpha Shapes concepts
  Alpha_shapes_2/doc/Alpha_shapes_2/Concepts/AlphaShapeTraits_2.h
  Alpha_shapes_2/doc/Alpha_shapes_2/Concepts/WeightedAlphaShapeTraits_2.h
  Alpha_shapes_3/doc/Alpha_shapes_3/Concepts/AlphaShapeTraits_3.h
  Alpha_shapes_3/doc/Alpha_shapes_3/Concepts/FixedAlphaShapeTraits_3.h
  Alpha_shapes_3/doc/Alpha_shapes_3/Concepts/FixedWeightedAlphaShapeTraits_3.h
  Alpha_shapes_3/doc/Alpha_shapes_3/Concepts/WeightedAlphaShapeTraits_3.h
Labels: Pkg::Alpha_shapes_2, Pkg::Alpha_shapes_3, Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master, rm only: ready for release branch

#5784 Ctest Testsuite: Speed up python parsing script
  Scripts/developer_scripts/run_testsuite_with_ctest
  Testsuite/test/parse-ctest-dashboard-xml.py
Labels: Ready to be tested, Tested, Testsuite, Under Testing, bug, rm only: ready for master

#5790 PMP::Polyhedral_envelope: Fix memory leak
  Filtered_kernel/include/CGAL/Lazy.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5801 PMP::isotropic_remeshing - add more parameters
  BGL/include/CGAL/boost/graph/parameters_interface.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5811 Announce CGAL drop of not-header-only support
  Documentation/doc/Documentation/Getting_started.txt
  Documentation/doc/Documentation/Third_party.txt
  Documentation/doc/Documentation/advanced/Configuration_variables.txt
  Documentation/doc/Documentation/advanced/Installation.txt
  Installation/CHANGES.md
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: release blocker
