Repository CGAL/cgal, pull requests merged in 2021-11, with the labels that each got.

#6071 Add a new test for documented named parameters
  BGL/include/CGAL/boost/graph/Named_function_parameters.h
  Scripts/developer_scripts/test_merge_of_branch
Labels: rm only: ready for master, Tested, Infrastructure

#6105 Mesh_3 weighted images - add changes
  Installation/CHANGES.md
Labels: Pkg::Mesh_3, small feature, accepted small feature

#6096 Mention mt safety
  Installation/CHANGES.md
Labels: doc

#6093 Fix liver
  Data/data/images/liver.inr.gz
Labels: bug, rm only: ready for master, Tested

#6100 Fix Doo Sabin subdivision for Gmpq-based kernels
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_masks_3.h
Labels: bug, rm only: ready for master, Tested, Pkg::Subdivision_method_3

#6103 Add CGAL::CGAL_Basic_viewer target
  Boolean_set_operations_2/doc/Boolean_set_operations_2/CGAL/draw_polygon_set_2.h
  Boolean_set_operations_2/examples/Boolean_set_operations_2/CMakeLists.txt
  Boolean_set_operations_2/include/CGAL/draw_polygon_set_2.h
  Installation/CHANGES.md
  Installation/cmake/modules/CGALConfig_binary.cmake.in
  Installation/cmake/modules/CGALConfig_install.cmake.in
  Installation/lib/cmake/CGAL/CGALConfig.cmake
  Linear_cell_complex/doc/Linear_cell_complex/CGAL/draw_linear_cell_complex.h
  Linear_cell_complex/doc/Linear_cell_complex/Linear_cell_complex.txt
  Linear_cell_complex/examples/Linear_cell_complex/CMakeLists.txt
  Nef_3/doc/Nef_3/CGAL/draw_nef_3.h
  Nef_3/doc/Nef_3/Nef_3.txt
  Nef_3/examples/Nef_3/CMakeLists.txt
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/draw_periodic_2_triangulation_2.h
  Periodic_2_triangulation_2/examples/Periodic_2_triangulation_2/CMakeLists.txt
  Point_set_3/doc/Point_set_3/Point_set_3.txt
  Point_set_3/examples/Point_set_3/CMakeLists.txt
  Point_set_3/include/CGAL/draw_point_set_3.h
  Polygon/doc/Polygon/Polygon.txt
  Polygon/examples/Polygon/CMakeLists.txt
  Polygon/include/CGAL/draw_polygon_2.h
  Polygon/include/CGAL/draw_polygon_with_holes_2.h
  Polyhedron/doc/Polyhedron/CGAL/draw_polyhedron.h
  Polyhedron/doc/Polyhedron/Polyhedron.txt
  Polyhedron/examples/Polyhedron/CMakeLists.txt
  Straight_skeleton_2/examples/Straight_skeleton_2/CMakeLists.txt
  Surface_mesh/doc/Surface_mesh/Surface_mesh.txt
  Surface_mesh/examples/Surface_mesh/CMakeLists.txt
  Surface_mesh/include/CGAL/draw_surface_mesh.h
  Surface_mesh_topology/examples/Surface_mesh_topology/CMakeLists.txt
  Surface_mesh_topology/test/Surface_mesh_topology/CMakeLists.txt
  Triangulation_2/doc/Triangulation_2/CGAL/draw_triangulation_2.h
  Triangulation_2/doc/Triangulation_2/Triangulation_2.txt
  Triangulation_2/examples/Triangulation_2/CMakeLists.txt
  Triangulation_3/doc/Triangulation_3/CGAL/draw_triangulation_3.h
  Triangulation_3/doc/Triangulation_3/Triangulation_3.txt
  Triangulation_3/examples/Triangulation_3/CMakeLists.txt
  Voronoi_diagram_2/doc/Voronoi_diagram_2/CGAL/draw_voronoi_diagram_2.h
  Voronoi_diagram_2/doc/Voronoi_diagram_2/Voronoi_diagram_2.txt
  Voronoi_diagram_2/examples/Voronoi_diagram_2/CMakeLists.txt
Labels: enhancement, rm only: ready for master, CGAL 3D demo, Tested

#6085 Fix a bad merge from PR "Re-organize I/O #4255"
  Stream_support/examples/Stream_support/CMakeLists.txt
Labels: bug, CMake scripts, rm only: ready for master, Tested

#6094 Fix issues with new containers for arrangement cells
  Arrangement_on_surface_2/include/CGAL/Arr_dcel_base.h
  STL_Extension/include/CGAL/Compact_container.h
  STL_Extension/include/CGAL/Concurrent_compact_container.h
Labels: bug, Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested, Under Testing, rm only: ready for release branch

#6126 Mesh distance: use spatially sorted sample points
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, Under Testing

#6104 restore mutable property of the pmap
  BGL/include/CGAL/boost/graph/IO/PLY.h
  BGL/include/CGAL/boost/graph/named_params_helper.h
  Classification/include/CGAL/Classification/Point_set_neighborhood.h
  Point_set_processing_3/include/CGAL/estimate_scale.h
  Property_map/include/CGAL/property_map.h
  Stream_support/include/CGAL/IO/Generic_writer.h
  Stream_support/include/CGAL/IO/PLY/PLY_writer.h
  Stream_support/include/CGAL/IO/STL.h
Labels: bug, rm only: ready for master, Tested, Pkg::Property_map, Under Testing

#6109 PMP: Fix Warnings in Master
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Conic_x_monotone_arc_2.h
  CGAL_Core/include/CGAL/CORE/BigFloatRep.h
  Installation/include/CGAL/Installation/internal/enable_third_party_libraries.h
  NewKernel_d/include/CGAL/NewKernel_d/LA_eigen/constructors.h
  Periodic_3_triangulation_3/demo/Periodic_3_triangulation_3/Scene_utils.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/AABB_traversal_traits_with_Hausdorff_distance.h
  Polyhedron/demo/Polyhedron/include/CGAL/Polyhedron_kernel.h
  Stream_support/include/CGAL/IO/OFF/generic_copy_OFF.h
  Three/include/CGAL/Three/exceptions.h
Labels: warnings, rm only: ready for master, Tested, Under Testing

#6116 Call cgal_add_compilation_test to fix the CTest testsuite
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/CMakeLists.txt
  Periodic_4_hyperbolic_triangulation_2/demo/Periodic_4_hyperbolic_triangulation_2/CMakeLists.txt
  Triangulation_on_sphere_2/demo/Triangulation_on_sphere_2/CMakeLists.txt
Labels: bug, CMake scripts, rm only: ready for master, Tested, Under Testing, Testsuite

#6117 Remove -old option for Polyhedron_3 draw
  Boolean_set_operations_2/include/CGAL/draw_polygon_set_2.h
  Linear_cell_complex/include/CGAL/draw_linear_cell_complex.h
  Nef_3/include/CGAL/draw_nef_3.h
  Periodic_2_triangulation_2/include/CGAL/draw_periodic_2_triangulation_2.h
  Point_set_3/include/CGAL/draw_point_set_3.h
  Polygon/include/CGAL/draw_polygon_2.h
  Polygon/include/CGAL/draw_polygon_with_holes_2.h
  Polyhedron/include/CGAL/draw_polyhedron.h
  Straight_skeleton_2/include/CGAL/draw_straight_skeleton_2.h
  Surface_mesh/examples/Surface_mesh/draw_surface_mesh_small_faces.h
  Surface_mesh/include/CGAL/draw_surface_mesh.h
  Surface_mesh_topology/include/CGAL/draw_face_graph_with_paths.h
  Triangulation_2/include/CGAL/draw_triangulation_2.h
  Triangulation_3/include/CGAL/draw_triangulation_3.h
  Voronoi_diagram_2/include/CGAL/draw_voronoi_diagram_2.h
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested, Under Testing

#6122 Prepare CHANGES.md for 5.4
  Barycentric_coordinates_2/doc/Barycentric_coordinates_2/Concepts/DiscretizedDomain_2.h
  Heat_method_3/doc/Heat_method_3/PackageDescription.txt
  Installation/CHANGES.md
  Weights/doc/Weights/PackageDescription.txt
  Weights/doc/Weights/Weights.txt
Labels: doc, rm only: ready for master, Tested, Under Testing

#6131 CGAL Core: Remove explicit instanciations: CGAL is header-only!
  CGAL_Core/include/CGAL/CORE/Expr_impl.h
Labels: bug, rm only: ready for master, Tested, Pkg::CGAL_Core, Under Testing

#6139 Fix ambiguity in function signature
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/internal/validity.h
Labels: bug, rm only: ready for master, Tested, Ready to be tested, Pkg::Surface_mesh_parametrization, Under Testing, rm only: ready for release branch

#6144 Fix conversion error in METIS wrappers
  BGL/include/CGAL/boost/graph/METIS/partition_dual_graph.h
  BGL/include/CGAL/boost/graph/METIS/partition_graph.h
Labels: bug, Pkg::BGL, rm only: ready for master, Tested, Ready to be tested, Under Testing, rm only: ready for release branch

#6130 Bug fix: `remove_outliers` was removing ALL points when no outliers were found
  Point_set_processing_3/include/CGAL/remove_outliers.h
Labels: bug, rm only: ready for master, Tested, Pkg::Point_set_processing_3, Under Testing

#6132 Create normal map only if normal estimation is done
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_normal_estimation_plugin.cpp
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested, Under Testing

#6145 Fix collapse_edge bug when both edges to remove are constrained edges
  BGL/include/CGAL/boost/graph/Euler_operations.h
  BGL/test/BGL/CMakeLists.txt
  BGL/test/BGL/test_Collapse_edge_with_constraints.cpp
Labels: bug, Pkg::BGL, rm only: ready for master, Tested, Under Testing

#6149 Remove some unintended artifacts from the documentation
  Cone_spanners_2/include/CGAL/Compute_cone_boundaries_2.h
  Documentation/doc/Documentation/Developer_manual/Chapter_portability.txt
  Polyhedron/doc/Polyhedron/CGAL/Polyhedron_3.h
Labels: Tested, doc bug
