Repository CGAL/cgal, pull requests merged in 2021-07, with the labels that each got.

#5538 Bbox size helpers
  Kernel_23/include/CGAL/Bbox_2.h
  Kernel_23/include/CGAL/Bbox_3.h
  Kernel_23/test/Kernel_23/test_bbox.cpp
Labels: CLA/CAA OK, Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, enhancement

#5545 Segment_2/Segment_3 midpoint()
  Cartesian_kernel/include/CGAL/Cartesian/function_objects.h
  Homogeneous_kernel/include/CGAL/Homogeneous/function_objects.h
  Kernel_23/doc/Kernel_23/CGAL/Kernel/global_functions.h
  Kernel_23/doc/Kernel_23/Concepts/FunctionObjectConcepts.h
  Kernel_23/include/CGAL/Kernel/global_functions_2.h
  Kernel_23/include/CGAL/Kernel/global_functions_3.h
  Kernel_23/include/CGAL/Kernel/global_functions_internal_2.h
  Kernel_23/include/CGAL/Kernel/global_functions_internal_3.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_fct_constructions_2.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_fct_constructions_3.h
Labels: CLA/CAA OK, Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, enhancement

#5584 Number_types: Add Is_zero functor for Gmpq
  Number_types/include/CGAL/Gmpq.h
Labels: Pkg::Number_types, Ready to be tested, Tested, Under Testing, enhancement

#5841 Boolean_set_operations_2/Gps_polygon_validation.h: Fix validity check
  Boolean_set_operations_2/include/CGAL/Boolean_set_operations_2/Gps_polygon_validation.h
  Boolean_set_operations_2/test/Boolean_set_operations_2/data/validation/test1.dat
  Boolean_set_operations_2/test/Boolean_set_operations_2/test_polygon_validation.cpp
Labels: Pkg:Boolean_set_operations_2, Ready to be tested, Tested, bug

#5813 Basic viewer bugfix
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
Labels: Ready to be tested, Tested, bug

#5823 Three Documentation Fix
  Three/doc/Three/PackageDescription.txt
Labels: Ready to be tested, Tested, doc bug

#5826 Fix grammar in Triangulation_on_sphere_2
  Triangulation_on_sphere_2/doc/Triangulation_on_sphere_2/Triangulation_on_sphere_2.txt
Labels: Ready to be tested, Tested, doc, trivial

#5831 Inconsistent display of CGAL::Interval_nt_advanced in documentation
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/FieldNumberType.h
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/RingNumberType.h
Labels: Ready to be tested, Tested, doc bug

#5850 Port Mesh_3 to oneAPI-TBB
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Mesh_3/include/CGAL/Mesh_3/Mesh_complex_3_in_triangulation_3_base.h
  Mesh_3/include/CGAL/Mesh_3/Mesh_global_optimizer.h
  Mesh_3/include/CGAL/Mesh_3/Refine_facets_3.h
  Mesh_3/test/Mesh_3/CMakeLists.txt
Labels: Pkg::Mesh_3, Ready to be tested, Under Testing, bug

#5849 Funding acknowledgement for the package
  Triangulation_on_sphere_2/doc/Triangulation_on_sphere_2/Triangulation_on_sphere_2.txt
Labels: Ready to be tested, Tested, doc

#5636 Polyhedron_demo: Animate plugin
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Animate_mesh_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested

#5654 Polyhedron Demo: Popup for OFF
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement

#5544 PMP: compare_meshes
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/match_faces.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/measure.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/data/cube_quad2.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data/tri1-hole.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data/tri1.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data/tri2-out.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data/tri2.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/measures_test.cpp
  Polyhedron/demo/Polyhedron/Plugins/Operations_on_polyhedra/Diff_between_meshes_plugin.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, accepted small feature, small feature

#5815 Nef_3 Remove naive point locator.
  Nef_3/include/CGAL/Nef_3/Binary_operation.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, cleaning

#5806 Remove dead code in SNC_point_locator and K3_tree
  Nef_3/include/CGAL/Nef_3/K3_tree.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
Labels: Pkg::Nef_3, Ready to be tested, Tested, cleaning

#5838 Online Doc: Fix condition for push
  .github/workflows/delete_doc.yml
Labels: Tested

#5827 Add VD2's removal policy for ToS2 (+ caching)
  Triangulation_on_sphere_2/include/CGAL/Delaunay_triangulation_on_sphere_2.h
  Triangulation_on_sphere_2/include/CGAL/Triangulation_on_sphere_2.h
  Voronoi_diagram_2/doc/Voronoi_diagram_2/Concepts/AdaptationPolicy_2.h
  Voronoi_diagram_2/include/CGAL/Delaunay_triangulation_on_sphere_adaptation_policies_2.h
  Voronoi_diagram_2/include/CGAL/Voronoi_diagram_2/Cached_degeneracy_testers.h
  Voronoi_diagram_2/include/CGAL/Voronoi_diagram_2/Delaunay_triangulation_on_sphere_degeneracy_testers.h
  Voronoi_diagram_2/test/Voronoi_diagram_2/CMakeLists.txt
  Voronoi_diagram_2/test/Voronoi_diagram_2/data/radar.xyz
  Voronoi_diagram_2/test/Voronoi_diagram_2/vda_tos2.cpp
Labels: Pkg::Triangulation_on_sphere_2, Pkg::Voronoi_diagram_2, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, rm only: ready for release branch

#5853 Do not install demo/resources and demo/icons
  Installation/CMakeLists.txt
Labels: CMake scripts, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, rm only: release blocker

#5859 Set CMP0064 to fix #5857
  Installation/cmake/modules/CGAL_add_test.cmake
Labels: CMake scripts, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5741 [Small Feature] OSQP Support in Solver Interface
  Documentation/doc/Documentation/Third_party.txt
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
  Documentation/doc/resources/1.8.20/BaseDoxyfile.in
  Documentation/doc/resources/1.8.4/BaseDoxyfile.in
  Installation/CHANGES.md
  Installation/cmake/modules/CGAL_OSQP_support.cmake
  Installation/cmake/modules/FindOSQP.cmake
  Solver_interface/doc/Solver_interface/Concepts/LinearProgramTraits.h
  Solver_interface/doc/Solver_interface/Concepts/QuadraticProgramTraits.h
  Solver_interface/doc/Solver_interface/PackageDescription.txt
  Solver_interface/doc/Solver_interface/Solver_interface.txt
  Solver_interface/doc/Solver_interface/dependencies
  Solver_interface/doc/Solver_interface/examples.txt
  Solver_interface/examples/Solver_interface/CMakeLists.txt
  Solver_interface/examples/Solver_interface/mixed_integer_program.cpp
  Solver_interface/examples/Solver_interface/osqp_quadratic_program.cpp
  Solver_interface/include/CGAL/Default_diagonalize_traits.h
  Solver_interface/include/CGAL/Diagonalize_traits.h
  Solver_interface/include/CGAL/Eigen_diagonalize_traits.h
  Solver_interface/include/CGAL/Eigen_matrix.h
  Solver_interface/include/CGAL/Eigen_solver_traits.h
  Solver_interface/include/CGAL/Eigen_sparse_matrix.h
  Solver_interface/include/CGAL/Eigen_svd.h
  Solver_interface/include/CGAL/Eigen_vector.h
  Solver_interface/include/CGAL/GLPK_mixed_integer_program_traits.h
  Solver_interface/include/CGAL/Mixed_integer_program_traits.h
  Solver_interface/include/CGAL/OSQP_quadratic_program_traits.h
  Solver_interface/include/CGAL/SCIP_mixed_integer_program_traits.h
  Solver_interface/package_info/Solver_interface/description.txt
Labels: Pkg::Solver_interface, Ready to be tested, Tested, Under Testing, accepted small feature, rm only: ready for master, small feature

#5870 Install ITK in Github action tests
  .github/install.sh
Labels: Infrastructure, Tested, rm only: ready for master

#5175 Clean Intersect_2 in Triangulation_2_projection_traits_3
  Triangulation_2/include/CGAL/Triangulation_2/internal/Triangulation_2_projection_traits_base_3.h
  Triangulation_2/test/Triangulation_2/test_cdt_2_projection_traits_special_case.cpp
Labels: Pkg::Triangulation_2, Ready to be tested, Tested, Under Testing, cleaning, enhancement, rm only: ready for master

#5402 Epeck thread safety
  Algebraic_foundations/include/CGAL/Test/_test_algebraic_structure.h
  Documentation/doc/Documentation/Preliminaries.txt
  Filtered_kernel/include/CGAL/Lazy.h
  Filtered_kernel/include/CGAL/Lazy_kernel.h
  Installation/cmake/modules/CGAL_SetupCGALDependencies.cmake
  Installation/include/CGAL/config.h
  Kernel_23/include/CGAL/Circle_2.h
  Kernel_23/include/CGAL/Circle_3.h
  Kernel_23/include/CGAL/Direction_2.h
  Kernel_23/include/CGAL/Direction_3.h
  Kernel_23/include/CGAL/Line_2.h
  Kernel_23/include/CGAL/Line_3.h
  Kernel_23/include/CGAL/Plane_3.h
  Kernel_23/include/CGAL/Point_2.h
  Kernel_23/include/CGAL/Point_3.h
  Kernel_23/include/CGAL/Ray_2.h
  Kernel_23/include/CGAL/Ray_3.h
  Kernel_23/include/CGAL/Segment_2.h
  Kernel_23/include/CGAL/Segment_3.h
  Kernel_23/include/CGAL/Sphere_3.h
  Kernel_23/include/CGAL/Tetrahedron_3.h
  Kernel_23/include/CGAL/Vector_2.h
  Kernel_23/include/CGAL/Vector_3.h
  Kernel_23/include/CGAL/Weighted_point_2.h
  Kernel_23/include/CGAL/Weighted_point_3.h
  NewKernel_d/include/CGAL/Epeck_d.h
  NewKernel_d/include/CGAL/NewKernel_d/Lazy_cartesian.h
  Number_types/include/CGAL/Lazy_exact_nt.h
  Number_types/include/CGAL/Root_of_traits_specializations.h
  STL_Extension/include/CGAL/Handle.h
  STL_Extension/include/CGAL/Handle_for.h
Labels: Parallel_tag, Pkg::Number_types, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5860 Remove no longer needed __builtin_sqrt workaround
  Number_types/include/CGAL/FPU.h
Labels: Pkg::Number_types, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master, rm only: ready for release branch

#5863 Fix index maps for non-const Face_filtered_graph
  BGL/include/CGAL/boost/graph/Face_filtered_graph.h
  BGL/test/BGL/test_Face_filtered_graph.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
Labels: Pkg::BGL, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5866 Number_types: Fix a typedef for aarch64
  Number_types/include/CGAL/FPU.h
Labels: Pkg::Number_types, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5736 Projection Traits With Centroid 2 and Determinant 2
  Installation/CHANGES.md
  Kernel_23/include/CGAL/internal/Projection_traits_3.h
  Kernel_23/test/Kernel_23/test_projection_traits.cpp
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, accepted small feature, rm only: ready for master, small feature

#5875 Documentation tool: Add missing error messages
  .github/workflows/build_doc.yml
Labels: Infrastructure, Ready to be tested, Under Testing, doc

#5865 Filter testsuite
  .github/workflows/filter_testsuite.yml
  Maintenance/test_handling/filter_testsuite/create_testresult_page
  Maintenance/test_handling/filter_testsuite/testresult.css
  Maintenance/test_handling/filter_testsuite/to_zipped_format
  Maintenance/test_handling/filter_testsuite/treat_result_collection
  Scripts/developer_scripts/autotest_cgal
  Scripts/developer_scripts/run_testsuite_from_branch_name.sh
  Testsuite/test/collect_cgal_testresults_from_cmake
Labels: Infrastructure, Testsuite
