Repository CGAL/cgal, pull requests merged in 2021-12, with the labels that each got.

#6152 Fix not clearing mesh after failing to read
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested

#6154 Nef_3: Fix broken greater-than
  Nef_3/include/CGAL/Nef_polyhedron_3.h
  Nef_3/test/Nef_3/test_nef_3_operator.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Nef_3

#6133 Minor improvements for OFF/XYZ point set IO
  Point_set_processing_3/include/CGAL/IO/read_off_points.h
  Point_set_processing_3/include/CGAL/IO/read_xyz_points.h
  Point_set_processing_3/include/CGAL/IO/write_off_points.h
  Point_set_processing_3/test/Point_set_processing_3/test_deprecated_io_point_set.cpp
  Point_set_processing_3/test/Point_set_processing_3/test_read_write_point_set.cpp
Labels: enhancement, rm only: ready for master, Tested, Under Testing, CGAL I/O

#6159 Apply the operations per patches
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, Under Testing

#6161 Fix links concerning Projection_traits_3
  Barycentric_coordinates_2/doc/Barycentric_coordinates_2/Concepts/BarycentricTraits_2.h
  Kernel_23/doc/Kernel_23/CGAL/Projection_traits_3.h
  Kernel_23/doc/Kernel_23/CGAL/Projection_traits_xy_3.h
  Kernel_23/doc/Kernel_23/dependencies
  Triangulation_2/doc/Triangulation_2/Concepts/ConstrainedTriangulationTraits_2.h
  Triangulation_2/doc/Triangulation_2/Concepts/DelaunayTriangulationTraits_2.h
  Triangulation_2/doc/Triangulation_2/Concepts/TriangulationTraits_2.h
Labels: Pkg::Kernel_23, Pkg::Triangulation_2, rm only: ready for master, Tested, doc bug, Ready to be tested

#6166 Convex_decomposition_3: Address warning issued by clang
  Nef_2/include/CGAL/Nef_2/Polynomial_impl.h
Labels: rm only: ready for master, Tested, Under Testing, Pkg:Convex_decomposition_3

#6174 Remove Geomview
  Alpha_shapes_3/doc/Alpha_shapes_3/Alpha_shapes_3.txt
  Alpha_shapes_3/doc/Alpha_shapes_3/CGAL/Alpha_shape_3.h
  Alpha_shapes_3/doc/Alpha_shapes_3/dependencies
  Alpha_shapes_3/include/CGAL/Alpha_shape_3.h
  Alpha_shapes_3/include/CGAL/Fixed_alpha_shape_3.h
  Alpha_shapes_3/include/CGAL/IO/Alpha_shape_3_VRML_2_ostream.h
  Alpha_shapes_3/include/CGAL/IO/alpha_shape_geomview_ostream_3.h
  Documentation/doc/Documentation/Usage.txt
  Documentation/doc/Documentation/main.txt
  Documentation/doc/Documentation/packages.txt
  Geomview/TODO
  Geomview/demo/Geomview/CMakeLists.txt
  Geomview/demo/Geomview/README
  Geomview/demo/Geomview/data/points3
  Geomview/demo/Geomview/gv_terrain.cpp
  Geomview/demo/Geomview/input.cpp
  Geomview/demo/Geomview/kernel.cpp
  Geomview/doc/Geomview/CGAL/IO/Geomview_stream.h
  Geomview/doc/Geomview/Doxyfile.in
  Geomview/doc/Geomview/Geomview.txt
  Geomview/doc/Geomview/PackageDescription.txt
  Geomview/doc/Geomview/dependencies
  Geomview/doc/Geomview/examples.txt
  Geomview/doc/Geomview/fig/geomview.png
  Geomview/include/CGAL/IO/Geomview_stream.h
  Geomview/include/CGAL/IO/Geomview_stream_impl.h
  Geomview/package_info/Geomview/copyright
  Geomview/package_info/Geomview/dependencies
  Geomview/package_info/Geomview/description.txt
  Geomview/package_info/Geomview/license.txt
  Geomview/package_info/Geomview/maintainer
  Geomview/test/Geomview/CMakeLists.txt
  Geomview/test/Geomview/kernel_objects.cpp
  Installation/include/CGAL/config.h
  Interpolation/demo/Interpolation/CMakeLists.txt
  Interpolation/demo/Interpolation/README
  Interpolation/demo/Interpolation/interpolation_2_demo.cpp
  Interpolation/demo/Interpolation/surface_voronoi.cpp
  Polyhedron/doc/Polyhedron/Polyhedron.txt
  Polyhedron/include/CGAL/IO/Polyhedron_geomview_ostream.h
  Polyhedron/include/CGAL/IO/Polyhedron_iostream.h
  Stream_support/doc/Stream_support/dependencies
  Stream_support/include/CGAL/IO/Color.h
  Triangulation_2/include/CGAL/IO/Triangulation_geomview_ostream_2.h
  Triangulation_3/demo/Triangulation_3_Geomview_demos/CMakeLists.txt
  Triangulation_3/demo/Triangulation_3_Geomview_demos/README
  Triangulation_3/demo/Triangulation_3_Geomview_demos/Triangulation_3_color_demo.cpp
  Triangulation_3/demo/Triangulation_3_Geomview_demos/Triangulation_3_demo.cpp
  Triangulation_3/demo/Triangulation_3_Geomview_demos/Triangulation_3_remove_demo.cpp
  Triangulation_3/demo/Triangulation_3_Geomview_demos/Triangulation_3_voronoi_demo.cpp
  Triangulation_3/demo/Triangulation_3_Geomview_demos/data/points
  Triangulation_3/doc/Triangulation_3/CGAL/Triangulation_3.h
  Triangulation_3/doc/Triangulation_3/dependencies
  Triangulation_3/include/CGAL/IO/Triangulation_geomview_ostream_3.h
Labels: rm only: ready for master, Tested, Ready to be tested, Under Testing

#6181 Avoid some superfluous Triangulation_2 dependencies
  Convex_hull_3/include/CGAL/Convex_hull_face_base_2.h
  Convex_hull_3/include/CGAL/Convex_hull_traits_3.h
  Convex_hull_3/include/CGAL/Convex_hull_vertex_base_2.h
  Convex_hull_3/include/CGAL/convex_hull_3.h
  Convex_hull_3/package_info/Convex_hull_3/dependencies
  Convex_hull_3/test/Convex_hull_3/quickhull_degenerate_test_3.cpp
  Optimal_bounding_box/package_info/Optimal_bounding_box/dependencies
  Polytope_distance_d/package_info/Polytope_distance_d/dependencies
  TDS_2/include/CGAL/boost/graph/graph_traits_Triangulation_data_structure_2.h
  TDS_2/include/CGAL/boost/graph/internal/graph_traits_2D_TDS_helper.h
  TDS_2/include/CGAL/boost/graph/properties_Triangulation_data_structure_2.h
  Triangulation_2/include/CGAL/boost/graph/internal/graph_traits_2D_triangulation_helper.h
  Triangulation_2/include/CGAL/boost/graph/internal/properties_2D_triangulation.h
Labels: Pkg::Triangulation_2, rm only: ready for master, Tested, Ready to be tested, cleaning, Pkg::Convex_hull_3, Pkg::TDS_2

#6182 Avoid useless computation and fix default
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_hole.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, Under Testing

#6169 Fix Or_pmap
  Property_map/include/CGAL/property_map.h
Labels: bug, rm only: ready for master, Tested, Pkg::Property_map, Under Testing, rm only: ready for release branch

#6179 Move function to avoid link error + add missing halfedge function
  Heat_method_3/include/CGAL/Heat_method_3/Surface_mesh_geodesic_distances_3.h
  Heat_method_3/include/CGAL/Heat_method_3/internal/Intrinsic_Delaunay_triangulation_3.h
Labels: bug, rm only: ready for master, Tested, Under Testing, rm only: ready for release branch, Pkg::Heat_method_3

#6177 Silence warning message in ARAP
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/MVC_post_processor_3.h
Labels: rm only: ready for master, Tested, Ready to be tested, cleaning, Pkg::Surface_mesh_parametrization, Under Testing, rm only: ready for release branch
