Repository CGAL/cgal, pull requests merged in 2021-03, with the labels that each got.

#5325 static filter for 2d Side_of_oriented_sphere
  NewKernel_d/include/CGAL/NewKernel_d/Cartesian_static_filters.h
Labels: Ready to be tested

#5326 Optimize trivial predicates
  Filtered_kernel/include/CGAL/Filtered_predicate.h
  NewKernel_d/include/CGAL/NewKernel_d/Cartesian_LA_functors.h
  NewKernel_d/include/CGAL/NewKernel_d/Cartesian_filter_K.h
  NewKernel_d/include/CGAL/NewKernel_d/Filtered_predicate2.h
  NewKernel_d/include/CGAL/NewKernel_d/Lazy_cartesian.h
  NewKernel_d/include/CGAL/NewKernel_d/Types/Hyperplane.h
  NewKernel_d/include/CGAL/NewKernel_d/Types/Sphere.h
  NewKernel_d/include/CGAL/NewKernel_d/function_objects_cartesian.h
  NewKernel_d/include/CGAL/NewKernel_d/functor_properties.h
Labels: Pkg::Kernel_d, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, speed

#5313 Fix bash scripts for some tests
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test_with_cmake
  Surface_sweep_2/test/Surface_sweep_2/cgal_test_base
Labels: Pkg::Arrangement_on_surface_2, Pkg::Surface_sweep_2, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5419 SDG_Linf_2: Cast enum to fix warning
  Segment_Delaunay_graph_Linf_2/include/CGAL/Segment_Delaunay_graph_Linf_2/Voronoi_vertex_sqrt_field_new_C2.h
Labels: Pkg::Segment_Delaunay_graph_Linf_2, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5420 Kernel_d: Deal with deprecated result_type
  Kernel_d/include/CGAL/Kernel_d/Iso_box_d.h
Labels: Modern C++ (C++11 and later), Pkg::Kernel_d, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, tested manually on Linux, warnings

#5429 Corefine: always init faces of patches
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
Labels: Pkg::PMP, Tested, Under Testing, enhancement, rm only: ready for master, rm only: ready for release branch, speed

#5435 Intersect_3: Fix Iso_cuboid_3/Plane_3 and Tetrahedon_/Plane_3 intersection using PMP::clip internal function
  Intersections_3/include/CGAL/Intersections_3/internal/Iso_cuboid_3_Plane_3_intersection.h
  Intersections_3/include/CGAL/Intersections_3/internal/Tetrahedron_3_Plane_3_intersection.h
  Intersections_3/test/Intersections_3/issue_5428.cpp
  Intersections_3/test/Intersections_3/test_intersections_3.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
Labels: Pkg::Kernel_23, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5468 Mesh_3: various small bug-fixes
  Mesh_3/include/CGAL/internal/Mesh_3/helpers.h
  Property_map/include/CGAL/property_map.h
Labels: Pkg::Mesh_3, Pkg::Property_map, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch

#5469 Box_intersection_d: Replace built-in array with std::array
  Box_intersection_d/include/CGAL/Box_intersection_d/Box_d.h
Labels: Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, warnings

#5474 Triangulation_3 and Mesh_3 Timeouts for parallel tests fix
  Mesh_3/test/Mesh_3/CMakeLists.txt
  Triangulation_3/examples/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
Labels: Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5476 PMP: Remove needles&caps fixes
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/shape_predicates.h
Labels: Pkg::PMP, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5483 Kd_tree using vector constructor instead of insert
  Spatial_searching/include/CGAL/Kd_tree.h
Labels: Pkg::Optimal_transportation_reconstruction_2, Pkg::Spatial_searching, Tested, Under Testing, bug, enhancement, rm only: ready for master, rm only: ready for release branch

#5502 CMake Fixes when CGAL_Core is disabled (5.1)
  Algebraic_kernel_d/examples/Algebraic_kernel_d/CMakeLists.txt
  Algebraic_kernel_d/test/Algebraic_kernel_d/CMakeLists.txt
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/CMakeLists.txt
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test.cmake
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/CMakeLists.txt
  Installation/test/Installation/CMakeLists.txt
  Number_types/test/Number_types/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/CMakeLists.txt
Labels: CMake scripts, bug, rm only: ready for master, rm only: ready for release branch

#5503 Fix compare() with LEDA
  Algebraic_kernel_for_spheres/include/CGAL/Algebraic_kernel_for_spheres/internal_functions_comparison_root_for_spheres_2_3.h
  Distance_2/include/CGAL/squared_distance_2_1.h
Labels: Pkg::Distance_2, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch

#5349 2D Polyline simplification: Also simplify overlapping vertex sequences
  Installation/CHANGES.md
  Polyline_simplification_2/doc/Polyline_simplification_2/Polyline_simplification_2.txt
  Polyline_simplification_2/doc/Polyline_simplification_2/examples.txt
  Polyline_simplification_2/doc/Polyline_simplification_2/fig/overlapping_polylines.png
  Polyline_simplification_2/examples/Polyline_simplification_2/simplify_overlapping_polylines.cpp
  Polyline_simplification_2/include/CGAL/Polyline_simplification_2/Vertex_base_2.h
  Polyline_simplification_2/include/CGAL/Polyline_simplification_2/simplify.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
Labels: Pkg::Polyline_simplification_2, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5363 Add an extra operator to have an exact plane
  Kernel_23/doc/Kernel_23/Concepts/FunctionObjectConcepts.h
  Kernel_23/include/CGAL/Kernel/function_objects.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_new_3.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5367 Surface Mesh Topology: Test Whether a Closed Curve is Homotopic to a Simple Cycle
  Documentation/doc/biblio/cgal_manual.bib
  Installation/CHANGES.md
  Surface_mesh_topology/doc/Surface_mesh_topology/CGAL/Curves_on_surface_topology.h
  Surface_mesh_topology/doc/Surface_mesh_topology/Surface_mesh_topology.txt
  Surface_mesh_topology/doc/Surface_mesh_topology/examples.txt
  Surface_mesh_topology/doc/Surface_mesh_topology/fig/perturbation_sample.svg
  Surface_mesh_topology/doc/Surface_mesh_topology/fig/relative_order_corner.svg
  Surface_mesh_topology/doc/Surface_mesh_topology/fig/relative_order_first.svg
  Surface_mesh_topology/doc/Surface_mesh_topology/fig/relative_order_normal.svg
  Surface_mesh_topology/doc/Surface_mesh_topology/fig/switch_sample.svg
  Surface_mesh_topology/examples/Surface_mesh_topology/CMakeLists.txt
  Surface_mesh_topology/examples/Surface_mesh_topology/path_simplicity_double_torus.cpp
  Surface_mesh_topology/examples/Surface_mesh_topology/path_simplicity_double_torus_2.cpp
  Surface_mesh_topology/include/CGAL/Curves_on_surface_topology.h
  Surface_mesh_topology/include/CGAL/Path_on_surface.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Minimal_quadrangulation.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Path_on_surface_with_rle.h
  Surface_mesh_topology/test/Surface_mesh_topology/CMakeLists.txt
  Surface_mesh_topology/test/Surface_mesh_topology/path_tests.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/simplicity_cylinder.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/simplicity_double_torus.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/simplicity_double_torus_with_holes.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/simplicity_fundamental_polygon.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/simplicity_torus.cpp
Labels: Pkg::Surface_mesh_topology, Ready to be tested, Tested, Under Testing, accepted small feature, rm only: ready for master, small feature

#5405 PMP Move assign for Rigid_triangle_mesh_collision_detection
  Polygon_mesh_processing/include/CGAL/Rigid_triangle_mesh_collision_detection.h
Labels: Modern C++ (C++11 and later), Pkg::PMP, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5434 Doc: Don't use small caps
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
  BGL/doc/BGL/BGL.txt
  BGL/doc/BGL/CGAL/HalfedgeDS_face_max_base_with_id.h
  BGL/doc/BGL/CGAL/HalfedgeDS_halfedge_max_base_with_id.h
  BGL/doc/BGL/CGAL/HalfedgeDS_vertex_max_base_with_id.h
  BGL/doc/BGL/CGAL/Polyhedron_items_with_id_3.h
  BGL/doc/BGL/CGAL/Triangulation_face_base_with_id_2.h
  BGL/doc/BGL/CGAL/Triangulation_vertex_base_with_id_2.h
  BGL/doc/BGL/CGAL/boost/graph/properties.h
  BGL/doc/BGL/Concepts/HalfedgeGraph.h
  BGL/doc/BGL/NamedParameters.txt
  BGL/doc/BGL/PackageDescription.txt
  BGL/doc/BGL/graph_traits.txt
  Documentation/doc/Documentation/Developer_manual/cmakelist_script.txt
  Documentation/doc/Documentation/Third_party.txt
  Documentation/doc/Documentation/Usage.txt
  Documentation/doc/Documentation/advanced/Configuration_variables.txt
  Documentation/doc/Documentation/advanced/Installation.txt
  Documentation/doc/Documentation/manual.txt
  Documentation/doc/Documentation/windows.txt
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
  Documentation/doc/resources/1.8.20/BaseDoxyfile.in
  Documentation/doc/resources/1.8.4/BaseDoxyfile.in
  Envelope_3/doc/Envelope_3/Envelope_3.txt
  GraphicsView/doc/GraphicsView/PackageDescription.txt
  Number_types/doc/Number_types/CGAL/Gmpfr.h
  Segment_Delaunay_graph_2/doc/Segment_Delaunay_graph_2/CGAL/Segment_Delaunay_graph_filtered_traits_2.h
  Solver_interface/doc/Solver_interface/Solver_interface.txt
Labels: Ready to be tested, Tested, Under Testing, doc, rm only: ready for master

#5455 Bypass coplanarity assertion for triangular facets.
  Nef_3/include/CGAL/Nef_3/polygon_mesh_to_nef_3.h
Labels: CLA/CAA OK, Pkg::Nef_3, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5465 Distance_3: Add Point_3/Tetrahedron_3
  Distance_3/include/CGAL/squared_distance_3.h
  Distance_3/include/CGAL/squared_distance_3_2.h
  Distance_3/include/CGAL/squared_distance_3_3.h
  Distance_3/test/Distance_3/test_distance_3.cpp
  Kernel_23/doc/Kernel_23/CGAL/squared_distance_2.h
Labels: Pkg::Distance_3, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5470 Explicitly call simplify after marking bounded volumes
  Nef_3/include/CGAL/Nef_polyhedron_3.h
Labels: CLA/CAA OK, Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5480 Kernel_23: Rename internal function and functor
  Filtered_kernel/include/CGAL/Lazy.h
  Filtered_kernel/include/CGAL/Lazy_kernel.h
  Intersections_3/include/CGAL/Intersections_3/Line_3_Plane_3.h
  Intersections_3/include/CGAL/Intersections_3/Plane_3_Plane_3.h
  Kernel_23/include/CGAL/Kernel/function_objects.h
  Kernel_23/include/CGAL/Kernel/interface_macros.h
  Polygon_mesh_processing/include/CGAL/Polyhedral_envelope.h
Labels: Pkg::Kernel_23, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5485 Use TBB captured exception in PMP
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5496 Provide specialization of hash for the edge_descriptor we provide for OpenMesh
  STL_Extension/include/CGAL/hash_openmesh.h
  STL_Extension/test/STL_Extension/CMakeLists.txt
  STL_Extension/test/STL_Extension/test_hash_OpenMesh.cpp
Labels: Pkg::BGL, Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master

#5366 Move non-documented experimental function in experimental namespace
  BGL/include/CGAL/boost/graph/selection.h
Labels: Pkg::BGL, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master, rm only: ready for release branch

#5426 [PSP/RANSAC] Fix warnings
  Point_set_processing_3/include/CGAL/edge_aware_upsample_point_set.h
  Shape_detection/include/CGAL/Shape_detection/Efficient_RANSAC/Efficient_RANSAC.h
Labels: Pkg::Point_set_processing_3, Pkg::Shape_detection, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch, tested manually on Linux, warnings

#5433 Remove last bind
  Convex_hull_2/include/CGAL/Convex_hull_2/convexity_check_2_impl.h
  Kernel_23/examples/Kernel_23/intersections.cpp
  Mesh_3/include/CGAL/Mesh_3/Slivers_exuder.h
  Partition_2/include/CGAL/Partition_2/Rotation_tree_2.h
  Periodic_4_hyperbolic_triangulation_2/include/CGAL/Periodic_4_hyperbolic_Delaunay_triangulation_2.h
  Triangulation_2/include/CGAL/Regular_triangulation_2.h
  Triangulation_3/include/CGAL/Regular_triangulation_3.h
Labels: Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master, rm only: ready for release branch, warnings

#5442 Re-introduce some kind of zipping as a first step to boundary cycle stitching
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_stitching/folded_cycle.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_stitching.cpp
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, rm only: ready for release branch

#5487 Shape Detection: Disable expensive tests by default
  Shape_detection/test/Shape_detection/test_validity_sampled_data.cpp
Labels: Pkg::Shape_detection, Ready to be tested, Tested, Testsuite, Under Testing, rm only: ready for master, rm only: ready for release branch

#5501 CMake Fixes when CGAL_Core is disabled (5.2)
  Algebraic_kernel_d/examples/Algebraic_kernel_d/CMakeLists.txt
  Algebraic_kernel_d/test/Algebraic_kernel_d/CMakeLists.txt
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/CMakeLists.txt
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test.cmake
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/CMakeLists.txt
  Installation/test/Installation/CMakeLists.txt
  Number_types/test/Number_types/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/CMakeLists.txt
Labels: CMake scripts, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5509 Robustify internal side-of-triangle-mesh calls
  AABB_tree/include/CGAL/AABB_traits.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch, rm only: release blocker

#5406 Add clipping plane in basic viewer
  GraphicsView/include/CGAL/Basic_shaders.h
  GraphicsView/include/CGAL/Buffer_for_vao.h
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
Labels: Qt5, Ready to be tested, Tested, enhancement

#5166 Arrangement 2: Enhanced CCB Merging for Surface Sweep
  Arrangement_on_surface_2/include/CGAL/Arr_dcel_base.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arrangement_on_surface_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_on_surface_2.h
  Arrangement_on_surface_2/include/CGAL/Surface_sweep_2/Arr_construction_ss_visitor.h
  Arrangement_on_surface_2/include/CGAL/Surface_sweep_2/Arr_overlay_ss_visitor.h
Labels: Pkg::Arrangement_on_surface_2, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master, rm only: ready for release branch

#5444 [Poisson Reconstruction] Compatibility with Simple Cartesian
  Number_types/include/CGAL/NT_converter.h
  Point_set_processing_3/include/CGAL/compute_average_spacing.h
  Poisson_surface_reconstruction_3/include/CGAL/Poisson_mesh_cell_criteria_3.h
  Poisson_surface_reconstruction_3/include/CGAL/Poisson_reconstruction_function.h
  Poisson_surface_reconstruction_3/include/CGAL/poisson_surface_reconstruction.h
Labels: Pkg::Poisson_surface_reconstruction_3, Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch

#5451 Remove setup
  .travis.yml
  .travis/build_package.sh
  .travis/generate_travis.sh
  .travis/install.sh
  .travis/install_openmesh.sh
  .travis/packages.txt
  .travis/template.txt
  .travis/test_package.sh
  .travis/windows.h
  Documentation/doc/Documentation/windows.txt
  copyright
  wininst/developer_scripts/CGAL.bmp
  wininst/developer_scripts/DumpLogToFile.nsh
  wininst/developer_scripts/EnvVarUpdate.nsh
  wininst/developer_scripts/TextLog.nsh
  wininst/developer_scripts/WriteEnvStr.nsh
  wininst/developer_scripts/cgal.ico
  wininst/developer_scripts/cgal_very_small_FFFFFF.bmp
  wininst/developer_scripts/default_variants.ini
  wininst/developer_scripts/environment_variables.ini
  wininst/developer_scripts/fixup_projects.ini
  wininst/developer_scripts/locate.zip
  wininst/developer_scripts/script_cgal.nsh
  wininst/developer_scripts/script_cgal.nsi
  wininst/developer_scripts/variants.ini
  wininst/developer_scripts/zirkel.bmp
  wininst/package_info/wininst/copyright
  wininst/package_info/wininst/dependencies
  wininst/package_info/wininst/description.txt
  wininst/package_info/wininst/maintainer
Labels: Ready to be tested, Tested, Under Testing, cleaning, doc, rm only: ready for master, rm only: ready for release branch

#5478 Tetrahedral_remeshing - fix bad_alloc for very small input mesh
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/FMLS.h
Labels: Pkg::Tetrahedral_remeshing, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5423 PMP:: Use operator< instead of operator> as OM only implements the former
  Polygon_mesh_processing/doc/Polygon_mesh_processing/examples.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/corefinement_OM_union.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/corefinement_consecutive_bool_op.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
  STL_Extension/include/CGAL/hash_openmesh.h
Labels: Pkg::PMP, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5446 Fix CI doc deletion
  .github/workflows/delete_doc.yml
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master, rm only: ready for release branch

#5489 Fixed Polyhedron demo warnings in the macOS test suite
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/VSA_wrapper.h
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Server_ws.cpp
  Polyhedron/demo/Polyhedron/Viewer.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master, warnings

#5495 Remove Surface_mesher demo (was "Fix Surface_mesher_demo Apple warnings")
  Surface_mesher/demo/Surface_mesher/CMakeLists.txt
  Surface_mesher/demo/Surface_mesher/File_XT.h
  Surface_mesher/demo/Surface_mesher/Raw_image_dialog.cpp
  Surface_mesher/demo/Surface_mesher/Raw_image_dialog.h
  Surface_mesher/demo/Surface_mesher/Surface_mesher.cpp
  Surface_mesher/demo/Surface_mesher/binary_image.h
  Surface_mesher/demo/Surface_mesher/colorlisteditor.cpp
  Surface_mesher/demo/Surface_mesher/colorlisteditor.h
  Surface_mesher/demo/Surface_mesher/get_polyhedral_surface.h
  Surface_mesher/demo/Surface_mesher/icons/bbox-red.png
  Surface_mesher/demo/Surface_mesher/icons/bbox-red.svg
  Surface_mesher/demo/Surface_mesher/icons/bbox.png
  Surface_mesher/demo/Surface_mesher/icons/bbox.svg
  Surface_mesher/demo/Surface_mesher/icons/cgal_logo.xpm
  Surface_mesher/demo/Surface_mesher/icons/fileopen.png
  Surface_mesher/demo/Surface_mesher/icons/filesave.png
  Surface_mesher/demo/Surface_mesher/icons/flip.png
  Surface_mesher/demo/Surface_mesher/icons/flip.svg
  Surface_mesher/demo/Surface_mesher/icons/minus.png
  Surface_mesher/demo/Surface_mesher/icons/plus.png
  Surface_mesher/demo/Surface_mesher/icons/resize.png
  Surface_mesher/demo/Surface_mesher/icons/resize.svg
  Surface_mesher/demo/Surface_mesher/icons/surface.png
  Surface_mesher/demo/Surface_mesher/icons/surface.svg
  Surface_mesher/demo/Surface_mesher/icons/twosides.png
  Surface_mesher/demo/Surface_mesher/icons/twosides.svg
  Surface_mesher/demo/Surface_mesher/mainwindow.cpp
  Surface_mesher/demo/Surface_mesher/mainwindow.h
  Surface_mesher/demo/Surface_mesher/polyhedral_surface.cpp
  Surface_mesher/demo/Surface_mesher/polyhedral_surface.h
  Surface_mesher/demo/Surface_mesher/surface.h
  Surface_mesher/demo/Surface_mesher/surface_mesher.qrc
  Surface_mesher/demo/Surface_mesher/ui/mainwindow.ui
  Surface_mesher/demo/Surface_mesher/ui/optionsdialog.ui
  Surface_mesher/demo/Surface_mesher/ui/raw_image.ui
  Surface_mesher/demo/Surface_mesher/ui/values_list.ui
  Surface_mesher/demo/Surface_mesher/values_list.cpp
  Surface_mesher/demo/Surface_mesher/values_list.h
  Surface_mesher/demo/Surface_mesher/values_list.qrc
  Surface_mesher/demo/Surface_mesher/viewer.cpp
  Surface_mesher/demo/Surface_mesher/viewer.h
  Surface_mesher/demo/Surface_mesher/volume.cpp
  Surface_mesher/demo/Surface_mesher/volume.h
  Surface_mesher/doc/Surface_mesher/PackageDescription.txt
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master

#5508 Polyhedron Demo: New features
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Scene.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5329 Remove mentions to python2
  Documentation/doc/CMakeLists.txt
  Documentation/doc/scripts/generate_how_to_cite.py
  Documentation/doc/scripts/html_output_post_processing.py
  Documentation/doc/scripts/pkglist_filter.py
  Documentation/doc/scripts/testsuite.py
Labels: Ready to be tested, Tested, Under Testing, doc, rm only: ready for master

#5370 Add some documentation for Regular_triangulation::insert_if_in_star
  Installation/CHANGES.md
  Triangulation/doc/Triangulation/CGAL/Regular_triangulation.h
  Triangulation/include/CGAL/Regular_triangulation.h
Labels: Pkg::Triangulation_d, Ready to be tested, Tested, Under Testing, accepted small feature, doc, rm only: ready for master, small feature

#5529 Polyhedron_demo: Fix Affine_transform_plugin crash
  Polyhedron/demo/Polyhedron/Plugins/PCA/Affine_transform_plugin.cpp
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5536 Documentation: Fix `read_ply_points_with_properties`
  Point_set_processing_3/include/CGAL/IO/read_ply_points.h
Labels: Ready to be tested, Tested, Under Testing, doc bug, rm only: ready for master, rm only: ready for release branch

#5540 Classification: Add missing include
  Classification/include/CGAL/Classification/Label_set.h
Labels: Pkg::Classification, Ready to be tested, Tested, Under Testing, bug, rm only: ready for master, rm only: ready for release branch

#5245 Allow -DNDEBUG and CGAL_nnn_assertions at the same time
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/Arc_2.h
  Bounding_volumes/include/CGAL/Approximate_min_ellipsoid_d/Approximate_min_ellipsoid_d_configure.h
  Convex_hull_2/include/CGAL/Convex_hull_2/ch_akl_toussaint_impl.h
  Convex_hull_2/include/CGAL/Convex_hull_2/ch_assertions.h
  Convex_hull_2/include/CGAL/Convex_hull_2/ch_bykat_impl.h
  Convex_hull_2/include/CGAL/Convex_hull_2/ch_graham_andrew_impl.h
  Convex_hull_2/include/CGAL/Convex_hull_2/ch_jarvis_impl.h
  Kernel_23/include/CGAL/kernel_assertions.h
  Partition_2/include/CGAL/Partition_2/partition_approx_convex_2.h
  Partition_2/include/CGAL/Partition_2/partition_assertions.h
  Partition_2/include/CGAL/Partition_2/partition_greene_approx_convex_2.h
  Partition_2/include/CGAL/Partition_2/partition_optimal_convex_2.h
  Partition_2/include/CGAL/Partition_2/partition_y_monotone_2.h
  Point_set_processing_3/include/CGAL/point_set_processing_assertions.h
  Poisson_surface_reconstruction_3/include/CGAL/surface_reconstruction_points_assertions.h
  Polygon/include/CGAL/Polygon_2/polygon_assertions.h
  Polytope_distance_d/include/CGAL/Width_3.h
  Polytope_distance_d/include/CGAL/Width_polyhedron_3.h
  STL_Extension/include/CGAL/multiset_assertions.h
  STL_Extension/include/CGAL/triangulation_assertions.h
  Scripts/scripts/cgal_create_assertions.sh
  SearchStructures/include/CGAL/Tree_assertions.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/assertions.h
  Stream_lines_2/include/CGAL/streamlines_assertions.h
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master

#5269 Move assignment operators
  Nef_3/include/CGAL/Nef_3/Halfedge.h
  Nef_3/include/CGAL/Nef_3/SHalfedge.h
  Nef_3/include/CGAL/Nef_3/SHalfloop.h
  Nef_3/include/CGAL/Nef_polyhedron_3.h
  STL_Extension/include/CGAL/Handle.h
Labels: Modern C++ (C++11 and later), Pkg::Nef_3, Pkg::STL_Extension, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5380 Triangulation_3: Add a static assert so that Parallel_tag can only be used with TBB
  TDS_3/include/CGAL/Triangulation_data_structure_3.h
Labels: Pkg::Mesh_3, Pkg::Triangulation_3, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5438 Calculate indices only when required.
  Nef_S2/include/CGAL/Nef_S2/SM_const_decorator.h
Labels: CLA/CAA OK, Pkg::Nef_3, Ready to be tested, Tested, Under Testing, rm only: ready for master, speed

#5460 Allow to use CGAL as a submodule of a bigger CMake project
  CMakeLists.txt
  Installation/CMakeLists.txt
Labels: CMake scripts, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5463 Mesh 3 - connected components initialization for 3D gray images
  Mesh_3/doc/Mesh_3/Mesh_3.txt
  Mesh_3/doc/Mesh_3/examples.txt
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/examples/Mesh_3/mesh_3D_gray_image_with_custom_initialization.cpp
  Mesh_3/include/CGAL/Mesh_3/initialize_triangulation_from_gray_image.h
  Mesh_3/include/CGAL/Mesh_3/initialize_triangulation_from_labeled_image.h
Labels: Pkg::Mesh_3, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5467 Remove outdated URL
  Installation/CMakeLists.txt
Labels: CMake scripts, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5492 Add missing visitor calls for the output_builder part
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Concepts/PMPCorefinementVisitor.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
Labels: Pkg::PMP, Pre-approved, Ready to be tested, Tested, Under Testing, cleaning, enhancement, rm only: ready for master, small feature

#5498 Cleanup index adder in polygon_mesh_to_nef_3
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/Ray_hit_generator.h
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/Ray_hit_generator2.h
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/SM_walls.h
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/Single_wall_creator.h
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/Single_wall_creator2.h
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/Single_wall_creator3.h
  Nef_3/include/CGAL/Nef_3/ID_support_handler.h
  Nef_3/include/CGAL/Nef_3/SNC_constructor.h
  Nef_3/include/CGAL/Nef_3/SNC_indexed_items.h
  Nef_3/include/CGAL/Nef_3/polygon_mesh_to_nef_3.h
  Nef_3/include/CGAL/Nef_3/vertex_cycle_to_nef_3.h
  Nef_3/include/CGAL/Nef_polyhedron_3.h
Labels: CLA/CAA OK, Pkg::Nef_3, Ready to be tested, Tested, Under Testing, cleaning, rm only: ready for master

#5513 Polyhedron_demo: Move LAS code from item to plugin
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/IO/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/IO/LAS_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_points_with_normal_item.cpp
  Polyhedron/demo/Polyhedron/Scene_points_with_normal_item.h
Labels: CGAL 3D demo, Ready to be tested, Tested, Under Testing, rm only: ready for master

#5519 Remove operator>> and << from `File_header_OFF_extended`.
  Stream_support/include/CGAL/IO/OFF/File_header_OFF_impl.h
  Stream_support/include/CGAL/IO/OFF/File_header_extended_OFF_impl.h
Labels: Pkg::Stream_support, Ready to be tested, Tested, Under Testing, enhancement, rm only: ready for master

#5528 Lipschitz sizing field macOS warning fixed
  GraphicsView/demo/Triangulation_2/include/CGAL/Lipschitz_sizing_field_criteria_2.h
Labels: Ready to be tested, Tested, Under Testing, rm only: ready for master, warnings

#5557 Change the URL to internal releases
  Scripts/developer_scripts/autotest_cgal
  Scripts/developer_scripts/autotest_cgal_with_ctest
  Scripts/developer_scripts/run_doxygen_testsuite
Labels: Pkg::Scripts, Tested, bug
