Repository CGAL/cgal, pull requests merged in 2022-09, with the labels that each got.

#6779 Simpler implementation of Tet vs. Tri intersection
  Intersections_3/include/CGAL/Intersections_3/internal/Tetrahedron_3_Triangle_3_intersection.h
  Intersections_3/test/Intersections_3/test_intersections_Tetrahedron_3.cpp
Labels: bug, enhancement, Pkg::Kernel_23, rm only: ready for master, Tested, rm only: ready for release branch

#6809 Fix static filter of Do_intersect_3(Bbox_3,Triangle_3)
  Filtered_kernel/include/CGAL/Filtered_kernel/internal/Static_filters/Do_intersect_3.h
  Intersections_3/include/CGAL/Intersections_3/internal/Bbox_3_Triangle_3_do_intersect.h
  Intersections_3/test/Intersections_3/bbox_other_do_intersect_test.cpp
Labels: bug, Pkg::Kernel_23, rm only: ready for master, Tested, rm only: ready for release branch

#6812 add missing visitor calls in PMP::split()
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6747 Allow manually fixing a range of vertices, when using `Mean_curvature_flow_skeletonization`
  Surface_mesh_skeletonization/include/CGAL/Mean_curvature_flow_skeletonization.h
Labels: small feature, rm only: ready for master, Tested, Pkg::Surface_mesh_skeleton

#6807 Parameterization: instanciation -> instantiation
  Alpha_shapes_3/include/CGAL/Alpha_shape_3.h
  NewKernel_d/include/CGAL/NewKernel_d/utils.h
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/Concepts/Parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/ARAP_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Barycentric_mapping_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Circular_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Discrete_authalic_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Discrete_conformal_map_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Fixed_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Iterative_authalic_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/LSCM_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/MVC_post_processor_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Mean_value_coordinates_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Orbifold_Tutte_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Square_border_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Two_vertices_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/orbifold_enums.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/parameterize.h
  Triangulation_2/include/CGAL/Triangulation_hierarchy_2.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Surface_mesh_parametrization

#6826 Improvements for Triangulation_23 comparison operators
  Triangulation_2/include/CGAL/Triangulation_2.h
  Triangulation_2/test/Triangulation_2/include/CGAL/_test_cls_triangulation_2.h
  Triangulation_3/include/CGAL/Triangulation_3.h
  Triangulation_3/test/Triangulation_3/include/CGAL/_test_cls_triangulation_3.h
Labels: bug, enhancement, Pkg::Triangulation_3, Pkg::Triangulation_2, rm only: ready for master, Tested

#6827 AW3 Plugin: Show both absolute and relative values for alpha & offset
  Alpha_wrap_3/examples/Alpha_wrap_3/triangle_mesh_wrap.cpp
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Oracle_base.h
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/Alpha_wrap_3/Alpha_wrap_3_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Alpha_wrap_3/alpha_wrap_3_dialog.ui
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.h
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.h
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
Labels: enhancement, rm only: ready for master, CGAL 3D demo, Tested, cleaning, Pkg::Alpha_wrap_3

#6833 Python is mandatory not optional to build the doc
  Documentation/doc/CMakeLists.txt
Labels: doc, rm only: ready for master, Tested
