Repository CGAL/cgal, pull requests merged in 2022-05, with the labels that each got.

#5937 Robust Quotient with cpp_int
  Arithmetic_kernel/include/CGAL/BOOST_MP_arithmetic_kernel.h
  NewKernel_d/test/NewKernel_d/Epick_d.cpp
  Number_types/include/CGAL/Exact_integer.h
  Number_types/include/CGAL/Number_types/internal/Exact_type_selector.h
  Number_types/include/CGAL/Quotient.h
  Number_types/include/CGAL/boost_mp.h
  Number_types/test/Number_types/CMakeLists.txt
  Number_types/test/Number_types/to_interval_test_boost.cpp
Labels: enhancement, rm only: ready for master, Tested, Pkg::Number_types

#6495 Surface_mesh: Add move semantics
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.h
  Surface_mesh/include/CGAL/Surface_mesh/Properties.h
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
  Surface_mesh/test/Surface_mesh/surface_mesh_test.cpp
Labels: enhancement, Modern C++ (C++11 and later), Pkg::Surface_mesh, rm only: ready for master, Tested

#6499 Merge parameters::Is_default and parameters::is_default_parameter
  BGL/include/CGAL/boost/graph/IO/Generic_facegraph_builder.h
  BGL/include/CGAL/boost/graph/IO/Generic_facegraph_printer.h
  BGL/include/CGAL/boost/graph/IO/PLY.h
  BGL/include/CGAL/boost/graph/named_params_helper.h
  Optimal_bounding_box/include/CGAL/Optimal_bounding_box/oriented_bounding_box.h
  Point_set_processing_3/include/CGAL/IO/write_off_points.h
  Point_set_processing_3/include/CGAL/mst_orient_normals.h
  Point_set_processing_3/include/CGAL/structure_point_set.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/compute_normal.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/connected_components.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h
  Polygon_mesh_processing/include/CGAL/Polyhedral_envelope.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_np_function.cpp
  Polyhedron/include/CGAL/IO/Polyhedron_OFF_iostream.h
  STL_Extension/include/CGAL/Named_function_parameters.h
  Scripts/developer_scripts/test_merge_of_branch
  Shape_regularization/include/CGAL/Shape_regularization/regularize_planes.h
  Surface_mesh/include/CGAL/Surface_mesh/IO/OFF.h
  Surface_mesh_approximation/include/CGAL/Surface_mesh_approximation/approximate_triangle_mesh.h
Labels: Pkg::BGL, rm only: ready for master, Tested, cleaning, Pkg::STL_Extension

#6525 CGAL::Mesh_3::polylines_to_protect with angle bound - bug fix
  Mesh_3/include/CGAL/Mesh_3/polylines_to_protect.h
Labels: bug, Pkg::Mesh_3, rm only: ready for master, Tested

#6530 Fix crash during binary I/O of Triangulation_3
  Polyhedron/demo/Polyhedron/Plugins/IO/CMakeLists.txt
  Triangulation_3/include/CGAL/Triangulation_3.h
Labels: Pkg::Triangulation_3, rm only: ready for master, CGAL 3D demo, Tested, CGAL I/O

#6533 Barycentric coordinates: bug fix: Increment output iterator
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/Discrete_harmonic_2.h
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/Generalized_barycentric_coordinates_2.h
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/Mean_value_2.h
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/Wachspress_2.h
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/segment_coordinates_2.h
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/triangle_coordinates_2.h
Labels: bug, rm only: ready for master, Tested, Pkg::Barycentric_coordinates_2

#6534 Stream_support File_Scanner_OFF: Add #include vector
  Stream_support/include/CGAL/IO/OFF/File_scanner_OFF.h
Labels: bug, trivial, rm only: ready for master, Tested, Pkg::Stream_support

#6538 Fix snap visitor get_parameter_reference usage
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap_vertices.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP

#6540 issue #6539 Mesh3: unreachable page of ircad
  Mesh_3/doc/Mesh_3/Mesh_3.txt
Labels: Pkg::Mesh_3, rm only: ready for master, Tested, doc bug

#6541 Correcting permanent redirect to Cbc
  Polygonal_surface_reconstruction/doc/Polygonal_surface_reconstruction/Polygonal_surface_reconstruction.txt
  Solver_interface/include/CGAL/Mixed_integer_program_traits.h
Labels: doc, rm only: ready for master, Tested, cleaning

#6542 Surface_mesh_skeleton: Add example
  Surface_mesh_skeletonization/doc/Surface_mesh_skeletonization/examples.txt
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/CMakeLists.txt
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/MCF_Skeleton_om_example.cpp
Labels: rm only: ready for master, Tested, Pkg::Surface_mesh_skeleton

#6551 Add missing include directive
  Hash_map/include/CGAL/Hash_map/internal/chained_map.h
Labels: bug, rm only: ready for master, Tested, Pkg::STL_Extension

#6498 Fix broken BGL ref manual link
  BGL/doc/BGL/PackageDescription.txt
Labels: Pkg::BGL, rm only: ready for master, Tested, doc bug, rm only: ready for release branch

#6510 Fixed degenerated case of plane fitting to a linear set of points.
  Principal_component_analysis/include/CGAL/PCA_util.h
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Principal_component_analysis

#6535 remove mentions to CMAKE_GENERATOR in test scripts
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test_with_cmake
  CGAL_ipelets/demo/CGAL_ipelets/cgal_test_with_cmake
  Installation/test/Installation/CMakeLists.txt
  Installation/test/Installation/cgal_test_with_cmake
  Minkowski_sum_2/test/Minkowski_sum_2/cgal_test_with_cmake
  Poisson_surface_reconstruction_3/examples/Poisson_surface_reconstruction_3/cgal_test_with_cmake
  Poisson_surface_reconstruction_3/test/Poisson_surface_reconstruction_3/cgal_test_with_cmake
  Polyhedron/demo/Polyhedron/cgal_test_with_cmake
  Scripts/developer_scripts/autotest_cgal
  Scripts/developer_scripts/create_cgal_test
  Scripts/scripts/cgal_create_CMakeLists
  Set_movable_separability_2/test/Set_movable_separability_2/cgal_test_with_cmake
  Snap_rounding_2/test/Snap_rounding_2/cgal_test_base
  Surface_sweep_2/test/Surface_sweep_2/cgal_test_base
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch, Infrastructure

#6552 Fix error message
  Triangulation_on_sphere_2/demo/Triangulation_on_sphere_2/CMakeLists.txt
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested, rm only: ready for release branch, Pkg::Triangulation_on_sphere_2

#6563 Add 3D Alpha Wrapping package and file authors
  Alpha_wrap_3/doc/Alpha_wrap_3/PackageDescription.txt
  Alpha_wrap_3/doc/Alpha_wrap_3/alpha_wrap_3.txt
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Alpha_wrap_3.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Alpha_wrap_AABB_traits.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Oracle_base.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Point_set_oracle.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Segment_soup_oracle.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Triangle_mesh_oracle.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Triangle_soup_oracle.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/gate_priority_queue.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/geometry_utils.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/offset_intersection.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/oracles.h
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/splitting_helper.h
  Alpha_wrap_3/include/CGAL/alpha_wrap_3.h
  Alpha_wrap_3/test/Alpha_wrap_3/alpha_wrap_validation.h
Labels: doc, Tested, Pkg::Alpha_wrap_3

#6160 Try to fix a warning
  QP_solver/include/CGAL/QP_solver/functors.h
Labels: warnings, Tested, Pkg::QP_Solver

#6471 Nef_3: Performance std::map -> std::unordered_map
  Nef_3/include/CGAL/Nef_3/Binary_operation.h
  Nef_3/include/CGAL/Nef_3/ID_support_handler.h
  Nef_3/include/CGAL/Nef_3/SNC_external_structure.h
  Nef_S2/include/CGAL/Nef_S2/ID_support_handler.h
Labels: Tested, Pkg::Nef_3, speed

#6508 Documentation update in respect to code fragments
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Concepts/ArrangementOpenBoundaryTraits_2.h
  Boolean_set_operations_2/doc/Boolean_set_operations_2/Boolean_set_operations_2.txt
  Documentation/doc/Customizations.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_code_format.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_iterators_and_circulators.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_kernels.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_multithreading.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_namespaces.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_objects.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_portability.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_testing.txt
  Documentation/doc/Documentation/Developer_manual/Chapter_traits_classes.txt
  Documentation/doc/Documentation/Third_party.txt
  Documentation/doc/Documentation/advanced/Configuration_variables.txt
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.8.14/BaseDoxyfile.in
  Documentation/doc/resources/1.8.20/BaseDoxyfile.in
  Documentation/doc/resources/1.8.4/BaseDoxyfile.in
  Documentation/doc/resources/1.9.3/BaseDoxyfile.in
  Documentation/doc/resources/1.9.3/stylesheet.css
  Kernel_23/doc/Kernel_23/Kernel_23.txt
  Kernel_d/doc/Kernel_d/Kernel_d.txt
  Nef_2/doc/Nef_2/CGAL/Nef_polyhedron_2.h
  Number_types/doc/Number_types/CGAL/Sqrt_extension.h
  Number_types/doc/Number_types/NumberTypeSupport.txt
  Polynomial/doc/Polynomial/Polynomial.txt
  Polytope_distance_d/doc/Polytope_distance_d/CGAL/all_furthest_neighbors_2.h
Labels: doc, Tested

#6532 Workaround deprecation warnings in Barycentric Coordinates
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/segment_coordinates_2.h
  Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/triangle_coordinates_2.h
Labels: bug, Tested, Pkg::Barycentric_coordinates_2

#6537 Fix GT/VPM usage in approximate Hausdorff distance computations
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_distance.cpp
Labels: bug, enhancement, Tested, Pkg::PMP

#6550 BGL: Add adjacency_iterator for several classes
  Arrangement_on_surface_2/include/CGAL/graph_traits_Arrangement_2.h
  BGL/doc/BGL/graph_traits.txt
  BGL/include/CGAL/boost/graph/graph_traits_OpenMesh.h
  BGL/test/BGL/graph_concept_Linear_cell_complex.cpp
  BGL/test/BGL/graph_concept_OpenMesh.cpp
  BGL/test/BGL/graph_concept_Polyhedron_3.cpp
  BGL/test/BGL/graph_concept_Surface_mesh.cpp
  HalfedgeDS/include/CGAL/boost/graph/graph_traits_HalfedgeDS.h
  HalfedgeDS/include/CGAL/boost/graph/graph_traits_HalfedgeDS_default.h
  Linear_cell_complex/include/CGAL/boost/graph/graph_traits_Linear_cell_complex_for_combinatorial_map.h
  Surface_mesh/include/CGAL/boost/graph/graph_traits_Surface_mesh.h
Labels: bug, Pkg::BGL, Tested

#6559 Fix deprecation warning
  Shape_regularization/include/CGAL/Shape_regularization/internal/Contour_base_2.h
Labels: warnings, Tested, pkg::Shape_regularization

#6569 Resize color vector if the soup as colors
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
Labels: bug, CGAL 3D demo, Tested

#6570 Convex_hull_3: Use K::Boolean and not bool
  Convex_hull_3/include/CGAL/Convex_hull_3/dual/predicates.h
  Kernel_23/include/CGAL/Kernel/function_objects.h
Labels: bug, Tested, Pkg::Convex_hull_3

#6450 PMP::triangulate_hole(): Add Visitor
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Concepts/PMPHolefillingVisitor.h
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/examples.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/hole_filling_visitor_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polygon_mesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_hole.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/triangulate_hole_Polyhedron_3_test.cpp
Labels: enhancement, small feature, Pre-approved, Tested, Pkg::PMP

#6616 Workaround issue with pyquery
  Documentation/doc/scripts/html_output_post_processing.py
Labels: bug, doc, Tested

#6612 Please intel 2019 compiler
  Kernel_23/include/CGAL/Kernel/function_objects.h
Labels: enhancement, Pkg::Kernel_23, Tested

#6397 Add snap_borders plugin
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/Polyhedron_stitching_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Repair_polyhedron_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/SelfSnapDialog.ui
Labels: enhancement, CGAL 3D demo, Tested

#6562 Fixed Eigen3 3.4.90 deprecation warnings
  Solver_interface/include/CGAL/Eigen_svd.h
  Surface_mesh_deformation/benchmark/Surface_mesh_deformation/optimal_rotation/optimal_rotation_polar_eigen.cpp
  Surface_mesh_deformation/benchmark/Surface_mesh_deformation/optimal_rotation/optimal_rotation_svd_eigen.cpp
  Surface_mesh_deformation/include/CGAL/Deformation_Eigen_closest_rotation_traits_3.h
Labels: Tested, Pkg::Surface_mesh_deformation, Pkg::Solver_interface

#6581 Redirect and readability
  Documentation/doc/Documentation/Developer_manual/Chapter_namespaces.txt
Labels: enhancement, doc, Tested

#6610 Polyline_simplification: Clean up examples
  Polyline_simplification_2/examples/Polyline_simplification_2/points_and_vertices.cpp
  Polyline_simplification_2/examples/Polyline_simplification_2/simplify.cpp
  Polyline_simplification_2/examples/Polyline_simplification_2/simplify_polygon.cpp
  Polyline_simplification_2/examples/Polyline_simplification_2/simplify_polyline.cpp
Labels: Tested, cleaning, Pkg::Polyline_simplification_2

#6604 Remove geometric test on default constructed objects
  HalfedgeDS/test/HalfedgeDS/test_hds_range_based_loops.cpp
Labels: bug, Tested, Pkg::HalfedgeDS

#6603 Clean up EXAMPLE_PATH
  Alpha_shapes_3/doc/Alpha_shapes_3/Doxyfile.in
  BGL/doc/BGL/Doxyfile.in
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/Doxyfile.in
  Mesh_3/doc/Mesh_3/Doxyfile.in
  Orthtree/doc/Orthtree/Doxyfile.in
  Periodic_3_mesh_3/doc/Periodic_3_mesh_3/Doxyfile.in
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/Doxyfile.in
  Polygon/doc/Polygon/Doxyfile.in
  Stream_support/doc/Stream_support/Doxyfile.in
  Tetrahedral_remeshing/doc/Tetrahedral_remeshing/Doxyfile.in
Labels: doc, Tested, cleaning

#6601 Polyhedron_3: Fix saving a polyline as part of a scene
  Polyhedron/demo/Polyhedron/Plugins/IO/Polylines_io_plugin.cpp
Labels: bug, CGAL 3D demo, Tested

#6586 Arrangement_on_surface_2: unknown attribute compact specified
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
Labels: trivial, doc, Tested

#6591 Fix doxygen warnings
  AABB_tree/include/CGAL/AABB_tree.h
  Orthtree/include/CGAL/Orthtree.h
  Poisson_surface_reconstruction_3/include/CGAL/Poisson_reconstruction_function.h
  Poisson_surface_reconstruction_3/include/CGAL/Reconstruction_triangulation_3.h
  Poisson_surface_reconstruction_3/include/CGAL/poisson_refine_triangulation.h
  Polyhedron/include/CGAL/Polyhedron_3.h
  Surface_mesh_approximation/include/CGAL/Variational_shape_approximation.h
  Surface_mesher/include/CGAL/IO/output_surface_facets_to_polyhedron.h
Labels: Tested, doc bug, cleaning

#6599 Polyline simplification: Use const& in demo instead of copying a polygon
  Polyline_simplification_2/demo/Polyline_simplification_2/Polyline_simplification_2.cpp
Labels: Tested, cleaning, Pkg::Polyline_simplification_2
