Repository CGAL/cgal, pull requests merged in 2022-03, with the labels that each got.

#6335 Fixes for bounded Hausdorff computations
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/AABB_traversal_traits_with_Hausdorff_distance.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_hausdorff_bounded_error_distance.cpp
Labels: bug, enhancement, rm only: ready for master, Tested, Pkg::PMP

#6354 Make two test programs less verbose
  Mesh_3/include/CGAL/Mesh_3/Mesh_global_optimizer.h
  Mesh_3/test/Mesh_3/test_meshing_polyhedron_with_features.cpp
  Voronoi_diagram_2/test/Voronoi_diagram_2/vda_tos2.cpp
Labels: Pkg::Mesh_3, rm only: ready for master, Tested, Pkg::Voronoi_diagram_2, Testsuite

#6356 pedantic changes
  Number_types/include/CGAL/boost_mp.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h
  STL_Extension/include/CGAL/Named_function_parameters.h
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: rm only: ready for master, Tested, cleaning

#6361 Add CGAL::Color operator< and return values
  Stream_support/include/CGAL/IO/Color.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::Stream_support

#6365 Non-inlined doc NP update
  Convex_hull_3/doc/Convex_hull_3/CGAL/convex_hull_3.h
  Surface_mesh_simplification/doc/Surface_mesh_simplification/CGAL/Surface_mesh_simplification/edge_collapse.h
Labels: doc, rm only: ready for master, Tested, Pkg::Surface_mesh_simplification, Pkg::Convex_hull_3

#6366 Consistent count in the doc
  Kernel_23/doc/Kernel_23/Kernel_23.txt
Labels: doc, rm only: ready for master, Tested

#6352 ignore CDT2 if normal is null
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6360 3D demo offset_meshing_plugin: Fix the use of the manifold criterion
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Offset_meshing_plugin.cpp
Labels: bug, Pkg::Mesh_3, rm only: ready for master, CGAL 3D demo, Tested, rm only: ready for release branch

#6386 PMP: Doc Indexation -> Indexing
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
Labels: trivial, doc bug, Pkg::PMP

#5624 Handle the update of points for autorefinement
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Visitor.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_nodes.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP

#6341 PMP: Add example for extrude_mesh()
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/examples.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/extrude.cpp
Labels: rm only: ready for master, Tested, Pkg::PMP

#6368 remove deprecated recommendation
  Documentation/doc/Documentation/Developer_manual/Chapter_code_format.txt
Labels: doc, rm only: ready for master, Tested, cleaning

#6359 Fix squared_distance(Point_3, Triangle_3)
  Distance_3/include/CGAL/Distance_3/Point_3_Triangle_3.h
  Distance_3/test/Distance_3/test_distance_3.cpp
  Triangulation_on_sphere_2/test/Triangulation_on_sphere_2/test_dtos_traits.cpp
Labels: bug, rm only: ready for master, Tested, Ready to be tested, Pkg::Distance_3

#6370 Fix not using / forwarding traits
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6372 Triangulation_2: Fix doc bug
  Triangulation_2/doc/Triangulation_2/CGAL/Constrained_triangulation_plus_2.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Periodic_2_Triangulation_2, rm only: ready for release branch

#6373 Fix make_icosahedron() having wrong radius
  BGL/include/CGAL/boost/graph/generators.h
Labels: bug, Pkg::BGL, rm only: ready for master, Tested, rm only: ready for release branch

#6376 fix stl binary
  Stream_support/include/CGAL/IO/STL.h
  Stream_support/test/Stream_support/data/binary-issue-6374.stl
  Stream_support/test/Stream_support/test_STL.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Stream_support, rm only: ready for release branch

#6380 PMP hole filling: Add an option to only use Delaunay based versions
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polygon_mesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_hole.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/triangulate_hole_Polyhedron_3_test.cpp
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::PMP

#6381 Polygon_2: Add functions for ranges
  Installation/CHANGES.md
  Polygon/doc/Polygon/Polygon.txt
  Polygon/doc/Polygon/examples.txt
  Polygon/examples/Polygon/ranges.cpp
  Polygon/include/CGAL/Polygon_2.h
Labels: rm only: ready for master, Tested, Ready to be tested, Pkg::Polygon

#6388 Triangulation_2: Add Example for Starring a Conflict Zone
  Triangulation_2/doc/Triangulation_2/CGAL/Delaunay_triangulation_2.h
  Triangulation_2/doc/Triangulation_2/examples.txt
  Triangulation_2/examples/Triangulation_2/CMakeLists.txt
  Triangulation_2/examples/Triangulation_2/star_conflict_zone.cpp
Labels: doc, Pkg::Triangulation_2, rm only: ready for master, Tested

#6390 Draw nef 3
  Data/data/meshes/beam.off
  Nef_3/examples/Nef_3/draw_nef_3.cpp
  Nef_3/include/CGAL/draw_nef_3.h
Labels: Qt5, rm only: ready for master, Tested, Pkg::Nef_3

#6392 better reference Kernel intersection functions
  Boolean_set_operations_2/doc/Boolean_set_operations_2/CGAL/Boolean_set_operations_2.h
  Kernel_23/doc/Kernel_23/CGAL/Kernel/global_functions.h
Labels: enhancement, doc, rm only: ready for master, Tested

#6398 Replaced boost::tuple with std::tuple
  AABB_tree/test/AABB_tree/aabb_any_all_benchmark.cpp
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/internal/Edge_collapse.h
Labels: Pkg::AABB_tree, rm only: ready for master, Tested, cleaning, Pkg::Surface_mesh_simplification

#6410 Surface_mesh_deformation: Incorrect deprecated sections
  Surface_mesh_deformation/doc/Surface_mesh_deformation/Surface_mesh_deformation.txt
Labels: rm only: ready for master, Tested, doc bug, Pkg::Surface_mesh_deformation

#6411 Point_set_processing_3: Missing end command for cgalParam
  Point_set_processing_3/include/CGAL/structure_point_set.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Point_set_processing_3

#6414 Polygon_mesh_processing: Missing end command for cgalParam
  Polygon_mesh_processing/include/CGAL/Polyhedral_envelope.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::PMP

#6417 Generator: Remove unused variable
  Generator/include/CGAL/random_convex_hull_in_disc_2.h
Labels: rm only: ready for master, Tested, Pkg::Generators

#6395 TDS: Initialize the size of Unique_hash_map
  Combinatorial_map/include/CGAL/Combinatorial_map.h
  Linear_cell_complex/include/CGAL/boost/graph/properties_Linear_cell_complex_for_combinatorial_map.h
  Periodic_2_triangulation_2/include/CGAL/Periodic_2_triangulation_2.h
  Periodic_3_triangulation_3/include/CGAL/Periodic_3_triangulation_3.h
  Skin_surface_3/include/CGAL/triangulate_mixed_complex_3.h
  Skin_surface_3/include/CGAL/triangulate_power_diagram_3.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_builder_2_impl.h
  TDS_2/include/CGAL/Triangulation_data_structure_2.h
  TDS_3/include/CGAL/Triangulation_data_structure_3.h
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
Labels: rm only: ready for master, Tested, Pkg::Periodic_3_Triangulation_3, Pkg::Periodic_2_Triangulation_2, Pkg::TDS_2, Pkg::TDS_3, speed

#6434 Incorrect link to Gudhi project
  Alpha_shapes_2/doc/Alpha_shapes_2/Alpha_shapes_2.txt
  Alpha_shapes_3/doc/Alpha_shapes_3/Alpha_shapes_3.txt
Labels: rm only: ready for master, Tested, doc bug, Pkg::Alpha_shapes_3, Under Testing, Pkg::Alpha_shapes_2

#6442 Mesh_3: correcting gforge address
  Mesh_3/doc/Mesh_3/CGAL/Image_3.h
  Mesh_3/doc/Mesh_3/Mesh_3.txt
Labels: doc, rm only: ready for master, Tested, doc bug, Under Testing

#6443 Manual: correcting gforge address
  Documentation/doc/Documentation/Third_party.txt
Labels: doc, rm only: ready for master, Tested, doc bug, Under Testing

#6433 Nef_3: Cleanup Halffacet_triangle_handle/Halffacet_triangle_const_handle
  Nef_3/include/CGAL/Nef_3/SNC_decorator_traits.h
  Nef_3/include/CGAL/Nef_3/SNC_structure.h
Labels: rm only: ready for master, Tested, cleaning, Pkg::Nef_3

#6306 Reserve method for Chained Map / Unique Hash Map
  Hash_map/include/CGAL/Tools/chained_map.h
  Hash_map/include/CGAL/Unique_hash_map.h
  Miscellany/doc/Miscellany/CGAL/Unique_hash_map.h
  Nef_3/include/CGAL/Nef_3/Binary_operation.h
  Nef_3/include/CGAL/Nef_3/K3_tree.h
  Nef_3/include/CGAL/Nef_3/SNC_FM_decorator.h
  Nef_3/include/CGAL/Nef_3/SNC_decorator.h
  Nef_3/include/CGAL/Nef_3/SNC_external_structure.h
  Nef_3/include/CGAL/Nef_3/SNC_k3_tree_traits.h
  Nef_3/include/CGAL/Nef_3/SNC_simplify.h
  Nef_3/include/CGAL/Nef_3/SNC_structure.h
  Nef_3/include/CGAL/Nef_3/polygon_mesh_to_nef_3.h
  Nef_3/include/CGAL/Nef_polyhedron_3.h
  Nef_S2/include/CGAL/Nef_S2/Sphere_map.h
Labels: rm only: ready for master, Tested, Pkg::Nef_3

#6338 Add orient_triangle_soup_with_reference_triangle_soup()
  BGL/include/CGAL/boost/graph/IO/STL.h
  Installation/CHANGES.md
  Kernel_23/include/CGAL/Kernel/function_objects.h
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orient_polygon_soup_extension.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/orient_polygon_soup_test.cpp
  Stream_support/include/CGAL/IO/STL.h
Labels: enhancement, small feature, accepted small feature, rm only: ready for master, Tested, Pkg::PMP, depends on another PR

#6402 Mesh_3 - add tunable angle to `Angle_tester` for `polylines_to_protect()`
  Mesh_3/include/CGAL/Mesh_3/polylines_to_protect.h
Labels: enhancement, Pkg::Mesh_3, rm only: ready for master, Tested

#6421 Nef_3: Use has_smaller_distance_to_point()
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
Labels: rm only: ready for master, Tested, Pkg::Nef_3

#6426 Kernel_23: Call function objects from CGAL::Segment_3
  Cartesian_kernel/include/CGAL/Cartesian/Direction_3.h
  Cartesian_kernel/include/CGAL/Cartesian/function_objects.h
  Homogeneous_kernel/include/CGAL/Homogeneous/DirectionH3.h
  Homogeneous_kernel/include/CGAL/Homogeneous/function_objects.h
  Kernel_23/include/CGAL/Segment_3.h
Labels: Pkg::Kernel_23, rm only: ready for master, Tested, cleaning, Pkg::Nef_3, speed

#6428 Various fixes for Modifiable_priority_queue
  STL_Extension/include/CGAL/Modifiable_priority_queue.h
Labels: bug, rm only: ready for master, Tested, Pkg::STL_Extension

#6445 Consolidate the differences and use inheritance to remove duplication
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/Ray_hit_generator.h
  Convex_decomposition_3/include/CGAL/Convex_decomposition_3/Ray_hit_generator2.h
Labels: rm only: ready for master, Tested, cleaning, Pkg:Convex_decomposition_3

#6399 Kernel_23: Add Orientation_3::operator()(Origin,Point_3,Point_3,Point_3)
  Cartesian_kernel/include/CGAL/Cartesian/function_objects.h
  Filtered_kernel/include/CGAL/Epic_converter.h
  Filtered_kernel/include/CGAL/Lazy.h
  Filtered_kernel/include/CGAL/Static_filtered_predicate.h
  Kernel_23/test/Kernel_23/origin_3.cpp
Labels: Pkg::Kernel_23, rm only: ready for master, Tested, speed, Pkg::Filtered_kernel

#6441 PMP repair: Avoid large DAG when using Lazy
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
Labels: bug, Tested, cleaning, Pkg::PMP
