Repository CGAL/cgal, pull requests merged in 2022-01, with the labels that each got.

#6207 Fix set but unused variable warning
  Nef_2/include/CGAL/Nef_2/Polynomial_impl.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_transform.cpp
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
Labels: warnings, rm only: ready for master, CGAL 3D demo, Tested, rm only: ready for release branch

#6193 Fix shortcut composition
  Polyhedron/demo/Polyhedron/MainWindow.cpp
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested, rm only: ready for release branch

#6196 Fix: remove extra ';'
  Mesh_3/include/CGAL/Mesh_triangulation_3.h
Labels: trivial, Pkg::Mesh_3, rm only: ready for master, Tested, cleaning, rm only: ready for release branch

#6198 Superfluous \endcond in Classification package
  Classification/include/CGAL/Classification/Label_set.h
Labels: trivial, rm only: ready for master, Tested, doc bug, rm only: ready for release branch

#6199 Missing \endcond in Stream_support package
  Stream_support/include/CGAL/IO/GOCAD.h
Labels: trivial, doc, rm only: ready for master, Tested, doc bug, rm only: ready for release branch

#6204 Add resource files for 1.9.3
  Documentation/doc/resources/1.9.3/BaseDoxyfile.in
  Documentation/doc/resources/1.9.3/CGAL_mathjax.js
  Documentation/doc/resources/1.9.3/DoxygenLayout.xml
  Documentation/doc/resources/1.9.3/DoxygenLayoutPackage.xml
  Documentation/doc/resources/1.9.3/cgal_stylesheet.css
  Documentation/doc/resources/1.9.3/footer.html
  Documentation/doc/resources/1.9.3/ftv2cl.png
  Documentation/doc/resources/1.9.3/ftv2cpt.png
  Documentation/doc/resources/1.9.3/ftv2ns.png
  Documentation/doc/resources/1.9.3/hacks.js
  Documentation/doc/resources/1.9.3/header.html
  Documentation/doc/resources/1.9.3/header_package.html
  Documentation/doc/resources/1.9.3/menu_version.js
  Documentation/doc/resources/1.9.3/stylesheet.css
Labels: doc, rm only: ready for master, Tested, rm only: ready for release branch

#6205 Mesh_3 doc warnings
  Mesh_3/doc/Mesh_3/Mesh_3.txt
Labels: doc, rm only: ready for master, Tested, rm only: ready for release branch

#6210 CTest Testsuite: resilience to non-UTF8 characters
  Testsuite/test/parse-ctest-dashboard-xml.py
Labels: bug, rm only: ready for master, Pkg::Scripts, Tested, rm only: ready for release branch, Testsuite

#6188 Remove useless moc include
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
Labels: warnings, rm only: ready for master, CGAL 3D demo, Tested

#6206 include non-deprecated headers
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/AlgebraicCurveParser.cpp
  CGAL_ImageIO/include/CGAL/SEP_header.h
Labels: warnings, rm only: ready for master, CGAL 3D demo, Tested

#6124 Mesh a polyhedral complex in Polyhedron demo
  Mesh_3/include/CGAL/Polyhedral_complex_mesh_domain_3.h
  Polyhedron/demo/Polyhedron/C3t3_type.h
  Polyhedron/demo/Polyhedron/Plugins/IO/Surf_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin_cgal_code.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin_cgal_code.h
Labels: enhancement, Pkg::Mesh_3, CGAL 3D demo, Tested

#6213 fix \cond \endcond mismatches
  Optimal_transportation_reconstruction_2/include/CGAL/Optimal_transportation_reconstruction_2.h
Labels: doc, Tested, doc bug

#6219 Allow for more situations
  Installation/lib/cmake/CGAL/CGALConfig.cmake
Labels: enhancement, CMake scripts, Tested

#6225 Fix infinite loop
  Surface_mesh_approximation/include/CGAL/Variational_shape_approximation.h
Labels: bug, rm only: ready for master, Tested, Ready to be tested, rm only: ready for release branch, Pkg::Surface_mesh_approximation

#6230 Update latest default
  BGL/include/CGAL/boost/graph/alpha_expansion_graphcut.h
  Documentation/doc/CMakeLists.txt
  Documentation/doc/resources/1.9.3/BaseDoxyfile.in
Labels: doc, CMake scripts, rm only: ready for master, Tested, Ready to be tested, rm only: ready for release branch

#6215 Advancing Front Surface Reconstruction: Fixes in the doc.
  Advancing_front_surface_reconstruction/include/CGAL/Advancing_front_surface_reconstruction.h
Labels: trivial, rm only: ready for master, Tested, doc bug, Ready to be tested, Pkg::Advancing_front_surface_reconstruction

#6222 fix warnings
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/AABB_traversal_traits_with_Hausdorff_distance.h
  Surface_mesher/include/CGAL/Surface_mesher/Surface_mesher.h
  Surface_mesher/include/CGAL/Surface_mesher/Surface_mesher_edges_level.h
Labels: warnings, rm only: ready for master, Tested

#6232 Aos 2 fixes efif
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
  Arrangement_on_surface_2/include/CGAL/Arr_spherical_gaussian_map_3/Arr_spherical_gaussian_map_3.h
Labels: bug, Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested

#5630 Dependency inversion in Iterative_radon of segment_tree.h
  Box_intersection_d/include/CGAL/Box_intersection_d/segment_tree.h
Labels: rm only: ready for master, Tested, cleaning, Pkg::Box_intersection_d

#5772 18% performance boost in Nef_3 K3_tree.
  Nef_3/include/CGAL/Nef_3/K3_tree.h
  Nef_3/include/CGAL/Nef_3/SNC_k3_tree_traits.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
Labels: rm only: ready for master, Tested, Pkg::Nef_3, speed

#5998 Convex_hull_3: output into a polygon soup
  Convex_hull_3/doc/Convex_hull_3/CGAL/convex_hull_3.h
  Convex_hull_3/doc/Convex_hull_3/examples.txt
  Convex_hull_3/examples/Convex_hull_3/CMakeLists.txt
  Convex_hull_3/examples/Convex_hull_3/quickhull_indexed_triangle_set_3.cpp
  Convex_hull_3/include/CGAL/Convex_hull_3/internal/Indexed_triangle_set.h
  Convex_hull_3/include/CGAL/convex_hull_3.h
  Convex_hull_3/test/Convex_hull_3/test_quickhull_indexed_triangle_set_3.cpp
  Installation/CHANGES.md
  Stream_support/include/CGAL/IO/polygon_soup_io.h
Labels: small feature, accepted small feature, rm only: ready for master, Tested, Pkg::Convex_hull_3

#6043 Kd Tree Nice Print
  Installation/CHANGES.md
  Spatial_searching/benchmark/Spatial_searching/CMakeLists.txt
  Spatial_searching/benchmark/Spatial_searching/Distance.h
  Spatial_searching/benchmark/Spatial_searching/binary.cpp
  Spatial_searching/benchmark/Spatial_searching/include/nanoflann.hpp
  Spatial_searching/benchmark/Spatial_searching/nanoflan.cpp
  Spatial_searching/benchmark/Spatial_searching/nearest_neighbor_searching_50.cpp
  Spatial_searching/benchmark/Spatial_searching/nearest_neighbor_searching_inplace_50.cpp
  Spatial_searching/benchmark/Spatial_searching/nn3nanoflan.cpp
  Spatial_searching/doc/Spatial_searching/CGAL/Kd_tree.h
  Spatial_searching/include/CGAL/Kd_tree.h
  Spatial_searching/include/CGAL/Kd_tree_node.h
  Spatial_searching/test/Spatial_searching/data/balanced.xyz
  Spatial_searching/test/Spatial_searching/test_print.cpp
Labels: enhancement, accepted small feature, rm only: ready for master, Tested, Pkg::Spatial_searching

#6055 Lcc improvements
  Combinatorial_map/include/CGAL/Cell_attribute.h
  Combinatorial_map/include/CGAL/Combinatorial_map.h
  Combinatorial_map/include/CGAL/Combinatorial_map_save_load.h
  Generalized_map/include/CGAL/Generalized_map.h
  Generalized_map/include/CGAL/Generalized_map_save_load.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_base.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_constructors.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_for_combinatorial_map.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_for_generalized_map.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_incremental_builder.h
  Linear_cell_complex/test/Linear_cell_complex/LCC_3_incremental_builder_test.cpp
  Linear_cell_complex/test/Linear_cell_complex/data/lcc3_ib_test.cmap
  Linear_cell_complex/test/Linear_cell_complex/data/lcc3_ib_test.gmap
  Surface_mesh_topology/examples/Surface_mesh_topology/unsew_edgewidth_repeatedly.cpp
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Generic_map_selector.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Shortest_noncontractible_cycle.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::Linear_cell_complex

#6069 Add random generator np for sampling
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_distance.cpp
Labels: enhancement, rm only: ready for master, Tested, Pkg::PMP

#6081 Allow polygon soups to use an `std::array` point type in PM_to_PS
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/polygon_mesh_to_polygon_soup.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::PMP

#6155 Add option to use a relaxed order
  BGL/include/CGAL/boost/graph/parameters_interface.h
  Mesh_3/include/CGAL/Mesh_3/Sliver_perturber.h
  Polyline_simplification_2/include/CGAL/Polyline_simplification_2/simplify.h
  STL_Extension/include/CGAL/Modifiable_priority_queue.h
  STL_Extension/include/CGAL/STL_Extension/internal/boost/mutable_queue.hpp
  STL_Extension/include/CGAL/STL_Extension/internal/boost/relaxed_heap.hpp
  STL_Extension/test/STL_Extension/test_Modifiable_priority_queue.cpp
  Surface_mesh_simplification/doc/Surface_mesh_simplification/CGAL/Surface_mesh_simplification/edge_collapse.h
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/edge_collapse.h
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/internal/Edge_collapse.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::Surface_mesh_simplification, speed

#6195 Add visitor function call for tracking faces split
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/helper.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::PMP

#6236 typo in the intro of 'Scale-Space Surface Reconstruction' and #6220
  Poisson_surface_reconstruction_3/include/CGAL/poisson_surface_reconstruction.h
  Scale_space_reconstruction_3/doc/Scale_space_reconstruction_3/PackageDescription.txt
Labels: trivial, doc bug, Pkg::Poisson_surface_reconstruction_3, Scale_space_reconstruction

#6237 fix warning
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/internal/Edge_collapse.h
Labels: warnings, rm only: ready for master, Tested, Pkg::Surface_mesh_simplification

#6233 Convex hull can also be a triangle
  Convex_hull_3/test/Convex_hull_3/quickhull_degenerate_test_3.cpp
Labels: bug, trivial, rm only: ready for master, Tested, Pkg::Convex_hull_3, rm only: ready for release branch

#6244 Remove conditional code as the flag has disappeared
  STL_Extension/test/STL_Extension/test_Uncertain.cpp
Labels: trivial, rm only: ready for master, Tested, cleaning, Pkg::STL_Extension, rm only: ready for release branch

#6243 Tet remeshing - fix warning
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/compute_c3t3_statistics.h
Labels: warnings, rm only: ready for master, Tested, Pkg::Tetrahedral_remeshing

#6247 Installation: Fix issues for CGAL_WARNING
  Installation/include/CGAL/Installation/internal/enable_third_party_libraries.h
  Installation/include/CGAL/config.h
Labels: warnings, rm only: ready for master, Tested

#6248 Advancing Front Surface Reconstruction: allow float
  Advancing_front_surface_reconstruction/include/CGAL/Advancing_front_surface_reconstruction.h
Labels: bug, rm only: ready for master, Tested, Pkg::Advancing_front_surface_reconstruction

#6250 Hash_map: Fix warning in test case
  Hash_map/test/Hash_map/Hash.cpp
Labels: warnings, rm only: ready for master, Tested

#6251 CMap remove a warning
  Combinatorial_map/include/CGAL/Combinatorial_map_functors.h
Labels: warnings, rm only: ready for master, Tested, Pkg::Combinatorial_map

#5698 [Small Feature] Grid Simplification with Outlier Removal
  Point_set_processing_3/doc/Point_set_processing_3/Point_set_processing_3.txt
  Point_set_processing_3/examples/Point_set_processing_3/grid_simplification_example.cpp
  Point_set_processing_3/include/CGAL/grid_simplify_point_set.h
  Point_set_processing_3/include/CGAL/hierarchy_simplify_point_set.h
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_simplification_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Point_set/Point_set_simplification_plugin.ui
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: small feature, accepted small feature, rm only: ready for master, Tested

#6156 Improve self-intersection repair code
  BGL/include/CGAL/boost/graph/Face_filtered_graph.h
  BGL/test/BGL/test_Face_filtered_graph.cpp
  Optimal_bounding_box/include/CGAL/Optimal_bounding_box/oriented_bounding_box.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polygon_mesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/refine.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_hole.h
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: enhancement, TODO, rm only: ready for master, Tested, Pkg::PMP

#6241 Fix warnings
  Stream_support/include/CGAL/IO/OFF/File_scanner_OFF.h
Labels: warnings, rm only: ready for master, Tested, Pkg::Stream_support, rm only: ready for release branch

#6252 Voronoi Diagram: Do not run tests simultaneously
  Voronoi_diagram_2/test/Voronoi_diagram_2/CMakeLists.txt
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch

#6259 Mesh_3: Fixes for VC++ with option /permissive-
  Mesh_3/include/CGAL/Mesh_3/Mesh_global_optimizer.h
Labels: bug, Pkg::Mesh_3, rm only: ready for master, Tested

#6255 Advancing Front Reconstruction: Remove unused variable in example
  Advancing_front_surface_reconstruction/examples/Advancing_front_surface_reconstruction/reconstruction_surface_mesh.cpp
Labels: trivial, rm only: ready for master, Tested, Ready to be tested, Pkg::Advancing_front_surface_reconstruction

#6120 NT converter improvements
  Bounding_volumes/test/Bounding_volumes/min_sphere_test.cpp
  Cartesian_kernel/include/CGAL/Cartesian_converter.h
  Homogeneous_kernel/include/CGAL/Homogeneous_converter.h
  Kernel_23/test/Kernel_23/test_converter.cpp
  Kernel_d/include/CGAL/Kernel_d/Cartesian_converter_d.h
  Number_types/include/CGAL/NT_converter.h
Labels: bug, Pkg::Kernel_23, Tested
