Repository CGAL/cgal, pull requests merged in 2022-08, with the labels that each got.

#6774 PMP::isotropic_remeshing() - avoid using global function midpoint()
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Pkg::PMP, Under Testing

#6773 PMP::tangential_relaxation() - avoid using global function barycenter()
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/tangential_relaxation.h
Labels: Tested, Pkg::PMP

#6716 Parameterization: Make Iterative_authalic_parameterization faster (WIP)
  Solver_interface/doc/Solver_interface/Concepts/SparseLinearAlgebraTraits_d.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Iterative_authalic_parameterizer_3.h
Labels: Tested, Pkg::Surface_mesh_parametrization, speed

#6782 Fix package license
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction.h
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction/internal/compute_confidences.h
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction/internal/hypothesis.h
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction/internal/parameters.h
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction/internal/point_set_with_planes.h
  Polygonal_surface_reconstruction/package_info/Polygonal_surface_reconstruction/license.txt
Labels: doc, Pkg::Polygonal_surface_reconstruction

#6767 Confusing line numbers in case of warnings
  Documentation/doc/resources/1.9.3/BaseDoxyfile.in
Labels: Tested, doc bug

#6778 Replacing OBSOLETE doxygen settings
  Documentation/doc/resources/1.9.3/BaseDoxyfile.in
Labels: doc, Tested

#6772 Document remove_almost_degenerate_faces()
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/shape_predicates.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_remove_caps_needles.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/RemoveNeedlesDialog.ui
  Polyhedron/demo/Polyhedron/Plugins/PMP/Repair_polyhedron_plugin.cpp
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: small feature, Pre-approved, Tested, Pkg::PMP

#6781 Parameterization: Scope name of a #define
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/ARAP_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Iterative_authalic_parameterizer_3.h
Labels: Tested, Pkg::Surface_mesh_parametrization

#6788 Add triangle soup wrap example for alpha wrap
  Alpha_wrap_3/doc/Alpha_wrap_3/alpha_wrap_3.txt
  Alpha_wrap_3/doc/Alpha_wrap_3/examples.txt
  Alpha_wrap_3/examples/Alpha_wrap_3/CMakeLists.txt
  Alpha_wrap_3/examples/Alpha_wrap_3/triangle_soup_wrap.cpp
Labels: enhancement, Tested, Pkg::Alpha_wrap_3

#6787 Fix warnings
  Point_set_processing_3/include/CGAL/structure_point_set.h
  Polyhedron/demo/Polyhedron/Plugins/PCA/Scene_edit_box_item.cpp
  Shape_regularization/include/CGAL/Shape_regularization/internal/utils.h
Labels: warnings, Tested

#6800 SMS test relaxed order
  STL_Extension/include/CGAL/STL_Extension/internal/boost/relaxed_heap.hpp
  Surface_mesh_simplification/test/Surface_mesh_simplification/edge_collapse_topology.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::STL_Extension, Pkg::Surface_mesh_simplification

#6795 Obsolete doxygen settings
  Documentation/doc/resources/1.9.3/BaseDoxyfile.in
Labels: enhancement, doc, rm only: ready for master, Tested

#6801 Divider between treeview and text
  Documentation/doc/resources/1.9.3/BaseDoxyfile.in
Labels: doc, rm only: ready for master, Tested

#6803 Polyhedron Demo: Make input invisible after Boolean operation
  Polyhedron/demo/Polyhedron/Plugins/PMP/Corefinement_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Offset_meshing_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
Labels: bug, rm only: ready for master, Tested
