Repository CGAL/cgal, pull requests merged in 2022-02, with the labels that each got.

#6258 fix post condition
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
Labels: bug, trivial, rm only: ready for master, Tested, Pkg::PMP

#6263 Warning when building Periodic_2_triangulation_2 documentation
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Periodic_2_triangulation_2.txt
Labels: rm only: ready for master, Tested, doc bug, Pkg::Periodic_2_Triangulation_2

#6265 Segment_delaunay_graph: fstream -> sstream
  Segment_Delaunay_graph_2/test/Segment_Delaunay_graph_2/include/test.h
  Segment_Delaunay_graph_2/test/Segment_Delaunay_graph_2/include/test_types.h
  Segment_Delaunay_graph_Linf_2/test/Segment_Delaunay_graph_Linf_2/include/test.h
  Segment_Delaunay_graph_Linf_2/test/Segment_Delaunay_graph_Linf_2/include/test_types.h
  Voronoi_diagram_2/test/Voronoi_diagram_2/CMakeLists.txt
  Voronoi_diagram_2/test/Voronoi_diagram_2/include/vda_test_vda.h
Labels: bug, rm only: ready for master, Tested

#6280 Fix info type and set default value
  Convex_hull_3/include/CGAL/Convex_hull_face_base_2.h
  Convex_hull_3/include/CGAL/Convex_hull_vertex_base_2.h
  Convex_hull_3/include/CGAL/convex_hull_3.h
Labels: warnings, rm only: ready for master, Tested, Pkg::Convex_hull_3

#6268 Set precision of the ostringstream
  Polynomial/test/Polynomial/test_polynomial.h
Labels: bug, rm only: ready for master, Tested, Pkg::Polynomial, rm only: ready for release branch

#6291 Workaround warnings
  HalfedgeDS/examples/HalfedgeDS/hds_prog_compact2.cpp
Labels: warnings, rm only: ready for master, Tested, rm only: ready for release branch

#6276 Polynomial: Workaround for VC bug when cout << double while rounding up
  Polynomial/test/Polynomial/test_polynomial.h
Labels: bug, rm only: ready for master, Tested, Pkg::Polynomial, rm only: ready for release branch

#6012 Mesh_3 - add `remove_isolated_vertices_in_mesh_3()`
  Installation/CHANGES.md
  Mesh_3/doc/Mesh_3/CGAL/Mesh_complex_3_in_triangulation_3.h
  Mesh_3/doc/Mesh_3/Mesh_3.txt
  Mesh_3/include/CGAL/Mesh_complex_3_in_triangulation_3.h
  Mesh_3/include/CGAL/remove_far_points_in_mesh_3.h
  Mesh_3/test/Mesh_3/test_meshing_3D_image.cpp
Labels: Pkg::Mesh_3, small feature, accepted small feature, rm only: ready for master, Tested

#6253 CGAL: In testcode do not use CGAL_assertion but assert
  AABB_tree/test/AABB_tree/aabb_test_all_intersected_primitives_tree.cpp
  AABB_tree/test/AABB_tree/aabb_test_move_constructor.cpp
  AABB_tree/test/AABB_tree/aabb_test_multi_mesh.cpp
  AABB_tree/test/AABB_tree/aabb_test_ray_intersection.cpp
  Algebraic_kernel_d/test/Algebraic_kernel_d/include/CGAL/_test_algebraic_kernel_1.h
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_polycurve_intersection.cpp
  BGL/test/BGL/test_Euler_operations.cpp
  BGL/test/BGL/test_Face_filtered_graph.cpp
  Combinatorial_map/test/Combinatorial_map/Combinatorial_map_copy_test.cpp
  Convex_hull_3/test/Convex_hull_3/ch3_4points.cpp
  Kernel_23/test/Kernel_23/test_Has_conversion.cpp
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_copy_test.cpp
  Mesh_2/test/Mesh_2/test_lipschitz.cpp
  Mesh_2/test/Mesh_2/test_lloyd.cpp
  Mesh_3/test/Mesh_3/test_c3t3_into_facegraph.cpp
  Mesh_3/test/Mesh_3/test_mesh_cell_base_3.cpp
  Mesh_3/test/Mesh_3/test_meshing_determinism.cpp
  Nef_3/test/Nef_3/test_nef_to_soup.cpp
  Number_types/test/Number_types/CORE_Expr.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/include/interface_test.h
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_delaunay_insert_degenerate.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_delaunay_remove.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_performance_test.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_test_semi_static_predicates.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_triangulation_flip.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_triangulation_insert_edge.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_triangulation_insert_grid.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_triangulation_insert_vertex.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_triangulation_point_location.cpp
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/test_p2t2_triangulation_prog1.cpp
  Periodic_3_triangulation_3/test/Periodic_3_triangulation_3/test_p3rt3_versus_rt3.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/polygon_mesh_slicer_test.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/remeshing_test.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_remove_border_edge.cpp
  Principal_component_analysis/test/Principal_component_analysis/test_validity.cpp
  Property_map/test/Property_map/kernel_converter_properties_test.cpp
  STL_Extension/test/STL_Extension/test_Object.cpp
  Stream_support/test/Stream_support/test_WKT.cpp
  Surface_mesh/test/Surface_mesh/sm_open_colored_off.cpp
  Surface_mesh_segmentation/test/Surface_mesh_segmentation/K_means_clustering_test_2.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/fundamental_group_of_the_circle.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/path_with_rle_deformation_tests.cpp
  Surface_mesh_topology/test/Surface_mesh_topology/test_homotopy_with_polygonal_schema.cpp
  Tetrahedral_remeshing/test/Tetrahedral_remeshing/test_tetrahedral_remeshing.cpp
  Tetrahedral_remeshing/test/Tetrahedral_remeshing/test_tetrahedral_remeshing_io.cpp
  Tetrahedral_remeshing/test/Tetrahedral_remeshing/test_tetrahedral_remeshing_of_one_subdomain.cpp
  Tetrahedral_remeshing/test/Tetrahedral_remeshing/test_tetrahedral_remeshing_with_features.cpp
  Triangulation/test/Triangulation/test_delaunay.cpp
  Triangulation/test/Triangulation/test_regular.cpp
  Triangulation_2/test/Triangulation_2/test_constrained_triangulation_with_info_2.cpp
  Triangulation_2/test/Triangulation_2/test_triangulation_with_zip_iterator_2.cpp
  Triangulation_3/test/Triangulation_3/test_Triangulation_with_transform_iterator.cpp
  Triangulation_3/test/Triangulation_3/test_Triangulation_with_zip_iterator.cpp
  Weights/test/Weights/include/utils.h
Labels: warnings, rm only: ready for master, Tested, Pkg::Periodic_2_Triangulation_2

#6261 Intersections_3 : Use Coercion_traits
  Intersections_3/include/CGAL/Intersections_3/internal/Bbox_3_Segment_3_do_intersect.h
  Number_types/test/Number_types/CMakeLists.txt
  Number_types/test/Number_types/Exact_rational.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Number_types

#6270 Simplified expressions
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_circles_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_points_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_rectangles_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_segments_2.h
  Principal_component_analysis/include/CGAL/linear_least_squares_fitting_triangles_2.h
Labels: rm only: ready for master, Tested, cleaning, Pkg::Principal_component_analysis

#6284 use BGL for OFF writing
  Triangulation_2/examples/Triangulation_2/terr_trian.cpp
  Triangulation_2/examples/Triangulation_2/triangulation_print_OFF.h
Labels: Pkg::Triangulation_2, rm only: ready for master, Tested, cleaning

#6294 fix ununitialized variable warnings
  BGL/test/BGL/test_Collapse_edge_with_constraints.cpp
  BGL/test/BGL/test_Euler_operations.cpp
Labels: Pkg::BGL, warnings, rm only: ready for master, Tested, rm only: ready for release branch

#6274 Distance_3: Construct a FT from non integral double
  Distance_3/test/Distance_3/test_distance_3.cpp
Labels: warnings, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Distance_3

#6287 Spatial_searching: Fix incremental search with Manhattan distance
  Spatial_searching/include/CGAL/Incremental_neighbor_search.h
  Spatial_searching/test/Spatial_searching/I_neighbor_search_manhattan_distance_isobox_point.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Spatial_searching, rm only: ready for release branch

#6297 Spatial_searching: Add a variable as we had a warning about a potentially dangling pointer
  Spatial_searching/include/CGAL/Manhattan_distance_iso_box_point.h
Labels: warnings, rm only: ready for master, Tested, Pkg::Spatial_searching, rm only: ready for release branch

#6298 Triangulation_2: Quiet a warning
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
Labels: Pkg::Triangulation_2, warnings, rm only: ready for master, Tested, rm only: ready for release branch

#6296 Stream_support: Fix File_scanner_OFF::scan_facet()
  Stream_support/include/CGAL/IO/OFF/File_scanner_OFF.h
Labels: bug, warnings, rm only: ready for master, Tested, Pkg::Stream_support

#6299 PMP::remove_self_intersections improvements
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/smooth_mesh.h
Labels: enhancement, rm only: ready for master, Tested, cleaning, Pkg::PMP

#6302 CGAL: In testcode do not use CGAL_assertion but assert
  Algebraic_foundations/test/Algebraic_foundations/Chinese_remainder_traits.cpp
  BGL/include/CGAL/boost/graph/Seam_mesh.h
  BGL/include/CGAL/boost/graph/selection.h
  Combinatorial_map/include/CGAL/Combinatorial_map.h
  Generalized_map/include/CGAL/Generalized_map.h
  GraphicsView/include/CGAL/Buffer_for_vao.h
  GraphicsView/include/CGAL/Qt/Basic_viewer_qt.h
  Hyperbolic_triangulation_2/include/CGAL/Hyperbolic_triangulation_2/internal/Hyperbolic_Delaunay_triangulation_traits_2_functions.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_base.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_constructors.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_incremental_builder.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_operations.h
  Linear_cell_complex/include/CGAL/boost/graph/graph_traits_Linear_cell_complex_for_combinatorial_map.h
  Modifier/test/Modifier/test_modifier.cpp
  Nef_3/include/CGAL/draw_nef_3.h
  Point_set_3/include/CGAL/Point_set_3.h
  Polygon_mesh_processing/include/CGAL/Polyhedral_envelope.h
  Polyhedron/test/Polyhedron/test_polyhedron.cpp
  Polynomial/test/Polynomial/include/CGAL/gen_sparse_polynomial.h
  STL_Extension/include/CGAL/Compact_container.h
  STL_Extension/include/CGAL/Concurrent_compact_container.h
  STL_Extension/include/CGAL/STL_Extension/internal/boost/relaxed_heap.hpp
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Square_border_parameterizer_3.h
  Surface_mesh_topology/include/CGAL/Face_graph_wrapper.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Path_generators.h
  Surface_mesh_topology/include/CGAL/draw_face_graph_with_paths.h
Labels: rm only: ready for master, Tested, cleaning

#6304 Intersection_3: Use Coercion_traits
  Intersections_3/include/CGAL/Intersections_3/internal/Bbox_3_Line_3_do_intersect.h
  Intersections_3/include/CGAL/Intersections_3/internal/Bbox_3_Segment_3_do_intersect.h
  Intersections_3/include/CGAL/Intersections_3/internal/Iso_cuboid_3_Sphere_3_do_intersect.h
Labels: bug, rm only: ready for master, Tested

#6300 Polygon: Remove a workaround for an old Sun compiler
  Polygon/include/CGAL/Polygon_2.h
Labels: warnings, Tested, cleaning, Pkg::Polygon

#6285 CMap / LCC update
  Combinatorial_map/doc/Combinatorial_map/CGAL/Combinatorial_map.h
  Combinatorial_map/doc/Combinatorial_map/CGAL/Combinatorial_map_constructors.h
  Combinatorial_map/doc/Combinatorial_map/CGAL/Combinatorial_map_min_items.h
  Combinatorial_map/doc/Combinatorial_map/CGAL/Combinatorial_map_operations.h
  Combinatorial_map/doc/Combinatorial_map/CGAL/Dart.h
  Combinatorial_map/doc/Combinatorial_map/PackageDescription.txt
  Combinatorial_map/examples/Combinatorial_map/map_3_foreach.cpp
  Combinatorial_map/include/CGAL/Combinatorial_map.h
  Combinatorial_map/include/CGAL/Combinatorial_map_constructors.h
  Combinatorial_map/include/CGAL/Combinatorial_map_fwd.h
  Combinatorial_map/include/CGAL/Combinatorial_map_insertions.h
  Combinatorial_map/include/CGAL/Combinatorial_map_min_items.h
  Combinatorial_map/include/CGAL/Combinatorial_map_operations.h
  Combinatorial_map/include/CGAL/Combinatorial_map_storages.h
  Combinatorial_map/include/CGAL/Dart.h
  Combinatorial_map/test/Combinatorial_map/Combinatorial_map_2_test.h
  Combinatorial_map/test/Combinatorial_map/Combinatorial_map_3_test.h
  Combinatorial_map/test/Combinatorial_map/Combinatorial_map_deprecated_test.cpp
  Generalized_map/include/CGAL/Generalized_map.h
  Installation/CHANGES.md
  Linear_cell_complex/demo/Linear_cell_complex/typedefs.h
  Linear_cell_complex/doc/Linear_cell_complex/CGAL/Linear_cell_complex.h
  Linear_cell_complex/doc/Linear_cell_complex/CGAL/Linear_cell_complex_for_combinatorial_map.h
  Linear_cell_complex/doc/Linear_cell_complex/CGAL/Linear_cell_complex_min_items.h
  Linear_cell_complex/include/CGAL/CMap_linear_cell_complex_storages.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_base.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_for_combinatorial_map.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_for_generalized_map.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_fwd.h
  Linear_cell_complex/include/CGAL/Linear_cell_complex_min_items.h
  Surface_mesh_topology/include/CGAL/Path_on_surface.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Generic_map_selector.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Minimal_quadrangulation.h
  Surface_mesh_topology/include/CGAL/Surface_mesh_topology/internal/Path_on_surface_with_rle.h
Labels: Tested, cleaning, Pkg::Combinatorial_map, Pkg::Linear_cell_complex

#6311 Tiny doc fixes for PMP Hausdorff distance functions
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
Labels: rm only: ready for master, Tested, cleaning, Pkg::PMP

#6323 [Intersections_2] Make the crossing point computation deterministic
  Intersections_2/include/CGAL/Intersections_2/Segment_2_Segment_2.h
  Intersections_2/test/Intersections_2/test_intersections_2.cpp
Labels: bug, Pkg::Kernel_23, rm only: ready for master, Tested, rm only: ready for release branch

#6321 Mesh 3 experimental - minor fixes
  Mesh_3/include/CGAL/Mesh_3/experimental/Get_facet_patch_id.h
  Mesh_3/include/CGAL/Mesh_3/experimental/Lipschitz_sizing_experimental.h
Labels: Pkg::Mesh_3, rm only: ready for master, Tested

#6322 PMP - BGLize repair code
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
Labels: rm only: ready for master, Tested, cleaning, Pkg::PMP

#6316 Use non-deprecated API for boost progress
  GraphicsView/demo/Segment_Delaunay_graph_2/include/CGAL/Constraints_loader.h
  GraphicsView/demo/Segment_Delaunay_graph_Linf_2/include/CGAL/Constraints_loader.h
  Spatial_searching/benchmark/Spatial_searching/Compare_ANN_STANN_CGAL.cpp
Labels: warnings, rm only: ready for master, Tested, cleaning, rm only: ready for release branch

#6339 Make collect_close_stitchable_boundary_edges() compatible with EPECK
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/repair_extra.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::PMP

#6340 Added missing copy constructor && assignment
  Minkowski_sum_2/include/CGAL/Minkowski_sum_2/Decomposition_strategy_adapter.h
  Minkowski_sum_2/include/CGAL/Minkowski_sum_2/Minkowski_sum_conv_2.h
  Minkowski_sum_2/include/CGAL/Minkowski_sum_2/Minkowski_sum_decomp_2.h
  Minkowski_sum_2/include/CGAL/Polygon_vertical_decomposition_2.h
  Minkowski_sum_2/include/CGAL/Small_side_angle_bisector_decomposition_2.h
Labels: bug, rm only: ready for master, Tested, Pkg::Minkowski_sum_2

#6345 Stream_support: clean up the examples for WKT
  Stream_support/examples/Stream_support/Linestring_WKT.cpp
  Stream_support/examples/Stream_support/Point_WKT.cpp
  Stream_support/examples/Stream_support/Polygon_WKT.cpp
  Stream_support/examples/Stream_support/read_WKT.cpp
  Stream_support/test/Stream_support/test_WKT.cpp
Labels: rm only: ready for master, Tested, Ready to be tested, cleaning, Pkg::Stream_support

#6344 Add missing static keyword
  Intersections_3/include/CGAL/Intersections_3/internal/Iso_cuboid_3_Plane_3_intersection.h
  Intersections_3/include/CGAL/Intersections_3/internal/Tetrahedron_3_Plane_3_intersection.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
Labels: bug, Pkg::Kernel_23, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6346 Surface_mesh_shortest_path: Make data member a copy
  Surface_mesh_shortest_path/examples/Surface_mesh_shortest_path/shortest_path_with_locate.cpp
  Surface_mesh_shortest_path/examples/Surface_mesh_shortest_path/shortest_paths_multiple_sources.cpp
  Surface_mesh_shortest_path/include/CGAL/Surface_mesh_shortest_path/Surface_mesh_shortest_path.h
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_1.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_2.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_3.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_4.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_test_5.cpp
  Surface_mesh_shortest_path/test/Surface_mesh_shortest_path/Surface_mesh_shortest_path_traits_test.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Surface_mesh_shortest_path, rm only: ready for release branch

#6329 PSP: ofstream -> sstream
  Point_set_processing_3/test/Point_set_processing_3/test_deprecated_io_point_set.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Point_set_processing_3, rm only: ready for release branch

#6065 Add a function to use the complement
  BGL/include/CGAL/boost/graph/Face_filtered_graph.h
  Installation/CHANGES.md
Labels: enhancement, small feature, accepted small feature, Pkg::BGL, rm only: ready for master, Tested

#6348 Never try to fix when a polyline does not split a patch
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Output_builder_for_autorefinement.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_autorefinement.cmd
Labels: bug, rm only: ready for master, Tested, Pkg::PMP
