Repository CGAL/cgal, pull requests merged in 2022-06, with the labels that each got.

#6619 Poisson_surface_reconstruction_3: unknown command `@commentheading`
  Poisson_surface_reconstruction_3/include/CGAL/IO/output_surface_facets_to_triangle_soup.h
Labels: doc, rm only: ready for master, Tested, doc bug

#6480 Nef_3: Use separate lists K3_tree node to avoid object casts
  Nef_3/include/CGAL/Nef_3/Binary_operation.h
  Nef_3/include/CGAL/Nef_3/K3_tree.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
  Nef_3/include/CGAL/Nef_3/binop_intersection_tests.h
Labels: rm only: ready for master, Tested, Pkg::Nef_3

#6596 Triangulation_2: Add testcase of issue #5055
  Triangulation_2/test/Triangulation_2/issue_5055.cpp
Labels: enhancement, Pkg::Triangulation_2, rm only: ready for master, Tested

#6577 add an example to simplify a mesh in parallel
  Surface_mesh_simplification/examples/Surface_mesh_simplification/CMakeLists.txt
  Surface_mesh_simplification/examples/Surface_mesh_simplification/collapse_small_edges_in_parallel.cpp
Labels: doc, rm only: ready for master, Tested, Pkg::Surface_mesh_simplification

#6597 Add CGAL include paths first
  Installation/cmake/modules/CGAL_SetupCGALDependencies.cmake
Labels: bug, CMake scripts, rm only: ready for master, Tested

#6638 Disable boost pool allocator
  Arrangement_on_surface_2/include/CGAL/Arr_dcel_base.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_on_surface_2.h
Labels: bug, Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested, rm only: ready for release branch

#6649 CGALConfig.cmake: Warn only if CGAL_TEST_SUITE is set and CGAL_DATA_DIR is not
  Installation/lib/cmake/CGAL/CGALConfig.cmake
Labels: CMake scripts, warnings, rm only: ready for master, Tested, rm only: ready for release branch, TODO after merge

#6629 AABB_tree: Document parameters
  AABB_tree/include/CGAL/AABB_tree.h
Labels: Pkg::AABB_tree, rm only: ready for master, Tested, doc bug, cleaning, rm only: ready for release branch

#6635 Add face_patch_map to split_long_edges
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::PMP

#6648 Add an option to a remove_almost_degenerate_faces
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/shape_predicates.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_remove_caps_needles.cpp
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6653 AW3: Visualize and save wrapping iterations
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Alpha_wrap_3.h
  GraphicsView/include/CGAL/Qt/qglviewer.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Polyhedron/demo/Polyhedron/Plugins/Alpha_wrap_3/Alpha_wrap_3_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Alpha_wrap_3/alpha_wrap_3_dialog.ui
Labels: enhancement, rm only: ready for master, CGAL 3D demo, Tested, rm only: ready for release branch, Pkg::Alpha_wrap_3

#6659 STL_extension: Fix URL to boost libs
  Documentation/doc/Documentation/Developer_manual/Chapter_code_format.txt
  Documentation/doc/Documentation/Preliminaries.txt
  STL_Extension/doc/STL_Extension/Concepts/Hashable.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::STL_Extension, rm only: ready for release branch

#6609 Polygon: Add move semantics
  Polygon/include/CGAL/General_polygon_with_holes_2.h
  Polygon/include/CGAL/Polygon_2.h
  Polygon/include/CGAL/Polygon_with_holes_2.h
  Polygon/test/Polygon/PolygonTest.cpp
  Polygon/test/Polygon/Polygon_with_holes_test.cpp
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Modern C++ (C++11 and later), rm only: ready for master, Tested, speed

#6622 initialize some stack variables
  Triangulation_3/include/CGAL/Delaunay_triangulation_3.h
  Triangulation_3/include/CGAL/Triangulation_3.h
  Triangulation_3/include/CGAL/Triangulation_hierarchy_3.h
Labels: Pkg::Triangulation_3, rm only: ready for master, Tested, Ready to be tested

#6696 chore: Set permissions for GitHub actions
  .github/workflows/checks.yml
  .github/workflows/cmake-all.yml
  .github/workflows/delete_doc.yml
  .github/workflows/demo.yml
Labels: enhancement, Infrastructure

#6718 Arrangement: Fix comment in Arr_segment_traits
  Arrangement_on_surface_2/include/CGAL/Arr_segment_traits_2.h
Labels: trivial, doc, Pkg::Arrangement_on_surface_2

#6682 Remove mention to boost::thread_specific_ptr
  Documentation/doc/Documentation/Developer_manual/Chapter_multithreading.txt
  Installation/include/CGAL/atomic.h
Labels: Tested, doc bug

#6667 Please intel 2019 compiler
  Property_map/include/CGAL/property_map.h
  Weights/include/CGAL/Weights/cotangent_weights.h
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch

#6669 Better doc + early quit
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
Labels: Pkg::AABB_tree, rm only: ready for master, Tested, doc bug, rm only: ready for release branch

#6670 Polyhedron demo: Fix segfaults at exit
  Polyhedron/demo/Polyhedron/Plugins/PMP/Engrave_text_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Mean_curvature_flow_skeleton_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/Parameterization_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/Edit_polyhedron_plugin.cpp
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested, rm only: ready for release branch

#6673 STL_extension: Fix memory leak in Skiplist
  STL_Extension/include/CGAL/Skiplist.h
Labels: bug, rm only: ready for master, Tested, Pkg::STL_Extension, rm only: ready for release branch

#6683 Nef_S2: Fix a use-after-free
  Nef_S2/include/CGAL/Nef_S2/SM_overlayer.h
Labels: bug, rm only: ready for master, Tested, Pkg::Nef_S2, rm only: ready for release branch

#6686 Nef_3, conversion from Polyhedron_3 to Nef_3: fix constness and index maps
  Nef_3/include/CGAL/Nef_3/polygon_mesh_to_nef_3.h
  Nef_3/include/CGAL/Nef_polyhedron_3.h
  Nef_3/test/Nef_3/test_nef_3_io_EPEC.cpp
  Nef_3/test/Nef_3/test_nef_3_operator.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Nef_3

#6687 fix doc after import from Polyhedron
  BGL/include/CGAL/boost/graph/Euler_operations.h
Labels: Pkg::BGL, rm only: ready for master, Tested, doc bug, rm only: ready for release branch

#6628 Bounding_volumes: Fix zero volume ellipsoid bug (and a typo)
  Bounding_volumes/doc/Bounding_volumes/CGAL/Approximate_min_ellipsoid_d.h
  Bounding_volumes/include/CGAL/Approximate_min_ellipsoid_d.h
  Bounding_volumes/include/CGAL/Approximate_min_ellipsoid_d/Khachiyan_approximation_impl.h
  Bounding_volumes/test/Bounding_volumes/issue6626.cpp
Labels: bug, doc, rm only: ready for master, Tested, Pkg::Bounding_volumes, rm only: ready for release branch

#6668 PMP: Include the correct header file in a test
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_does_bound_a_volume.cpp
Labels: rm only: ready for master, Tested, cleaning, Pkg::PMP

#6691 Orthtree: Fix memory leak in test code
  Orthtree/include/CGAL/Orthtree/Node.h
  Orthtree/test/Orthtree/test_octree_refine.cpp
Labels: rm only: ready for master, Tested, Pkg::Orthtree

#6587 PMP::Add function triangle(face_descriptor, tmesh)
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangle.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_triangle.cpp
Labels: rm only: ready for master, Tested, Pkg::PMP

#6645 Corrections for more strict doxygen symbol resolver
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/RealEmbeddableTraits.h
  Linear_cell_complex/doc/Linear_cell_complex/Concepts/LinearCellComplexTraits.h
  Mesh_2/doc/Mesh_2/Concepts/ConformingDelaunayTriangulationTraits_2.h
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Three/doc/Three/Three.txt
Labels: rm only: ready for master, Tested, doc bug

#6646 Use ASAN optionally
  Installation/cmake/modules/CGAL_SetupCGALDependencies.cmake
  Installation/cmake/modules/FindTBB.cmake
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Point_set_processing_3/examples/Point_set_processing_3/CMakeLists.txt
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Tetrahedral_remeshing/examples/Tetrahedral_remeshing/CMakeLists.txt
Labels: enhancement, not yet approved, CMake scripts, rm only: ready for master, Tested
