Repository CGAL/cgal, pull requests merged in 2022-10, with the labels that each got.

#6850 Installation - update minimal valid Boost version
  Installation/cmake/modules/CGAL_SetupBoost.cmake
Labels: CMake scripts, rm only: ready for master, Tested, rm only: ready for release branch

#6845 PMP corefinement: Handle inconsistency with open mesh as input
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-coref/incompatible_with_open_cube.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_corefinement_bool_op.cmd
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_corefinement_bool_op.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6863 Polyhedron demo - Fix the display of protecting balls (second version)
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Polyhedron/demo/Polyhedron/Polyhedron_3.qrc
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Polyhedron/demo/Polyhedron/resources/compatibility_shaders/shader_c3t3_spheres.frag
  Polyhedron/demo/Polyhedron/resources/shader_c3t3_spheres.frag
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested, rm only: ready for release branch

#6867 Add default copy constructor and operator=
  Polygon_mesh_processing/include/CGAL/Rigid_triangle_mesh_collision_detection.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6872 Fix dry-run of keep_largest_CCs dumping the wrong faces
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/connected_components.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/connected_component_polyhedron.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/connected_component_surface_mesh.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6837 Fix Sqrt(3) subdivision mask calculation for Epeck kernels and Windows 64-bit
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_masks_3.h
Labels: bug, rm only: ready for master, Tested, Pkg::Subdivision_method_3, Batch_2

#6838 Demo: Fix grid axes scaling + use basic shader
  GraphicsView/include/CGAL/Qt/qglviewer.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested, cleaning, Batch_2

#6844 Complete array-based polygon soup repair
  Polygon_mesh_processing/examples/Polygon_mesh_processing/repair_polygon_soup_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
Labels: rm only: ready for master, Tested, Pkg::PMP

#6868 Number_types: Fix in testsuite code concerning min() and VC++
  Number_types/test/Number_types/to_interval_test_boost.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Number_types

#6874 Documentation error in Arrangement_on_surface_2
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
Labels: Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested, doc bug

#6875 Documentation error in Set_movable_separability_2
  Set_movable_separability_2/doc/Set_movable_separability_2/Set_movable_separability_2.txt
Labels: doc, rm only: ready for master, Tested, cleaning

#6876 Documentation error in Three
  Three/include/CGAL/Three/Edge_container.h
  Three/include/CGAL/Three/Point_container.h
Labels: rm only: ready for master, CGAL 3D demo, Tested, doc bug

#6877 Documentation error in Manual
  Documentation/doc/Documentation/Tutorials/Tutorial_hello_world.txt
Labels: doc, rm only: ready for master, Tested, cleaning

#6878 Some obvious missing quotes and typos
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Algebraic_curve_kernel_2.h
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Xy_coordinate_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Arr_walk_along_line_pl_impl.h
  Arrangement_on_surface_2/include/CGAL/Arr_walk_along_line_point_location.h
  Boolean_set_operations_2/include/CGAL/connect_holes.h
  Bounding_volumes/include/CGAL/Approximate_min_ellipsoid_d/Khachiyan_approximation.h
  Bounding_volumes/include/CGAL/Approximate_min_ellipsoid_d/Khachiyan_approximation_impl.h
  CGAL_Core/include/CGAL/CORE/BigFloat_impl.h
  CGAL_Core/include/CGAL/CORE/ExprRep.h
  CGAL_Core/include/CGAL/CORE/Real_impl.h
Labels: doc, rm only: ready for master, Tested, cleaning

#6879 Some obvious missing quotes
  Installation/LICENSE
  Jet_fitting_3/examples/Jet_fitting_3/README
  Nef_3/include/CGAL/Nef_3/Edge_edge_overlay.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orient_polygon_soup.h
  Stream_support/include/CGAL/IO/PLY.h
Labels: doc, rm only: ready for master, Tested, doc bug

#6884 Arrangement_on_surface_2: strange documentation
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_segment_traits_2.h
Labels: Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested, doc bug

#6888 Generator: Fix links
  Generator/doc/Generator/CGAL/Random.h
  Generator/doc/Generator/CGAL/point_generators_2.h
  Generator/doc/Generator/Concepts/CombinationElement.h
  STL_Extension/doc/STL_Extension/CGAL/algorithm.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Generators

#6890 Arrangement_on_surface_2 missing link
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Concepts/ArrTraits--CompareYOnBoundary_2.h
Labels: Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested, doc bug, Ready to be tested, Under Testing

#6897 Periodic_2_triangulation_2: Strange documentation
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/Periodic_2_triangulation_2.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Periodic_2_Triangulation_2

#6898 Kernel_d: Incorrect documentation
  Kernel_d/doc/Kernel_d/Concepts/LinearAlgebraTraits_d.h
  Kernel_d/doc/Kernel_d/Concepts/Matrix.h
  Kernel_d/doc/Kernel_d/Concepts/Vector.h
Labels: rm only: ready for master, Pkg::Kernel_d, Tested, doc bug

#6900 Point_set_processing_3: Missing backtick
  Point_set_processing_3/include/CGAL/vcm_estimate_edges.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Point_set_processing_3

#6902 Polynomial: Spurious backslashes
  Polynomial/doc/Polynomial/CGAL/Polynomial.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Polynomial

#6906 QP_solver: Missing links to include file
  QP_solver/doc/QP_solver/CGAL/QP_models.h
  QP_solver/doc/QP_solver/QP_solver.txt
Labels: enhancement, doc, rm only: ready for master, Tested, Pkg::QP_Solver

#6909 Segment_Delaunay_graph_2: Incorrect backticks
  Segment_Delaunay_graph_2/doc/Segment_Delaunay_graph_2/CGAL/Segment_Delaunay_graph_2.h
  Segment_Delaunay_graph_2/doc/Segment_Delaunay_graph_2/CGAL/Segment_Delaunay_graph_hierarchy_2.h
  Segment_Delaunay_graph_2/doc/Segment_Delaunay_graph_2/CGAL/Segment_Delaunay_graph_storage_traits_with_info_2.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Segment_Delaunay_graph_2

#6908 SearchStructures: Figure not shown
  SearchStructures/doc/SearchStructures/fig/range2.png
Labels: enhancement, doc, Tested, Pkg::SearchStructures

#6918 Triangulation_d: fix invalid triangulation after I/O
  Triangulation/include/CGAL/Triangulation_data_structure.h
  Triangulation/test/Triangulation/CMakeLists.txt
  Triangulation/test/Triangulation/simple_io_test.cpp
  Triangulation/test/Triangulation/test_tds.cpp
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Triangulation_d, CGAL I/O

#6925 Do not use `void` as default for the geometric traits if Eigen is not present
  Optimal_bounding_box/include/CGAL/Optimal_bounding_box/oriented_bounding_box.h
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Optimal_bounding_box

#6927 Mesh_3: Fix a memory leak in the parallel code
  Mesh_3/include/CGAL/Mesh_3/Worksharing_data_structures.h
Labels: bug, Pkg::Mesh_3, Parallel_tag, rm only: ready for master, Tested, rm only: ready for release branch

#6854 fix typo and update documentation
  Documentation/doc/Documentation/advanced/Configuration_variables.txt
  Documentation/doc/Documentation/advanced/Installation.txt
Labels: doc, rm only: ready for master, Tested, doc bug

#6910 STL_Extension: wrong formulation of precondition
  STL_Extension/doc/STL_Extension/CGAL/In_place_list.h
  STL_Extension/include/CGAL/In_place_list.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::STL_Extension

#6912 Obvious spelling error
  Linear_cell_complex/examples/Linear_cell_complex/plane_graph_to_lcc_2.cpp
  Surface_mesh_simplification/doc/Surface_mesh_simplification/Surface_mesh_simplification.txt
Labels: trivial, rm only: ready for master, Tested, doc bug

#6913 Triangulation_3: obvious error in \tparam parameter
  Triangulation_3/doc/Triangulation_3/CGAL/Regular_triangulation_3.h
Labels: Pkg::Triangulation_3, rm only: ready for master, Tested, doc bug

#6922 STL_Extension: example not shown properly
  STL_Extension/doc/STL_Extension/CGAL/iterator.h
  STL_Extension/doc/STL_Extension/examples.txt
Labels: rm only: ready for master, Tested, doc bug, Pkg::STL_Extension

#6929 Number types: Use mathbb for mathematical Z, Q, and R
  Number_types/doc/Number_types/CGAL/CORE_BigInt.h
  Number_types/doc/Number_types/CGAL/CORE_BigRat.h
  Number_types/doc/Number_types/CGAL/Root_of_traits.h
  Number_types/doc/Number_types/CGAL/Sqrt_extension.h
  Number_types/doc/Number_types/CGAL/leda_integer.h
  Number_types/doc/Number_types/Concepts/RootOf_2.h
Labels: rm only: ready for master, Tested, doc bug, cleaning, Pkg::Number_types

#6932 Optimal Distances: tiny doc fixes
  Polytope_distance_d/doc/Polytope_distance_d/Concepts/WidthTraits_3.h
  Polytope_distance_d/doc/Polytope_distance_d/dependencies
Labels: rm only: ready for master, Tested, doc bug, Pkg::Polytope_distance_d

#6933 Undocument non-existent P4HT2 operators
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/CGAL/Periodic_4_hyperbolic_triangulation_2.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::Periodic_4_hyperbolic_triangulation_2

#6934 Number_types: Cleanup concerning Quotient
  Number_types/doc/Number_types/CGAL/Quotient.h
  Number_types/doc/Number_types/NumberTypeSupport.txt
Labels: doc, rm only: ready for master, Tested, cleaning, Pkg::Number_types

#6926 Polyhedron demo - add C3T3 `.tetra.am` reader
  Polyhedron/demo/Polyhedron/Plugins/IO/Surf_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_io_plugin.cpp
  Polyhedron/demo/Polyhedron/include/CGAL/IO/read_surf_trianglemesh.h
  SMDS_3/include/CGAL/IO/File_avizo.h
  SMDS_3/include/CGAL/SMDS_3/tet_soup_to_c3t3.h
Labels: enhancement, rm only: ready for master, CGAL 3D demo, Tested, CGAL I/O

#6942 Clean up in headers
  Number_types/include/CGAL/Exact_rational.h
  Number_types/include/CGAL/Mpzf.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/bbox.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/border.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/compute_normal.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/connected_components.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/detect_features.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/fair.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Smoothing/curvature_flow_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/helper.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap_vertices.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/named_params_helper.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/intersection.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/locate.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/manifoldness.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/measure.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/merge_border_vertices.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/random_perturbation.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/refine.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/shape_predicates.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/transform.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangle.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_faces.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_hole.h
  Polyhedron/demo/Polyhedron/Plugins/IO/VTK_io_plugin.cpp
  Polyhedron/demo/Polyhedron/include/CGAL/IO/read_surf_trianglemesh.h
  STL_Extension/include/CGAL/assertions_behaviour.h
Labels: rm only: ready for master, Tested, cleaning

#6917 Polynomial: background of formula in advanced section
  Polynomial/doc/Polynomial/CGAL/polynomial_utils.h
  Polynomial/doc/Polynomial/fig/underbrace.png
Labels: enhancement, rm only: ready for master, Tested, Pkg::Polynomial

#6864 Mesh 3 - fix construction of weights image for labeled image input
  Mesh_3/examples/Mesh_3/mesh_3D_weighted_image.cpp
  Mesh_3/include/CGAL/Mesh_3/generate_label_weights.h
Labels: bug, Pkg::Mesh_3, rm only: ready for master, Tested, rm only: ready for release branch

#6931 Purge to-be-border halfedges from edges-to-collapse sets
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#6959 test/Number_types/to_interval_test_boost.cpp: parenthesis to fix testsuite on Window (min/max)
  Number_types/test/Number_types/to_interval_test_boost.cpp
Labels: warnings, rm only: ready for master, Tested, Pkg::Number_types, rm only: ready for release branch

#6883 Various fixes for Hyperbolic_Delaunay_triangulation_2
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/HDT2.cpp
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/HyperbolicPainterOstream.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/HyperbolicPainterOstreamCK.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/HyperbolicVoronoiGraphicsItem.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/TriangulationConflictZone.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/TriangulationGraphicsItem.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/TriangulationMovingPoint.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/TriangulationPointInputAndConflictZone.h
  Hyperbolic_triangulation_2/demo/Hyperbolic_triangulation_2/include/internal/Qt/TriangulationRemoveVertex.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/CGAL/Hyperbolic_Delaunay_triangulation_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/Concepts/HyperbolicTriangulationFaceBase_2.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/PackageDescription.txt
  Hyperbolic_triangulation_2/include/CGAL/Hyperbolic_Delaunay_triangulation_2.h
  Hyperbolic_triangulation_2/include/CGAL/Hyperbolic_triangulation_2/internal/Hyperbolic_Delaunay_triangulation_traits_2_functions.h
  Hyperbolic_triangulation_2/include/CGAL/Hyperbolic_triangulation_face_base_2.h
  Hyperbolic_triangulation_2/test/Hyperbolic_triangulation_2/ht2_test_locate.cpp
  Installation/CHANGES.md
Labels: bug, Tested, doc bug, Pkg::Hyperbolic_triangulation_2
