Repository CGAL/cgal, pull requests merged in 2023-09, with the labels that each got.

#7561 SLS: Fix warnings
  Straight_skeleton_2/examples/Straight_skeleton_2/extrude_skeleton.cpp
  Straight_skeleton_2/examples/Straight_skeleton_2/include/CGAL/input_helpers.h
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_weighted_polygons_with_holes.cpp
Labels: Pkg::Straight_skeleton_2, Warnings, rm only: ready for master, Tested

#7595 Generalize documentation of Face_filtered_graph
  BGL/include/CGAL/boost/graph/Face_filtered_graph.h
  BGL/test/BGL/test_Face_filtered_graph.cpp
  Stream_support/include/CGAL/IO/Color.h
Labels: Enhancement, Doc, Pkg::BGL, rm only: ready for master, Tested

#7648 Better showing of `#include`
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/PackageDescription.txt
  Boolean_set_operations_2/doc/Boolean_set_operations_2/PackageDescription.txt
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.9.6/BaseDoxyfile.in
  Linear_cell_complex/doc/Linear_cell_complex/PackageDescription.txt
  Nef_3/doc/Nef_3/PackageDescription.txt
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/PackageDescription.txt
  Point_set_3/doc/Point_set_3/PackageDescription.txt
  Polygon/doc/Polygon/PackageDescription.txt
  Polyhedron/doc/Polyhedron/PackageDescription.txt
  Surface_mesh/doc/Surface_mesh/PackageDescription.txt
  Surface_mesh_topology/doc/Surface_mesh_topology/PackageDescription.txt
  Triangulation_2/doc/Triangulation_2/PackageDescription.txt
  Triangulation_3/doc/Triangulation_3/PackageDescription.txt
  Voronoi_diagram_2/doc/Voronoi_diagram_2/PackageDescription.txt
  Weights/doc/Weights/PackageDescription.txt
Labels: Doc, rm only: ready for master, Tested, Cleaning

#7660 Arrangement: small doc fixes
  Algebraic_foundations/doc/Algebraic_foundations/Algebraic_foundations.txt
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/FieldNumberType.h
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/RingNumberType.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_circle_segment_traits_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_conic_traits_2.h
  Barycentric_coordinates_2/doc/Barycentric_coordinates_2/Concepts/BarycentricTraits_2.h
  Bounding_volumes/doc/Bounding_volumes/CGAL/Approximate_min_ellipsoid_d.h
  Bounding_volumes/doc/Bounding_volumes/CGAL/Min_ellipse_2_traits_2.h
  Bounding_volumes/doc/Bounding_volumes/CGAL/Min_sphere_of_spheres_d.h
  Kernel_23/doc/Kernel_23/CGAL/Filtered_predicate.h
  Kernel_23/doc/Kernel_23/CGAL/Kernel/global_functions.h
  Kernel_23/doc/Kernel_23/CGAL/Vector_2.h
  Kernel_23/doc/Kernel_23/Concepts/FunctionObjectConcepts.h
  Kernel_d/doc/Kernel_d/CGAL/Epeck_d.h
  Kernel_d/doc/Kernel_d/Concepts/Kernel--CartesianConstIterator_d.h
  Nef_2/doc/Nef_2/Concepts/ExtendedKernelTraits_2.h
  Nef_3/doc/Nef_3/Nef_3.txt
  Number_types/doc/Number_types/NumberTypeSupport.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Concepts/PMPDistanceTraits.h
  Polynomial/doc/Polynomial/Concepts/PolynomialTraits_d--IsZeroAt.h
  Polynomial/doc/Polynomial/Concepts/PolynomialTraits_d--SignAt.h
  Shape_detection/doc/Shape_detection/Concepts/EfficientRANSACTraits.h
  Spatial_searching/doc/Spatial_searching/CGAL/Fuzzy_sphere.h
  Spatial_searching/doc/Spatial_searching/Concepts/FuzzyQueryItem.h
  Stream_support/doc/Stream_support/IOstream.txt
  Surface_mesh_deformation/doc/Surface_mesh_deformation/Concepts/RawPoint_3.h
  Surface_mesh_skeletonization/doc/Surface_mesh_skeletonization/Concepts/MeanCurvatureSkeletonizationTraits.h
Labels: Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested, Doc bug

#7651 Fix collapse test in snap
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
Labels: Bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#7663 Nef_2: Deal with isolated vertices
  Nef_2/include/CGAL/Nef_2/PM_checker.h
  Nef_2/include/CGAL/Nef_2/PM_const_decorator.h
  Nef_2/include/CGAL/Nef_2/PM_decorator.h
  Nef_2/include/CGAL/Nef_2/PM_overlayer.h
  Nef_2/include/CGAL/Nef_2/PM_persistent_PL.h
  Nef_2/include/CGAL/Nef_2/PM_point_locator.h
  Nef_2/include/CGAL/Nef_2/Segment_overlay_traits.h
  Nef_2/test/Nef_2/issue7662.cpp
Labels: Bug, rm only: ready for master, Tested, Pkg::Nef_2, rm only: ready for release branch

#7671 Fixes for undocumented remeshing with common interface
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh_planar_patches.h
  Shape_detection/include/CGAL/Polygon_mesh_processing/region_growing.h
Labels: Bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#7673 fix issue #7666: Sphere_3 intersection with interval arithmetic fails on 5.6
  Circular_kernel_3/include/CGAL/Circular_kernel_3/internal_functions_on_sphere_3.h
Labels: Bug, Pkg::Kernel_23, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Circular_kernel_3

#7677 Fixes overflow when reading in large images
  CGAL_ImageIO/include/CGAL/ImageIO_impl.h
Labels: Bug, rm only: ready for master, Tested, Pkg::CGAL_ImageIO, rm only: ready for release branch

#7686 Correct size() in case some points were removed
  Spatial_searching/include/CGAL/Kd_tree.h
Labels: Bug, rm only: ready for master, Tested, Pkg::Spatial_searching, rm only: ready for release branch

#7610 Fixes for vertex/cell classes of SMDS_3 and Tetrahedral_remeshing
  Installation/CHANGES.md
  SMDS_3/doc/SMDS_3/Concepts/SimplicialMeshCellBase_3.h
  SMDS_3/doc/SMDS_3/Concepts/SimplicialMeshVertexBase_3.h
  SMDS_3/examples/SMDS_3/c3t3_example.cpp
  SMDS_3/include/CGAL/Compact_simplicial_mesh_cell_base_3.h
  SMDS_3/include/CGAL/Mesh_complex_3_in_triangulation_3.h
  SMDS_3/include/CGAL/Simplicial_mesh_cell_base_3.h
  SMDS_3/include/CGAL/Simplicial_mesh_vertex_base_3.h
  SMDS_3/test/SMDS_3/test_simplicial_cb_vb.cpp
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/Remeshing_cell_base_3.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/Remeshing_triangulation_3.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/Remeshing_vertex_base_3.h
  Tetrahedral_remeshing/include/CGAL/tetrahedral_remeshing.h
Labels: Bug, Tested, Doc bug, Cleaning, Pkg::Tetrahedral_remeshing, Pkg::SMDS_3

#7704 Fix Is_in_domain potential infinite loop
  Mesh_3/include/CGAL/Polyhedral_complex_mesh_domain_3.h
Labels: Bug, Pkg::Mesh_3, rm only: ready for master, Tested, rm only: ready for release branch

#7688 Added missing reference to a paper in Heat method
  Documentation/doc/biblio/cgal_manual.bib
  Heat_method_3/doc/Heat_method_3/Heat_method_3.txt
Labels: rm only: ready for master, Tested, Doc bug, Pkg::Heat_method_3

#7700 Incorrect closing HTML comment
  Triangulation/doc/Triangulation/PackageDescription.txt
  Triangulation/doc/Triangulation/Triangulation.txt
Labels: rm only: ready for master, Tested, Doc bug, Cleaning

#7703 issue #7701 Appearance of "Set of Faces" in documentation.
  Triangulation/doc/Triangulation/Triangulation.txt
Labels: Doc, rm only: ready for master, Tested, Cleaning

#7705 issue #7702 Appearance of " Hilbert Sorting" in documentation.
  Spatial_sorting/doc/Spatial_sorting/Spatial_sorting.txt
Labels: Doc, rm only: ready for master, Tested, Cleaning

#7710 Fix concept doc
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Concepts/PMPCorefinementVisitor.h
Labels: trivial, Doc, rm only: ready for master, Tested, Doc bug, Pkg::PMP, rm only: ready for release branch

#7697 Polyhedron demo : meshing a segmented image and preserving color
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_image_item.cpp
  Polyhedron/demo/Polyhedron/Scene_image_item.h
  Polyhedron/demo/Polyhedron/Scene_triangulation_3_item.cpp
Labels: Pkg::Mesh_3, rm only: ready for master, CGAL 3D demo, Tested

#7644 Aos_2: bug-fix for arrangements of geodesic arcs on a sphere
  Arrangement_on_surface_2/include/CGAL/Arr_geodesic_arc_on_sphere_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arrangement_zone_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_zone_2.h
  Arrangement_on_surface_2/include/CGAL/draw_arrangement_2.h
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/data/test_construction/geodesic_arcs_on_sphere/test40.txt
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_construction.geodesic_arcs_on_sphere.cmd
  Installation/CHANGES.md
Labels: Bug, Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested
