Repository CGAL/cgal, pull requests merged in 2023-07, with the labels that each got.

#7423 Triangulation_3: Fix a bug in tr.segment_traverser_simplices()
  STL_Extension/include/CGAL/Base_with_time_stamp.h
  STL_Extension/include/CGAL/Iterator_range.h
  TDS_3/include/CGAL/Triangulation_simplex_3.h
  Triangulation_2/test/Triangulation_2/issue_4405.cpp
  Triangulation_2/test/Triangulation_2/test_cdt_degenerate_case.cpp
  Triangulation_3/include/CGAL/Triangulation_3/internal/Triangulation_segment_traverser_3_impl.h
  Triangulation_3/include/CGAL/Triangulation_segment_traverser_3.h
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/test_segment_simplex_traverser_3.cpp
  Triangulation_3/test/Triangulation_3/test_simplex_iterator_3.cpp
  Triangulation_3/test/Triangulation_3/test_triangulation_simplex_3_debug.h
Labels: bug, Pkg::Triangulation_3, Ready to be tested, rm only: ready for release branch

#7535 fix simplex traverser for CGAL 5.6
  STL_Extension/include/CGAL/Iterator_range.h
  TDS_3/include/CGAL/Triangulation_simplex_3.h
  Triangulation_3/include/CGAL/Triangulation_3/internal/Triangulation_segment_traverser_3_impl.h
  Triangulation_3/include/CGAL/Triangulation_segment_traverser_3.h
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/test_segment_simplex_traverser_3.cpp
  Triangulation_3/test/Triangulation_3/test_simplex_iterator_3.cpp
  Triangulation_3/test/Triangulation_3/test_triangulation_simplex_3_debug.h
Labels: bug, Pkg::Triangulation_3, rm only: ready for master, Tested, rm only: ready for release branch, Master Version of Release Branch PR

#7549 Polyhedron demo: Fix remeshing of a surface
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin.cpp
Labels: bug, Pkg::Mesh_3, rm only: ready for master, CGAL 3D demo, Tested, rm only: ready for release branch

#7551 Skeletonization: Make it deterministic
  Surface_mesh_skeletonization/include/CGAL/Mean_curvature_flow_skeletonization.h
Labels: rm only: ready for master, Tested, cleaning, rm only: ready for release branch, Pkg::Surface_mesh_skeleton

#7500 Add stop button for AW3 demo
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Alpha_wrap_3.h
  Polyhedron/demo/Polyhedron/Plugins/Alpha_wrap_3/Alpha_wrap_3_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Alpha_wrap_3/alpha_wrap_3_dialog.ui
Labels: enhancement, rm only: ready for master, CGAL 3D demo, Tested, Pkg::Alpha_wrap_3

#7538 Disable MSVC 2015 starting with CGAL 6.0
  Scripts/developer_scripts/run_testsuite_with_ctest
Labels: Pkg::Scripts, Ready to be tested, Under Testing, Batch_1

#7540 Improve the manuals for the 3D Polyhedral Surface and Triangulated Surface Mesh Segmentation pkgs
  Polyhedron/doc/Polyhedron/Concepts/PolyhedronItems_3.h
  Surface_mesh_segmentation/doc/Surface_mesh_segmentation/Surface_Mesh_Segmentation.txt
Labels: enhancement, rm only: ready for master, Tested, Pkg::Surface_mesh_segmentation, rm only: ready for release branch

#7584 fix unused variable warnings
  Triangulation_3/include/CGAL/Triangulation_3/internal/Triangulation_segment_traverser_3_impl.h
Labels: Pkg::Triangulation_3, warnings, rm only: ready for master, Tested, rm only: ready for release branch

#7591 Consistency of terms
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.9.6/BaseDoxyfile.in
Labels: doc, rm only: ready for master, Tested, cleaning

#7594 (Really) Disable MSVC 2015 starting with CGAL 6.0
  Scripts/developer_scripts/run_testsuite_with_ctest
Labels: Under Testing, Infrastructure

#7539 Display property / Heat method plugins improvements
  Polyhedron/demo/Polyhedron/Color_map.h
  Polyhedron/demo/Polyhedron/MainWindow.cpp
  Polyhedron/demo/Polyhedron/Plugins/Display/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Display/Display_property.ui
  Polyhedron/demo/Polyhedron/Plugins/Display/Display_property_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/Display/Heat_method.ui
  Polyhedron/demo/Polyhedron/Plugins/Display/Heat_method_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Join_and_split_polyhedra_plugin.cpp
  Polyhedron/demo/Polyhedron/SMesh_type.h
  Polyhedron/demo/Polyhedron/Scene.cpp
  Polyhedron/demo/Polyhedron/Scene.h
  Polyhedron/demo/Polyhedron/Scene_surface_mesh_item.cpp
  Polyhedron/demo/Polyhedron/include/id_printing.h
  Polyhedron/demo/Polyhedron/triangulate_primitive.h
  Three/include/CGAL/Three/Scene_interface.h
  Three/include/CGAL/Three/Scene_item.h
  Three/include/CGAL/Three/Viewer_interface.h
Labels: bug, enhancement, rm only: ready for master, CGAL 3D demo, Tested, cleaning

#7556 Add missing tests
  Arithmetic_kernel/test/Arithmetic_kernel/CMakeLists.txt
  BGL/examples/BGL_LCC/CMakeLists.txt
  BGL/test/BGL/test_Surface_mesh.cpp
  BGL/test/BGL/test_deprecated_io.cpp
  Linear_cell_complex/test/Linear_cell_complex/CMakeLists.txt
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/test/Mesh_3/implicit_functions.cpp
  Mesh_3/test/Mesh_3/implicit_functions.h
  Number_types/test/Number_types/CMakeLists.txt
  Point_set_processing_3/test/Point_set_processing_3/CMakeLists.txt
  STL_Extension/test/STL_Extension/CMakeLists.txt
  STL_Extension/test/STL_Extension/test_leak.cpp
  STL_Extension/test/STL_Extension/test_nth_element.cpp
  STL_Extension/test/STL_Extension/test_skiplist.cpp
  Scripts/developer_scripts/test_merge_of_branch
  Shape_regularization/test/Shape_regularization/CMakeLists.txt
  Shape_regularization/test/Shape_regularization/test_cgal_solver.cpp
  Skin_surface_3/examples/Skin_surface_3/CMakeLists.txt
  Spatial_searching/examples/Spatial_searching/CMakeLists.txt
  Triangulation/doc/Triangulation/Triangulation.txt
  Triangulation/doc/Triangulation/examples.txt
  Triangulation/examples/Triangulation/triangulation.cpp
  Triangulation/examples/Triangulation/triangulation1.h
  Triangulation/examples/Triangulation/triangulation2.h
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/test_dt_deterministic_3.cpp
  Triangulation_3/test/Triangulation_3/test_dt_deterministic_3.in
Labels: bug, Pkg::Mesh_3, Pkg::Triangulation_3, rm only: ready for master, Tested, Pkg::STL_Extension, Pkg::Number_types, Pkg::Linear_cell_complex, Pkg::Triangulation_d, pkg::Shape_regularization, Pkg:Arithmetric_kernel

#7578 Classification: Workaround for VC++/std17/boost bug
  Classification/include/CGAL/Classification/Image.h
Labels: rm only: ready for master, Tested, Pkg::Classification, upstream bug

#7586 Add unique simplex iterators for periodic triangulations
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/Periodic_2_Delaunay_triangulation_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/PackageDescription.txt
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Periodic_2_triangulation_2.txt
  Periodic_2_triangulation_2/examples/Periodic_2_triangulation_2/p2t2_find_conflicts.cpp
  Periodic_2_triangulation_2/include/CGAL/Periodic_2_triangulation_2.h
  Periodic_2_triangulation_2/include/CGAL/Periodic_2_triangulation_iterators_2.h
  Periodic_2_triangulation_2/test/Periodic_2_triangulation_2/include/interface_test.h
  Periodic_3_triangulation_3/include/CGAL/Periodic_3_triangulation_3.h
  Periodic_3_triangulation_3/include/CGAL/Periodic_3_triangulation_3/internal/Periodic_3_triangulation_iterators_3.h
  Periodic_3_triangulation_3/test/Periodic_3_triangulation_3/include/CGAL/_test_cls_periodic_3_iterator.h
  Periodic_3_triangulation_3/test/Periodic_3_triangulation_3/include/CGAL/_test_cls_periodic_3_triangulation_3.h
Labels: enhancement, rm only: ready for master, Tested, Pkg::Periodic_3_Triangulation_3, Pkg::Periodic_2_Triangulation_2

#7589 Possibility to disable special CGAL documentation setting
  Documentation/doc/CMakeLists.txt
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.9.6/BaseDoxyfile.in
Labels: rm only: ready for master, Tested

#7596 Rephrase documentation of one-sided Haussdorff distance function
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
Labels: doc, rm only: ready for master, Tested, cleaning, Pkg::PMP

#7588 add missing partial specialization
  Convex_hull_3/include/CGAL/Convex_hull_3/dual/halfspace_intersection_interior_point_3.h
  Intersections_2/test/Intersections_2/test_intersections_2.cpp
  Number_types/include/CGAL/Exact_integer.h
  Number_types/include/CGAL/Exact_rational.h
  Number_types/include/CGAL/Number_types/internal/Exact_type_selector.h
Labels: bug, Tested, Pkg::Number_types, rm only: release blocker

#7611 Triangulation_3: the testsuite of the simplex traverser needs C++17
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
Labels: bug, Pkg::Triangulation_3, rm only: ready for master, Tested, Testsuite
