Repository CGAL/cgal, pull requests merged in 2023-08, with the labels that each got.

#7619 Apollonius_graph: Fix return type in the documentation
  Apollonius_graph_2/doc/Apollonius_graph_2/CGAL/Apollonius_graph_2.h
  Apollonius_graph_2/doc/Apollonius_graph_2/CGAL/Apollonius_graph_vertex_base_2.h
Labels: Tested, Doc bug, Pkg::Apollonius_graph_2

#7633 reproject barycenter to avoid boundary shrinking
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/tangential_relaxation.h
Labels: Bug, Tested, Pkg::PMP

#7528 Add `CGAL/version_checker.h`
  Installation/include/CGAL/config.h
  Installation/include/CGAL/version_checker.h
Labels: Tested, CGAL config

#7409 Edge insertion for CMap/GMap
  Combinatorial_map/doc/Combinatorial_map/Combinatorial_map.txt
  Combinatorial_map/doc/Combinatorial_map/Concepts/GenericMap.h
  Combinatorial_map/doc/Combinatorial_map/examples.txt
  Combinatorial_map/examples/Combinatorial_map/map_3_insert.cpp
  Combinatorial_map/include/CGAL/Combinatorial_map.h
  Combinatorial_map/include/CGAL/Combinatorial_map/internal/Combinatorial_map_group_functors.h
  Combinatorial_map/include/CGAL/Combinatorial_map/internal/Combinatorial_map_utility.h
  Combinatorial_map/include/CGAL/Combinatorial_map_operations.h
  Combinatorial_map/include/CGAL/Compact_container_with_index.h
  Combinatorial_map/test/Combinatorial_map/Combinatorial_map_3_test.h
  Generalized_map/doc/Generalized_map/Generalized_map.txt
  Generalized_map/doc/Generalized_map/examples.txt
  Generalized_map/examples/Generalized_map/gmap_3_insert.cpp
  Generalized_map/include/CGAL/Generalized_map.h
  Generalized_map/include/CGAL/Generalized_map/internal/Generalized_map_group_functors.h
  Generalized_map/include/CGAL/Generalized_map_operations.h
  Generalized_map/test/Generalized_map/GMap_test_insertions.h
  Generalized_map/test/Generalized_map/gmap_test_split_attribute.cpp
  Installation/CHANGES.md
  Linear_cell_complex/doc/Linear_cell_complex/Linear_cell_complex.txt
  Linear_cell_complex/doc/Linear_cell_complex/examples.txt
  Linear_cell_complex/doc/Linear_cell_complex/fig/lcc_insert_example.png
  Linear_cell_complex/examples/Linear_cell_complex/CMakeLists.txt
  Linear_cell_complex/examples/Linear_cell_complex/linear_cell_complex_3_insert.cpp
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_2_test.cpp
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_2_test.h
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_3_test.cpp
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_3_test.h
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_4_test.cpp
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_4_test.h
Labels: Small feature, Accepted small feature, Tested, Pkg::Combinatorial_map

#7624 Spelling corrections
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/EuclideanRing.h
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Curve_pair_analysis_2.h
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Xy_coordinate_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_batched_point_location.h
  Arrangement_on_surface_2/include/CGAL/Arr_circular_line_arc_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_overlay_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Arr_batched_point_location_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_vertical_decomposition_2.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arrangement_on_surface_2_global.h
  Arrangement_on_surface_2/include/CGAL/IO/Arr_text_formatter.h
  Arrangement_on_surface_2/include/CGAL/Surface_sweep_2/Arr_basic_insertion_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Surface_sweep_2/Arr_no_intersection_insertion_ss_visitor.h
  Arrangement_on_surface_2/include/CGAL/Surface_sweep_2/Arr_overlay_traits_2.h
  BGL/test/BGL/test_Gwdwg.cpp
  Boolean_set_operations_2/include/CGAL/Boolean_set_operations_2/Gps_traits_decorator.h
  Circulator/doc/Circulator/CGAL/circulator.h
  Cone_spanners_2/doc/Cone_spanners_2/Cone_spanners_2.txt
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/CGAL/Hyperbolic_Delaunay_triangulation_2.h
  Hyperbolic_triangulation_2/include/CGAL/Hyperbolic_Delaunay_triangulation_2.h
  Installation/cmake/modules/CGAL_SetupCGALDependencies.cmake
  Installation/cmake/modules/FindTBB.cmake
  Nef_S2/include/CGAL/Nef_S2/SM_io_parser.h
  Number_types/include/CGAL/Sqrt_extension/Fraction_traits.h
  Polynomial/include/CGAL/Polynomial_traits_d.h
  Spatial_searching/doc/Spatial_searching/Concepts/OrthogonalDistance.h
  Spatial_searching/doc/Spatial_searching/Spatial_searching.txt
  Straight_skeleton_2/doc/Straight_skeleton_2/Concepts/PolygonOffsetBuilderTraits_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/Concepts/StraightSkeletonBuilderTraits_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/Concepts/StraightSkeletonVertex_2.h
  Straight_skeleton_2/include/CGAL/constructions/Straight_skeleton_cons_ftC2.h
  Surface_mesh/include/CGAL/Surface_mesh/Properties.h
  Surface_mesh_parameterization/doc/Surface_mesh_parameterization/Surface_mesh_parameterization.txt
  Surface_mesh_segmentation/include/CGAL/Surface_mesh_segmentation/internal/auxiliary/graph.h
  Surface_mesh_topology/doc/Surface_mesh_topology/CGAL/Curves_on_surface_topology.h
Labels: Doc, Tested, Cleaning

#7605 Fix connect infinite loop in heat method plugin
  Polyhedron/demo/Polyhedron/Plugins/Display/Heat_method_plugin.cpp
Labels: Bug, Tested, Pkg::Polyhedron

#7639 Minor improvements to the documentation of `PMP::orient_polygon_soup()`
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orient_polygon_soup.h
Labels: Enhancement, Doc, Tested, Pkg::PMP

#7638 Locate.h: Use Face_location / Barycentric_coordinates everywhere
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/locate.h
Labels: Tested, Cleaning, Pkg::PMP, TODO after merge

#7628 cgal_create_release_with_cmake.cmake: only call Git one
  Scripts/developer_scripts/cgal_create_release_with_cmake.cmake
Labels: Enhancement, CMake scripts, rm only: ready for master, Tested

#7653 Fix istream for optional
  Stream_support/include/CGAL/IO/io.h
Labels: Bug, Modern C++ (C++11 and later), rm only: ready for master, Tested

#7650 Be more permissive in Compare_dihedral_angle_3
  Kernel_23/include/CGAL/Kernel/function_objects.h
Labels: Enhancement, Pkg::Kernel_23, rm only: ready for master, Tested
