Repository CGAL/cgal, pull requests merged in 2023-10, with the labels that each got.

#7732 Reformulate a cross product to increase precision
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_surface_mesh.cpp
  Surface_mesh_simplification/include/CGAL/Cartesian/MatrixC33.h
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/Policies/Edge_collapse/internal/Lindstrom_Turk_core.h
  Surface_mesh_simplification/test/Surface_mesh_simplification/CMakeLists.txt
  Surface_mesh_simplification/test/Surface_mesh_simplification/data/far_xy.off
  Surface_mesh_simplification/test/Surface_mesh_simplification/test_edge_collapse_stability.cpp
Labels: rm only: ready for master, Tested, Pkg::Surface_mesh_simplification

#7745 Polyhedron demo : dual contouring operation from isosurfacing_3 package
  Polyhedron/demo/Polyhedron/Plugins/Isosurfacing_3/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Isosurfacing_3/Isosurface_3_plugin.cpp
Labels: Enhancement, rm only: ready for master, CGAL 3D demo, Tested, presentation

#7751 Bug fix in drawing of interior faces when the outer boundary is pinched
  GraphicsView/include/CGAL/Buffer_for_vao.h
Labels: Bug, rm only: ready for master, Tested

#7752 Add missing functions capacity and upper bound in dart_range for cmap and lcc with index
  Combinatorial_map/include/CGAL/Combinatorial_map_storages_with_index.h
  Linear_cell_complex/include/CGAL/CMap_linear_cell_complex_storages_with_index.h
Labels: rm only: ready for master, Tested, Pkg::Combinatorial_map, Pkg::Linear_cell_complex

#7763 Correcting permanent redirect
  Documentation/doc/biblio/cgal_manual.bib
  Stream_support/doc/Stream_support/File_formats/Supported_file_formats.txt
Labels: trivial, Doc, rm only: ready for master, Tested

#7769 issue #7764 Reference to moka modeller
  Combinatorial_map/doc/Combinatorial_map/Combinatorial_map.txt
  Generalized_map/doc/Generalized_map/Generalized_map.txt
Labels: rm only: ready for master, Tested, Doc bug

#7773 Link to the 3mf specification
  Stream_support/doc/Stream_support/File_formats/Supported_file_formats.txt
Labels: trivial, rm only: ready for master, Tested, Doc bug

#7713 Aos_2: doc fixes
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_algebraic_segment_traits_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_batched_point_location.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_conic_traits_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_point_location_result.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_polycurve_traits_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_vertical_decomposition_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arrangement_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arrangement_on_surface_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/CORE_algebraic_number_traits.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Concepts/ArrTraits--Intersect_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Concepts/ArrTraits--MakeXMonotone_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/PackageDescription.txt
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/batched_point_location.cpp
Labels: Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested, Doc bug

#7725 Bounding_volumes: Use Eigen library in demo
  GraphicsView/demo/Bounding_volumes/CMakeLists.txt
  GraphicsView/demo/Bounding_volumes/Ellipse.h
  GraphicsView/demo/Bounding_volumes/data.pts.cgal
  GraphicsView/demo/Bounding_volumes/rect.pts.cgal
  GraphicsView/demo/Bounding_volumes/slanted.pts.cgal
Labels: Bug, rm only: ready for master, Tested, Pkg::Bounding_volumes

#7726 Added type cast to preprocess_weights() to avoid compilation error
  Straight_skeleton_extrusion_2/include/CGAL/extrude_skeleton.h
Labels: Bug, Pkg::Straight_skeleton_2, rm only: ready for master, Tested

#7737 Polyhedron demo : Add clip box plugin support for more items
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PCA/Clipping_box_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Clipping_box_widget.ui
  Polyhedron/demo/Polyhedron/Plugins/PCA/Scene_edit_box_item.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Scene_edit_box_item.h
  Polyhedron/demo/Polyhedron/Scene_image_item.cpp
  Polyhedron/demo/Polyhedron/Scene_triangulation_3_item.cpp
  Polyhedron/demo/Polyhedron/Scene_triangulation_3_item.h
  Polyhedron/demo/Polyhedron/resources/no_interpolation_shader.frag
  Polyhedron/demo/Polyhedron/resources/no_interpolation_shader.geom
  Polyhedron/demo/Polyhedron/resources/no_interpolation_shader.vert
  Polyhedron/demo/Polyhedron/resources/shader_c3t3.frag
  Polyhedron/demo/Polyhedron/resources/shader_c3t3.vert
  Polyhedron/demo/Polyhedron/resources/shader_c3t3_edges.frag
  Polyhedron/demo/Polyhedron/resources/shader_c3t3_edges.vert
Labels: Bug, rm only: ready for master, CGAL 3D demo, Tested, presentation

#7744 fix : iformat/oformat are in CGAL::IO
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/Point_2.h
  Mesh_2/include/CGAL/IO/File_poly.h
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/include/CGAL/Mesh_3/Refine_facets_3.h
  Point_set_processing_3/include/CGAL/IO/read_xyz_points.h
  Stream_support/include/CGAL/IO/PLY/PLY_reader.h
  Stream_support/include/CGAL/IO/STL/STL_reader.h
  Stream_support/include/CGAL/IO/VTK.h
  Triangulation_2/include/CGAL/Constrained_triangulation_2.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
Labels: Bug, rm only: ready for master, Tested

#7768 issue #7767 Problem with the documenation of Mesh_3
  Mesh_3/doc/Mesh_3/CGAL/Polyhedral_mesh_domain_3.h
  Mesh_3/doc/Mesh_3/CGAL/Polyhedral_mesh_domain_with_features_3.h
Labels: Pkg::Mesh_3, rm only: ready for master, Tested, Doc bug

#7742 Add missing header
  Intersections_3/include/CGAL/Intersections_3/internal/Plane_3_Triangle_3_intersection.h
Labels: Bug, Pkg::Kernel_23, rm only: ready for master, Tested, rm only: ready for release branch

#7753 Fix warning
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Warnings, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Tetrahedral_remeshing

#7722 Doc of Windows precompiled demos - remove "common dlls"
  Documentation/doc/Documentation/windows.txt
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.9.6/BaseDoxyfile.in
Labels: rm only: ready for master, Doc bug, rm only: ready for release branch

#7807 STL_extension: Fix Base_with_time_stamp
  STL_Extension/include/CGAL/Base_with_time_stamp.h
Labels: Ready to be tested, Pkg::STL_Extension

#7655 Converting unoriented polygon soup to polygon mesh
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction.h
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction/internal/point_set_with_planes.h
  Polygonal_surface_reconstruction/package_info/Polygonal_surface_reconstruction/dependencies
Labels: Bug, rm only: ready for master, Tested, Pkg::Polygonal_surface_reconstruction

#7776 issue #7774 Link to support funding of GUDHI project not found
  Triangulation/doc/Triangulation/Triangulation.txt
Labels: rm only: ready for master, Tested, Doc bug

#7778 issue #7770 Non existing link to the LASLib / LAStools
  Documentation/doc/Documentation/Third_party.txt
Labels: Doc, rm only: ready for master, Tested, Doc bug

#7729 Mesh_3 Polyhedron demo : Added support for vtk images (vti format)
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Io_image_plugin.cpp
Labels: Enhancement, Pkg::Mesh_3, CGAL 3D demo, Tested, CGAL I/O

#7806 fix demo warnings
  Polyhedron/demo/Polyhedron/Plugins/Isosurfacing_3/Isosurface_3_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Scene_edit_box_item.cpp
Labels: Warnings, CGAL 3D demo, Tested

#7787 No need for workaround for boost before version 1.47
  Classification/include/CGAL/Classification/ETHZ/internal/random-forest/common-libraries.hpp
Labels: Tested

#7777 issue #7765 Problem with Boost 1.54 and a non reachable ticket
  Point_set_processing_3/include/CGAL/mst_orient_normals.h
Labels: Doc, Tested, Cleaning, Pkg::Point_set_processing_3

#7819 Apollonius_graph: Make file names unique
  Apollonius_graph_2/test/Apollonius_graph_2/include/test.h
Labels: Tested, Cleaning, Pkg::Apollonius_graph_2

#7760 Tetrahedral remeshing of a C3t3 - fix default cell selector
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_adaptive_remeshing_impl.h
  Tetrahedral_remeshing/include/CGAL/tetrahedral_remeshing.h
Labels: Bug, CGAL 3D demo, Tested, Pkg::Tetrahedral_remeshing, presentation

#7809 fix out-of-bound warnings
  Triangulation_3/include/CGAL/Regular_triangulation_3.h
Labels: Pkg::Triangulation_3, Warnings, Tested

#7820 Prevent the removal of fixed boundary edges
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
Labels: Bug, Tested, Pkg::PMP

#7734 Mesh 3: Fix demo tetrahedral filtering with a tetrahedral mesh having many subdomains
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Tetrahedra_filtering_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_triangulation_3_item.cpp
  Polyhedron/demo/Polyhedron/Scene_triangulation_3_item.h
  Polyhedron/demo/Polyhedron/resources/shader_c3t3.frag
  Polyhedron/demo/Polyhedron/resources/shader_c3t3_edges.frag
Labels: Bug, Pkg::Mesh_3, CGAL 3D demo, Tested

#7802 Triangulation_2: Add () to function names in the User Manual
  Triangulation_2/doc/Triangulation_2/Triangulation_2.txt
Labels: trivial, Pkg::Triangulation_2, rm only: ready for master, Tested, Doc bug

#7804 Fix wrong \ingroup statements
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/ExplicitInteroperable.h
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/Fraction.h
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/FromDoubleConstructible.h
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/FromIntConstructible.h
  Algebraic_foundations/doc/Algebraic_foundations/Concepts/ImplicitInteroperable.h
  Kernel_23/doc/Kernel_23/CGAL/Aff_transformation_2.h
  Kernel_23/doc/Kernel_23/CGAL/Aff_transformation_3.h
  Kernel_23/doc/Kernel_23/CGAL/aff_transformation_tags.h
  Kernel_23/doc/Kernel_23/CGAL/intersections.h
  Minkowski_sum_2/doc/Minkowski_sum_2/CGAL/Polygon_convex_decomposition_2.h
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction.h
  Solver_interface/include/CGAL/Eigen_sparse_matrix.h
  Surface_mesh_parameterization/include/CGAL/surface_mesh_parameterization.h
Labels: rm only: ready for master, Tested, Doc bug

#7803 Convex_hull_3: fix a typo
  Convex_hull_3/doc/Convex_hull_3/CGAL/convex_hull_3.h
Labels: trivial, rm only: ready for master, Tested, Doc bug, Pkg::Convex_hull_3, rm only: ready for release branch

#7814 Fix qhelpgenerator call
  Periodic_3_triangulation_3/demo/Periodic_3_triangulation_3/Periodic_3_triangulation_3.qhcp
  Periodic_3_triangulation_3/demo/Periodic_Lloyd_3/Periodic_Lloyd_3.qhcp
Labels: Bug, rm only: ready for master, Tested, Pkg::Periodic_3_Triangulation_3, rm only: ready for release branch
