Repository CGAL/cgal, pull requests merged in 2023-11, with the labels that each got.

#7784 BGL - no need to workaround boost 1.54 anymore
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/bgl_primal_adapter.cpp
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_dual.cpp
  BGL/examples/BGL_arrangement_2/primal.cpp
  BGL/examples/BGL_triangulation_2/dijkstra.cpp
  BGL/examples/BGL_triangulation_2/dijkstra_with_internal_properties.cpp
  BGL/include/CGAL/boost/graph/dijkstra_shortest_paths.h
  Envelope_3/include/CGAL/Envelope_3/Envelope_divide_and_conquer_3.h
  Envelope_3/package_info/Envelope_3/dependencies
  Point_set_processing_3/include/CGAL/mst_orient_normals.h
  Polyhedron/demo/Polyhedron/Scene_polyhedron_selection_item.cpp
  Surface_mesh/examples/Surface_mesh/sm_bgl.cpp
  Surface_mesh_approximation/include/CGAL/Variational_shape_approximation.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/orbifold_shortest_path.h
Labels: Pkg::BGL, rm only: ready for master, Tested, Cleaning

#7795 CGAL Lab: fix reading of VTK files
  Polyhedron/demo/Polyhedron/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/IO/VTK_io_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_item_with_properties.cpp
  Polyhedron/demo/Polyhedron/TextRenderer.cpp
  Stream_support/include/CGAL/IO/polygon_soup_io.h
  Three/include/CGAL/Three/Scene_item_with_properties.h
Labels: Bug, rm only: ready for master, CGAL 3D demo, Tested, presentation

#7800 Polyhedron demo - Use subdomain's color only when meshing from labeled images
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_image_item.cpp
  Polyhedron/demo/Polyhedron/Scene_triangulation_3_item.cpp
  Polyhedron/demo/Polyhedron/Scene_triangulation_3_item.h
Labels: Bug, Pkg::Mesh_3, rm only: ready for master, CGAL 3D demo, Tested, presentation

#7801 Tetrahedral_remeshing - Doc improvements
  Tetrahedral_remeshing/doc/Tetrahedral_remeshing/Tetrahedral_remeshing.txt
  Tetrahedral_remeshing/examples/Tetrahedral_remeshing/tetrahedral_remeshing_example.cpp
  Tetrahedral_remeshing/examples/Tetrahedral_remeshing/tetrahedral_remeshing_generate_input.h
  Tetrahedral_remeshing/examples/Tetrahedral_remeshing/tetrahedral_remeshing_of_one_subdomain.cpp
Labels: Doc, rm only: ready for master, Tested, Pkg::Tetrahedral_remeshing

#7810 Filtered_kernel: Remove dead code
  Filtered_kernel/include/CGAL/Filtered_kernel/internal/Static_filters/Power_side_of_oriented_power_sphere_3.h
Labels: rm only: ready for master, Tested, Cleaning, Pkg::Filtered_kernel

#7822 Kernel_23: Exploit Uncertain in collinear_3()
  Cartesian_kernel/include/CGAL/predicates/kernel_ftC3.h
Labels: Pkg::Kernel_23, rm only: ready for master, Tested

#7825 Mesh_3 - avoid a timeout in the testsuite
  Mesh_3/test/Mesh_3/test_meshing_without_features_determinism.cpp
Labels: Pkg::Mesh_3, rm only: ready for master, Tested, Testsuite

#7797 Tetrahedral remeshing - fix internal C3t3
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_adaptive_remeshing_impl.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Bug, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Tetrahedral_remeshing

#7838 SMDS_3 - avoid output files for testing
  SMDS_3/test/SMDS_3/test_c3t3_io.cpp
Labels: rm only: ready for master, Tested, rm only: ready for release branch, Testsuite, Pkg::SMDS_3

#7728 Fix general_polygon_example.png
  Visibility_2/doc/Visibility_2/fig/general_polygon_example.png
Labels: Doc, rm only: ready for master, Tested, Doc bug

#7758 Defining a new resource directory to be used with doxygen master 1.10.0
  Documentation/doc/CMakeLists.txt
  Documentation/doc/resources/1.10.0/BaseDoxyfile.in
  Documentation/doc/resources/1.10.0/CGAL_mathjax.js
  Documentation/doc/resources/1.10.0/DoxygenLayout.xml
  Documentation/doc/resources/1.10.0/DoxygenLayoutPackage.xml
  Documentation/doc/resources/1.10.0/cgal_stylesheet.css
  Documentation/doc/resources/1.10.0/footer.html
  Documentation/doc/resources/1.10.0/hacks.js
  Documentation/doc/resources/1.10.0/header.html
  Documentation/doc/resources/1.10.0/header_package.html
  Documentation/doc/resources/1.10.0/menu_version.js
Labels: Doc, rm only: ready for master, Tested

#7831 Polyhedron demo : Fix bug in "Show cells not in complex" of a C3t3
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
Labels: Bug, rm only: ready for master, CGAL 3D demo, Tested

#7574 Surface_mesh_approximation: Deal with boundary edges
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
  Surface_mesh_approximation/doc/Surface_mesh_approximation/Surface_mesh_approximation.txt
  Surface_mesh_approximation/include/CGAL/Variational_shape_approximation.h
  Surface_mesh_approximation/test/Surface_mesh_approximation/CMakeLists.txt
  Surface_mesh_approximation/test/Surface_mesh_approximation/data/patch.ply
  Surface_mesh_approximation/test/Surface_mesh_approximation/vsa_border_test.cpp
Labels: Enhancement, Tested, Pkg::Surface_mesh_approximation

#4891 PMP::isotropic_remeshing - add variable sizing field
  Documentation/doc/biblio/cgal_manual.bib
  Documentation/doc/scripts/generate_how_to_cite.py
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Concepts/PMPSizingField.h
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Doxyfile.in
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/fig/uniform_and_adaptive.png
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_with_sizing_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/Adaptive_sizing_field.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/Uniform_sizing_field.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Sizing_field_base.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/interpolated_corrected_curvatures.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/tangential_relaxation.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/remeshing_quality_test.cpp
  Polyhedron/demo/Polyhedron/Plugins/Display/Display_property.ui
  Polyhedron/demo/Polyhedron/Plugins/Display/Display_property_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_dialog.ui
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: Enhancement, Small feature, Accepted small feature, Tested, Pkg::PMP, gsoc, gsoc-2023

#7887 PMP - isotropic remeshing with sizing to CHANGES.md
  Installation/CHANGES.md
Labels: Pkg::PMP

#7843 Scale_space_reconstruction: Doc Fixes
  Scale_space_reconstruction_3/doc/Scale_space_reconstruction_3/dependencies
  Scale_space_reconstruction_3/include/CGAL/Scale_space_reconstruction_3/Jet_smoother.h
  Scale_space_reconstruction_3/include/CGAL/Scale_space_reconstruction_3/Weighted_PCA_smoother.h
Labels: rm only: ready for master, Tested, Doc bug, Pkg::Scale_space_reconstruction

#7845 Patch usage of BUILD_TESTING to handle the case that CGAL is a subproject
  .github/workflows/cmake-all.yml
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test.cmake
  CMakeLists.txt
  Circular_kernel_2/test/Circular_kernel_2/CMakeLists.txt
  Installation/CMakeLists.txt
  Installation/cmake/modules/CGAL_CreateSingleSourceCGALProgram.cmake
  Installation/cmake/modules/CGAL_add_test.cmake
  Installation/cmake/modules/CGAL_enable_end_of_configuration_hook.cmake
  Installation/test/Installation/CMakeLists.txt
  Installation/test/Installation/cgal_test_with_cmake
  Mesh_3/test/Mesh_3/CMakeLists.txt
  Nef_3/test/Nef_3/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Classification/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Convex_hull/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PCA/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/CMakeLists.txt
  Polyhedron/demo/Polyhedron/polyhedron_demo_macros.cmake
  Scripts/developer_scripts/run_testsuite_with_ctest
  Snap_rounding_2/test/Snap_rounding_2/CMakeLists.txt
  Surface_sweep_2/test/Surface_sweep_2/CMakeLists.txt
  Triangulation_2/test/Triangulation_2/CMakeLists.txt
  Triangulation_3/examples/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
Labels: Bug, CMake scripts, rm only: ready for master, Tested

#7849 Filtered_kernel: Add Power_side_of_oriented_power_circle_2.h
  Filtered_kernel/include/CGAL/Filtered_kernel/internal/Static_filters/Power_side_of_oriented_power_circle_2.h
  Filtered_kernel/include/CGAL/Filtered_kernel/internal/Static_filters/Static_filters.h
Labels: Pkg::Triangulation_2, rm only: ready for master, Tested, Speed, Pkg::Filtered_kernel

#7869 CMake: fix incorrect use of string(REGEX REPLACE...)
  Installation/cmake/modules/CGAL_Macros.cmake
Labels: Bug, CMake scripts, rm only: ready for master, Tested, rm only: ready for release branch

#7880 workaround error with clang++-18
  BGL/test/BGL/test_Face_filtered_graph.cpp
  BGL/test/BGL/test_graph_traits.cpp
Labels: Bug, Pkg::BGL, rm only: ready for master, Tested, rm only: ready for release branch

#7412 Document exactness of constructions in Epick
  Documentation/doc/resources/1.10.0/BaseDoxyfile.in
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.9.6/BaseDoxyfile.in
  Kernel_23/doc/Kernel_23/CGAL/Circle_2.h
  Kernel_23/doc/Kernel_23/CGAL/Circle_3.h
  Kernel_23/doc/Kernel_23/CGAL/Direction_2.h
  Kernel_23/doc/Kernel_23/CGAL/Direction_3.h
  Kernel_23/doc/Kernel_23/CGAL/Exact_predicates_inexact_constructions_kernel.h
  Kernel_23/doc/Kernel_23/CGAL/Iso_cuboid_3.h
  Kernel_23/doc/Kernel_23/CGAL/Iso_rectangle_2.h
  Kernel_23/doc/Kernel_23/CGAL/Kernel/global_functions.h
  Kernel_23/doc/Kernel_23/CGAL/Line_2.h
  Kernel_23/doc/Kernel_23/CGAL/Line_3.h
  Kernel_23/doc/Kernel_23/CGAL/Plane_3.h
  Kernel_23/doc/Kernel_23/CGAL/Point_2.h
  Kernel_23/doc/Kernel_23/CGAL/Point_3.h
  Kernel_23/doc/Kernel_23/CGAL/Ray_2.h
  Kernel_23/doc/Kernel_23/CGAL/Ray_3.h
  Kernel_23/doc/Kernel_23/CGAL/Segment_2.h
  Kernel_23/doc/Kernel_23/CGAL/Segment_3.h
  Kernel_23/doc/Kernel_23/CGAL/Sphere_3.h
  Kernel_23/doc/Kernel_23/CGAL/Tetrahedron_3.h
  Kernel_23/doc/Kernel_23/CGAL/Triangle_2.h
  Kernel_23/doc/Kernel_23/CGAL/Triangle_3.h
  Kernel_23/doc/Kernel_23/CGAL/Vector_2.h
  Kernel_23/doc/Kernel_23/CGAL/Vector_3.h
  Kernel_23/doc/Kernel_23/CGAL/Weighted_point_2.h
  Kernel_23/doc/Kernel_23/CGAL/Weighted_point_3.h
Labels: Doc, Pkg::Kernel_23, rm only: ready for master, Tested

#7754 Mesh_3 - use `manifold()` and `facet_min_size` together
  Data/data/meshes/polyhedral_complex_of_spheres/Intersection12.off
  Data/data/meshes/polyhedral_complex_of_spheres/Intersection13.off
  Data/data/meshes/polyhedral_complex_of_spheres/Sphere1.off
  Data/data/meshes/polyhedral_complex_of_spheres/Sphere2.off
  Data/data/meshes/polyhedral_complex_of_spheres/Sphere3.off
  Mesh_3/include/CGAL/Mesh_3/Refine_facets_manifold_base.h
  Mesh_3/include/CGAL/Mesh_3/mesh_standard_cell_criteria.h
  Mesh_3/include/CGAL/Mesh_facet_criteria_3.h
  Mesh_3/include/CGAL/Mesh_vertex_base_3.h
  Mesh_3/include/CGAL/Polyhedral_complex_mesh_domain_3.h
  Mesh_3/test/Mesh_3/CMakeLists.txt
  Mesh_3/test/Mesh_3/test_meshing_polyhedral_complex_with_manifold_and_min_size.cpp
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_3_plugin.cpp
Labels: Enhancement, Pkg::Mesh_3, rm only: ready for master, Tested

#7783 Ipelet for k-nearest neighbor graph
  CGAL_ipelets/demo/CGAL_ipelets/CMakeLists.txt
  CGAL_ipelets/demo/CGAL_ipelets/lua/libCGAL_nearest_neighbor_graph.lua
  CGAL_ipelets/demo/CGAL_ipelets/nearest_neighbor_graph.cpp
  CGAL_ipelets/doc/CGAL_ipelets/CGAL_ipelets.txt
Labels: rm only: ready for master, Tested, Pkg::CGAL_ipelets

#7858 Installation - fix `CGAL_ITK_support`
  .github/install.sh
  Installation/cmake/modules/CGAL_ITK_support.cmake
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/CMakeLists.txt
Labels: Enhancement, CMake scripts, Pkg::Mesh_3, rm only: ready for master, Tested
