Repository CGAL/cgal, pull requests merged in 2023-01, with the labels that each got.

#7133 Scripts, run_testsuite_with_ctest: CONFIG_TYPE maybe used on other platforms
  Scripts/developer_scripts/run_testsuite_with_ctest
Labels: CMake scripts, rm only: ready for master, Tested, Testsuite

#7126 Make smooth an option that is OFF by default
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#7171 Projection_traits_xy_3: Enable structural filtering
  Kernel_23/include/CGAL/Projection_traits_xy_3.h
  Triangulation_2/include/CGAL/Constrained_Delaunay_triangulation_2.h
  Triangulation_2/include/CGAL/Constrained_triangulation_2.h
Labels: Pkg::Kernel_23, under discussion, Pkg::Triangulation_2, rm only: ready for master, Tested, rm only: ready for release branch, speed

#7112 Triangulation_2 Demo: Read files with many WKT entities
  GraphicsView/demo/Triangulation_2/Constrained_Delaunay_triangulation_2.cpp
  Stream_support/include/CGAL/IO/WKT.h
Labels: enhancement, Pkg::Triangulation_2, rm only: ready for master, Tested, rm only: ready for release branch

#7127 Conditional assertions
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#7129 Leopard is retired for quite some time now
  Installation/cmake/modules/CGAL_GeneratorSpecificSettings.cmake
Labels: CMake scripts, rm only: ready for master, Tested, cleaning, rm only: ready for release branch

#7134 Tet remeshing - fix vertices `dimension`
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_adaptive_remeshing_impl.h
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch, rm only: release blocker, Pkg::Tetrahedral_remeshing

#7142 Optimal Transport Reconstruction: Fix memory leak
  Optimal_transportation_reconstruction_2/demo/Optimal_transportation_reconstruction_2/render.cpp
  Optimal_transportation_reconstruction_2/demo/Optimal_transportation_reconstruction_2/scene.h
  Optimal_transportation_reconstruction_2/examples/Optimal_transportation_reconstruction_2/otr2_simplest_example.cpp
  Optimal_transportation_reconstruction_2/include/CGAL/OTR_2/Cost.h
  Optimal_transportation_reconstruction_2/include/CGAL/OTR_2/Reconstruction_face_base_2.h
  Optimal_transportation_reconstruction_2/include/CGAL/OTR_2/Reconstruction_triangulation_2.h
  Optimal_transportation_reconstruction_2/include/CGAL/OTR_2/Reconstruction_vertex_base_2.h
  Optimal_transportation_reconstruction_2/include/CGAL/OTR_2/Sample.h
  Optimal_transportation_reconstruction_2/include/CGAL/Optimal_transportation_reconstruction_2.h
  Optimal_transportation_reconstruction_2/test/Optimal_transportation_reconstruction_2/test_reconstruction_until.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Optimal_transportation_reconstruction_2, rm only: ready for release branch

#7144 Replace shared_ptr with a plain copy
  Spatial_searching/include/CGAL/Search_traits_adapter.h
Labels: rm only: ready for master, Tested, Pkg::Spatial_searching, rm only: ready for release branch, speed

#7145 Orthree: Fix testsuite code
  Orthtree/test/Orthtree/test_octree_grade.cpp
Labels: rm only: ready for master, Tested, rm only: ready for release branch, Testsuite, Pkg::Orthtree

#7146 Convex_hull_2: Do not assert without exact predicates
  Convex_hull_2/test/Convex_hull_2/ch_test_CH.cpp
  Convex_hull_2/test/Convex_hull_2/ch_test_SC.cpp
  Convex_hull_2/test/Convex_hull_2/ch_test_SH.cpp
  Convex_hull_2/test/Convex_hull_2/ch_test_SS.cpp
Labels: rm only: ready for master, Tested, Pkg::Convex_hull_2, rm only: ready for release branch, Testsuite

#7166 Fix seed computation in SLS offset computation
  Boolean_set_operations_2/examples/Boolean_set_operations_2/bezier_traits_adapter2.cpp
  Polyline_simplification_2/demo/Polyline_simplification_2/Polyline_simplification_2.cpp
  Straight_skeleton_2/include/CGAL/Polygon_offset_builder_2.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Polygon_offset_builder_2_impl.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_aux.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_builder_2_impl.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_builder_traits_2_aux.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/debug.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_builder_2.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_converter_2.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_halfedge_base_2.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_vertex_base_2.h
  Straight_skeleton_2/include/CGAL/Trisegment_2.h
  Straight_skeleton_2/include/CGAL/constructions/Straight_skeleton_cons_ftC2.h
  Straight_skeleton_2/include/CGAL/predicates/Straight_skeleton_pred_ftC2.h
  Straight_skeleton_2/test/Straight_skeleton_2/CMakeLists.txt
  Straight_skeleton_2/test/Straight_skeleton_2/issue7149.cpp
Labels: bug, Pkg::Straight_skeleton_2, rm only: ready for master, Tested, rm only: ready for release branch

#7172 Use deduced type for source/target of a segment
  Triangulation_2/include/CGAL/Constrained_triangulation_2.h
  Triangulation_2/test/Triangulation_2/include/CGAL/_test_cls_const_Del_triangulation_2.h
  Triangulation_2/test/Triangulation_2/test_const_del_triangulation_2.cpp
Labels: bug, Pkg::Triangulation_2, rm only: ready for master, Tested, rm only: ready for release branch

#7177 Classification: Write to different files and change degree of fair()
  Classification/examples/Classification/example_ethz_random_forest.cpp
  Classification/examples/Classification/example_opencv_random_forest.cpp
  Classification/examples/Classification/gis_tutorial_example.cpp
Labels: rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Classification

#7199 pkg_filter use detected python version
  Documentation/doc/CMakeLists.txt
  Documentation/doc/scripts/pkglist_filter
  Documentation/doc/scripts/pkglist_filter.bat
Labels: bug, doc, rm only: ready for master, Tested, doc bug, rm only: ready for release branch

#7139 Tet_soup_to_c3t3 - reduce verbosity
  SMDS_3/include/CGAL/SMDS_3/tet_soup_to_c3t3.h
Labels: rm only: ready for master, Tested, cleaning, CGAL I/O, Pkg::SMDS_3

#7140 Fix warnings
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Io_image_plugin.cpp
Labels: warnings, rm only: ready for master, CGAL 3D demo, Tested

#7141 Add an example for spatial searching with projection
  Spatial_searching/doc/Spatial_searching/examples.txt
  Spatial_searching/examples/Spatial_searching/CMakeLists.txt
  Spatial_searching/examples/Spatial_searching/iso_rectangle_2_query.cpp
  Spatial_searching/examples/Spatial_searching/iso_rectangle_2_query_projection.cpp
Labels: enhancement, rm only: ready for master, Tested, Pkg::Spatial_searching

#7152 Convex_hull_2: Use of 2D Delaunay
  Convex_hull_2/doc/Convex_hull_2/Convex_hull_2.txt
  Convex_hull_2/doc/Convex_hull_2/examples.txt
  Convex_hull_2/examples/Convex_hull_2/ch_delaunay_2.cpp
Labels: rm only: ready for master, Tested, Pkg::Convex_hull_2

#7161 3D Demo: Fix statistics on angles
  Polyhedron/demo/Polyhedron/include/CGAL/statistics_helpers.h
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested

#7168 Minkowski_sim_2: fix missed hole
  Installation/CHANGES.md
  Minkowski_sum_2/include/CGAL/Minkowski_sum_2/Minkowski_sum_by_reduced_convolution_2.h
Labels: bug, rm only: ready for master, Tested, Pkg::Minkowski_sum_2

#7178 Force html output (needed with lxml greater than 4.6.5)
  .github/workflows/build_doc.yml
  Documentation/doc/scripts/html_output_post_processing.py
Labels: doc, rm only: ready for master, Tested, doc bug, TODO after merge

#7186 Spelling correction in respect to function / variable names
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_X_trapezoid.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_active_edge.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_active_trapezoid.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Trapezoidal_decomposition_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/gfx/Curve_renderer_2.h
  Jet_fitting_3/examples/Jet_fitting_3/PolyhedralSurf_rings.h
  Polygon_mesh_processing/include/CGAL/Polyhedral_envelope.h
  Ridges_3/examples/Ridges_3/PolyhedralSurf_rings.h
  Ridges_3/test/Ridges_3/PolyhedralSurf_rings.h
  Spatial_searching/benchmark/Spatial_searching/include/nanoflann.hpp
  Spatial_searching/include/CGAL/Incremental_neighbor_search.h
  Spatial_searching/include/CGAL/Orthogonal_incremental_neighbor_search.h
  Spatial_searching/include/CGAL/Spatial_searching/internal/K_neighbor_search.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/No_overlap_event_base.h
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Surface_sweep_2_impl.h
Labels: rm only: ready for master, Tested, cleaning

#6858 Ignore internal directories
  CGAL_ipelets/doc/CGAL_ipelets/Doxyfile.in
  CGAL_ipelets/doc/CGAL_ipelets/examples.txt
  CGAL_ipelets/test/CGAL_ipelets/CMakeLists.txt
  CGAL_ipelets/test/CGAL_ipelets/test_grabbers.cpp
  Documentation/doc/CMakeLists.txt
  Mesh_3/include/CGAL/Compact_mesh_cell_base_3.h
  Mesh_3/include/CGAL/Mesh_domain_with_polyline_features_3.h
  Mesh_3/include/CGAL/Mesh_vertex_base_3.h
  Optimal_bounding_box/doc/Optimal_bounding_box/Doxyfile.in
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Doxyfile.in
  Polygonal_surface_reconstruction/doc/Polygonal_surface_reconstruction/Doxyfile.in
  SMDS_3/doc/SMDS_3/Doxyfile.in
  Set_movable_separability_2/examples/Set_movable_separability_2/is_pullout_direction_single_mold_trans_cast.cpp
  Solver_interface/include/CGAL/Eigen_solver_traits.h
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
  Surface_mesh_approximation/doc/Surface_mesh_approximation/Doxyfile.in
  Tetrahedral_remeshing/doc/Tetrahedral_remeshing/Doxyfile.in
Labels: doc, rm only: ready for master, Tested, doc bug

#6880 Pmp tests only for epeck
  Intersections_3/test/Intersections_3/intersection_test_helper.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_cls_aff_transformation_2.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_cls_sphere_3.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_fct_points_implicit_sphere.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_mf_plane_3_to_2d.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/pmp_compute_normals_test.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_locate.cpp
  Spatial_searching/test/Spatial_searching/Orthogonal_incremental_neighbor_search.cpp
  Spatial_searching/test/Spatial_searching/Splitters.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::PMP

#7076 Improve documentation of PMP::compute_vertex_normal()
  Documentation/doc/biblio/cgal_manual.bib
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/compute_normal.h
Labels: rm only: ready for master, Tested, doc bug, Pkg::PMP

#7213 issue #7211 Manual bug
  Documentation/doc/Documentation/windows.txt
Labels: doc bug, Ready to be tested
