Repository CGAL/cgal, pull requests merged in 2023-04, with the labels that each got.

#7366 Adding a timeout column to the testsuite
  Maintenance/test_handling/create_testresult_page
  Maintenance/test_handling/testresult.css
  Testsuite/test/parse-ctest-dashboard-xml.py
Labels: enhancement, Testsuite, Infrastructure

#7348 Polyhedron: object generator tetrahedron -added line entry UI and logic
  Polyhedron/demo/Polyhedron/Plugins/PCA/Basic_generator_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PCA/Basic_generator_widget.ui
Labels: enhancement, rm only: ready for master, CGAL 3D demo, Tested, tested manually on Linux

#6176 CGAL/IO/helpers.h: fix VC++ /W4 warning
  Stream_support/include/CGAL/IO/helpers.h
Labels: warnings, rm only: ready for master, Tested, Pkg::Stream_support

#7352 Do not test twice for self-intersections if there is none
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP

#7357 Converter to qpolygon
  GraphicsView/doc/GraphicsView/CGAL/Qt/Converter.h
  GraphicsView/include/CGAL/Qt/Converter.h
Labels: enhancement, Qt5, rm only: ready for master, Tested

#7371 Fix the use of SuiteSparse from vcpkg
  Surface_mesh_parameterization/examples/Surface_mesh_parameterization/CMakeLists.txt
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/ARAP_parameterizer_3.h
  Surface_mesh_parameterization/include/CGAL/Surface_mesh_parameterization/Orbifold_Tutte_parameterizer_3.h
Labels: bug, CMake scripts, rm only: ready for master, Tested

#7376 CGAL 3D demo: fix USBAN warnings
  Polyhedron/demo/Polyhedron/Scene_triangulation_3_item.cpp
  Polyhedron/demo/Polyhedron/Triangle_container.cpp
  Polyhedron/demo/Polyhedron/Viewer.cpp
  Triangulation_3/include/CGAL/Triangulation_3.h
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested

#7382 Define NOMINMAX to work around problem in vtk
  BGL/test/BGL/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/IO/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/CMakeLists.txt
Labels: Pkg::BGL, rm only: ready for master, Tested, Pkg::Polyhedron

#7385 handle degenerate triangles (usually created with the reprojection)
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/tangential_relaxation.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP

#7386 Installation - add new possible GMP lib name for MSVC
  Installation/cmake/modules/FindGMP.cmake
  Installation/cmake/modules/FindMPFR.cmake
  Installation/test/Installation/test_gmp_mpfr_dll.cpp
Labels: rm only: ready for master, Tested, Infrastructure

#7339 Minkowski_sum_2: fix hole filter
  Installation/CHANGES.md
  Minkowski_sum_2/include/CGAL/Minkowski_sum_2/Hole_filter_2.h
Labels: bug, rm only: ready for master, Tested, Pkg::Minkowski_sum_2

#7353 Add triangulate Polygon Soup
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/triangulate_faces_split_visitor_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polygon_mesh.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_polygon_soup.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_faces.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_hole.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/triangulate_faces_test.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
  Polyhedron/demo/Polyhedron/Plugins/PMP/Triangulate_facets_plugin.cpp
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.cpp
  Polyhedron/demo/Polyhedron/Scene_polygon_soup_item.h
Labels: enhancement, small feature, accepted small feature, rm only: ready for master, Tested, cleaning, Pkg::PMP

#7363 Installation: Workaround for boost::mp / Eigen problem
  Installation/include/CGAL/config.h
  Principal_component_analysis/include/CGAL/PCA_util.h
  Principal_component_analysis/include/CGAL/PCA_util_Eigen.h
Labels: bug, rm only: ready for master, Tested, rm only: release blocker, Pkg::Principal_component_analysis

#7398 Correcting usage of `iframe` tag
  Surface_mesh_deformation/doc/Surface_mesh_deformation/Surface_mesh_deformation.txt
Labels: rm only: ready for master, Tested, doc bug

#7255 CGAL CTest support: rename the test names
  Circular_kernel_2/test/Circular_kernel_2/CMakeLists.txt
  Installation/cmake/modules/CGAL_add_test.cmake
  Installation/cmake/modules/CGAL_enable_end_of_configuration_hook.cmake
  Installation/test/Installation/CMakeLists.txt
  Mesh_3/test/Mesh_3/CMakeLists.txt
  Nef_3/test/Nef_3/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Classification/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Convex_hull/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PCA/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/PMP/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation/CMakeLists.txt
  Polyhedron/demo/Polyhedron/polyhedron_demo_macros.cmake
  Triangulation_2/test/Triangulation_2/CMakeLists.txt
  Triangulation_3/examples/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
Labels: enhancement, CMake scripts, rm only: ready for master, Tested

#7388 Bug fix draw Nef_3
  Nef_3/include/CGAL/draw_nef_3.h
Labels: bug, TODO, CGAL 3D demo, Tested, Pkg::Nef_3, waiting for answer
