Repository CGAL/cgal, pull requests merged in 2023-02, with the labels that each got.

#7208 Fix set-but-not-used warning
  Intersections_3/include/CGAL/Intersections_3/internal/Triangle_3_Triangle_3_intersection.h
Labels: Pkg::Kernel_23, warnings, rm only: ready for master, Tested

#6816 Draw mesh color in SimpleFaceGraphViewerQt
  BGL/include/CGAL/draw_face_graph.h
  Surface_mesh/examples/Surface_mesh/draw_surface_mesh.cpp
  Surface_mesh/include/CGAL/draw_surface_mesh.h
Labels: Pkg::BGL, Pkg::Surface_mesh, rm only: ready for master, Tested

#7184 PMP: Make longest_border() extract_boundary_cycles() coherent
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/measure.h
Labels: rm only: ready for master, Tested, cleaning, Pkg::PMP

#7187 Nef_3: performance in binop_intersection_tests
  Nef_3/include/CGAL/Nef_3/Binary_operation.h
  Nef_3/include/CGAL/Nef_3/binop_intersection_tests.h
Labels: rm only: ready for master, Tested, Pkg::Nef_3

#7201 Replace use of boost::lexical_cast<std::string> with std::to_string
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/overlay_unbounded.cpp
  Cone_spanners_2/examples/Cone_spanners_2/theta_io.cpp
  Cone_spanners_2/test/Cone_spanners_2/theta_exact.cpp
  Cone_spanners_2/test/Cone_spanners_2/theta_inexact.cpp
  Cone_spanners_2/test/Cone_spanners_2/yao_exact.cpp
  Cone_spanners_2/test/Cone_spanners_2/yao_inexact.cpp
  Intersections_3/include/CGAL/Intersections_3/internal/Plane_3_Triangle_3_intersection.h
  STL_Extension/include/CGAL/exceptions.h
Labels: Modern C++ (C++11 and later), rm only: ready for master, Tested, cleaning

#7232 CGAL 3D demo: Fix current context in the destroy of the Scene
  Polyhedron/demo/Polyhedron/Scene.cpp
Labels: bug, Qt5, rm only: ready for master, CGAL 3D demo, Tested

#6916 Kernel_23: inconsistent documentation
  Kernel_23/doc/Kernel_23/CGAL/Aff_transformation_2.h
  Kernel_23/doc/Kernel_23/CGAL/Bbox_2.h
  Kernel_23/doc/Kernel_23/CGAL/Bbox_3.h
  Kernel_23/doc/Kernel_23/CGAL/Circle_2.h
  Kernel_23/doc/Kernel_23/CGAL/Circle_3.h
  Kernel_23/doc/Kernel_23/CGAL/Direction_2.h
  Kernel_23/doc/Kernel_23/CGAL/Direction_3.h
  Kernel_23/doc/Kernel_23/CGAL/Iso_cuboid_3.h
  Kernel_23/doc/Kernel_23/CGAL/Iso_rectangle_2.h
  Kernel_23/doc/Kernel_23/CGAL/Kernel/global_functions.h
  Kernel_23/doc/Kernel_23/CGAL/Point_2.h
  Kernel_23/doc/Kernel_23/CGAL/Point_3.h
  Kernel_23/doc/Kernel_23/CGAL/Ray_2.h
  Kernel_23/doc/Kernel_23/CGAL/Ray_3.h
  Kernel_23/doc/Kernel_23/CGAL/Sphere_3.h
  Kernel_23/doc/Kernel_23/CGAL/Vector_2.h
  Kernel_23/doc/Kernel_23/CGAL/Vector_3.h
  Kernel_23/doc/Kernel_23/CGAL/Weighted_point_2.h
  Kernel_23/doc/Kernel_23/CGAL/Weighted_point_3.h
  Kernel_23/doc/Kernel_23/CGAL/rational_rotation.h
  Kernel_23/doc/Kernel_23/Concepts/FunctionObjectConcepts.h
Labels: Pkg::Kernel_23, Tested, doc bug

#7125 Modify flipping criteria in PMP::isotropic_remeshing and PMP::refine
  Polygon_mesh_processing/examples/Polygon_mesh_processing/isotropic_remeshing_example.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/refine_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polyhedron/demo/Polyhedron/Plugins/PMP/Isotropic_remeshing_plugin.cpp
Labels: enhancement, rm only: ready for master, Tested, Pkg::PMP

#7185 Largest_empty_iso_rectangle: Improve Demo
  GraphicsView/demo/Largest_empty_rect_2/Largest_empty_rectangle_2.cpp
  GraphicsView/demo/Largest_empty_rect_2/Largest_empty_rectangle_2.ui
Labels: rm only: ready for master, Tested

#7215 Modified polyfit examples to take in user input
  Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/polyfit_example_model_complexity_control.cpp
  Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/polyfit_example_user_provided_planes.cpp
  Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/polyfit_example_with_region_growing.cpp
  Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/polyfit_example_without_input_planes.cpp
Labels: rm only: ready for master, Tested, Pkg::Polygonal_surface_reconstruction

#7118 Add special case for intersection of a vertical segment with an horizontal segment
  Intersections_2/include/CGAL/Intersections_2/Segment_2_Segment_2.h
Labels: enhancement, Pkg::Kernel_23, rm only: ready for master, Tested, rm only: ready for release branch

#7217 Largest Empty Iso Rectangle: Ignore points on the border
  Inscribed_areas/doc/Inscribed_areas/CGAL/Largest_empty_iso_rectangle_2.h
  Inscribed_areas/examples/Inscribed_areas/largest_empty_rectangle.cpp
  Inscribed_areas/include/CGAL/Largest_empty_iso_rectangle_2.h
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch, Pkg:Inscribed_areas

#7230 Polygon: Fix erase(Vertex_circulator)
  Polygon/include/CGAL/Polygon_2.h
  Polygon/test/Polygon/issue7228.cpp
Labels: bug, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Polygon

#7258 PMP remeshing with Mesh_3 - improve changes.md
  Installation/CHANGES.md
Labels: trivial, doc

#7246 Triangulation_3.h: Rewrite/factorize remove functions
  Triangulation_3/include/CGAL/Triangulation_3.h
Labels: enhancement, Pkg::Triangulation_3, rm only: ready for master, Tested, cleaning

#7253 STL_Extension/Triangulation_2: improve CDT_2 debug messages
  Circulator/include/CGAL/circulator.h
  STL_Extension/include/CGAL/Base_with_time_stamp.h
  STL_Extension/include/CGAL/Compact_container.h
  STL_Extension/include/CGAL/Time_stamper.h
  Triangulation_2/include/CGAL/Constrained_triangulation_2.h
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
  Triangulation_2/test/Triangulation_2/issue_4405.cpp
  Triangulation_2/test/Triangulation_2/test_cdt_degenerate_case.cpp
Labels: enhancement, Pkg::Triangulation_2, rm only: ready for master, Tested, Pkg::STL_Extension

#7254 Fix CMAKE_NO_SYSTEM_FROM_IMPORTED
  Installation/lib/cmake/CGAL/CGALConfig.cmake
Labels: bug, CMake scripts, warnings, rm only: ready for master, Tested

#7265 Early exit if the mesh is empty
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/orientation.h
Labels: bug, rm only: ready for master, Tested, Pkg::PMP

#7234 Lazy_kernel: Replace BOOST_PP repeat macros with variadic templates
  Filtered_kernel/include/CGAL/Lazy.h
Labels: rm only: ready for master, Tested, Pkg::Filtered_kernel

#7238 Making description of author(s) of a package consistent
  AABB_tree/doc/AABB_tree/PackageDescription.txt
  Advancing_front_surface_reconstruction/doc/Advancing_front_surface_reconstruction/PackageDescription.txt
  Alpha_shapes_2/doc/Alpha_shapes_2/PackageDescription.txt
  Alpha_wrap_3/doc/Alpha_wrap_3/PackageDescription.txt
  Classification/doc/Classification/PackageDescription.txt
  Cone_spanners_2/doc/Cone_spanners_2/PackageDescription.txt
  Documentation/doc/resources/1.9.3/BaseDoxyfile.in
  Heat_method_3/doc/Heat_method_3/PackageDescription.txt
  Hyperbolic_triangulation_2/doc/Hyperbolic_triangulation_2/PackageDescription.txt
  Jet_fitting_3/doc/Jet_fitting_3/PackageDescription.txt
  Mesh_3/doc/Mesh_3/PackageDescription.txt
  Minkowski_sum_2/doc/Minkowski_sum_2/PackageDescription.txt
  Optimal_bounding_box/doc/Optimal_bounding_box/PackageDescription.txt
  Optimal_transportation_reconstruction_2/doc/Optimal_transportation_reconstruction_2/PackageDescription.txt
  Orthtree/doc/Orthtree/PackageDescription.txt
  Periodic_4_hyperbolic_triangulation_2/doc/Periodic_4_hyperbolic_triangulation_2/PackageDescription.txt
  Point_set_3/doc/Point_set_3/PackageDescription.txt
  Point_set_processing_3/doc/Point_set_processing_3/PackageDescription.txt
  Poisson_surface_reconstruction_3/doc/Poisson_surface_reconstruction_3/PackageDescription.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygonal_surface_reconstruction/doc/Polygonal_surface_reconstruction/PackageDescription.txt
  Principal_component_analysis/doc/Principal_component_analysis/PackageDescription.txt
  SMDS_3/doc/SMDS_3/PackageDescription.txt
  Scale_space_reconstruction_3/doc/Scale_space_reconstruction_3/PackageDescription.txt
  Segment_Delaunay_graph_Linf_2/doc/Segment_Delaunay_graph_Linf_2/PackageDescription.txt
  Set_movable_separability_2/doc/Set_movable_separability_2/PackageDescription.txt
  Surface_mesh/doc/Surface_mesh/PackageDescription.txt
  Surface_mesh_approximation/doc/Surface_mesh_approximation/PackageDescription.txt
  Surface_mesh_deformation/doc/Surface_mesh_deformation/PackageDescription.txt
  Surface_mesh_segmentation/doc/Surface_mesh_segmentation/PackageDescription.txt
  Surface_mesh_shortest_path/doc/Surface_mesh_shortest_path/PackageDescription.txt
  Surface_mesh_simplification/doc/Surface_mesh_simplification/PackageDescription.txt
  Surface_mesh_skeletonization/doc/Surface_mesh_skeletonization/PackageDescription.txt
  Surface_mesh_topology/doc/Surface_mesh_topology/PackageDescription.txt
  TDS_3/doc/TDS_3/PackageDescription.txt
  Tetrahedral_remeshing/doc/Tetrahedral_remeshing/PackageDescription.txt
  Three/doc/Three/PackageDescription.txt
  Triangulation_3/doc/Triangulation_3/PackageDescription.txt
  Visibility_2/doc/Visibility_2/PackageDescription.txt
  Weights/doc/Weights/PackageDescription.txt
Labels: doc, rm only: ready for master, Tested, cleaning

#7250 #7242 issue: interior spelling correction
  Boolean_set_operations_2/doc/Boolean_set_operations_2/CGAL/Boolean_set_operations_2.h
Labels: doc, rm only: ready for master, Tested, cleaning, Pkg:Boolean_set_operations_2

#7260 Use CGAL_assertion_code()
  Nef_2/include/CGAL/Nef_2/PM_checker.h
  Nef_S2/include/CGAL/Nef_S2/SM_const_decorator.h
  Optimal_transportation_reconstruction_2/demo/Optimal_transportation_reconstruction_2/scene.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: rm only: ready for master, Tested, cleaning

#7262 Surface Mesh Simplification: Improve Examples
  Surface_mesh_simplification/examples/Surface_mesh_simplification/edge_collapse_bounded_normal_change.cpp
Labels: rm only: ready for master, Tested, Pkg::Surface_mesh_simplification

#7273 Polyhedron demo, Mesh_3 plugin: modify the criptic debug message "USE SIZING FIELD!"
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/Mesh_function.h
Labels: Pkg::Mesh_3, rm only: ready for master, CGAL 3D demo, Tested, cleaning

#7278 Mesh_3: Add back missing consts
  Mesh_3/include/CGAL/lloyd_optimize_mesh_3.h
  Mesh_3/include/CGAL/make_mesh_3.h
  Mesh_3/include/CGAL/odt_optimize_mesh_3.h
  Mesh_3/include/CGAL/perturb_mesh_3.h
  Mesh_3/include/CGAL/refine_mesh_3.h
  Periodic_3_mesh_3/include/CGAL/make_periodic_3_mesh_3.h
  Periodic_3_mesh_3/include/CGAL/optimize_periodic_3_mesh_3.h
  Periodic_3_mesh_3/include/CGAL/refine_periodic_3_mesh_3.h
Labels: bug, Pkg::Mesh_3, rm only: ready for master, Tested

#7279 Polyhedron demo - fix the bbox of `scene_c3t3_item`
  Polyhedron/demo/Polyhedron/Scene_c3t3_item.cpp
Labels: bug, rm only: ready for master, CGAL 3D demo, Tested
