Repository CGAL/cgal, pull requests merged in 2023-03, with the labels that each got.

#7272 Email notifications about changes to the GitHub wiki
  .github/workflows/send_email.yml
  .github/workflows/wiki_notification.yml
Labels: Infrastructure

#7292 Github Action build_doc Add URL to job log in case of an error
  .github/workflows/build_doc.yml
Labels: Infrastructure

#7219 Spatial searching: Make weighted Minkowski Distance working with Epeck
  Spatial_searching/doc/Spatial_searching/CGAL/Weighted_Minkowski_distance.h
  Spatial_searching/include/CGAL/Weighted_Minkowski_distance.h
Labels: bug, rm only: ready for master, Tested, Pkg::Spatial_searching, rm only: ready for release branch

#7115 (Partial) Cleaning of Triangulation_3 tests
  Testsuite/include/CGAL/Testsuite/Triangulation_23/test_move_semantic.h
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/include/CGAL/_test_cls_delaunay_3.h
  Triangulation_3/test/Triangulation_3/include/CGAL/_test_cls_regular_3.h
  Triangulation_3/test/Triangulation_3/include/CGAL/_test_cls_triangulation_3.h
  Triangulation_3/test/Triangulation_3/test_regular_3.cpp
  Triangulation_3/test/Triangulation_3/test_regular_as_delaunay_3.cpp
Labels: Pkg::Triangulation_3, rm only: ready for master, Tested, cleaning

#7332 Script Fix line endings
  Scripts/developer_scripts/list_cgal_workflows_last_run.sh
Labels: bug, rm only: ready for master, Infrastructure

#7308 BGL: Document use_binary_mode
  BGL/include/CGAL/boost/graph/IO/polygon_mesh_io.h
Labels: Pkg::BGL, rm only: ready for master, Tested, doc bug

#7316 Use reserve(size+1) before to copy attribute
  Combinatorial_map/include/CGAL/Combinatorial_map/internal/Combinatorial_map_group_functors.h
  Combinatorial_map/include/CGAL/Combinatorial_map_storages_with_index.h
  Combinatorial_map/include/CGAL/Compact_container_with_index.h
  Combinatorial_map/test/Combinatorial_map/CMakeLists.txt
  Combinatorial_map/test/Combinatorial_map/cmap_test_split_attribute.cpp
  Generalized_map/include/CGAL/Generalized_map/internal/Generalized_map_group_functors.h
  Generalized_map/include/CGAL/Generalized_map_storages_with_index.h
  Generalized_map/test/Generalized_map/CMakeLists.txt
  Generalized_map/test/Generalized_map/gmap_test_split_attribute.cpp
  Linear_cell_complex/include/CGAL/CMap_linear_cell_complex_storages_with_index.h
  Linear_cell_complex/include/CGAL/GMap_linear_cell_complex_storages_with_index.h
Labels: bug, rm only: ready for master, Tested, Pkg::Combinatorial_map

#7325 Fix a number of copyright-related issues
  Bounding_volumes/package_info/Bounding_volumes/copyright
  Classification/package_info/Classification/copyright
  Combinatorial_map/package_info/Combinatorial_map/copyright
  Generalized_map/package_info/Generalized_map/copyright
  Linear_cell_complex/package_info/Linear_cell_complex/copyright
  NewKernel_d/package_info/NewKernel_d/copyright
  copyright
Labels: rm only: ready for master, Tested, cleaning

#7293 Straight_skeleton_2: File Format Description Correction
  Polygon/include/CGAL/Polygon_with_holes_2.h
  Straight_skeleton_2/examples/Straight_skeleton_2/Show_offset_polygon.cpp
  Straight_skeleton_2/examples/Straight_skeleton_2/Show_straight_skeleton.cpp
  Straight_skeleton_2/examples/Straight_skeleton_2/input_file_example.txt
Labels: bug, Pkg::Straight_skeleton_2, rm only: ready for master, Tested

#7276 PMP: Add np for not scaling smoothed mesh
  Installation/CHANGES.md
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Smoothing/curvature_flow_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/smooth_shape.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_shape_smoothing.cpp
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: enhancement, small feature, accepted small feature, rm only: ready for master, Tested, Pkg::PMP

#7092 Generator: Fix assert
  Generator/test/Generator/test_generators.cpp
Labels: bug, rm only: ready for master, Tested, Pkg::Generators

#7355 Update Github workflows from CGAL `master` version
  .github/workflows/Remove_labels.yml
  .github/workflows/build_doc.yml
  .github/workflows/checks.yml
  .github/workflows/cmake-all.yml
  .github/workflows/delete_doc.yml
  .github/workflows/demo.yml
  .github/workflows/filter_testsuite.yml
  .github/workflows/list_workflow_last_run.css
  .github/workflows/list_workflow_last_run.yml
  .github/workflows/send_email.yml
  .github/workflows/wiki_notification.yml
Labels: warnings, rm only: ready for master, Infrastructure

#7275 Mesh_3: Improve Sizing_field_with_aabb_tree speed
  Mesh_3/include/CGAL/Mesh_3/experimental/AABB_filtered_projection_traits.h
  Mesh_3/include/CGAL/Mesh_3/experimental/Sizing_field_with_aabb_tree.h
Labels: Pkg::Mesh_3, rm only: ready for master, Tested, speed

#7329 Subdivision: Add example for Linear_mask_3
  STL_Extension/doc/STL_Extension/CGAL/Compact_container.h
  STL_Extension/doc/STL_Extension/CGAL/Concurrent_compact_container.h
  Subdivision_method_3/doc/Subdivision_method_3/PackageDescription.txt
  Subdivision_method_3/doc/Subdivision_method_3/examples.txt
  Subdivision_method_3/examples/Subdivision_method_3/Linear_subdivision.cpp
  Subdivision_method_3/include/CGAL/Subdivision_method_3/internal/subdivision_hosts_impl_3.h
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_masks_3.h
  Subdivision_method_3/include/CGAL/Subdivision_method_3/subdivision_methods_3.h
Labels: bug, rm only: ready for master, Tested, doc bug, Pkg::Subdivision_method_3

#7335 Number_types: Fix VC2017 bug with boost::mp
  Number_types/include/CGAL/Sqrt_extension/Sqrt_extension_type.h
Labels: rm only: ready for master, Tested, Pkg::Number_types

#7342 Add example of printing vertex coordinates
  Surface_mesh/examples/Surface_mesh/sm_iterators.cpp
Labels: doc, Pkg::Surface_mesh, rm only: ready for master, Tested

#7343 Surface_mesh: Add example for accessing points
  BGL/doc/BGL/PackageDescription.txt
  BGL/include/CGAL/boost/graph/iterator.h
  Surface_mesh/doc/Surface_mesh/Surface_mesh.txt
  Surface_mesh/doc/Surface_mesh/dependencies
  Surface_mesh/doc/Surface_mesh/examples.txt
  Surface_mesh/examples/Surface_mesh/CMakeLists.txt
  Surface_mesh/examples/Surface_mesh/sm_points.cpp
Labels: doc, Pkg::Surface_mesh, rm only: ready for master, Tested, doc bug

#7344 Triangulation_2: Clarify what happens with degenerate constraints
  Triangulation_2/doc/Triangulation_2/CGAL/Constrained_Delaunay_triangulation_2.h
  Triangulation_2/doc/Triangulation_2/CGAL/Constrained_triangulation_plus_2.h
  Triangulation_2/include/CGAL/Constrained_Delaunay_triangulation_2.h
  Triangulation_2/include/CGAL/Constrained_triangulation_2.h
  Triangulation_2/include/CGAL/Triangulation_2/insert_constraints.h
Labels: Pkg::Triangulation_2, rm only: ready for master, Tested, doc bug

#7323 Arrangement_on_surface_2 fixes
  Arrangement_on_surface_2/include/CGAL/Arr_counting_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_topology_traits/Arr_unb_planar_construction_helper.h
  Arrangement_on_surface_2/include/CGAL/Arr_tracing_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arr_traits_adaptor_2.h
  Arrangement_on_surface_2/include/CGAL/IO/Arr_text_formatter.h
Labels: bug, Pkg::Arrangement_on_surface_2, rm only: ready for master, Tested, rm only: ready for release branch

#7330 Triangulation_2: Fix copy of CDT_plus_2
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
  Triangulation_2/test/Triangulation_2/issue_7328.cpp
Labels: bug, Pkg::Triangulation_2, rm only: ready for master, Tested, rm only: ready for release branch
