Repository CGAL/cgal, pull requests merged in 2024-05, with the labels that each got.

#8142 Add extra parameters to the corefinement visitor to handle non-manifold output
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Concepts/PMPCorefinementVisitor.h
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/corefinement_mesh_non_manifold_intersection.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/autorefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-coref/nm/tm1.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-coref/nm/tm_inter.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-coref/nm/tm_minus.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-coref/nm/tm_multi.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/data-coref/nm/tm_union.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_corefinement_nm_bo.cpp
Labels: Enhancement, Small feature, Accepted small feature, rm only: ready for master, Tested, Pkg::PMP, rm only: release blocker

#8150 PMP::isotropic_remeshing() - add NP `allow move functor`
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh.h
Labels: Enhancement, rm only: ready for master, Tested, Pkg::PMP

#8160 PMP corefinement: only allocate necessary bboxes
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_impl.h
Labels: rm only: ready for master, Tested, Pkg::PMP, Speed

#8168 Update parameter description
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh_planar_patches.h
Labels: Enhancement, rm only: ready for master, Tested, Pkg::PMP

#8171 CGAL Core : fix typos in code comments
  CGAL_Core/include/CGAL/CORE/CoreDefs.h
  CGAL_ImageIO/include/CGAL/ImageIO/recline.h
  Cone_spanners_2/include/CGAL/Cone_spanners_2/Plane_scan_tree.h
  Convex_hull_d/include/CGAL/Regular_complex_d.h
Labels: rm only: ready for master, Tested, Cleaning

#8175 Kernel_23: Fix Issue 8140
  Filtered_kernel/include/CGAL/Lazy_kernel.h
  Kernel_23/test/Kernel_23/CMakeLists.txt
  Kernel_23/test/Kernel_23/issue_8140.cpp
Labels: Bug, Pkg::Kernel_23, rm only: ready for master, Tested

#8178 Rename parameters
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
Labels: rm only: ready for master, Tested, Doc bug, Pkg::PMP

#8187 Lab - Fix color from meshes with only one domain
  Lab/demo/Lab/Color_map.h
  Lab/demo/Lab/Scene_image_item.cpp
  Lab/demo/Lab/Scene_triangulation_3_item.cpp
Labels: Bug, rm only: ready for master, CGAL 3D demo, Tested

#7373 Add some perfect forwarding in the Kernel
  Cartesian_kernel/include/CGAL/Cartesian/Direction_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Direction_3.h
  Cartesian_kernel/include/CGAL/Cartesian/Iso_cuboid_3.h
  Cartesian_kernel/include/CGAL/Cartesian/Iso_rectangle_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Line_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Plane_3.h
  Cartesian_kernel/include/CGAL/Cartesian/Point_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Point_3.h
  Cartesian_kernel/include/CGAL/Cartesian/Ray_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Ray_3.h
  Cartesian_kernel/include/CGAL/Cartesian/Segment_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Segment_3.h
  Cartesian_kernel/include/CGAL/Cartesian/Tetrahedron_3.h
  Cartesian_kernel/include/CGAL/Cartesian/Triangle_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Triangle_3.h
  Cartesian_kernel/include/CGAL/Cartesian/Vector_2.h
  Cartesian_kernel/include/CGAL/Cartesian/Vector_3.h
  Cartesian_kernel/include/CGAL/Cartesian/function_objects.h
  Homogeneous_kernel/include/CGAL/Homogeneous/DirectionH2.h
  Homogeneous_kernel/include/CGAL/Homogeneous/Iso_cuboidH3.h
  Homogeneous_kernel/include/CGAL/Homogeneous/Iso_rectangleH2.h
  Homogeneous_kernel/include/CGAL/Homogeneous/LineH2.h
  Homogeneous_kernel/include/CGAL/Homogeneous/VectorH3.h
  Kernel_23/include/CGAL/Exact_predicates_exact_constructions_kernel.h
  Kernel_23/include/CGAL/Point_2.h
  Kernel_23/include/CGAL/Point_3.h
  Kernel_23/include/CGAL/Vector_2.h
  Kernel_23/include/CGAL/Vector_3.h
  LEDA/include/CGAL/LEDA_basic.h
  Number_types/include/CGAL/Mpzf.h
  Number_types/include/CGAL/NT_wrapper.h
  Number_types/include/CGAL/known_bit_size_integers.h
  Number_types/test/Number_types/CMakeLists.txt
  Number_types/test/Number_types/known_bit_size_integers.cpp
  Number_types/test/Number_types/wrapping_type.cpp
  STL_Extension/doc/STL_Extension/CGAL/array.h
  STL_Extension/include/CGAL/Handle_for.h
  STL_Extension/include/CGAL/array.h
  STL_Extension/include/CGAL/type_traits.h
  STL_Extension/test/STL_Extension/CMakeLists.txt
  STL_Extension/test/STL_Extension/test_fwd_make_array.cpp
  STL_Extension/test/STL_Extension/test_type_traits.cpp
Labels: Modern C++ (C++11 and later), rm only: ready for master, Tested

#8189 Polynomial: Add overload which is only documented
  Polynomial/include/CGAL/polynomial_utils.h
Labels: Bug, rm only: ready for master, Tested, Pkg::Polynomial

#8199 GMap doc fix
  Generalized_map/doc/Generalized_map/fig/gmap_insert_facet.svg
  Generalized_map/doc/Generalized_map/fig_src/gmap_insert_facet.fig
Labels: rm only: ready for master, Tested, Doc bug, Pkg::Generalized_map

#8127 Testsuite: enhanced summary page with JSON generation and search functionality
  Maintenance/test_handling/create_testresult_page
  Maintenance/test_handling/testresult.css
Labels: rm only: ready for master, Testsuite, Infrastructure

#8179 CORE: Accelerate writing to a stream if precision <= 17
  CGAL_Core/include/CGAL/CORE/Expr.h
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_offset.cpp
Labels: Pkg::Straight_skeleton_2, rm only: ready for master, Tested, Pkg::CGAL_Core, Speed

#8203 Polygon Repair: Add an example
  Data/data/wkt/issue.wkt
  Polygon_repair/doc/Polygon_repair/examples.txt
  Polygon_repair/examples/Polygon_repair/repair_multipolygon_2.cpp
Labels: trivial, rm only: ready for master, Tested, Pkg::Polygon_repair

#8204 Generator: Add example
  Generator/examples/Generator/CMakeLists.txt
  Generator/examples/Generator/random_points_23.cpp
Labels: trivial, rm only: ready for master, Tested, Pkg::Generators

#8206 Tet remeshing - missing typedefs
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/smooth_vertices.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
Labels: Bug, rm only: ready for master, Tested, rm only: release blocker, Pkg::Tetrahedral_remeshing

#8035 Using std::optional for Property_container::get<T>
  BGL/test/BGL/test_Collapse_edge_with_constraints.cpp
  Basic_viewer/examples/Basic_viewer/draw_surface_mesh_small_faces.cpp
  Classification/examples/Classification/example_ethz_random_forest.cpp
  Classification/examples/Classification/example_generation_and_training.cpp
  Classification/examples/Classification/example_opencv_random_forest.cpp
  Classification/examples/Classification/gis_tutorial_example.cpp
  Installation/CHANGES.md
  Lab/demo/Lab/Plugins/Classification/Cluster_classification.cpp
  Lab/demo/Lab/Plugins/Classification/Cluster_classification.h
  Lab/demo/Lab/Plugins/Classification/Point_set_item_classification.cpp
  Lab/demo/Lab/Plugins/Classification/Point_set_item_classification.h
  Lab/demo/Lab/Plugins/Classification/Surface_mesh_item_classification.cpp
  Lab/demo/Lab/Plugins/Display/Display_property_plugin.cpp
  Lab/demo/Lab/Plugins/Display/Heat_method_plugin.cpp
  Lab/demo/Lab/Plugins/IO/3mf_io_plugin.cpp
  Lab/demo/Lab/Plugins/IO/PLY_io_plugin.cpp
  Lab/demo/Lab/Plugins/Mesh_3/Offset_meshing_plugin.cpp
  Lab/demo/Lab/Plugins/PMP/Engrave_text_plugin.cpp
  Lab/demo/Lab/Plugins/PMP/Orient_soup_plugin.cpp
  Lab/demo/Lab/Plugins/Point_set/Point_set_normal_estimation_plugin.cpp
  Lab/demo/Lab/Plugins/Point_set/Point_set_to_mesh_distance_plugin.cpp
  Lab/demo/Lab/Plugins/Point_set/Surface_reconstruction_advancing_front_impl.cpp
  Lab/demo/Lab/Plugins/Point_set/Surface_reconstruction_polygonal_impl.cpp
  Lab/demo/Lab/Plugins/Surface_mesh/Offset_meshing_plugin.cpp
  Lab/demo/Lab/Scene_surface_mesh_item.cpp
  Lab/demo/Lab/include/Point_set_3.h
  Point_set_3/examples/Point_set_3/point_set_property.cpp
  Point_set_3/examples/Point_set_3/point_set_read_ply.cpp
  Point_set_3/include/CGAL/Point_set_3.h
  Point_set_3/include/CGAL/Point_set_3/IO/LAS.h
  Point_set_3/include/CGAL/Point_set_3/IO/PLY.h
  Point_set_3/test/Point_set_3/point_set_test.cpp
  Point_set_3/test/Point_set_3/point_set_test_join.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_corefinement_and_constraints.cpp
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction/internal/compute_confidences.h
  Polygonal_surface_reconstruction/include/CGAL/Polygonal_surface_reconstruction/internal/hypothesis.h
  Surface_mesh/examples/Surface_mesh/sm_memory.cpp
  Surface_mesh/examples/Surface_mesh/sm_properties.cpp
  Surface_mesh/include/CGAL/Surface_mesh/IO/OFF.h
  Surface_mesh/include/CGAL/Surface_mesh/IO/PLY.h
  Surface_mesh/include/CGAL/Surface_mesh/Properties.h
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
  Surface_mesh/include/CGAL/boost/graph/properties_Surface_mesh.h
  Surface_mesh/include/CGAL/boost/graph/properties_Surface_mesh_features.h
  Surface_mesh/include/CGAL/boost/graph/properties_Surface_mesh_time_stamp.h
  Surface_mesh/include/CGAL/draw_surface_mesh.h
  Surface_mesh/test/Surface_mesh/sm_open_colored_off.cpp
  Surface_mesh/test/Surface_mesh/sm_ply_io.cpp
  Surface_mesh/test/Surface_mesh/sm_remove.cpp
Labels: Modern C++ (C++11 and later), Pkg::Surface_mesh, rm only: ready for master, Tested, Pkg::Point_set_3, rm only: release blocker

#8225 Fix property map calls in the demo
  Lab/demo/Lab/Plugins/Display/Display_property_plugin.cpp
  Lab/demo/Lab/Scene_surface_mesh_item.cpp
Labels: Bug, CGAL 3D demo, Tested

#8220 AoS_2, earth demo: find_package(nlohmann_json...) must be QUIET
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2_earth/CMakeLists.txt
Labels: CMake scripts, Warnings, Tested, rm only: release blocker

#7823 Mesh_3::Add handling of *.nii files in one example
  Data/data/images/squircle.nii
  Mesh_3/doc/Mesh_3/Mesh_3.txt
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/examples/Mesh_3/mesh_3D_gray_vtk_image.cpp
Labels: Pkg::Mesh_3, Tested

#8222 CGAL Lab: Add a target CGALlab_compile_all_plugins
  Lab/demo/Lab/CGALlab_compile_all_plugins.cpp
  Lab/demo/Lab/CGALlab_macros.cmake
  Lab/demo/Lab/CMakeLists.txt
Labels: Enhancement, CMake scripts, CGAL 3D demo, Tested, rm only: release blocker

#8221 Fix issue #8192
  Installation/lib/cmake/CGAL/CGALConfigVersion.cmake
  Installation/test/Installation/CMakeLists.txt
Labels: Bug, CMake scripts, Tested, rm only: release blocker

#7410 STL extension: Add a template argument to Prevent_deref for the value type
  Arrangement_on_surface_2/include/CGAL/Arrangement_on_surface_2.h
  SMDS_3/include/CGAL/Mesh_complex_3_in_triangulation_3.h
  SMDS_3/test/SMDS_3/test_c3t3.cpp
  SMDS_3/test/SMDS_3/test_c3t3_with_features.cpp
  STL_Extension/include/CGAL/iterator.h
  STL_Extension/test/STL_Extension/CMakeLists.txt
  STL_Extension/test/STL_Extension/issue_7400.cpp
  Stream_support/include/CGAL/IO/PLY/PLY_reader.h
  TDS_2/include/CGAL/Triangulation_data_structure_2.h
  TDS_3/include/CGAL/Triangulation_data_structure_3.h
  Triangulation_2/include/CGAL/Regular_triangulation_2.h
  Triangulation_2/include/CGAL/Triangulation_2.h
  Triangulation_3/include/CGAL/Triangulation_3.h
  Triangulation_3/include/CGAL/Triangulation_segment_traverser_3.h
  Triangulation_on_sphere_2/include/CGAL/Triangulation_on_sphere_2.h
  Triangulation_on_sphere_2/test/Triangulation_on_sphere_2/test_dtos.cpp
Labels: Bug, Pkg::Triangulation_3, Pkg::Triangulation_2, Tested, Pkg::STL_Extension, rm only: release blocker

#8215 Surface_mesh: Add exact_num_faces(const SM&)
  Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h
Labels: Pkg::Surface_mesh, Tested, Pkg::Surface_mesh_simplification, Speed

#8224 Prepare CGAL 6.0-beta1
  Documentation/doc/Documentation/Third_party.txt
  Installation/include/CGAL/version.h
  Installation/lib/cmake/CGAL/CGALConfigVersion.cmake
  Maintenance/infrastructure/cgal.geometryfactory.com/bin/create_internal_release_of_the_day.py
Labels: Tested, rm only: release blocker

#7532 Mesh_3 edge_distance criterion : an upper bound for the distances of the feature edge to the input feature
  Data/data/images/quadDomainCube.inr
  Data/data/meshes/u_arch.off
  Installation/CHANGES.md
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_3_plugin.cpp
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_3_plugin_cgal_code.cpp
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_3_plugin_cgal_code.h
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_function.h
  Lab/demo/Lab/Plugins/Mesh_3/Meshing_dialog.ui
  Mesh_3/doc/Mesh_3/Concepts/MeshCellCriteria_3.h
  Mesh_3/doc/Mesh_3/Concepts/MeshCriteria_3.h
  Mesh_3/doc/Mesh_3/Concepts/MeshEdgeCriteria_3.h
  Mesh_3/doc/Mesh_3/Concepts/MeshFacetCriteria_3.h
  Mesh_3/doc/Mesh_3/Mesh_3.txt
  Mesh_3/doc/Mesh_3/examples.txt
  Mesh_3/doc/Mesh_3/fig/u_arch_no_edge_distance.png
  Mesh_3/doc/Mesh_3/fig/u_arch_with_edge_distance.png
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/examples/Mesh_3/mesh_polyhedral_domain_with_edge_distance.cpp
  Mesh_3/include/CGAL/Mesh_3/Protect_edges_sizing_field.h
  Mesh_3/include/CGAL/Mesh_criteria_3.h
  Mesh_3/include/CGAL/Mesh_edge_criteria_3.h
  Mesh_3/include/CGAL/make_mesh_3.h
  Mesh_3/test/Mesh_3/CMakeLists.txt
  Mesh_3/test/Mesh_3/test_max_edge_distance.cpp
  Mesh_3/test/Mesh_3/test_mesh_criteria_creation.cpp
  Mesh_3/test/Mesh_3/test_meshing_determinism.cpp
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
Labels: Enhancement, Pkg::Mesh_3, Small feature, Accepted small feature, Tested

#8226 Prepare CHANGES.md for 6.0
  Installation/CHANGES.md
Labels: Under Testing

#8227 Spelling correction
  Boolean_set_operations_2/doc/Boolean_set_operations_2/CGAL/draw_polygon_set_2.h
  Linear_cell_complex/doc/Linear_cell_complex/CGAL/draw_linear_cell_complex.h
  Nef_3/doc/Nef_3/CGAL/draw_nef_3.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/CGAL/draw_periodic_2_triangulation_2.h
  Point_set_3/include/CGAL/draw_point_set_3.h
  Polygon/include/CGAL/draw_polygon_2.h
  Polygon/include/CGAL/draw_polygon_with_holes_2.h
  Polyhedron/doc/Polyhedron/CGAL/draw_polyhedron.h
  Surface_mesh/include/CGAL/draw_surface_mesh.h
  Triangulation_2/doc/Triangulation_2/CGAL/draw_constrained_triangulation_2.h
  Triangulation_2/doc/Triangulation_2/CGAL/draw_triangulation_2.h
  Triangulation_3/doc/Triangulation_3/CGAL/draw_triangulation_3.h
  Voronoi_diagram_2/doc/Voronoi_diagram_2/CGAL/draw_voronoi_diagram_2.h
Labels: trivial, Doc, Cleaning

#7883 Mesh_3 - update benchmark
  Mesh_3/benchmark/Mesh_3/CMakeLists.txt
  Mesh_3/benchmark/Mesh_3/Charting/Performance/generate_performance_benchmark_charts.py
  Mesh_3/benchmark/Mesh_3/Charting/Quality/generate_quality_benchmark_charts.py
  Mesh_3/benchmark/Mesh_3/Charting/Robustness/generate_robustness_benchmark_charts.py
  Mesh_3/benchmark/Mesh_3/Charting/benchmarking.sh
  Mesh_3/benchmark/Mesh_3/Charting/run_benchmark.py
  Mesh_3/benchmark/Mesh_3/StdAfx.cpp
  Mesh_3/benchmark/Mesh_3/StdAfx.h
  Mesh_3/benchmark/Mesh_3/benchmark_config.h
  Mesh_3/benchmark/Mesh_3/benchmark_inputs.txt
  Mesh_3/benchmark/Mesh_3/benchmark_mesh_3.cpp
  Mesh_3/benchmark/Mesh_3/benchmark_xml.h
  Mesh_3/benchmark/Mesh_3/concurrency.cpp
  Mesh_3/benchmark/Mesh_3/concurrency_config.cfg
  Mesh_3/benchmark/Mesh_3/concurrency_script.txt
  Mesh_3/benchmark/Mesh_3/concurrent_mesher_config.cfg
  Mesh_3/benchmark/Mesh_3/implicit_functions.h
  Mesh_3/benchmark/Mesh_3/mesh_quality.h
  Mesh_3/include/CGAL/Mesh_3/Concurrent_mesher_config.h
  Mesh_3/include/CGAL/Mesh_3/Mesher_3.h
  Mesh_3/include/CGAL/Mesh_3/Refine_facets_3.h
  Mesh_3/include/CGAL/Mesh_3/Sliver_perturber.h
  Mesh_3/include/CGAL/Mesh_3/Slivers_exuder.h
Labels: Pkg::Mesh_3, rm only: ready for master, Tested, Speed
