Repository CGAL/cgal, pull requests merged in 2024-06, with the labels that each got.

#8241 Mesh_3: add a scope after if(...)
  Mesh_3/include/CGAL/Mesh_3/Refine_facets_3.h
Labels: Pkg::Mesh_3, rm only: ready for master, Tested

#8201 Triangulation on Sphere: Fix I/O
  Triangulation_on_sphere_2/doc/Triangulation_on_sphere_2/Concepts/TriangulationOnSphereFaceBase_2.h
  Triangulation_on_sphere_2/include/CGAL/Delaunay_triangulation_on_sphere_2.h
  Triangulation_on_sphere_2/include/CGAL/Projection_on_sphere_traits_3.h
  Triangulation_on_sphere_2/include/CGAL/Triangulation_on_sphere_2.h
  Triangulation_on_sphere_2/include/CGAL/Triangulation_on_sphere_face_base_2.h
  Triangulation_on_sphere_2/test/Triangulation_on_sphere_2/CMakeLists.txt
  Triangulation_on_sphere_2/test/Triangulation_on_sphere_2/issue_8200.cpp
Labels: Bug, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Triangulation_on_sphere_2

#8243 Spelling correction
  Advancing_front_surface_reconstruction/examples/Advancing_front_surface_reconstruction/reconstruction_structured.cpp
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Algebraic_curve_kernel_2.h
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Bitstream_descartes.h
  Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Status_line_CA_1.h
  Algebraic_kernel_d/test/Algebraic_kernel_d/Algebraic_real_d_1.cpp
  Apollonius_graph_2/include/CGAL/Apollonius_graph_2/compare_quadratic.h
  Arrangement_on_surface_2/TODO
  Arrangement_on_surface_2/benchmark/Arrangement_on_surface_2/bench_arr_ellipses.cpp
  Arrangement_on_surface_2/benchmark/Arrangement_on_surface_2/bench_arr_polylines.cpp
  Arrangement_on_surface_2/benchmark/Arrangement_on_surface_2/bench_arr_segments.cpp
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/Utils/Utils.h
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2_earth/Aos.cpp
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2_earth/Aos_triangulator.cpp
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2_earth/Main_widget.h
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2_earth/Main_widget_old.h
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2_earth/Verification.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_dcel.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_polycurve_traits_2.h
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/CGAL/Arr_polyline_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Aos_observer.h
  Arrangement_on_surface_2/include/CGAL/Arr_conic_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_curve_data_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_geodesic_arc_on_sphere_partition_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Bezier_cache.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Bezier_curve_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Bezier_x_monotone_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Conic_arc_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Conic_point_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Conic_x_monotone_arc_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_geometry_traits/Rational_arc_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_landmarks_point_location.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Arr_lm_generator_base.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Arr_walk_along_line_pl_impl.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Trapezoidal_decomposition_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Arr_rat_arc/Rational_arc_d_1.h
  Arrangement_on_surface_2/include/CGAL/Arr_spherical_gaussian_map_3/Arr_transform_on_sphere.h
  Arrangement_on_surface_2/include/CGAL/Arr_spherical_topology_traits_2.h
  Arrangement_on_surface_2/include/CGAL/Arr_topology_traits/Arr_spherical_topology_traits_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Arr_triangulation_point_location.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arr_on_surface_with_history_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arr_traits_adaptor_2.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arrangement_on_surface_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arrangement_zone_2_impl.h
  Arrangement_on_surface_2/include/CGAL/Arrangement_on_surface_2.h
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/Arc_2.h
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/Curve_interval_arcno_cache.h
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/Curve_renderer_facade.h
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/gfx/Curve_renderer_2.h
  Arrangement_on_surface_2/include/CGAL/Curved_kernel_via_analysis_2/gfx/Curve_renderer_traits.h
  Arrangement_on_surface_2/include/CGAL/IO/Arrangement_2_reader.h
  Arrangement_on_surface_2/include/CGAL/draw_arrangement_2.h
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_observer.cpp
  BGL/include/CGAL/boost/graph/graph_traits_OpenMesh.h
  BGL/test/BGL/test_Euler_operations.cpp
Labels: Doc, rm only: ready for master, Tested, Cleaning

#8245 Add missing template parameter in the doc
  Kernel_23/doc/Kernel_23/CGAL/Filtered_kernel.h
  Kernel_23/doc/Kernel_23/PackageDescription.txt
Labels: trivial, Pkg::Kernel_23, rm only: ready for master, Tested, Doc bug, rm only: ready for release branch

#8257 Bug fix: definition of Self and Base in class Cell_attribute_with_point when using index.
  Combinatorial_map/include/CGAL/Combinatorial_map_storages_with_index.h
  Generalized_map/include/CGAL/Generalized_map_storages_with_index.h
  Linear_cell_complex/include/CGAL/CMap_linear_cell_complex_storages_with_index.h
  Linear_cell_complex/include/CGAL/Cell_attribute_with_point.h
  Linear_cell_complex/include/CGAL/Cell_attribute_with_point_and_id.h
  Linear_cell_complex/include/CGAL/GMap_linear_cell_complex_storages_with_index.h
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_2_test.cpp
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_3_test.cpp
  Linear_cell_complex/test/Linear_cell_complex/Linear_cell_complex_4_test.cpp
Labels: Bug, rm only: ready for master, Tested, Pkg::Linear_cell_complex, rm only: ready for release branch

#8264 fix pylint warnings of generate_how_to_cite.py
  Documentation/doc/scripts/generate_how_to_cite.py
Labels: Doc, Warnings, rm only: ready for master, Tested

#8268 Mesh_3 - fix concept `MeshFacetCriteria_3`
  Mesh_3/doc/Mesh_3/Concepts/MeshFacetCriteria_3.h
  Mesh_3/include/CGAL/Mesh_facet_criteria_3.h
Labels: Pkg::Mesh_3, rm only: ready for master, Tested, Doc bug, rm only: release blocker

#8272 Fix iteration on dynamic bit set
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_corefinement_nm_bo.cpp
Labels: Bug, rm only: ready for master, Tested, Pkg::PMP, rm only: release blocker

#8281 Spelling correction
  Poisson_surface_reconstruction_3/test/Poisson_surface_reconstruction_3/compare_mesh_3_vs_Poisson_implicit_surface_3.cpp
Labels: trivial, Cleaning

#8277 PMP: Change the string of the property
  Polygon_mesh_processing/examples/Polygon_mesh_processing/compute_normals_example.cpp
  Polygon_mesh_processing/examples/Polygon_mesh_processing/extrude.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/pmp_compute_normals_test.cpp
Labels: rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#8276 Forward the visitor for split
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
Labels: Bug, rm only: ready for master, Tested, Pkg::PMP, rm only: ready for release branch

#8278 Spelling correction
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Alpha_wrap_3.h
  Combinatorial_map/include/CGAL/Combinatorial_map.h
  HalfedgeDS/doc/HalfedgeDS/HalfedgeDS.txt
  Heat_method_3/doc/Heat_method_3/Heat_method_3.txt
  Installation/CHANGES.md
  Mesh_3/include/CGAL/Mesh_3/C3T3_helpers.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_self_intersections.h
  STL_Extension/include/CGAL/Time_stamper.h
  Triangulation_3/doc/Triangulation_3/Triangulation_3.txt
Labels: rm only: ready for master, Tested

#8282 Poisson: fix dependencies
  Mesh_3/doc/Mesh_3/dependencies
  Periodic_3_mesh_3/doc/Periodic_3_mesh_3/dependencies
  Poisson_surface_reconstruction_3/doc/Poisson_surface_reconstruction_3/dependencies
  Poisson_surface_reconstruction_3/package_info/Poisson_surface_reconstruction_3/dependencies
  STL_Extension/doc/STL_Extension/dependencies
  Stream_support/doc/Stream_support/dependencies
Labels: Doc, Pkg::Poisson_surface_reconstruction_3

#8286 Remove thumbnails not used
  Cone_spanners_2/doc/Cone_spanners_2/fig/pkg-small.png
  Polygonal_surface_reconstruction/doc/Polygonal_surface_reconstruction/fig/pkg-small.png
  Weights/doc/Weights/fig/pkg-small.png
Labels: Doc, Cleaning
