Repository CGAL/cgal, pull requests merged in 2024-04, with the labels that each got.

#7712 Adding a default to dynamic property maps
  BGL/doc/BGL/BGL.txt
  HalfedgeDS/include/CGAL/boost/graph/properties_HalfedgeDS_base.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/Non_manifold_feature_map.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/angle_and_area_smoothing.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Smoothing/mesh_smoothing_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/manifoldness.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/stitch_borders.h
  Property_map/examples/Property_map/dynamic_properties.cpp
  Property_map/include/CGAL/Dynamic_property_map.h
  Surface_mesh/include/CGAL/boost/graph/properties_Surface_mesh.h
Labels: Enhancement, Pkg::BGL, rm only: ready for master, Tested

#8118 Fix typos
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/intersection.h
Labels: trivial, Doc, Tested, Pkg::PMP

#8119 Polyline_simplification: fix documentation
  Polyline_simplification_2/include/CGAL/Polyline_simplification_2/Stop_above_cost_threshold.h
Labels: trivial, rm only: ready for master, Tested, Doc bug, Pkg::Polyline_simplification_2

#8098 Fixed order of Qt6 components in find_package(Qt6 ....)
  Installation/cmake/modules/CGAL_SetupCGAL_Qt6Dependencies.cmake
Labels: Bug, CMake scripts, rm only: ready for master, Tested, Qt6

#8108 CMake: simplify, now that C++17 is required
  Point_set_3/examples/Point_set_3/CMakeLists.txt
  Polygon_mesh_processing/examples/Polygon_mesh_processing/CMakeLists.txt
  Polyhedron/demo/Polyhedron/Plugins/IO/CMakeLists.txt
  Triangulation_3/test/Triangulation_3/CMakeLists.txt
Labels: CMake scripts, rm only: ready for master, Tested, Cleaning

#8112 Added missing headers
  Surface_sweep_2/include/CGAL/Surface_sweep_2/Surface_sweep_2_impl.h
Labels: rm only: ready for master, Tested, Pkg::Surface_sweep_2

#7848 CGAL::IO::Internal::read_OBJ(): allow arbitrary whitespace in "f" lines
  Stream_support/include/CGAL/IO/OBJ.h
Labels: Bug, rm only: ready for master, Tested, rm only: ready for release branch, known false-positive in CI checks, CGAL I/O

#8113 Update wlop_simplify_and_regularize_point_set.h documentation
  Point_set_processing_3/include/CGAL/wlop_simplify_and_regularize_point_set.h
Labels: rm only: ready for master, Tested, Doc bug, Pkg::Point_set_processing_3, rm only: ready for release branch, known false-positive in CI checks

#8129 Make triangulate_faces deterministic
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_faces.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/remeshing_with_isolated_constraints_test.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_clip.cpp
Labels: Enhancement, rm only: ready for master, Tested, Pkg::PMP

#8135 Access to property maps is const
  Orthtree/include/CGAL/Orthtree.h
Labels: Bug, rm only: ready for master, Tested, Pkg::Orthtree

#8139 Mesh_3 - revert encroachment rule modification, and fix infinite refinement
  Mesh_3/include/CGAL/Mesh_3/Refine_facets_3.h
  Periodic_3_mesh_3/include/CGAL/Periodic_3_mesh_triangulation_3.h
  Triangulation_3/include/CGAL/Regular_triangulation_3.h
Labels: Bug, Pkg::Mesh_3, rm only: ready for master, Tested, rm only: ready for release branch, Pkg::Periodic_3_mesh_3

#7439 Introduce remove_all_elements(Graph)
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Alpha_wrap_3.h
  BGL/doc/BGL/PackageDescription.txt
  BGL/include/CGAL/IO/polygon_mesh_io.h
  BGL/include/CGAL/boost/graph/IO/STL.h
  BGL/include/CGAL/boost/graph/IO/polygon_mesh_io.h
  BGL/include/CGAL/boost/graph/helpers.h
  BGL/test/BGL/test_Face_filtered_graph.cpp
  BGL/test/BGL/test_bgl_read_write.cpp
  Installation/CHANGES.md
  Polygon_mesh_processing/examples/Polygon_mesh_processing/cc_compatible_orientations.cpp
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/connected_components.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/remesh_planar_patches.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/data_degeneracies/all_degen.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_repair_degeneracies.cpp
  Polyhedron/include/CGAL/boost/graph/graph_traits_Polyhedron_3.h
  Surface_mesh/include/CGAL/boost/graph/graph_traits_Surface_mesh.h
Labels: Enhancement, Small feature, Accepted small feature, rm only: ready for master, Tested, Pkg::PMP

#8131 Boolean Set Operations: Fix brief descriptions
  Boolean_set_operations_2/doc/Boolean_set_operations_2/Boolean_set_operations_2.txt
  Boolean_set_operations_2/doc/Boolean_set_operations_2/CGAL/Boolean_set_operations_2.h
Labels: trivial, rm only: ready for master, Tested, Doc bug, Pkg:Boolean_set_operations_2

#8156 kd-tree: Deallocate Point pointer vector after build().
  Spatial_searching/include/CGAL/Kd_tree.h
Labels: Enhancement, rm only: ready for master, Tested, Pkg::Spatial_searching
