Repository CGAL/cgal, pull requests merged in 2024-07, with the labels that each got.

#8360 Fix clang/llvm 19 compilation issue in iterator.h (for 5.5.x-branch)
  BGL/include/CGAL/boost/graph/iterator.h
Labels: Bug, Pkg::BGL, rm only: ready for master, Tested

#8365 Workaround missing links
  BGL/include/CGAL/boost/graph/METIS/partition_dual_graph.h
  BGL/include/CGAL/boost/graph/METIS/partition_graph.h
Labels: Doc, Tested, Doc bug

#8367 Be resilient to isolated vertices
  Nef_3/include/CGAL/Nef_3/polygon_mesh_to_nef_3.h
Labels: Bug, Tested, Pkg::Nef_3

#8371 fix copy/paste error
  Nef_3/examples/Nef_3/draw_nef_3.cpp
Labels: Bug, Tested, Pkg::Nef_3

#8283 T3/T2/PT: Add namespace to classes in concepts
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Concepts/Periodic_2DelaunayTriangulationTraits_2.h
  Periodic_2_triangulation_2/doc/Periodic_2_triangulation_2/Concepts/Periodic_2TriangulationTraits_2.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3RegularTriangulationTraits_3.h
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/Concepts/Periodic_3TriangulationTraits_3.h
  Triangulation_3/doc/Triangulation_3/Concepts/DelaunayTriangulationTraits_3.h
  Triangulation_3/doc/Triangulation_3/Concepts/TriangulationTraits_3.h
Labels: trivial, Tested, Doc bug, Cleaning, known false-positive in CI checks

#8301 Shape_detection: Removing leftover from deprecated Shape_detection_traits
  Shape_detection/include/CGAL/Shape_detection/Efficient_RANSAC/Octree.h
Labels: Bug, Tested, Pkg::Shape_detection

#8324 issue #8323 Incorrect link to https://github.com/norlab-ulaval/libpointmatcher/blob/master/doc/CompilationWindows.md
  Documentation/doc/Documentation/Third_party.txt
Labels: Doc, Tested, Doc bug

#8326 Missing citation command
  Ridges_3/doc/Ridges_3/Ridges_3.txt
Labels: Doc, Tested, Doc bug

#8337 Add Compare_angle_3 overload and missing global functions / doc
  Kernel_23/doc/Kernel_23/Concepts/FunctionObjectConcepts.h
  Kernel_23/include/CGAL/Kernel/function_objects.h
  Kernel_23/include/CGAL/Kernel/global_functions_3.h
  Kernel_23/include/CGAL/Kernel/global_functions_internal_3.h
  Kernel_23/test/Kernel_23/include/CGAL/_test_compare_angle_3.h
Labels: Enhancement, Pkg::Kernel_23, rm only: ready for master, Tested, Doc bug

#8341 Fix initialization for partial hedge range
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Snapping/snap.h
Labels: Bug, Tested, Ready to be tested, Pkg::PMP, rm only: release blocker

#8342 issue #8334 Incorrect example in "Documentation/doc/Documentation/Developer_manual/create_and_use_a_cmakelist.txt"
  Documentation/doc/Documentation/Developer_manual/create_and_use_a_cmakelist.txt
Labels: Doc, Tested, Doc bug

#8370 Remove extra macro definitions
  Kinetic_space_partition/doc/Kinetic_space_partition/Doxyfile.in
  Kinetic_surface_reconstruction/doc/Kinetic_surface_reconstruction/Doxyfile.in
Labels: Doc, Tested, Doc bug

#8291 Improve generation of polylines
  Lab/demo/Lab/Plugins/PCA/Basic_generator_plugin.cpp
  Lab/demo/Lab/Plugins/PCA/Basic_generator_widget.ui
Labels: Enhancement, rm only: ready for master, CGAL 3D demo, Tested

#8319 issue #8318 Double bibliography reference
  Kinetic_space_partition/doc/Kinetic_space_partition/PackageDescription.txt
  Kinetic_surface_reconstruction/doc/Kinetic_surface_reconstruction/PackageDescription.txt
Labels: Doc, rm only: ready for master, Tested, Doc bug

#8331 Remove hardcoded extrastylesheet code
  Documentation/doc/Documentation/Doxyfile.in
  Documentation/doc/resources/1.10.0/BaseDoxyfile.in
  Documentation/doc/resources/1.10.0/header.html
  Documentation/doc/resources/1.10.0/header_package.html
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.9.6/BaseDoxyfile.in
Labels: Enhancement, Doc, Tested
