Repository CGAL/cgal, pull requests merged in 2024-08, with the labels that each got.

#8378 Tet remeshing - remove assertion in Adaptive sizing field
  Tetrahedral_remeshing/include/CGAL/Adaptive_remeshing_sizing_field.h
Labels: Bug, Tested, Pkg::Tetrahedral_remeshing

#8279 Update CMakeLists.txt for recent VTK to fix CMake Warning
  BGL/test/BGL/CMakeLists.txt
  Installation/CMakeLists.txt
  Lab/demo/Lab/Plugins/IO/CMakeLists.txt
  Lab/demo/Lab/Plugins/Mesh_3/CMakeLists.txt
  Mesh_3/examples/Mesh_3/CMakeLists.txt
Labels: CMake scripts, Tested

#8380 Speed up copy_face_graph
  BGL/include/CGAL/boost/graph/copy_face_graph.h
Labels: Pkg::BGL, Tested, Speed

#8409 Use default surface topology criteria
  Mesh_3/test/Mesh_3/test_meshing_3D_gray_image_deprecated.cpp
Labels: Bug, Pkg::Mesh_3, Tested

#8410 add validation for the range case
  Boolean_set_operations_2/include/CGAL/Boolean_set_operations_2/Gps_on_surface_base_2.h
Labels: Tested, Pkg:Boolean_set_operations_2

#8396 Deal with duplicate lines
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/ArrangementDemoTab.h
  Arrangement_on_surface_2/include/CGAL/Arr_geodesic_arc_on_sphere_traits_2.h
  BGL/test/BGL/test_Euler_operations.cpp
  Boolean_set_operations_2/doc/Boolean_set_operations_2/CGAL/Boolean_set_operations_2.h
  Circulator/test/Circulator/test_circ1.cpp
  Circulator/test/Circulator/test_circ2.cpp
  Combinatorial_map/include/CGAL/Combinatorial_map.h
  Distance_3/test/Distance_3/test_distance_3.cpp
  Generator/doc/Generator/CGAL/point_generators_2.h
  Heat_method_3/include/CGAL/Heat_method_3/internal/Intrinsic_Delaunay_triangulation_3.h
  Kernel_23/test/Kernel_23/Dimension.cpp
  Lab/demo/Lab/Plugins/PMP/Interpolated_corrected_principal_curvatures_plugin.cpp
  Lab/demo/Lab/Scene_textured_surface_mesh_item.cpp
  Mesh_2/test/Mesh_2/test_meshing.cpp
  Number_types/test/Number_types/Interval_nt_new.cpp
  Orthtree/include/CGAL/Orthtree/Traversals.h
  Periodic_3_triangulation_3/demo/Periodic_Lloyd_3/MainWindow.cpp
  Periodic_3_triangulation_3/include/CGAL/Periodic_3_regular_triangulation_3.h
  Point_set_processing_3/include/CGAL/IO/write_off_points.h
  Polygon_mesh_processing/doc/Polygon_mesh_processing/examples.txt
  Polyhedron/doc/Polyhedron/Polyhedron.txt
  Surface_mesh_shortest_path/examples/Surface_mesh_shortest_path/shortest_paths_multiple_sources.cpp
  Surface_mesh_simplification/include/CGAL/Surface_mesh_simplification/internal/Common.h
  Triangulation_2/doc/Triangulation_2/Concepts/DelaunayTriangulationTraits_2.h
  Triangulation_2/include/CGAL/Triangulation_2/insert_constraints.h
Labels: trivial, Pkg::Triangulation_2, Tested, Pkg::Periodic_2_Triangulation_2

#8408 Move point cloud to the right directory
  Classification/examples/Classification/example_classification.cpp
  Classification/examples/Classification/example_cluster_classification.cpp
  Classification/examples/Classification/example_feature.cpp
  Data/data/points_3/b9.ply
Labels: Bug, Tested

#8350 Update to REUSE tools v4
  .github/workflows/reuse.yml
  .reuse/dep5
  Installation/.reuse/dep5
  Installation/REUSE.toml
  REUSE.toml
Labels: rm only: ready for master, Tested, Infrastructure

#8314 Shape_detection: using proper triangulated polygonal faces for linear_least_squares
  Shape_detection/include/CGAL/Shape_detection/Region_growing/Polygon_mesh/Least_squares_plane_fit_region.h
  Shape_detection/include/CGAL/Shape_detection/Region_growing/internal/utils.h
Labels: Bug, Not yet approved, Tested, Pkg::Shape_detection

#8432 run_doxygen_testsuite: fix SELinux contexts so that the web server can offer the files
  Scripts/developer_scripts/run_doxygen_testsuite
Labels: rm only: ready for master

#8416 Avoid creating degenerate planes
  Intersections_3/test/Intersections_3/test_intersections_Ray_3.cpp
Labels: Bug, Pkg::Kernel_23, Tested

#8398 Fix for Line_3 Ray_3 do_intersect
  Intersections_3/include/CGAL/Intersections_3/internal/Line_3_Ray_3_do_intersect.h
  Intersections_3/test/Intersections_3/test_intersections_Line_3.cpp
  Intersections_3/test/Intersections_3/test_intersections_Ray_3.cpp
Labels: Pkg::Kernel_23, Tested

#6727 Nef_3: Fix conversion to a FaceGraph
  Nef_3/include/CGAL/boost/graph/convert_nef_polyhedron_to_polygon_mesh.h
  Nef_3/test/Nef_3/issue_6423.cpp
Labels: Bug, Tested, Pkg::Nef_3

#8402 Remove outdated Qt version checks
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/CurveInputMethods.cpp
  Arrangement_on_surface_2/demo/Arrangement_on_surface_2/GridGraphicsItem.cpp
  GraphicsView/include/CGAL/Qt/qglviewer.h
  GraphicsView/include/CGAL/Qt/qglviewer_impl.h
  Lab/demo/Lab/CGAL_Lab.cpp
  Lab/demo/Lab/MainWindow.cpp
  Lab/demo/Lab/Plugins/Mesh_3/Io_image_plugin.cpp
  Lab/demo/Lab/Plugins/PMP/Engrave_text_plugin.cpp
  Lab/demo/Lab/Plugins/Surface_mesh/Parameterization_plugin.cpp
  Lab/demo/Lab/Viewer.cpp
  Three/include/CGAL/Three/TextRenderer.h
  Three/include/CGAL/Three/Three.h
Labels: rm only: ready for master, Tested, Cleaning, Qt6

#8405 Mesh_3 - bug fixes for `edge_distance` and `edge_min_size`
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_3_plugin.cpp
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_function.h
  Mesh_3/include/CGAL/Mesh_3/Protect_edges_sizing_field.h
  Mesh_3/include/CGAL/Mesh_domain_with_polyline_features_3.h
  Mesh_3/include/CGAL/Mesh_edge_criteria_3.h
Labels: Bug, Pkg::Mesh_3, Tested

#8431 reformat the REUSE.toml file (readability), add natvis files
  Installation/REUSE.toml
  REUSE.toml
Labels: rm only: ready for master
