Repository CGAL/cgal, pull requests merged in 2024-12, with the labels that each got.

#8611 Remove extra rounding mode changes for sqrt for interval
  Number_types/include/CGAL/FPU.h
Labels: Bug, Tested, Pkg::Number_types

#8640 IO OpenMesh - fix boundary halfedges
  BGL/include/CGAL/boost/graph/IO/OM.h
Labels: Bug, Pkg::BGL, Tested, CGAL I/O

#8632 Fix dynamic with default for graph inheriting from another graph
  BGL/include/CGAL/boost/graph/graph_traits_inheritance_macros.h
  Linear_cell_complex/include/CGAL/boost/graph/properties_Linear_cell_complex_for_combinatorial_map.h
Labels: Bug, Pkg::BGL, Tested

#8635 fixed mandatory code in CGAL_assert
  Hyperbolic_triangulation_2/include/CGAL/Hyperbolic_Delaunay_triangulation_CK_traits_2.h
Labels: Bug, Tested, Pkg::Hyperbolic_triangulation_2

#8616 Use default_random
  Tetrahedral_remeshing/test/Tetrahedral_remeshing/test_tetrahedral_remeshing_io.cpp
Labels: Bug, Tested, Pkg::Tetrahedral_remeshing

#8629 Fixing ICPC usage with modern cmake and wrappers
  Installation/CMakeLists.txt
  Installation/cmake/modules/CGAL_SetupCGALDependencies.cmake
  Number_types/include/CGAL/Interval_nt.h
Labels: Tested

#8627 Mesh 3 fix `min_size` when using external sizing like `Sizing_field_with_aabb_tree`
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_function.h
  Mesh_3/include/CGAL/Mesh_3/Protect_edges_sizing_field.h
Labels: Bug, Pkg::Mesh_3, Tested

#8651 Move "remove_almost_degenerate_faces()" to the correct repair menu
  Lab/demo/Lab/Plugins/PMP/Repair_polyhedron_plugin.cpp
Labels: trivial, CGAL 3D demo, Tested, Doc bug

#8639 Periodic_3_mesh_3: Avoid Making Copies
  Mesh_3/include/CGAL/Mesh_3/min_dihedral_angle.h
  Periodic_3_mesh_3/test/Periodic_3_mesh_3/test_triply_periodic_minimal_surfaces.cpp
  Periodic_3_triangulation_3/include/CGAL/Periodic_3_regular_triangulation_3.h
Labels: rm only: ready for master, Tested, Speed, Pkg::Periodic_3_mesh_3

#8631 [KSP] Exact intersections bugfix
  Kinetic_space_partition/include/CGAL/KSP/debug.h
  Kinetic_space_partition/include/CGAL/KSP_3/Data_structure.h
  Kinetic_space_partition/include/CGAL/KSP_3/Finalizer.h
  Kinetic_space_partition/include/CGAL/KSP_3/Initializer.h
  Kinetic_space_partition/include/CGAL/KSP_3/Support_plane.h
  Kinetic_space_partition/include/CGAL/Kinetic_space_partition_3.h
  Kinetic_space_partition/test/Kinetic_space_partition/CMakeLists.txt
  Kinetic_space_partition/test/Kinetic_space_partition/data/issue_8624.off
  Kinetic_space_partition/test/Kinetic_space_partition/issue_8624.cpp
  Kinetic_surface_reconstruction/doc/Kinetic_surface_reconstruction/Kinetic_surface_reconstruction.txt
  Lab/demo/Lab/Plugins/Point_set/Kinetic_surface_reconstruction_plugin.cpp
Labels: Bug, Tested, Pkg::Kinetic_space_partition

#8649 Bug-fix speeding up coplanar case
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/intersection_impl.h
Labels: Bug, Tested, Pkg::PMP

#8604 `PMP::isotropic_remeshing()` - fix relaxation of constrained vertices
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Bug, Tested, Pkg::PMP

#8668 Fix Coref Boolean for identical nested patches
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_corefinement_cavities.cpp
Labels: Bug, Tested, Pkg::PMP

#8660 Add missing kernel functor overloads + cleaning
  Kernel_23/doc/Kernel_23/Concepts/FunctionObjectConcepts.h
  Kernel_23/doc/Kernel_23/Concepts/GeomObjects.h
Labels: Pkg::Kernel_23, Tested, Doc bug

#8657 Fix link to replacement function
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/smooth_mesh.h
Labels: trivial, Tested, Doc bug, Pkg::PMP

#8655 PMP - add isotropic remeshing examples to the doc
  Polygon_mesh_processing/doc/Polygon_mesh_processing/examples.txt
Labels: Doc, Tested, Pkg::PMP

#8609 Flip it if you can't collapse it
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/repair_degeneracies.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_remove_caps_needles.cpp
Labels: Bug, Tested, Pkg::PMP

#8672 Spelling correction
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Surface_mesh_skeletonization/benchmark/Surface_mesh_skeletonization/mcf_scale_invariance.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/MCF_Skeleton_LCC_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/MCF_Skeleton_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/MCF_Skeleton_om_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/MCF_Skeleton_sm_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/simple_mcfskel_LCC_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/simple_mcfskel_example.cpp
  Surface_mesh_skeletonization/examples/Surface_mesh_skeletonization/simple_mcfskel_sm_example.cpp
Labels: Tested

#8674 Doxygen incompatibility in respect to `FULL_SIDEBAR` setting
  Documentation/doc/resources/1.10.0/BaseDoxyfile.in
Labels: Doc, Tested
