Repository CGAL/cgal, pull requests merged in 2025-03, with the labels that each got.

#8749 CGAL: Do not include basic.h in examples
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/algebraic_curves.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/algebraic_segments.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/batched_point_location.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/bounded_vertical_decomposition.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/conic_multiplicities.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/consolidated_curve_data.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/curve_history.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/dcel_extension.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/dcel_extension_io.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/dual_with_data.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/edge_manipulation_curve_history.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/ellipses.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/face_extension.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/face_extension_overlay.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/generic_curve_data.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/hyperbolas.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/incremental_insertion.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/io.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/io_curve_history.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/io_unbounded.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/linear_conics.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/observer.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/overlay.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/overlay_color.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/overlay_unbounded.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/parabolas.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/point_location.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/polycurve_bezier.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/polycurve_circular_arc.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/polycurve_conic.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/predefined_kernel.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/spherical_overlay.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/tracing_counting.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/unb_planar_vertical_decomposition.cpp
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/vertical_ray_shooting.cpp
  Kernel_23/examples/Kernel_23/MyKernel.cpp
  Segment_Delaunay_graph_2/test/Segment_Delaunay_graph_2/test_sdg_traits_2.cpp
  Segment_Delaunay_graph_Linf_2/test/Segment_Delaunay_graph_Linf_2/test_sdg_linf_traits_2.cpp
Labels: Tested, Cleaning

#8767 Deal with dimension != 2
  Alpha_shapes_2/include/CGAL/Alpha_shape_2.h
Labels: Bug, Tested, Pkg::Alpha_shapes_2

#8766 Mesh_3 - fix the use of `edge_min_size` at corners
  Mesh_3/include/CGAL/Mesh_3/Protect_edges_sizing_field.h
Labels: Bug, Pkg::Mesh_3, Tested

#8757 Lab - Fixes for C3t3 IO in `.vtu` format
  Lab/demo/Lab/Plugins/IO/VTK_io_plugin.cpp
Labels: Bug, CGAL 3D demo, Tested

#8751 T2: avoid maybe uninitialized warning
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
Labels: Pkg::Triangulation_2, Warnings, Tested

#8753 KSP: Repairing EPECK support in KSP
  Kinetic_space_partition/include/CGAL/KSP/debug.h
  Kinetic_space_partition/include/CGAL/KSP_3/Data_structure.h
  Kinetic_space_partition/include/CGAL/KSP_3/Initializer.h
  Kinetic_space_partition/include/CGAL/KSP_3/Support_plane.h
  Kinetic_space_partition/include/CGAL/Kinetic_space_partition_3.h
  Kinetic_surface_reconstruction/include/CGAL/Kinetic_surface_reconstruction_3.h
Labels: Bug, Tested, Pkg::Kinetic_space_partition

#8755 Make it possible to enter target coordinates to move a point
  Lab/demo/Lab/Plugins/PCA/Basic_generator_plugin.cpp
  Lab/demo/Lab/Plugins/PCA/Basic_generator_widget.ui
  Lab/demo/Lab/Plugins/PMP/Selection_plugin.cpp
  Lab/demo/Lab/Plugins/PMP/Selection_widget.ui
  Lab/demo/Lab/Scene_polyhedron_selection_item.cpp
  Lab/demo/Lab/Scene_polyhedron_selection_item.h
  Lab/demo/Lab/Viewer.cpp
  Triangulation_on_sphere_2/demo/Triangulation_on_sphere_2/main.cpp
Labels: Enhancement, CGAL 3D demo, Tested

#8779 fix an issue with the offset meshing plugin
  Lab/demo/Lab/CGALlab_macros.cmake
  Lab/demo/Lab/MainWindow.cpp
  Lab/demo/Lab/Plugins/Mesh_3/CMakeLists.txt
  Lab/demo/Lab/Plugins/Mesh_3/Offset_meshing_plugin.cpp
  Lab/demo/Lab/Plugins/Surface_mesh/Offset_meshing_plugin.cpp
Labels: Bug, CGAL 3D demo, Tested

#8774 Mesh_2: Fixes of write_VTU()
  Mesh_2/doc/Mesh_2/CGAL/IO/write_VTU.h
  Stream_support/include/CGAL/IO/VTK/VTK_writer.h
Labels: Bug, Tested, Doc bug, Pkg::Mesh_2

#8710 Aos 2 dcel extension efif
  Arrangement_on_surface_2/include/CGAL/Arr_dcel_base.h
  Arrangement_on_surface_2/include/CGAL/Arr_extended_dcel.h
  Arrangement_on_surface_2/include/CGAL/Surface_sweep_2/Arr_basic_insertion_traits_2.h
  Installation/CHANGES.md
Labels: Bug, Pkg::Arrangement_on_surface_2, Tested

#8758 Early exits in compare squared distance to improve performance
  Distance_3/benchmark/Distance_3/CMakeLists.txt
  Distance_3/benchmark/Distance_3/bench_compare_distance_3.cpp
  Distance_3/benchmark/Distance_3/bench_distance_3.cpp
  Distance_3/benchmark/Distance_3/bench_thingi10k_3.cpp
  Distance_3/include/CGAL/Distance_3/Line_3_Line_3.h
  Distance_3/include/CGAL/Distance_3/Line_3_Plane_3.h
  Distance_3/include/CGAL/Distance_3/Plane_3_Plane_3.h
  Distance_3/include/CGAL/Distance_3/Point_3_Line_3.h
  Distance_3/include/CGAL/Distance_3/Point_3_Plane_3.h
  Distance_3/include/CGAL/Distance_3/Point_3_Point_3.h
  Distance_3/include/CGAL/Distance_3/Point_3_Ray_3.h
  Distance_3/include/CGAL/Distance_3/Point_3_Segment_3.h
  Distance_3/include/CGAL/Distance_3/Point_3_Tetrahedron_3.h
  Distance_3/include/CGAL/Distance_3/Point_3_Triangle_3.h
  Distance_3/include/CGAL/Distance_3/Ray_3_Line_3.h
  Distance_3/include/CGAL/Distance_3/Ray_3_Plane_3.h
  Distance_3/include/CGAL/Distance_3/Ray_3_Ray_3.h
  Distance_3/include/CGAL/Distance_3/Segment_3_Line_3.h
  Distance_3/include/CGAL/Distance_3/Segment_3_Plane_3.h
  Distance_3/include/CGAL/Distance_3/Segment_3_Ray_3.h
  Distance_3/include/CGAL/Distance_3/Segment_3_Segment_3.h
  Distance_3/include/CGAL/Distance_3/Triangle_3_Triangle_3.h
  Distance_3/include/CGAL/Distance_3/internal/squared_distance_utils_3.h
  Distance_3/include/CGAL/global_functions_distance_3.h
  Distance_3/include/CGAL/squared_distance_3.h
  Distance_3/test/Distance_3/test_compare_distance_3.cpp
  Distance_3/test/Distance_3/test_distance_3.cpp
  HalfedgeDS/include/CGAL/boost/graph/properties_HalfedgeDS_base.h
  HalfedgeDS/package_info/HalfedgeDS/dependencies
  Intersections_3/include/CGAL/Intersections_3/internal/tetrahedron_lines_intersections_3.h
  Kernel_23/include/CGAL/Kernel/function_objects.h
  Kernel_23/include/CGAL/Kernel/global_functions_3.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/locate.h
Labels: Pkg::Kernel_23, Tested, Speed, Pkg::Distance_3

#8788 Spelling correction
  Distance_3/include/CGAL/Distance_3/Point_3_Triangle_3.h
  Distance_3/test/Distance_3/test_compare_distance_3.cpp
  Set_movable_separability_2/include/CGAL/Set_movable_separability_2/Single_mold_translational_casting/is_pullout_direction.h
  Set_movable_separability_2/include/CGAL/Set_movable_separability_2/Single_mold_translational_casting/pullout_directions.h
  Set_movable_separability_2/include/CGAL/Set_movable_separability_2/Single_mold_translational_casting/top_edges.h
  Set_movable_separability_2/include/CGAL/Set_movable_separability_2/internal/Utils.h
Labels: Tested, Cleaning

#8791 restore coherent orientation of faces
  SMDS_3/include/CGAL/facets_in_complex_3_to_triangle_mesh.h
Labels: Bug, Pkg::Mesh_3, Tested, Pkg::SMDS_3

#8785 Tetrahedral_remeshing - fix edges accidentally removed from complex
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/split_long_edges.h
Labels: Bug, Tested, Pkg::Tetrahedral_remeshing

#8786 Fixed do_intersect() of curves (provided by Edkirito).
  Arrangement_on_surface_2/include/CGAL/Arrangement_2/Arrangement_on_surface_2_global.h
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_do_intersect.cpp
  Installation/CHANGES.md
Labels: Bug, Pkg::Arrangement_on_surface_2, Tested

#8793 SMDS: Allow whitespace in the line
  SMDS_3/include/CGAL/SMDS_3/tet_soup_to_c3t3.h
Labels: Bug, Tested, Pkg::SMDS_3

#8169 Add a way to collect input coplanar faces after corefinement
  Installation/CHANGES.md
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Concepts/PMPCorefinementVisitor.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/Face_graph_output_builder.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Corefinement/face_graph_utils.h
Labels: Enhancement, Tested, Pkg::PMP

#8781 Mesh_3 - add `surface_only()` named parameter
  Installation/CHANGES.md
  Mesh_3/doc/Mesh_3/CGAL/Mesh_3/parameters.h
  Mesh_3/doc/Mesh_3/Mesh_3.txt
  Mesh_3/examples/Mesh_3/remesh_polyhedral_surface.cpp
  Mesh_3/include/CGAL/Mesh_3/Construct_initial_points_gray_image.h
  Mesh_3/include/CGAL/Mesh_3/Construct_initial_points_labeled_image.h
  Mesh_3/include/CGAL/Mesh_3/Mesher_3.h
  Mesh_3/include/CGAL/Polygon_mesh_processing/surface_Delaunay_remeshing.h
  Mesh_3/include/CGAL/Polyhedral_mesh_domain_3.h
  Mesh_3/include/CGAL/Polyhedral_mesh_domain_with_features_3.h
  Mesh_3/include/CGAL/make_mesh_3.h
  Mesh_3/include/CGAL/refine_mesh_3.h
  Mesh_3/test/Mesh_3/CMakeLists.txt
  Mesh_3/test/Mesh_3/test_remeshing_polyhedron.cpp
  STL_Extension/include/CGAL/STL_Extension/internal/mesh_option_classes.h
  STL_Extension/include/CGAL/STL_Extension/internal/mesh_parameters_interface.h
Labels: Pkg::Mesh_3, Small feature, Accepted small feature, Tested

#8765 Update detect_features.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/detect_features.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/issue_8730.cpp
Labels: Bug, Tested, Pkg::PMP

#8709 Used std::vector instead of c-style arrays for point storage.
  Bounding_volumes/examples/Min_annulus_d/min_annulus_d.cpp
  Bounding_volumes/examples/Min_annulus_d/min_annulus_d_fast_exact.cpp
  Bounding_volumes/examples/Min_circle_2/min_circle_2.cpp
  Bounding_volumes/examples/Min_circle_2/min_circle_homogeneous_2.cpp
  Bounding_volumes/examples/Min_ellipse_2/min_ellipse_2.cpp
  Bounding_volumes/examples/Min_sphere_d/min_sphere_3.cpp
  Bounding_volumes/examples/Min_sphere_d/min_sphere_homogeneous_3.cpp
Labels: Enhancement, CLA/CAA, Tested

#8795 Solver_interface: Adapted to OSQP API changes
  Documentation/doc/Documentation/Third_party.txt
  Solver_interface/include/CGAL/OSQP_quadratic_program_traits.h
Labels: Tested, Pkg::Solver_interface

#8806 [KSP] inlining functions
  Kinetic_space_partition/include/CGAL/KSP/debug.h
Labels: Bug, Tested, Pkg::Kinetic_space_partition

#8798 Warning / compilation fixes for 5.6.x
  CGAL_ImageIO/include/CGAL/ImageIO/analyze_impl.h
  CGAL_ImageIO/include/CGAL/ImageIO/gis_impl.h
  CGAL_ImageIO/include/CGAL/ImageIO/inr_impl.h
  CGAL_ImageIO/include/CGAL/ImageIO/mincio_impl.h
  CGAL_ImageIO/include/CGAL/ImageIO/pnm_impl.h
  Combinatorial_map/include/CGAL/Combinatorial_map_iterators_base.h
  Hyperbolic_triangulation_2/examples/Hyperbolic_triangulation_2/CMakeLists.txt
  Hyperbolic_triangulation_2/test/Hyperbolic_triangulation_2/CMakeLists.txt
  Periodic_3_triangulation_3/include/CGAL/Periodic_3_regular_triangulation_3.h
  Polygon_mesh_processing/include/CGAL/Polyhedral_envelope.h
  SMDS_3/test/SMDS_3/test_c3t3_with_features.cpp
  STL_Extension/test/STL_Extension/test_Concurrent_compact_container.cpp
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/extrude_skeleton.h
  Straight_skeleton_2/include/CGAL/create_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_straight_skeleton_2.h
  Straight_skeleton_2/test/Straight_skeleton_2/CMakeLists.txt
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_offset.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_weighted_offset.cpp
  Straight_skeleton_extrusion_2/include/CGAL/extrude_skeleton.h
  Straight_skeleton_extrusion_2/test/Straight_skeleton_extrusion_2/CMakeLists.txt
  Surface_mesh_simplification/examples/Surface_mesh_simplification/collapse_small_edges_in_parallel.cpp
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
Labels: Warnings, Ready to be tested
