Repository CGAL/cgal, pull requests merged in 2025-02, with the labels that each got.

#8712 Fix warnings
  BGL/test/BGL/test_OpenMesh.cpp
  SMDS_3/test/SMDS_3/test_c3t3_with_features.cpp
Labels: Warnings, Tested

#8688 Fix API issues in 2D Straight Skeletons (5.6.x)
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/Straight_skeleton_builder_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_offset_polygons_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_offset_polygons_from_polygon_with_holes_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_weighted_offset_polygons_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_weighted_offset_polygons_from_polygon_with_holes_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_weighted_straight_skeleton_2.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_aux.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_builder_2.h
  Straight_skeleton_2/include/CGAL/arrange_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/create_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/create_offset_polygons_from_polygon_with_holes_2.h
  Straight_skeleton_2/include/CGAL/create_straight_skeleton_2.h
  Straight_skeleton_2/include/CGAL/create_straight_skeleton_from_polygon_with_holes_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_offset_polygons_from_polygon_with_holes_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_straight_skeleton_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_straight_skeleton_from_polygon_with_holes_2.h
  Straight_skeleton_2/test/Straight_skeleton_2/CMakeLists.txt
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_offset.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_simple.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_weighted_offset.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_weighted_polygons.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_weighted_polygons_with_holes.cpp
Labels: Bug, Pkg::Straight_skeleton_2, Doc bug

#8690 Fix API issues in 2D Straight Skeletons (6.0.x)
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/Straight_skeleton_builder_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_offset_polygons_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_offset_polygons_from_polygon_with_holes_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_weighted_offset_polygons_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_weighted_offset_polygons_from_polygon_with_holes_2.h
  Straight_skeleton_2/doc/Straight_skeleton_2/CGAL/create_weighted_straight_skeleton_2.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_2/Straight_skeleton_aux.h
  Straight_skeleton_2/include/CGAL/Straight_skeleton_builder_2.h
  Straight_skeleton_2/include/CGAL/arrange_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/create_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/create_offset_polygons_from_polygon_with_holes_2.h
  Straight_skeleton_2/include/CGAL/create_straight_skeleton_2.h
  Straight_skeleton_2/include/CGAL/create_straight_skeleton_from_polygon_with_holes_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_offset_polygons_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_offset_polygons_from_polygon_with_holes_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_straight_skeleton_2.h
  Straight_skeleton_2/include/CGAL/create_weighted_straight_skeleton_from_polygon_with_holes_2.h
  Straight_skeleton_2/test/Straight_skeleton_2/CMakeLists.txt
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_offset.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_simple.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_weighted_offset.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_weighted_polygons.cpp
  Straight_skeleton_2/test/Straight_skeleton_2/test_sls_weighted_polygons_with_holes.cpp
Labels: Bug, Pkg::Straight_skeleton_2, Tested, Doc bug

#8646 Nef_3: Fix issue with the size of the inf box
  Nef_2/include/CGAL/Nef_2/Segment_overlay_traits.h
  Nef_3/include/CGAL/Nef_3/Infimaximal_box.h
  Nef_3/include/CGAL/Nef_3/K3_tree.h
  Nef_3/include/CGAL/Nef_3/SNC_external_structure.h
  Nef_3/include/CGAL/Nef_3/SNC_intersection.h
  Nef_3/include/CGAL/Nef_3/SNC_point_locator.h
  Nef_3/test/Nef_3/issue8644bis.cpp
Labels: Tested, Pkg::Nef_3

#7798 Mesh 3 : initial_points_generator parameter for make_mesh_3 point initialization
  Installation/CHANGES.md
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_3_plugin.cpp
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_3_plugin_cgal_code.cpp
  Lab/demo/Lab/Plugins/Mesh_3/Mesh_function.h
  Mesh_3/doc/Mesh_3/CGAL/Mesh_3/parameters.h
  Mesh_3/doc/Mesh_3/Concepts/InitialPointsGenerator_3.h
  Mesh_3/doc/Mesh_3/Doxyfile.in
  Mesh_3/doc/Mesh_3/Mesh_3.txt
  Mesh_3/doc/Mesh_3/PackageDescription.txt
  Mesh_3/doc/Mesh_3/examples.txt
  Mesh_3/examples/Mesh_3/CMakeLists.txt
  Mesh_3/examples/Mesh_3/mesh_3D_gray_image_with_custom_initialization.cpp
  Mesh_3/examples/Mesh_3/mesh_3D_gray_vtk_image.cpp
  Mesh_3/examples/Mesh_3/mesh_3D_image_with_custom_initialization.cpp
  Mesh_3/examples/Mesh_3/mesh_3D_image_with_image_initialization.cpp
  Mesh_3/examples/Mesh_3/mesh_3D_image_with_initial_points.cpp
  Mesh_3/include/CGAL/Mesh_3/Construct_initial_points_gray_image.h
  Mesh_3/include/CGAL/Mesh_3/Construct_initial_points_labeled_image.h
  Mesh_3/include/CGAL/Mesh_3/initialize_triangulation_from_gray_image.h
  Mesh_3/include/CGAL/Mesh_3/initialize_triangulation_from_labeled_image.h
  Mesh_3/include/CGAL/make_mesh_3.h
  Mesh_3/test/Mesh_3/test_meshing_unit_tetrahedron.cpp
  STL_Extension/include/CGAL/STL_Extension/internal/mesh_option_classes.h
  STL_Extension/include/CGAL/STL_Extension/internal/parameters_interface.h
  STL_Extension/include/CGAL/STL_Extension/internal/tuple_like_helpers.h
Labels: Pkg::Mesh_3, Small feature, Accepted small feature, Tested

#8728 Spelling correction
  Mesh_3/examples/Mesh_3/mesh_3D_image_with_custom_initialization.cpp
Labels: trivial, Doc, Pkg::Mesh_3

#8731 Update application name
  Lab/demo/Lab/CGALlab.h
Labels: Bug, CGAL 3D demo, Tested

#8722 Fix size types in BGL doc
  BGL/doc/BGL/BGL.txt
  BGL/doc/BGL/Concepts/FaceListGraph.h
  BGL/doc/BGL/Concepts/HalfedgeListGraph.h
Labels: Pkg::BGL, Tested, Doc bug

#8729 Correct documentation mistakes in double.h and long_double.h
  Number_types/doc/Number_types/CGAL/double.h
  Number_types/doc/Number_types/CGAL/float.h
  Number_types/doc/Number_types/CGAL/int.h
  Number_types/doc/Number_types/CGAL/long_double.h
  Number_types/doc/Number_types/CGAL/long_long.h
Labels: Tested, Doc bug, Pkg::Number_types

#8714 Always init time_stamp to -2
  Alpha_wrap_3/include/CGAL/Alpha_wrap_3/internal/Alpha_wrap_triangulation_cell_base_3.h
  Mesh_2/include/CGAL/Delaunay_mesh_face_base_2.h
  Mesh_2/include/CGAL/Delaunay_mesh_vertex_base_2.h
  Mesh_3/include/CGAL/Compact_mesh_cell_base_3.h
  Mesh_3/include/CGAL/Mesh_cell_base_3.h
  Mesh_3/include/CGAL/Mesh_polyhedron_3.h
  Mesh_3/include/CGAL/Mesh_vertex_base_3.h
  SMDS_3/include/CGAL/Compact_simplicial_mesh_cell_base_3.h
  SMDS_3/include/CGAL/Simplicial_mesh_cell_base_3.h
  SMDS_3/include/CGAL/Simplicial_mesh_vertex_base_3.h
  STL_Extension/include/CGAL/Compact_container.h
  STL_Extension/include/CGAL/Concurrent_compact_container.h
  STL_Extension/include/CGAL/Time_stamper.h
  STL_Extension/test/STL_Extension/test_Compact_container.cpp
  STL_Extension/test/STL_Extension/test_Concurrent_compact_container.cpp
  STL_Extension/test/STL_Extension/test_namespaces.cpp
Labels: Pkg::Mesh_3, Tested, Pkg::STL_Extension, Pkg::SMDS_3

#8698 issue #8689 Regression documentation build
  Documentation/doc/CMakeLists.txt
Labels: Doc, Tested

#8510 Polygon repair using union and intersection
  GraphicsView/include/CGAL/Qt/GraphicsViewPolygonWithHolesInput.h
  Installation/CHANGES.md
  Polygon/include/CGAL/Multipolygon_with_holes_2.h
  Polygon/include/CGAL/Polygon_2.h
  Polygon/include/CGAL/Polygon_with_holes_2.h
  Polygon_repair/doc/Polygon_repair/PackageDescription.txt
  Polygon_repair/doc/Polygon_repair/Polygon_repair.txt
  Polygon_repair/doc/Polygon_repair/dependencies
  Polygon_repair/doc/Polygon_repair/examples.txt
  Polygon_repair/doc/Polygon_repair/fig/MultipolygonHole.ipe
  Polygon_repair/doc/Polygon_repair/fig/MultipolygonHole.svg
  Polygon_repair/doc/Polygon_repair/fig/UnionIntersection.ipe
  Polygon_repair/doc/Polygon_repair/fig/UnionIntersection.svg
  Polygon_repair/doc/Polygon_repair/fig/WindingNonZero.ipe
  Polygon_repair/doc/Polygon_repair/fig/WindingNonZero.svg
  Polygon_repair/doc/Polygon_repair/fig/WindingNonZeroDifferent.ipe
  Polygon_repair/doc/Polygon_repair/fig/WindingNonZeroDifferent.svg
  Polygon_repair/examples/Polygon_repair/CMakeLists.txt
  Polygon_repair/examples/Polygon_repair/data/winding.wkt
  Polygon_repair/examples/Polygon_repair/repair_non_zero_polygon_2.cpp
  Polygon_repair/examples/Polygon_repair/repair_union_intersect_2.cpp
  Polygon_repair/include/CGAL/Polygon_repair/Boolean.h
  Polygon_repair/include/CGAL/Polygon_repair/Even_odd_rule.h
  Polygon_repair/include/CGAL/Polygon_repair/Intersection_rule.h
  Polygon_repair/include/CGAL/Polygon_repair/Non_zero_rule.h
  Polygon_repair/include/CGAL/Polygon_repair/Union_rule.h
  Polygon_repair/include/CGAL/Polygon_repair/Winding.h
  Polygon_repair/include/CGAL/Polygon_repair/internal/Triangulation_with_even_odd_constraints_2.h
  Polygon_repair/include/CGAL/Polygon_repair/repair.h
  Polygon_repair/package_info/Polygon_repair/dependencies
Labels: Enhancement, Small feature, Accepted small feature, Tested, TODO (web), Pkg::Polygon_repair

#6088 Add functions to compute discrete curvatures
  Installation/CHANGES.md
  Kernel_23/include/CGAL/Kernel/function_objects.h
  Lab/demo/Lab/Color_map.h
  Lab/demo/Lab/Plugins/Display/Display_property_plugin.cpp
  Polygon_mesh_processing/doc/Polygon_mesh_processing/PackageDescription.txt
  Polygon_mesh_processing/doc/Polygon_mesh_processing/Polygon_mesh_processing.txt
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/curvature.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_discrete_curvatures.cpp
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_interpolated_corrected_curvatures.cpp
  Weights/include/CGAL/Weights/cotangent_weights.h
  Weights/include/CGAL/Weights/internal/utils.h
Labels: Enhancement, Small feature, Accepted small feature, Tested, Pkg::PMP

#8737 Cmap add test gdamiand
  Combinatorial_map/include/CGAL/Cell_iterators.h
  Combinatorial_map/include/CGAL/Compact_container_with_index.h
  Combinatorial_map/test/Combinatorial_map/CMakeLists.txt
  Combinatorial_map/test/Combinatorial_map/Combinatorial_map_empty_it_test.cpp
  Generalized_map/include/CGAL/GMap_cell_iterators.h
Labels: Bug, Tested, Pkg::Combinatorial_map, Pkg::Generalized_map

#8738 Remove check doc todos
  Algebraic_foundations/doc/Algebraic_foundations/PackageDescription.txt
  Algebraic_kernel_d/doc/Algebraic_kernel_d/PackageDescription.txt
  Apollonius_graph_2/doc/Apollonius_graph_2/PackageDescription.txt
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/PackageDescription.txt
  Boolean_set_operations_2/doc/Boolean_set_operations_2/PackageDescription.txt
  Bounding_volumes/doc/Bounding_volumes/PackageDescription.txt
  Circular_kernel_2/doc/Circular_kernel_2/PackageDescription.txt
  Convex_hull_d/doc/Convex_hull_d/PackageDescription.txt
  Envelope_2/doc/Envelope_2/PackageDescription.txt
  Envelope_3/doc/Envelope_3/PackageDescription.txt
  HalfedgeDS/doc/HalfedgeDS/PackageDescription.txt
  Inscribed_areas/doc/Inscribed_areas/PackageDescription.txt
  Jet_fitting_3/doc/Jet_fitting_3/PackageDescription.txt
  Kernel_d/doc/Kernel_d/PackageDescription.txt
  Matrix_search/doc/Matrix_search/PackageDescription.txt
  Minkowski_sum_3/doc/Minkowski_sum_3/PackageDescription.txt
  Nef_3/doc/Nef_3/PackageDescription.txt
  Number_types/doc/Number_types/PackageDescription.txt
  Partition_2/doc/Partition_2/PackageDescription.txt
  Point_set_2/doc/Point_set_2/PackageDescription.txt
  Polyhedron/doc/Polyhedron/PackageDescription.txt
  Polynomial/doc/Polynomial/PackageDescription.txt
  Polytope_distance_d/doc/Polytope_distance_d/PackageDescription.txt
  Principal_component_analysis/doc/Principal_component_analysis/PackageDescription.txt
  QP_solver/doc/QP_solver/PackageDescription.txt
  Ridges_3/doc/Ridges_3/PackageDescription.txt
  SearchStructures/doc/SearchStructures/PackageDescription.txt
  Segment_Delaunay_graph_2/doc/Segment_Delaunay_graph_2/PackageDescription.txt
  Segment_Delaunay_graph_Linf_2/doc/Segment_Delaunay_graph_Linf_2/PackageDescription.txt
  Snap_rounding_2/doc/Snap_rounding_2/PackageDescription.txt
  Surface_mesher/doc/Surface_mesher/PackageDescription.txt
  Surface_sweep_2/doc/Surface_sweep_2/PackageDescription.txt
  TDS_2/doc/TDS_2/PackageDescription.txt
  TDS_3/doc/TDS_3/PackageDescription.txt
  Triangulation_2/doc/Triangulation_2/PackageDescription.txt
  Voronoi_diagram_2/doc/Voronoi_diagram_2/PackageDescription.txt
Labels: Doc, Tested, Cleaning

#8732 Incorrect rendered formulas
  Documentation/doc/biblio/cgal_manual.bib
  Kernel_d/doc/Kernel_d/CGAL/Kernel_d/Aff_transformation_d.h
Labels: Pkg::Kernel_d, Tested, Doc bug

#8747 Spelling correction
  Polygon_repair/include/CGAL/Polygon_repair/Winding.h
Labels: Tested, Cleaning, Pkg::Polygon_repair

#8746 Spelling correction
  Triangulation_2/include/CGAL/Constrained_triangulation_plus_2.h
  Triangulation_2/include/CGAL/Triangulation_2/internal/Polyline_constraint_hierarchy_2.h
Labels: trivial, Pkg::Triangulation_2, Tested, Doc bug
