Repository CGAL/cgal, pull requests merged in 2025-07, with the labels that each got.

#8961 CDT_3: small adjustements (documentation)
  Constrained_triangulation_3/doc/Constrained_triangulation_3/Constrained_triangulation_3.txt
  Constrained_triangulation_3/include/CGAL/Conforming_Delaunay_triangulation_3.h
  Constrained_triangulation_3/include/CGAL/IO/write_MEDIT.h
Labels: Tested, Pkg::CDT_3

#8977 Minor CDT3+tet remesh example improvements
  Constrained_triangulation_3/examples/Constrained_triangulation_3/remesh_constrained_Delaunay_triangulation_3.cpp
Labels: Enhancement, Tested, Pkg::CDT_3

#8792 TESTSUITE: Enhance error handling and default values in the Summary page
  Maintenance/test_handling/Summary_Script.js
Labels: Testsuite

#8983 Apollonius_graph: Clean Up Documentation
  Apollonius_graph_2/doc/Apollonius_graph_2/CGAL/Apollonius_site_2.h
Labels: trivial, Tested, Doc bug, Pkg::Apollonius_graph_2

#8994 Reference Mpzf/Gmpzf/MP_Float from each other's doc
  Number_types/doc/Number_types/CGAL/Gmpzf.h
  Number_types/doc/Number_types/CGAL/MP_Float.h
Labels: Doc, Tested, Cleaning, Pkg::Number_types

#8997 Drop bad const& in documentation
  Triangulation_3/doc/Triangulation_3/CGAL/Regular_triangulation_cell_base_3.h
Labels: Pkg::Triangulation_3, Tested, Doc bug

#9000 Make sure boost system is found
  Lab/demo/Lab/Plugins/Mesh_3/CMakeLists.txt
Labels: Bug, CMake scripts, CGAL 3D demo, Tested

#8980 Lab: APIENTRY undefined (Qt 6.9.1)
  GraphicsView/include/CGAL/Qt/qglviewer.h
Labels: CGAL 3D demo, Tested, Qt6, upstream bug

#8982 Spelling correction
  Combinatorial_map/include/CGAL/Combinatorial_map_save_load.h
Labels: trivial, Doc, Tested, Cleaning, Pkg::Combinatorial_map
