Repository CGAL/cgal, pull requests merged in 2025-09, with the labels that each got.

#9023 CGAL: Remove some deprecated functions
  BGL/doc/BGL/PackageDescription.txt
  BGL/include/CGAL/boost/graph/IO/OFF.h
  BGL/include/CGAL/boost/graph/IO/VTK.h
  BGL/include/CGAL/boost/graph/IO/WRL.h
  BGL/test/BGL/CMakeLists.txt
  BGL/test/BGL/test_deprecated_io.cpp
  Point_set_processing_3/include/CGAL/IO/read_las_points.h
  Point_set_processing_3/include/CGAL/IO/read_off_points.h
  Point_set_processing_3/include/CGAL/IO/read_ply_points.h
  Point_set_processing_3/include/CGAL/IO/read_xyz_points.h
  Point_set_processing_3/include/CGAL/IO/write_las_points.h
  Point_set_processing_3/include/CGAL/IO/write_off_points.h
  Point_set_processing_3/include/CGAL/IO/write_ply_points.h
  Point_set_processing_3/include/CGAL/IO/write_xyz_points.h
  Point_set_processing_3/test/Point_set_processing_3/CMakeLists.txt
  Point_set_processing_3/test/Point_set_processing_3/test_deprecated_io_point_set.cpp
  Polyhedron/doc/Polyhedron/CGAL/IO/Polyhedron_iostream.h
  Surface_mesh/include/CGAL/Surface_mesh/IO.h
  Surface_mesh/include/CGAL/Surface_mesh/IO/3MF.h
  Surface_mesh/include/CGAL/Surface_mesh/IO/OFF.h
  Surface_mesh/include/CGAL/Surface_mesh/IO/PLY.h
  Surface_mesh/test/Surface_mesh/CMakeLists.txt
  Surface_mesh/test/Surface_mesh/test_deprecated_io_sm.cpp
Labels: Doc, Pkg::BGL, Tested, Cleaning, Pkg::Stream_support

#9053 Tolerance for FT without sqrt
  Apollonius_graph_2/include/CGAL/Parabola_segment_2.h
Labels: Bug, Tested, Pkg::Apollonius_graph_2

#9041 Initialize the lower bound face in traversal of the AABB-tree for Hausdorff distance
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/distance.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/issue_7164.cpp
Labels: Bug, Pkg::PMP

#9044 Fix the handling of non-simply connected faces in the output of clip with plane
  Mesh_2/package_info/Mesh_2/dependencies
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/clip.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/test_pmp_clip.cpp
  Triangulation_2/include/CGAL/Constrained_Delaunay_triangulation_face_base_2.h
  Triangulation_2/include/CGAL/Delaunay_mesh_face_base_2.h
  Triangulation_2/include/CGAL/Delaunay_mesh_vertex_base_2.h
Labels: Bug, Tested, Pkg::PMP, rm only: release blocker

#8989 fix build of tests/examples/demos for a release
  Installation/cmake/modules/CGALHelpers.cmake
  Installation/demo/CMakeLists.txt
  Installation/examples/CMakeLists.txt
  Installation/test/CMakeLists.txt
Labels: Bug, CMake scripts, Tested, rm only: release blocker

#9054 Hide warning messages that are too verbose
  CGAL_Core/include/CGAL/CORE/Config.h
Labels: Bug, Tested, Pkg::CGAL_Core

#9061 Add missing protection
  Number_types/include/CGAL/FPU.h
Labels: Bug, Tested, Pkg::STL_Extension, rm only: release blocker

#9063 cosmetic improvements of CMake outputs
  Documentation/doc/CMakeLists.txt
  Installation/cmake/modules/CGALHelpers.cmake
Labels: Enhancement, CMake scripts, Tested

#9060 Dt2 remove: replace thread_local vectors by arrays
  Triangulation_2/benchmark/Triangulation_2/Delaunay_remove.cpp
  Triangulation_2/include/CGAL/Delaunay_triangulation_2.h
Labels: Enhancement, Pkg::Triangulation_2, Tested
