Repository CGAL/cgal, pull requests merged in 2025-08, with the labels that each got.

#9007 Allow Side_of_triangle to take ownership on an external AABB-tree
  Polygon_mesh_processing/include/CGAL/Side_of_triangle_mesh.h
Labels: Tested, Cleaning, Pkg::PMP, rm only: release blocker

#9009 Fix dynamic for derived meshes
  BGL/include/CGAL/boost/graph/graph_traits_inheritance_macros.h
  BGL/test/BGL/graph_traits_inheritance.cpp
Labels: Bug, Pkg::BGL, Tested, rm only: release blocker

#8976 Triangulation_2: Document degree()
  Periodic_3_triangulation_3/doc/Periodic_3_triangulation_3/CGAL/Periodic_3_triangulation_3.h
  TDS_3/doc/TDS_3/Concepts/TriangulationDataStructure_3.h
  Triangulation_2/doc/Triangulation_2/CGAL/Triangulation_2.h
  Triangulation_2/include/CGAL/Triangulation_2.h
  Triangulation_2/test/Triangulation_2/include/CGAL/_test_cls_triangulation_2.h
  Triangulation_3/doc/Triangulation_3/CGAL/Triangulation_3.h
Labels: Pkg::Triangulation_2, Tested, Doc bug

#8945 Tetrahedral_remeshing - make it determistic
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/smooth_vertices.h
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/tetrahedral_remeshing_helpers.h
  Tetrahedral_remeshing/test/Tetrahedral_remeshing/CMakeLists.txt
  Tetrahedral_remeshing/test/Tetrahedral_remeshing/test_tetrahedral_remeshing_determinism.cpp
Labels: Tested, rm: not for next release, Pkg::Tetrahedral_remeshing

#8862 Triangulation: Add static filter for 5D and 6D orientation predicate
  Filtered_kernel/include/CGAL/Filtered_kernel/internal/Static_filters/Orientation_4.h
  Filtered_kernel/include/CGAL/Filtered_kernel/internal/Static_filters/Orientation_5.h
  Filtered_kernel/include/CGAL/Filtered_kernel/internal/Static_filters/Orientation_6.h
  NewKernel_d/include/CGAL/NewKernel_d/Cartesian_static_filters.h
  NewKernel_d/include/CGAL/NewKernel_d/orientationC4.h
  NewKernel_d/include/CGAL/NewKernel_d/orientationC5.h
  NewKernel_d/include/CGAL/NewKernel_d/orientationC6.h
  Triangulation/benchmark/Triangulation/CMakeLists.txt
  Triangulation/benchmark/Triangulation/bench4d.cpp
  Triangulation/benchmark/Triangulation/bench5d.cpp
  Triangulation/benchmark/Triangulation/bench6d.cpp
  Triangulation/benchmark/Triangulation/generate_d.cpp
  Triangulation/doc/Triangulation/CGAL/TDS_full_cell_default_storage_policy.h
  Triangulation/doc/Triangulation/CGAL/TDS_full_cell_mirror_storage_policy.h
  Triangulation/doc/Triangulation/CGAL/Triangulation.h
  Triangulation/doc/Triangulation/Concepts/TriangulationDataStructure.h
  Triangulation/doc/Triangulation/PackageDescription.txt
  Triangulation/include/CGAL/Triangulation.h
  Triangulation/include/CGAL/Triangulation_data_structure.h
  Triangulation/package_info/Triangulation/dependencies
  Triangulation/test/Triangulation/CMakeLists.txt
  Triangulation/test/Triangulation/data/points_4.txt
  Triangulation/test/Triangulation/data/points_5.txt
  Triangulation/test/Triangulation/data/points_6.txt
  Triangulation/test/Triangulation/test_triangulation_static_filters_4.cpp
  Triangulation/test/Triangulation/test_triangulation_static_filters_5.cpp
  Triangulation/test/Triangulation/test_triangulation_static_filters_6.cpp
Labels: Tested, Pkg::Triangulation_d, Speed, rm: not for next release

#8684 PMP: Fix slow compute_vertex_normal()
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/compute_normal.h
  Polygon_mesh_processing/test/Polygon_mesh_processing/CMakeLists.txt
  Polygon_mesh_processing/test/Polygon_mesh_processing/data/slow_compute_normal.off
  Polygon_mesh_processing/test/Polygon_mesh_processing/slow_compute_normal.cpp
Labels: Enhancement, Tested, Pkg::PMP, Speed, rm: not for next release

#9027 Avoid cascade with EPECK centroid
  Filtered_kernel/include/CGAL/Lazy.h
  Number_types/include/CGAL/utils_classes.h
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/measure.h
Labels: Bug, Tested, Pkg::PMP

#9020 Build targets only if Eigen is available
  Basic_viewer/examples/Basic_viewer/CMakeLists.txt
Labels: Bug, CMake scripts, CGAL 3D demo, Tested

#9019 Lab: Use std::filesystem instead of boost::filesystem
  CGAL_ImageIO/include/CGAL/SEP_to_ImageIO.h
  Installation/cmake/modules/CGAL_pointmatcher_support.cmake
  Lab/demo/Lab/Plugins/Mesh_3/CMakeLists.txt
  Lab/demo/Lab/Plugins/Mesh_3/Io_image_plugin.cpp
Labels: CGAL 3D demo, Tested, Cleaning

#8999 Make sure Boost system is also found
  Polyhedron/demo/Polyhedron/Plugins/Mesh_3/CMakeLists.txt
Labels: Bug, CMake scripts, CGAL 3D demo
