Repository CGAL/cgal, pull requests merged in 2025-01, with the labels that each got.

#8665 Doxygen: fix doc compilation with Doxygen 1.10 or later
  .devcontainer/doxygen-cgal/Dockerfile
  .devcontainer/doxygen-cgal/Makefile
  .devcontainer/doxygen-cgal/cgal-NO_ADDITIONAL_DETAILS.patch
  .devcontainer/doxygen-cgal/devcontainer.json
  .devcontainer/doxygen-cgal/distrobox.ini
  Documentation/doc/CMakeLists.txt
  Documentation/doc/Documentation/Developer_manual/cmakelist_script.txt
  Documentation/doc/Documentation/Developer_manual/developer_manual.txt
  Documentation/doc/Documentation/Doxyfile.in
  Documentation/doc/Documentation/Doxygen_for_CGAL.md
  Documentation/doc/resources/1.10.0/BaseDoxyfile.in
  Documentation/doc/resources/1.10.0/header.html
  Documentation/doc/resources/1.10.0/header_package.html
  Documentation/doc/resources/1.8.13/BaseDoxyfile.in
  Documentation/doc/resources/1.8.13/header.html
  Documentation/doc/resources/1.8.13/header_package.html
  Documentation/doc/resources/1.9.6/BaseDoxyfile.in
  Documentation/doc/resources/1.9.6/header.html
  Documentation/doc/resources/1.9.6/header_package.html
  Documentation/doc/scripts/pkglist_filter.py
Labels: Bug, Doc, Tested, Infrastructure

#8669 Stream_support: Document that WKT can also handle 3D points
  Stream_support/include/CGAL/IO/WKT.h
  Stream_support/test/Stream_support/test_WKT.cpp
Labels: trivial, Tested, Pkg::Stream_support

#8678 Orthtree: Doc and traits bugfixes
  Orthtree/include/CGAL/Octree.h
  Orthtree/include/CGAL/Orthtree.h
  Orthtree/include/CGAL/Orthtree/Split_predicates.h
  Orthtree/include/CGAL/Orthtree_traits_base.h
  Orthtree/include/CGAL/Orthtree_traits_point.h
Labels: Bug, Tested, Doc bug, Pkg::Orthtree

#8685 PMP::isotropic_remeshing() - Fix removal of boundary degenerate faces
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/internal/Isotropic_remeshing/remesh_impl.h
Labels: Bug, Tested, Pkg::PMP

#8683 Use the same generator for reproducible runs
  Tetrahedral_remeshing/test/Tetrahedral_remeshing/test_tetrahedral_remeshing_of_one_subdomain.cpp
Labels: Bug, Tested, Testsuite, Pkg::Tetrahedral_remeshing

#8691 FOR 5.6.x ONLY: use ubuntu-22.04 as Github runner
  .github/workflows/Remove_labels.yml
  .github/workflows/build_doc.yml
  .github/workflows/checks.yml
  .github/workflows/cmake-all.yml
  .github/workflows/delete_doc.yml
  .github/workflows/demo.yml
  .github/workflows/filter_testsuite.yml
  .github/workflows/list_workflow_last_run.yml
  .github/workflows/send_email.yml
  .github/workflows/wiki_notification.yml
  ccpp.yml
Labels: Bug, Infrastructure

#8666 Aos 2 fixes efif
  Arrangement_on_surface_2/doc/Arrangement_on_surface_2/Arrangement_on_surface_2.txt
  Arrangement_on_surface_2/examples/Arrangement_on_surface_2/sgm_point_location.cpp
  Arrangement_on_surface_2/include/CGAL/Arr_landmarks_point_location.h
  Arrangement_on_surface_2/include/CGAL/Arr_point_location/Arr_landmarks_pl_impl.h
  Arrangement_on_surface_2/include/CGAL/Arr_tracing_traits_2.h
  Installation/CHANGES.md
Labels: Enhancement, Tested, Pkg::Surface_sweep_2

#8695 Replace boost::optional with std::optional
  Tetrahedral_remeshing/include/CGAL/Tetrahedral_remeshing/internal/peel_slivers.h
  Triangulation_3/include/CGAL/Triangulation_segment_traverser_3.h
Labels: Pkg::Triangulation_3, Tested, Cleaning, Pkg::Tetrahedral_remeshing

#8692 refactor: remove duplicate header file inclusion
  Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/connected_components.h
Labels: Tested, Cleaning, Pkg::PMP

#8708 Triangulation_3 traverser benchmark and doc fixes
  Triangulation_3/benchmark/Triangulation_3/segment_traverser_benchmark.cpp
  Triangulation_3/doc/Triangulation_3/CGAL/Triangulation_simplex_3.h
Labels: Pkg::Triangulation_3, tested manually on Windows, tested manually on Linux

#8703 Correct icon sizes
  Documentation/doc/resources/1.10.0/cgal_stylesheet.css
  Documentation/doc/resources/1.9.6/cgal_stylesheet.css
Labels: Tested, Doc bug

#8704 Fix bad detection of warnings + remove outdated scripts
  .gitattributes
  .github/workflows/filter_testsuite.yml
  .gitignore
  Arrangement_on_surface_2/test/Arrangement_on_surface_2/cgal_test_with_cmake
  Documentation/doc/Documentation/Developer_manual/Chapter_testing.txt
  Installation/test/Installation/cgal_test_with_cmake
  Maintenance/infrastructure/cgal.geometryfactory.com/bin/cgal_release.py
  Minkowski_sum_2/test/Minkowski_sum_2/cgal_test_with_cmake
  Polyhedron/demo/Polyhedron/cgal_test_with_cmake
  Scripts/developer_scripts/autotest_cgal
  Scripts/developer_scripts/autotest_cgal_with_cmake
  Scripts/developer_scripts/cgal_create_release_with_cmake.cmake
  Scripts/developer_scripts/cgal_test_with_cmake
  Scripts/developer_scripts/create_cgal_test
  Scripts/developer_scripts/create_cgal_test_with_cmake
  Scripts/developer_scripts/create_internal_release
  Scripts/developer_scripts/create_new_release
  Scripts/developer_scripts/run_testsuite_from_branch_name.sh
  Snap_rounding_2/test/Snap_rounding_2/cgal_test_with_cmake
  Surface_sweep_2/test/Surface_sweep_2/cgal_test_with_cmake
  Testsuite/test/collect_cgal_testresults_from_cmake
  Testsuite/test/makefile2
  Testsuite/test/parse-ctest-dashboard-xml.py
  Testsuite/test/run_testsuite_with_cmake
  Testsuite/test/testsuite_branch_build.mk
Labels: Bug, Warnings, Tested, Testsuite
